:host {
    --tile-appointment-wrap-padding: 16px 16px 24px 16px;

    --tile-appointment-background-color: var(--m-white, #fff);
    --tile-appointment-border-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --tile-appointment-overlay-backround-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --tile-appointment-icon-color: var(--icon-color-blue);
    --tile-appointment-icon-box-dimension: 1.625em;
    --tile-appointment-icon-box-color: var(--m-white, #fff);
    --tile-appointment-overlay-display: none;
    --tile-appointment-overlay-background-color: transparent;

    --tile-appointment-title-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --tile-appointment-title-font-size: 20px;
    --tile-appointment-title-line-height: 110%;
    --tile-appointment-title-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --tile-appointment-title-color-hover: var(--mdx-sys-color-primary-default);
    
    --tile-appointment-body-display: block;
    --tile-appointment-next-date-color: var(--mdx-sys-color-neutral-bold4);
    --tile-appointment-next-date-font: 400 20px / 110% 'Graphik';
    --tile-appointment-next-date-margin-bottom: 24px;

    --tile-appointment-room-color: var(--mdx-sys-color-neutral-bold4);
    --tile-appointment-room-font: 400 16px / 130% 'Graphik';
    --tile-appointment-room-margin-top: 16px;

    --tile-appointment-foot-display: flex;
    --tile-appointment-foot-justify-content: right;
    --tile-appointment-foot-flex-direction: column-reverse;
    --tile-appointment-foot-align-items: center;
    --tile-appointment-foot-padding: 0;
    --tile-appointment-foot-right-display: none;
    --tile-appointment-foot-passed-display: none;
    --tile-appointment-foot-width: 100%;
    --tile-appointment-foot-price-margin-bottom: 24px;
    
    --tile-appointment-price-font: var(--mdx-sys-font-fix-label4);
    --tile-appointment-next-start-dates-label-color: var(--mdx-sys-color-neutral-bold1);
    --tile-appointment-next-start-dates-label-font: var(--mdx-sys-font-fix-body2);
    --tile-appointment-next-start-dates-font: var(--mdx-sys-font-flex-small-custom1);
    --tile-appointment-title-other-locations-color: var(--mdx-sys-color-neutral-bold4);
    --tile-appointment-title-other-locations-font: var(--mdx-sys-font-fix-label0);

    --tile-appointment-content-font-size-mobile: 20px;
    --tile-appointment-content-line-height-mobile: 110%;
    --tile-appointment-price-strong-font: 500 24px / 110% 'Graphik';

    --button-secondary-font-size-mobile: 16px;
    --button-secondary-padding-mobile: 12px 24px;
}