
    <div style="width: 100%">
                <m-simple-form-validation no-validation-error-css namespace="simple-form-miduweb-" mode="false">

                    <form id="configurationForm" name="configurationForm" action="/sprachen/franzoesischkurs/franzoesisch-niveau-a2/kurs/Franz&#xF6;sisch-Niveau-A2--E_1742870_1016_313/LoginMethod" method="post">
                        <ks-c-checkout endpoint="https://int.klubschule.ch/umbraco/api/CommerceApi/Recalculate" initial-request="{&quot;portalId&quot;:29,&quot;mandantId&quot;:111,&quot;kursTyp&quot;:&quot;E&quot;,&quot;kursId&quot;:1742870,&quot;centerId&quot;:1016,&quot;spracheId&quot;:&quot;d&quot;,&quot;mitVersicherung&quot;:false}">
                            <ks-o-checkout mode="false">
                                <ks-o-checkout-layout>

                                    <input type="hidden" data-val="true" data-val-required="The SessionKey field is required." id="Meta_SessionKey" name="Meta.SessionKey" value="E_1742870_1016_111" />
                                    <input type="hidden" data-val="true" data-val-required="The MandantId field is required." id="Meta_MandantId" name="Meta.MandantId" value="111" />
                                    <input type="hidden" data-val="true" data-val-required="The IstFirma field is required." id="Meta_IstFirma" name="Meta.IstFirma" value="False" />
                                    <input type="hidden" data-val="true" data-val-required="The PortalId field is required." id="Meta_PortalId" name="Meta.PortalId" value="29" />
                                    <input type="hidden" data-val="true" data-val-required="The SpracheId field is required." id="Meta_SpracheId" name="Meta.SpracheId" value="d" />
                                    <input type="hidden" data-val="true" data-val-required="The KursTyp field is required." id="Meta_KursTyp" name="Meta.KursTyp" value="E" />
                                    <input type="hidden" data-val="true" data-val-required="The KursId field is required." id="Meta_KursId" name="Meta.KursId" value="1742870" />
                                    <input type="hidden" data-val="true" data-val-required="The CenterId field is required." id="Meta_CenterId" name="Meta.CenterId" value="1016" />
                                    <input type="hidden" data-val="true" data-val-required="The WarenkorbTyp field is required." id="Meta_WarenkorbTyp" name="Meta.WarenkorbTyp" value="MIDUCA" />

                                    <section id="top">
                                        <ks-m-checkout-color-stage back-label="Zur&#xFC;ck"
                                                                   back-link="/sprachen/franzoesischkurs/franzoesisch-niveau-a2/kurs/Franz&#xF6;sisch-Niveau-A2--E_1742870_1016_313"
                                                                   title="Kurskonfiguration: Franz&#xF6;sisch Niveau A2">
                                        </ks-m-checkout-color-stage>
                                    </section>

                                    <section id="main">


                                            <div id="lehrmittelInfo" class="checkout-form-group">
                                                <ks-a-heading tag="h2" style-as="h1" tabindex="0">
                                                    Lehrmittel
                                                </ks-a-heading>
                                                <p>Bitte w&#xE4;hlen Sie Ihre gew&#xFC;nschte Lehrmittelform aus. Wenn Sie kein Lehrmittel bestellen, bitten wir Sie, das Lehrmittel bis zum Kursstart selbst zu organisieren.</p>

                                                        <ks-a-heading tag="h3" tabindex="0">
                                                            Rencontres en fran&#xE7;ais A2 Kurs- und &#xDC;bungsbuch mit Audios und Videos
                                                        </ks-a-heading>
                                                        <input type="hidden" data-val="true" data-val-required="The LehrmittelId field is required." id="Data_Configuration_Lehrmittel_0__LehrmittelId" name="Data.Configuration.Lehrmittel[0].LehrmittelId" value="21357" />
                                                        <input type="hidden" id="Data_Configuration_Lehrmittel_0__LehrmittelBezeichnung" name="Data.Configuration.Lehrmittel[0].LehrmittelBezeichnung" value="Rencontres en fran&#xE7;ais A2 Kurs- und &#xDC;bungsbuch mit Audios und Videos" />
                                                        <ks-m-select mode="false">
                                                            <div class="wrap">
                                                                <label>Lehrmittel*</label>
                                                                <select data-lehrmittel-id="21357" required id="Data_Configuration_Lehrmittel_0__SelectedOptionId" name="Data.Configuration.Lehrmittel[0].SelectedOptionId">
                                                                <option value="1">Buch / 40.90 CHF</option>
<option selected="selected" value="0">kein Lehrmittel</option>
</select>
                                                            </div>
                                                        </ks-m-select>
                                                        <ks-a-heading tag="h3" tabindex="0">
                                                            Rencontres en fran&#xE7;ais A2 Trainingsbuch
                                                        </ks-a-heading>
                                                        <input type="hidden" data-val="true" data-val-required="The LehrmittelId field is required." id="Data_Configuration_Lehrmittel_1__LehrmittelId" name="Data.Configuration.Lehrmittel[1].LehrmittelId" value="21568" />
                                                        <input type="hidden" id="Data_Configuration_Lehrmittel_1__LehrmittelBezeichnung" name="Data.Configuration.Lehrmittel[1].LehrmittelBezeichnung" value="Rencontres en fran&#xE7;ais A2 Trainingsbuch" />
                                                        <ks-m-select mode="false">
                                                            <div class="wrap">
                                                                <label>Lehrmittel*</label>
                                                                <select data-lehrmittel-id="21568" required id="Data_Configuration_Lehrmittel_1__SelectedOptionId" name="Data.Configuration.Lehrmittel[1].SelectedOptionId">
                                                                <option value="1">Buch / 29.90 CHF</option>
<option selected="selected" value="0">kein Lehrmittel</option>
</select>
                                                            </div>
                                                        </ks-m-select>
                                            </div>

                                            <div>
                                                    <section>
                                                        <ks-m-checkout-insurance mode="false" id="ks-m-checkout-insurance">
                                                            <ks-a-heading tag="h2" tabindex="0">
                                                                Kurskosten absichern?
                                                            </ks-a-heading>

                                                            <p>
                                                                Mit einer Annullationskostenversicherung erhalten Sie in folgenden Fällen Ihr Kursgeld zurück:
<ul>
    <li>Krankheit, Verletzung, Tod</li>
    <li>unvorhergesehener Wechsel des Arbeitsplatzes</li>
    <li>unverschuldete Kündigung&nbsp;des Arbeitsplatzes</li>
    <li>beruflich bedingter Wohnortwechsel</li>
</ul>
                                                            </p>

                                                            <ks-a-radio mode="false">
                                                                <div class="wrap">
                                                                    <label for="Annulationskostenversicherung_1" insurance-label>
Mit Versicherung +16.30 (2.59% des Gesamtbetrags) inkl. Lehrmittel / Material. Mit dem Abschluss der Versicherung akzeptieren Sie die Allgemeinen Vertragsbedingungen der ERV.                                                                    </label>
                                                                    <input type="radio" value="true" required error-message-reference-point-changed="true" no-error-text-p error-text-tag-name="span" id="Annulationskostenversicherung_1" data-val="true" data-val-required="The Annulationskostenversicherung field is required." name="Data.Configuration.Annulationskostenversicherung">
                                                                    <div class="box"></div>
                                                                </div>
                                                                <div class="wrap">
                                                                    <label for="Annulationskostenversicherung_0">
                                                                        Ohne Versicherung
                                                                    </label>
                                                                    <input type="radio" value="false" required error-message-reference-point-changed="true" no-error-text-p error-text-tag-name="span" id="Annulationskostenversicherung_0" checked="checked" name="Data.Configuration.Annulationskostenversicherung">
                                                                    <div class="box"></div>
                                                                </div>
                                                                <div class="message">
                                                                    <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" rotate="0" class="icon-right" new-error-message-reference-point="true"></a-icon-mdx>
                                                                </div>
                                                            </ks-a-radio>
                                                        </ks-m-checkout-insurance>
                                                    </section>
                                            </div>
                                    </section>

                                    <section id="sidebar">
                                        

        <ks-m-checkout-booked-offer headline="Sie haben sich f&#xFC;r folgendes Angebot entschieden"
                                    name="Franz&#xF6;sisch Niveau A2"
                                    status="{&quot;code&quot;:&quot;&quot;,&quot;label&quot;:&quot;&quot;}"
                                    date="17.09.2024 - 07.01.2025"
                                    time="Di, 18:05 - 19:55"
                                    street="Bahnhofplatz 2"
                                    city="9000&amp;nbsp;St. Gallen"
                                    course-price="630.00 CHF"
                                    initial-configuration-price-data="{&quot;annulationskostenversicherungPreis&quot;:&quot;&quot;,&quot;lehrmittelPreis&quot;:&quot;0.00 CHF&quot;,&quot;materialPreis&quot;:&quot;&quot;,&quot;totalPreis&quot;:&quot;630.00 CHF&quot;}"
                                    price-labels="{&quot;coursePrice&quot;:&quot;Kursgeld&quot;,&quot;insurance&quot;:&quot;Annullationskostenversicherung&quot;,&quot;teachingAids&quot;:&quot;Lehrmittel&quot;,&quot;material&quot;:&quot;Materialkosten&quot;,&quot;total&quot;:&quot;Gesamtbetrag&quot;,&quot;tax&quot;:&quot;inkl. allf&#xE4;lliger MWST&quot;}"
                                    tabindex="0">
        </ks-m-checkout-booked-offer>

                                    </section>

                                    <section id="bottom">
                                        <ks-m-back-forward back-label="Zur&#xFC;ck"
                                                           back-link="/sprachen/franzoesischkurs/franzoesisch-niveau-a2/kurs/Franz&#xF6;sisch-Niveau-A2--E_1742870_1016_313"
                                                           forward-label="Weiter zur Anmeldung"
                                                           submit></ks-m-back-forward>

                                    </section>
                                </ks-o-checkout-layout>
                            </ks-o-checkout>
                        </ks-c-checkout>
                    </form>
                </m-simple-form-validation>
    </div>