:host {
    --teaser-text-image-headline-font-family: var(--mdx-sys-font-flex-headline2-font-family);
    --teaser-text-image-headline-font-size: var(--mdx-sys-font-flex-headline2-font-size);
    --teaser-text-image-headline-font-weight: var(--mdx-sys-font-flex-headline2-font-weight);
    --teaser-text-image-headline-line-height: var(--mdx-sys-font-flex-headline2-line-height);

    display: flex !important;
    gap: var(--mdx-sys-spacing-fix-2xl);
}

a-picture {
    --picture-teaser-transition: transform .5s ease-out;
    --picture-teaser-img-object-fit: cover;
    --picture-teaser-aspect-ratio: 4/3;
    --picture-teaser-img-max-height: none;
}

:host([href]:hover) {
    --picture-teaser-transform: scale(1.1);
}

:host([href]:hover) h1,
:host([href]:hover) h2,
:host([href]:hover) h3,
:host([href]:hover) h4 {
    color: var(--mdx-sys-color-primary-bold1) !important;
}

:host > * {
    flex: 1;
}

:host h1, 
:host h2,
:host h3,
:host h4 {
    margin-bottom: var(--mdx-sys-spacing-fix-m) !important;
}

:host(ks-m-teaser) p {
    font-family: var(--mdx-sys-font-flex-body2-font-family);
    font-size: var(--mdx-sys-font-flex-body3-font-size);
    font-weight: var(--mdx-sys-font-flex-body2-font-weight);
    line-height: var(--mdx-sys-font-flex-body2-line-height);
    letter-spacing: var(--mdx-sys-font-flex-body2-letter-spacing);
    margin-bottom: var(--mdx-sys-spacing-fix-l) !important;
    min-height: unset;
}

:host([image-size="small"]) a-picture {
    max-width: 240px;
    --picture-teaser-transition: transform .5s ease-out;
    --picture-teaser-img-object-fit: contain;
    --picture-teaser-aspect-ratio: none;
    --picture-teaser-img-max-height: none;
    --picture-teaser-img-max-width: 100%;
    --picture-teaser-img-width: unset;
}

:host([image-size="small"][href]:hover) {
    --picture-teaser-transform: scale(1.0);
}

@media only screen and (max-width: _max-width_ ) {
    :host {
        flex-direction: column;
        gap: var(--mdx-sys-spacing-fix-s);
    }

    :host > div {
        margin: 0 var(--mdx-sys-spacing-fix-2xs);
    }

    :host > a-picture {
        order: 0;
    }
}