<br />
<h1 id="tile">Contact Module</h1>
<hr>
<h2 class="bg-color">Col=3 with 3 items</h2>
<p>Haben Sie Fragen zu unseren Firmenkursen? Nehmen Sie mit uns Kontakt auf.</p>
<ks-o-contact-module grid-template-columns="3">
  <section>
    <div>
      <h3>Klubschule</h3>
        <img class="logo" src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@<wbr>klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>IBAW</h3>
      <a href="https://ibaw.ch" alt="IBAW" class="logo">
        <img src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@<wbr>klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>Klubschule-Pro</h3>
      <a href="https://www.klubschule-pro.ch/" alt="Klubschule-Pro" class="logo">
        <img src="https://www.klubschule-pro.ch/media/sudljogx/test-logo-klubschule-pro.svg" alt="Klubschule-Pro">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@<wbr>klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail 
        </ks-a-button>
      </div>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">Contact Module aside</h2>
<o-grid namespace=grid-2columns-content-section- first-container-vertical first-column-with=66% with-border width=100%>
  <section>
    <ks-o-body-section content-width-var=100% no-margin-y>
      <ks-o-contact-module grid-template-columns="3">
        <section>
          <div>
            <h3>Klubschule</h3>
            <a href="https://klubschule.ch" alt="Klubschule" class="logo">
              <img src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
            </a>
            <ks-m-contact-row
              name="+41 44 456 73 28"
              icon-name="Phone"
              href="tel:+499123456789"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="info@<wbr>klubschule.ch"
              icon-name="Mail"
              href="mailto:info@klubschule.ch"
            >
            </ks-m-contact-row>
            <div class="buttons">
              <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
              </ks-a-button>
              <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
              </ks-a-button>
            </div>
          </div>
          <div>
            <h3>IBAW</h3>
            <a href="https://ibaw.ch" alt="IBAW" class="logo">
              <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
            </a>
            <ks-m-contact-row
              name="+41 44 456 73 28"
              icon-name="Phone"
              href="tel:+499123456789"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="info@<wbr>klubschule.ch"
              icon-name="Mail"
              href="mailto:info@klubschule.ch"
            >
            </ks-m-contact-row>
            <div class="buttons">
              <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
              </ks-a-button>
              <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
              </ks-a-button>
            </div>
          </div>
          <div>
            <h3>Klubschule-Pro</h3>
            <a href="https://www.klubschule-pro.ch/" alt="Klubschule-Pro" class="logo">
              <img src="https://www.klubschule-pro.ch/media/sudljogx/test-logo-klubschule-pro.svg" alt="Klubschule-Pro">
            </a>
            <ks-m-contact-row
              name="+41 44 456 73 28"
              icon-name="Phone"
              href="tel:+499123456789"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="info@<wbr>klubschule.ch"
              icon-name="Mail"
              href="mailto:info@klubschule.ch"
            >
            </ks-m-contact-row>
            <div class="buttons">
              <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
              </ks-a-button>
              <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail E-Mail 
              </ks-a-button>
            </div>
          </div>
        </section>
      </ks-o-contact-module>
    </ks-o-body-section>
    <aside>
      <h2>Right content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe maiores debitis atque similique doloremque velit repellendus est neque pariatur eaque quam voluptate voluptas voluptatibus rem, temporibus quae. Consectetur, quisquam minima?</p>
    </aside>
  </section>
</o-grid>
<br />
<h2 class="bg-color">Col=3 with 2 items & Background</h2>
<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
  <p>Haben Sie Fragen zu unseren Firmenkursen? Nehmen Sie mit uns Kontakt auf.</p>
  <ks-o-contact-module grid-template-columns="3">
    <section>
      <div>
        <h3>Klubschule</h3>
        <a href="https://klubschule.ch" alt="Klubschule" class="logo">
          <img src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
        </a>
        <ks-m-contact-row
          name="+41 44 456 73 28"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="info@<wbr>klubschule.ch"
          icon-name="Mail"
          href="mailto:info@klubschule.ch"
        >
        </ks-m-contact-row>
        <div class="buttons">
          <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
          </ks-a-button>
          <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
            <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
          </ks-a-button>
        </div>
      </div>
      <div>
        <h3>IBAW</h3>
        <a href="https://ibaw.ch" alt="IBAW" class="logo">
          <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
        </a>
        <ks-m-contact-row
          name="+41 44 456 73 28"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="info@<wbr>klubschule.ch"
          icon-name="Mail"
          href="mailto:info@klubschule.ch"
        >
        </ks-m-contact-row>
        <div class="buttons">
          <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
          </ks-a-button>
          <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
            <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
          </ks-a-button>
        </div>
      </div>
    </section>
  </ks-o-contact-module>
</ks-o-body-section>
<hr>
<h2 class="bg-color">Col=3 with 2 items & Background Inline</h2>
<ks-o-contact-module grid-template-columns="3" background="var(--mdx-sys-color-accent-6-subtle1)">
  <section>
    <div>
      <h3>Klubschule</h3>
      <a href="https://klubschule.ch" alt="Klubschule" class="logo">
        <img src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@<wbr>klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>IBAW</h3>
      <a href="https://ibaw.ch" alt="IBAW" class="logo">
        <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@<wbr>klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">Contact Module aside</h2>
<o-grid namespace=grid-2columns-content-section- first-container-vertical first-column-with=66% with-border width=100%>
  <section>
    <ks-o-body-section content-width-var=100% no-margin-y>
      <h2>Left content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe maiores debitis atque similique doloremque velit repellendus est neque pariatur eaque quam voluptate voluptas voluptatibus rem, temporibus quae. Consectetur, quisquam minima?</p>
    </ks-o-body-section>
    <aside>
      <ks-o-contact-module>
        <section>
          <div>
            <h3>Klubschule</h3>
            <a href="https://klubschule.ch" alt="Klubschule" class="logo">
              <img src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
            </a>
            <ks-m-contact-row
              name="+41 44 456 73 28"
              icon-name="Phone"
              href="tel:+499123456789"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="info@<wbr>klubschule.ch"
              icon-name="Mail"
              href="mailto:info@klubschule.ch"
            >
            </ks-m-contact-row>
            <div class="buttons">
              <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
              </ks-a-button>
              <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
              </ks-a-button>
            </div>
          </div>
          <div>
            <h3>Klubschule</h3>
            <a href="https://klubschule.ch" alt="Klubschule" class="logo">
              <img src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/klubschule-logo-de.svg" alt="Klubschule">
            </a>
            <ks-m-contact-row
              name="+41 44 456 73 28"
              icon-name="Phone"
              href="tel:+499123456789"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="info@<wbr>klubschule.ch"
              icon-name="Mail"
              href="mailto:info@klubschule.ch"
            >
            </ks-m-contact-row>
            <div class="buttons">
              <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
              </ks-a-button>
              <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
              </ks-a-button>
            </div>
          </div>
        </section>
      </ks-o-contact-module>
    </aside>
  </section>
</o-grid>
<br />
<h1 id="tile">Universal Contact Module</h1>
<hr>
<h2 class="bg-color">Button horizontal</h2>
<ks-o-contact-module>
  <section>
    <div>
      <h2>Kontaktieren Sie uns</h2>
      <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen</p>
          <p>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
          <div class="buttons horizontal">
            <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
              <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
            </ks-a-button>
            <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
              <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
            </ks-a-button>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">Col=2 with 2 items & Buttons mixed</h2>
<ks-o-contact-module grid-template-columns="2">
  <section>
    <div>
      <h2>Kontaktieren Sie uns</h2>
      <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
          <div class="buttons horizontal">
            <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
              <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
            </ks-a-button>
            <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
              <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
            </ks-a-button>
          </div>
        </figcaption>
      </figure>
    </div>
    <div>
      <h2>Kontaktieren Sie uns</h2>
      <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
          <div class="buttons">
            <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
              <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
            </ks-a-button>
            <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
              <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
            </ks-a-button>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">force-mobile-figure & Col=2 with 6 items</h2>
<ks-o-contact-module grid-template-columns="2" force-mobile-figure>
  <section>
    <div>
      <h3>Region Aargau, Solothurn, Bern</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Basel</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Aargau, Solothurn, Bern</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Basel</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Aargau, Solothurn, Bern</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Basel</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">6 items</h2>
<ks-o-contact-module>
  <section>
    <div>
      <h3>Region Aargau, Solothurn, Bern</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Basel</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Aargau, Solothurn, Bern</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Basel</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Aargau, Solothurn, Bern</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
    <div>
      <h3>Region Basel</h3>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
        </figcaption>
      </figure>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">Button vertical & Background</h2>
<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
  <ks-o-contact-module>
    <section>
      <div>
        <h2>Kontaktieren Sie uns</h2>
        <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
        <figure>
          <ks-a-picture
            namespace="picture-default-"
            defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
            alt="zeichnen und malen"
            aspect-ratio="1"
          >
          </ks-a-picture>
          <figcaption>
            <h3>Simone Ammann</h3>
            <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
            <h3>Meine Kontaktmöglichkeiten</h3>
            <ks-m-contact-row
              name="+41 44 456 73 28"
              icon-name="Phone"
              href="tel:+499123456789"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="info@<wbr>klubschule.ch"
              icon-name="Mail"
              href="mailto:info@klubschule.ch"
            >
            </ks-m-contact-row>
            <ks-m-contact-row
              name="LinkedIn"
              icon-name="Linkedin"
              href="https://www.linkedin.com/"
            >
            </ks-m-contact-row>
            <div class="buttons">
              <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
              </ks-a-button>
              <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
              </ks-a-button>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>
  </ks-o-contact-module>
</ks-o-body-section>
<hr>
<h2 class="bg-color">Button vertical & Background Inline</h2>
<ks-o-contact-module background="var(--mdx-sys-color-accent-6-subtle1)">
  <section>
    <div>
      <h2>Kontaktieren Sie uns</h2>
      <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
      <figure>
        <ks-a-picture
          namespace="picture-default-"
          defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
          alt="zeichnen und malen"
          aspect-ratio="1"
        >
        </ks-a-picture>
        <figcaption>
          <h3>Simone Ammann</h3>
          <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
          <h3>Meine Kontaktmöglichkeiten</h3>
          <ks-m-contact-row
            name="+41 44 456 73 28"
            icon-name="Phone"
            href="tel:+499123456789"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="info@<wbr>klubschule.ch"
            icon-name="Mail"
            href="mailto:info@klubschule.ch"
          >
          </ks-m-contact-row>
          <ks-m-contact-row
            name="LinkedIn"
            icon-name="Linkedin"
            href="https://www.linkedin.com/"
          >
          </ks-m-contact-row>
          <div class="buttons">
            <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
              <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
            </ks-a-button>
            <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
              <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
            </ks-a-button>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">Contact Module aside</h2>
<o-grid namespace=grid-2columns-content-section- first-container-vertical first-column-with=66% with-border width=100%>
  <section>
    <ks-o-body-section content-width-var=100% no-margin-y>
      <h2>Left content</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe maiores debitis atque similique doloremque velit repellendus est neque pariatur eaque quam voluptate voluptas voluptatibus rem, temporibus quae. Consectetur, quisquam minima?</p>
    </ks-o-body-section>
    <aside>
      <ks-o-contact-module>
        <section>
          <div>
            <h2>Kontaktieren Sie uns</h2>
            <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
            <figure>
              <ks-a-picture
                namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
                alt="zeichnen und malen"
                aspect-ratio="1"
              >
              </ks-a-picture>
              <figcaption>
                <h3>Simone Ammann</h3>
                <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
                <h3>Meine Kontaktmöglichkeiten</h3>
                <ks-m-contact-row
                  name="+41 44 456 73 28"
                  icon-name="Phone"
                  href="tel:+499123456789"
                >
                </ks-m-contact-row>
                <ks-m-contact-row
                  name="info@<wbr>klubschule.ch"
                  icon-name="Mail"
                  href="mailto:info@klubschule.ch"
                >
                </ks-m-contact-row>
                <ks-m-contact-row
                  name="LinkedIn"
                  icon-name="Linkedin"
                  href="https://www.linkedin.com/"
                >
                </ks-m-contact-row>
                <div class="buttons">
                  <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                    <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
                  </ks-a-button>
                  <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                    <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
                  </ks-a-button>
                </div>
              </figcaption>
            </figure>
          </div>
          <div>
            <h2>Kontaktieren Sie uns</h2>
            <p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
            <figure>
              <ks-a-picture
                namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/media/oxeieind/k-zeichnen-und-malen-02.jpeg?format=webp&amp;width=2500&amp;quality=80"
                alt="zeichnen und malen"
                aspect-ratio="1"
              >
              </ks-a-picture>
              <figcaption>
                <h3>Simone Ammann</h3>
                <p>Bereichsleiter Firmen und Institutionen<br>Miduca AG<br>8005 Zürich</p>
                <h3>Meine Kontaktmöglichkeiten</h3>
                <ks-m-contact-row
                  name="+41 44 456 73 28"
                  icon-name="Phone"
                  href="tel:+499123456789"
                >
                </ks-m-contact-row>
                <ks-m-contact-row
                  name="info@<wbr>klubschule.ch"
                  icon-name="Mail"
                  href="mailto:info@klubschule.ch"
                >
                </ks-m-contact-row>
                <ks-m-contact-row
                  name="LinkedIn"
                  icon-name="Linkedin"
                  href="https://www.linkedin.com/"
                >
                </ks-m-contact-row>
                <div class="buttons">
                  <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
                    <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
                  </ks-a-button>
                  <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
                    <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
                  </ks-a-button>
                </div>
              </figcaption>
            </figure>
          </div>
        </section>
      </ks-o-contact-module>
    </aside>
  </section>
</o-grid>

<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../docs/es/documenter.js?component=ContactModule.js"></script>