<br />
<h1 id="tile">Contact Module</h1>
<hr>
<br>
<h2>No Background Color</h2>
<hr>
<h2>Für jeden das passende Angebot</h2>
<ks-o-contact-module>
  <section>
    <ks-o-contact>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        street="Hofweiesenstrasse 350"
        place="8050 Zürich"
        icon-name="Home"
        href="#"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="+49 0160 49858582"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="mailto:fritz.eierschale@example.org"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="www.google.com"
        is-external
      >
      </ks-m-contact-row>
    </ks-o-contact>
    <ks-o-contact>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        street="Hofweiesenstrasse 350"
        place="8050 Zürich"
        icon-name="Home"
        href="#"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="+49 0160 49858582"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="mailto:fritz.eierschale@example.org"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="www.google.com"
        is-external
      >
      </ks-m-contact-row>
    </ks-o-contact>
    <ks-o-contact>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        street="Hofweiesenstrasse 350"
        place="8050 Zürich"
        icon-name="Home"
        href="#"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="+49 0160 49858582"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="mailto:fritz.eierschale@example.org"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="www.google.com"
        is-external
      >
      </ks-m-contact-row>
    </ks-o-contact>
    <ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks" wide>
      <figure>
        <figcaption>
          <strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
          <h3>Story 3</h3>
          <span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>
        <a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch/media/1c4dfued/g-gesundheit.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
      </figure>
    </ks-m-teaser>
    <ks-o-contact>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        street="Hofweiesenstrasse 350"
        place="8050 Zürich"
        icon-name="Home"
        href="#"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="+49 0160 49858582"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="mailto:fritz.eierschale@example.org"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="www.google.com"
        is-external
      >
      </ks-m-contact-row>
    </ks-o-contact>
  </section>
</ks-o-contact-module>
<br />
<hr>
<br />
<h2>With Background Color</h2>
<hr>
<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background tabindex="0" aria-label="Section">
  <h2>Für jeden das passende Angebot</h2>
  <ks-o-contact-module>
    <section>
      <ks-o-contact>
        <ks-m-contact-row
          name="Klubschule Migros Zürich"
          street="Hofweiesenstrasse 350"
          place="8050 Zürich"
          icon-name="Home"
          href="#"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="+49 0160 49858582"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="Klubschule Migros Zürich"
          icon-name="Mail"
          href="mailto:fritz.eierschale@example.org"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="Klubschule Migros Zürich"
          icon-name="Mail"
          href="www.google.com"
          is-external
        >
        </ks-m-contact-row>
      </ks-o-contact>
      <ks-o-contact>
        <ks-m-contact-row
          name="Klubschule Migros Zürich"
          street="Hofweiesenstrasse 350"
          place="8050 Zürich"
          icon-name="Home"
          href="#"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="+49 0160 49858582"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="Klubschule Migros Zürich"
          icon-name="Mail"
          href="mailto:fritz.eierschale@example.org"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="Klubschule Migros Zürich"
          icon-name="Mail"
          href="www.google.com"
          is-external
        >
        </ks-m-contact-row>
      </ks-o-contact>
      <ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks">
        <figure>
          <figcaption>
            <strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
            <h3>Story 3</h3>
            <span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
          </figcaption>
          <a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch/media/1c4dfued/g-gesundheit.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
        </figure>
      </ks-m-teaser>
    </section>
  </ks-o-contact-module>
</ks-o-body-section>
<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../docs/es/documenter.js?component=ContactModule.js"></script>