<br />
<h1 id="tile">Contact Module</h1>
<hr>
<h2 class="bg-color">Col=3</h2>
<p>Haben Sie Fragen zu unseren Firmenkursen? Nehmen Sie mit uns Kontakt auf.</p>
<ks-o-contact-module>
  <section>
    <div>
      <h3>Klubschule</h3>
      <a href="https://klubschule.ch" alt="Klubschule" class="logo">
        <img src="http://localhost:3000/src/img/klubschule-logo-de.svg" alt="Klubschule">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>IBAW</h3>
      <a href="https://ibaw.ch" alt="IBAW" class="logo">
        <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>Klubschule-Pro</h3>
      <a href="https://www.klubschule-pro.ch/" alt="Klubschule-Pro" class="logo">
        <img src="https://www.klubschule-pro.ch/media/sudljogx/test-logo-klubschule-pro.svg" alt="Klubschule-Pro">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<h2 class="bg-color">Col=2 & Background</h2>
<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
  <p>Haben Sie Fragen zu unseren Firmenkursen? Nehmen Sie mit uns Kontakt auf.</p>
  <ks-o-contact-module>
    <section>
      <div>
        <h3>Klubschule</h3>
        <a href="https://klubschule.ch" alt="Klubschule" class="logo">
          <img src="http://localhost:3000/src/img/klubschule-logo-de.svg" alt="Klubschule">
        </a>
        <ks-m-contact-row
          name="+41 44 456 73 28"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="info@klubschule.ch"
          icon-name="Mail"
          href="mailto:info@klubschule.ch"
        >
        </ks-m-contact-row>
        <div class="buttons">
          <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
          </ks-a-button>
          <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
            <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
          </ks-a-button>
        </div>
      </div>
      <div>
        <h3>IBAW</h3>
        <a href="https://ibaw.ch" alt="IBAW" class="logo">
          <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
        </a>
        <ks-m-contact-row
          name="+41 44 456 73 28"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="info@klubschule.ch"
          icon-name="Mail"
          href="mailto:info@klubschule.ch"
        >
        </ks-m-contact-row>
        <div class="buttons">
          <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
          </ks-a-button>
          <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
            <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
          </ks-a-button>
        </div>
      </div>
    </section>
  </ks-o-contact-module>
</ks-o-body-section>
<br />
<h1 id="tile">Universal Contact Module</h1>
<hr>
<h2 class="bg-color">Col=3</h2>
<p>Haben Sie Fragen zu unseren Firmenkursen? Nehmen Sie mit uns Kontakt auf.</p>
<ks-o-contact-module>
  <section>
    <div>
      <h3>Klubschule</h3>
      <a href="https://klubschule.ch" alt="Klubschule" class="logo">
        <img src="http://localhost:3000/src/img/klubschule-logo-de.svg" alt="Klubschule">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>IBAW</h3>
      <a href="https://ibaw.ch" alt="IBAW" class="logo">
        <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
    <div>
      <h3>Klubschule-Pro</h3>
      <a href="https://www.klubschule-pro.ch/" alt="Klubschule-Pro" class="logo">
        <img src="https://www.klubschule-pro.ch/media/sudljogx/test-logo-klubschule-pro.svg" alt="Klubschule-Pro">
      </a>
      <ks-m-contact-row
        name="+41 44 456 73 28"
        icon-name="Phone"
        href="tel:+499123456789"
      >
      </ks-m-contact-row>
      <ks-m-contact-row
        name="info@klubschule.ch"
        icon-name="Mail"
        href="mailto:info@klubschule.ch"
      >
      </ks-m-contact-row>
      <div class="buttons">
        <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
          <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
          <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
        </ks-a-button>
      </div>
    </div>
  </section>
</ks-o-contact-module>
<hr>
<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
  <h2 class="bg-color">Col=2 & Background</h2>
  <p>Haben Sie Fragen zu unseren Firmenkursen? Nehmen Sie mit uns Kontakt auf.</p>
  <ks-o-contact-module>
    <section>
      <div>
        <h3>Klubschule</h3>
        <a href="https://klubschule.ch" alt="Klubschule" class="logo">
          <img src="http://localhost:3000/src/img/klubschule-logo-de.svg" alt="Klubschule">
        </a>
        <ks-m-contact-row
          name="+41 44 456 73 28"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="info@klubschule.ch"
          icon-name="Mail"
          href="mailto:info@klubschule.ch"
        >
        </ks-m-contact-row>
        <div class="buttons">
          <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
          </ks-a-button>
          <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
            <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
          </ks-a-button>
        </div>
      </div>
      <div>
        <h3>IBAW</h3>
        <a href="https://ibaw.ch" alt="IBAW" class="logo">
          <img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW">
        </a>
        <ks-m-contact-row
          name="+41 44 456 73 28"
          icon-name="Phone"
          href="tel:+499123456789"
        >
        </ks-m-contact-row>
        <ks-m-contact-row
          name="info@klubschule.ch"
          icon-name="Mail"
          href="mailto:info@klubschule.ch"
        >
        </ks-m-contact-row>
        <div class="buttons">
          <ks-a-button namespace="button-primary-" color="secondary" href="tel:+499123456789">
            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left"></a-icon-mdx>+41 44 456 73 28
          </ks-a-button>
          <ks-a-button namespace="button-secondary-" color="secondary" href="mailto:info@klubschule.ch">
            <a-icon-mdx icon-name="Mail" size="1em" class="icon-left"></a-icon-mdx>E-Mail
          </ks-a-button>
        </div>
      </div>
    </section>
  </ks-o-contact-module>
</ks-o-body-section>
<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../docs/es/documenter.js?component=ContactModule.js"></script>