:host * {
  box-sizing: border-box;
  margin: 0 !important;
}

:host {
  /* css vars that are passed to children */
  --picture-teaser-transition: transform .5s ease-out;
  --picture-teaser-img-object-fit: cover;
  --color: var(--color-neutral-bold4);

  /* component css vars */
  --teaser-tile-content-transition: color .3s ease-out , background-color .3s ease-out !important;
  
  --teaser-tile-content-pretitle-font-family: var(--mdx-sys-font-fix-title4-font-family);
  --teaser-tile-content-pretitle-font-size: var(--mdx-sys-font-fix-body2);
  --teaser-tile-content-pretitle-font-weight: var(--mdx-sys-font-fix-title4-font-weight);
  --teaser-tile-content-pretitle-line-height: var(--mdx-sys-font-fix-title4-line-height);

  --teaser-tile-content-headline-font-family: var(--h3-font-family);
  --teaser-tile-content-headline-font-size: var(--h3-font-size);
  --teaser-tile-content-headline-font-weight: var(--h3-font-weight);
  --teaser-tile-content-headline-line-height: var(--h3-line-height);

  --teaser-tile-content-cta-font-family: var(--mdx-sys-font-fix-label2-font-family);
  --teaser-tile-content-cta-font-size: var(--mdx-sys-font-fix-label2-font-size);
  --teaser-tile-content-cta-font-weight: var(--mdx-sys-font-fix-label2-font-weight);
  --teaser-tile-content-cta-line-height: var(--mdx-sys-font-fix-label2-line-height);

  /* css vars for inverse variant */
  --pretitle-color: var(--color-${this.getAttribute('color')});
  --pretitle-background: transparent;
  --pretitle-color-hover: var(--mdx-sys-color-neutral-on-default);
  --pretitle-background-hover: transparent;
  --text-color: var(--color-neutral-bold4);
  --text-color-hover: var(--mdx-sys-color-neutral-on-default);
  --background-color: var(--mdx-sys-color-neutral-on-default);
  --background-color-hover: var(--color-${this.getAttribute('color')}, black);

  /* css vars that are passed to children */
  --picture-teaser-transition: transform .5s ease-out;
  --color: var(--text-color);
}

:host([inverse]) {
  /* css vars for inverse variant */
  --pretitle-color: var(--mdx-sys-color-neutral-on-default);
  --pretitle-color-hover: var(--color-${this.getAttribute('color')});
  --text-color: var(--mdx-sys-color-neutral-on-default);
  --text-color-hover: var(--color-neutral-bold4);
  --background-color: var(--color-${this.getAttribute('color')}, black);
  --background-color-hover: var(--mdx-sys-color-neutral-on-default);
}

:host figure,
:host article {
  --teaser-tile-content-transition: color .3s ease-out , background-color .3s ease-out !important;
  --picture-teaser-transition: transform .5s ease-out;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: var(--mdx-sys-color-neutral-on-default);
  border-style: solid;
  border-color: var(--mdx-sys-color-neutral-bold1);
  border-width: 1px;
  color: var(--color);

  background: var(--background-color);
  
  width: 100%;
}

:host figure:hover,
:host article:hover {
  --color: var(--text-color-hover);
  --picture-teaser-transform: scale(1.05, 1.05);

  background: var(--background-color-hover);
}

:host figcaption,
:host article > div {
  padding: 1.5rem;
}

:host figure figcaption > strong:first-child,
:host article > div > strong:first-child {
  color: var(--pretitle-color);
  background: var(--pretitle-background);
}

:host figure:hover figcaption > strong:first-child,
:host article:hover > div > strong:first-child {
  color: var(--pretitle-color-hover);
  background: var(--pretitle-background-hover);
}

:host p {
  flex: 1;
  min-height: unset;
}

/* link */
:host span:last-child {
  margin-top: auto !important;
}

@media only screen and (max-width: _max-width_) {
  :host figcaption,
  :host article > div {
    padding: 1rem .5rem;
  }
}

/* brands */
:host([brand=ibaw]) {
  --teaser-tile-content-headline-font-family: var(--mdx-sys-font-flex-custom2-font-family);
  --teaser-tile-content-headline-font-size: var(--mdx-sys-font-flex-custom2-font-size);
  --teaser-tile-content-headline-font-weight: var(--mdx-sys-font-flex-custom2-font-weight);
  --teaser-tile-content-headline-line-height: var(--mdx-sys-font-flex-custom2-line-height);

  --pretitle-color: #fff;
  --pretitle-background: var(--color-${this.getAttribute('color')}, #00A2AD);
  --pretitle-color-hover: var(--color-${this.getAttribute('color')}, #00A2AD);
  --pretitle-background-hover: #fff;
}

:host([brand=ibaw][inverse]) {
  /* css vars for inverse variant */
  --pretitle-color: var(--color-${this.getAttribute('color')}, #00A2AD);
  --pretitle-background: #fff;
  --pretitle-color-hover: #fff;
  --pretitle-background-hover: var(--color-${this.getAttribute('color')}, #00A2AD);
  --background-color: var(--color-${this.getAttribute('color')}, black);
  --background-color-hover: var(--mdx-sys-color-neutral-on-default);
}

:host([brand=ibaw]) figure figcaption > strong:first-child,
:host([brand=ibaw]) article > div > strong:first-child {
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%, 0% 0%);
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: var(--mdx-sys-spacing-fix-2xs);
  padding-right: calc(var(--mdx-sys-spacing-fix-2xs) + 8px);
  color: var(--mdx-base-color-grey-0);
  background: var(--color-${this.getAttribute('color')}, #00A2AD);
}

/* color exception ibaw-turquoise */
:host([brand=ibaw][inverse][color=ibaw-turquoise]),
:host([brand=ibaw][inverse][color=secondary]) {
  --pretitle-color: var(--mdx-base-color-ibaw-light-blue-600, #32DED5);
  --background-color: var(--mdx-base-color-ibaw-light-blue-600, #32DED5);
  --text-color: var(--mdx-sys-color-neutral-bold4);
  --text-color-hover: var(--mdx-sys-color-neutral-bold4);
}
:host(:not([inverse])[brand=ibaw][color=ibaw-turquoise]),
:host(:not([inverse])[brand=ibaw][color=secondary]) {
  --pretitle-color-hover: var(--mdx-base-color-ibaw-light-blue-600, #32DED5);
  --background-color-hover: var(--mdx-base-color-ibaw-light-blue-600, #32DED5);
  --text-color: var(--mdx-sys-color-neutral-bold4);
  --text-color-hover: var(--mdx-sys-color-neutral-bold4);
}