:host {
    --navigation-default-a-font-size:var(--mdx-comp-tabs-font-label-default-font-size, 1.125em);
    --navigation-default-a-font-weight:var(--mdx-comp-tabs-font-label-default-font-weight, 500);
    --navigation-default-a-text-decoration-hover: 0.125em solid var(--mdx-sys-color-primary-default);
    --navigation-default-active-border-bottom: 0.125em solid var(--mdx-sys-color-primary-default);
    --navigation-default-line-height:1.25em;
    --navigation-default-ul-display:flex;
    --navigation-default-ul-flex-direction:row;
    --navigation-default-ul-list-style:none;
    --navigation-default-ul-margin-mobile: 0;
    --navigation-default-ul-margin:0;
    --navigation-default-ul-padding-left:0;
    --navigation-default-ul-width: var(--body-section-default-width);
    --navigation-default-a-color:var(--color, inherit);
    --navigation-default-a-active-color: var(--mdx-sys-color-primary-default);
    --navigation-default-ul-li-line-height: 100%;
    --navigation-default-a-color-hover: var(--mdx-sys-color-primary-default);
}