:host .m-tile {
    background-color: white;
    border: 0.0625em solid var(--m-gray-700);
}

:host .m-tile__wrap {
    position: relative;
}

:host .m-tile__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--m-white);
    z-index: 1;
    opacity: 0.5;
    display: none;
}

:host .m-tile__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    padding-bottom: 0.75em;
}

:host .m-tile__title {
    font-size: 1.5em;
    line-height: 1.625em;
    font-weight: 500;
}

:host .m-tile__body {
    display: flex;
    align-items: center;
    padding: 1.5em;
    padding-bottom: 2em;
}

:host .m-tile__content {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 400;
    padding: 0 0.5em;
}

:host .m-tile__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

:host .m-tile__foot-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host .m-tile__foot-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host .m-tile__price {
    font-size: 0.875em;
    line-height: 0.9375em;
    font-weight: 500;
    padding-left: 0.3125em;
}

:host .m-tile__price strong {
    font-family: 'Graphik';
    font-size: 1.5em;
    line-height: 1.625em;
    font-weight: 500;    
}

:host a-icon-mdx {
    --icon-mdx-ks-color: #0053A6;
}

:host a-icon-mdx + ks-a-button {
    margin-left: 0.5em;
}

@media only screen and (max-width: _max-width_) {
    :host .m-tile {
        padding: 0.5em 1em;
    }

    :host .m-tile__title {
        font-size: 1.25em;
        line-height: 1.375em;
    }

    :host .m-tile__content {
        font-size: 0.875em;
        line-height: 1.125em;
    }

    :host .m-tile__price strong {
        font-size: 1.125em;
        line-height: 1.25em;
        padding-top: 0.75em;
        padding-left: 0;
    }

    :host .m-tile__foot-right {
        flex-direction: column;
        align-items: flex-end;
    }

    /* Passed Mobile */
    :host .m-tile__foot--passed {
        flex-direction: column;
        align-items: flex-start;
    }

    :host .m-tile__passed-message {
        padding-bottom: 1em;
    }

    :host .m-tile__foot--passed .m-tile__foot-left {
        width: 100%;
        justify-content: space-between;
    }
}

/* Passed */

:host .m-tile--passed {
    padding-bottom: 0;
    border-color: var(--m-gray-400);
}

:host .m-tile--passed .m-tile__overlay {
    display: block;
}

:host .m-tile__foot--passed {
    display: none;
    padding: 2em 1.5em;
    border-top: 0.0625em solid var(--m-gray-400);
}

:host .m-tile--passed .m-tile__foot--passed {
    display: flex;
}

:host .m-tile__passed-message {
    font-size: 1.5em;
    line-height: 1.625em;
    font-weight: 500;   
}
