:host {
    --background-color: var(--m-white, #fff);
    --border-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --overlay-backround-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --icon-color: var(--icon-color-blue);
    --foot-display: flex;
    --foot-justify-content: space-between;
    --foot-align-items: center;
    --foot-padding: 0;
    --foot-passed-display: none;
    --icon-box-dimension: 1.625em;
    --icon-box-color: var(--m-white, #fff);
    --overlay-display: none;
    --overlay-background-color: transparent;
    --title-font-family: var(--mdx-sys-font-flex-headline3-font-family);
    --title-font-size: var(--mdx-sys-font-flex-headline3-font-size);
    --title-line-height: var(--mdx-sys-font-flex-headline3-line-height);
    --title-font-weight: var(--mdx-sys-font-flex-headline3-font-weight);
    --title-color-hover: var(--mdx-sys-color-primary-default);
    --price-font: var(--mdx-sys-font-fix-label4);
    --price-strong-font: var(--mdx-sys-font-fix-label1);
    --next-start-dates-label-color: var(--mdx-sys-color-neutral-bold1);
    --next-start-dates-label-font: var(--mdx-sys-font-fix-body2);
    --next-start-dates-font: var(--mdx-sys-font-flex-small-custom1);
    --title-other-locations-color: var(--mdx-sys-color-neutral-bold4);
    --title-other-locations-font: var(--mdx-sys-font-fix-label0);

    --tile-default-background-color: var(--m-white, #fff);
    --tile-default-border-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --tile-default-overlay-backround-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --tile-default-icon-color: var(--icon-color-blue);
    --tile-default-foot-display: flex;
    --tile-default-foot-justify-content: space-between;
    --tile-default-foot-align-items: center;
    --tile-default-foot-padding: 0;
    --tile-default-foot-passed-display: none;
    --tile-default-icon-box-dimension: 1.625em;
    --tile-default-icon-box-color: var(--m-white, #fff);
    --tile-default-overlay-display: none;
    --tile-default-overlay-background-color: transparent;
    --tile-default-title-font-family: var(--mdx-sys-font-flex-headline3-font-family);
    --tile-default-title-font-size: var(--mdx-sys-font-flex-headline3-font-size);
    --tile-default-title-line-height: var(--mdx-sys-font-flex-headline3-line-height);
    --tile-default-title-font-weight: var(--mdx-sys-font-flex-headline3-font-weight);
    --tile-default-title-color-hover: var(--mdx-sys-color-primary-default);
    --tile-default-price-font: var(--mdx-sys-font-fix-label4);
    --tile-default-price-strong-font: var(--mdx-sys-font-fix-label1);
    --tile-default-next-start-dates-label-color: var(--mdx-sys-color-neutral-bold1);
    --tile-default-next-start-dates-label-font: var(--mdx-sys-font-fix-body2);
    --tile-default-next-start-dates-font: var(--mdx-sys-font-flex-small-custom1);
    --tile-default-title-other-locations-color: var(--mdx-sys-color-neutral-bold4);
    --tile-default-title-other-locations-font: var(--mdx-sys-font-fix-label0);
}