[submodule "src/es/components/web-components-toolbox"]
	path = src/es/components/web-components-toolbox
	url = https://github.com/mits-gossau/web-components-toolbox.git
[submodule "src/css/web-components-toolbox-migros-design-experience"]
	path = src/css/web-components-toolbox-migros-design-experience
	url = https://github.com/mits-gossau/web-components-toolbox-migros-design-experience.git
