:host {
    width: 100%;
}
:host label.headline {
    color: var(--mdx-sys-color-primary-default);
    font: var(--mdx-sys-font-fix-label0);
    display: block;
    margin-top: calc(40rem/18); 
    margin-bottom: calc(24rem/18); 
}