:host {
    --tile-passed-foot-passed-display: flex;
    --tile-passed-foot-passed-justify-content: space-between;
    --tile-passed-foot-passed-align-items: center;
    --tile-passed-foot-passed-padding: 2em 1.5em;
    --tile-passed-foot-passed-border-top: 1px solid var(--m-gray-300);
    --tile-passed-overlay-display: block;
    --tile-passed-overlay-background-color: var(--m-gray-100);
    --tile-passed-title-font-family: var(--mdx-sys-font-flex-headline3-font-family);
    --tile-passed-title-font-size: var(--mdx-sys-font-flex-headline3-font-size);
    --tile-passed-title-line-height: var(--mdx-sys-font-flex-headline3-line-height);
    --tile-passed-title-font-weight: var(--mdx-sys-font-flex-headline3-font-weight);
    --tile-passed-title-color-hover: var(--mdx-sys-color-primary-default);
    --tile-passed-price-font-family: var(--mdx-sys-font-font-fix-label4-font-family);
    --tile-passed-price-font-size: var(--mdx-sys-font-font-fix-label4-font-size);
    --tile-passed-price-line-height: var(--mdx-sys-font-font-fix-label4-line-height);
    --tile-passed-price-font-weight: var(--mdx-sys-font-font-fix-label4-font-weight);
    --tile-passed-price-strong-font-family: var(--mdx-sys-font-flex-headline3-font-family);
    --tile-passed-price-strong-font-size: var(--mdx-sys-font-flex-headline3-font-size);
    --tile-passed-price-strong-line-height: var(--mdx-sys-font-flex-headline3-line-height);
    --tile-passed-price-strong-font-weight: var(--mdx-sys-font-flex-headline3-font-weight);
    --tile-passed-passed-message-font: var(--mdx-sys-font-flex-large-headline3);
}

@media screen and (max-width: _max-width_) {
    :host {
        --tile-passed-foot-passed-padding: 1rem 0.5rem;
    }
}