:host {
    --tile-abonnement-wrap-padding: 1.5em;
    /*--wrap-padding: 16px 16px 24px 16px;
    --background-color: var(--m-white, #fff);
    --border-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --overlay-backround-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --icon-color: var(--icon-color-blue);
    --icon-box-dimension: 1.625em;
    --icon-box-color: var(--m-white, #fff);
    --overlay-display: none;
    --overlay-background-color: transparent;
    --title-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --title-font-size: 20px;
    --title-line-height: 110%;
    --title-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --title-color-hover: var(--mdx-sys-color-primary-default);
    --body-display: block;
    --next-date-color: var(--mdx-sys-color-neutral-bold4);
    --next-date-font: 400 20px / 110% 'Graphik';
    --next-date-margin-bottom: 24px;
    --room-color: var(--mdx-sys-color-neutral-bold4);
    --room-font: 400 16px / 130% 'Graphik';
    --room-margin-top: 16px;
    --foot-display: flex;
    --foot-justify-content: right;
    --foot-flex-direction: column-reverse;
    --foot-align-items: center;
    --foot-padding: 0;
    --foot-right-display: none;
    --foot-passed-display: none;
    --foot-width: 100%;
    --foot-price-margin-bottom: 24px;
    --price-font: var(--mdx-sys-font-fix-label4);
    --next-start-dates-label-color: var(--mdx-sys-color-neutral-bold1);
    --next-start-dates-label-font: var(--mdx-sys-font-fix-body2);
    --next-start-dates-font: var(--mdx-sys-font-flex-small-custom1);
    --title-other-locations-color: var(--mdx-sys-color-neutral-bold4);
    --title-other-locations-font: var(--mdx-sys-font-fix-label0);
    --content-font-size-mobile: 20px;
    --content-line-height-mobile: 110%;
    --price-strong-font: 500 24px / 110% 'Graphik';

    --tile-abonnement-wrap-padding: 16px 16px 24px 16px;
    --tile-abonnement-background-color: var(--m-white, #fff);
    --tile-abonnement-border-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --tile-abonnement-overlay-backround-color: var(--m-gray-700, var(--mdx-sys-color-neutral-bold1));
    --tile-abonnement-icon-color: var(--icon-color-blue);
    --tile-abonnement-icon-box-dimension: 1.625em;
    --tile-abonnement-icon-box-color: var(--m-white, #fff);
    --tile-abonnement-overlay-display: none;
    --tile-abonnement-overlay-background-color: transparent;
    --tile-abonnement-title-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --tile-abonnement-title-font-size: 20px;
    --tile-abonnement-title-line-height: 110%;
    --tile-abonnement-title-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --tile-abonnement-title-color-hover: var(--mdx-sys-color-primary-default);
    --tile-abonnement-body-display: block;
    --tile-abonnement-next-date-color: var(--mdx-sys-color-neutral-bold4);
    --tile-abonnement-next-date-font: 400 20px / 110% 'Graphik';
    --tile-abonnement-next-date-margin-bottom: 24px;
    --tile-abonnement-room-color: var(--mdx-sys-color-neutral-bold4);
    --tile-abonnement-room-font: 400 16px / 130% 'Graphik';
    --tile-abonnement-room-margin-top: 16px;
    --tile-abonnement-foot-display: flex;
    --tile-abonnement-foot-justify-content: right;
    --tile-abonnement-foot-flex-direction: column-reverse;
    --tile-abonnement-foot-align-items: center;
    --tile-abonnement-foot-padding: 0;
    --tile-abonnement-foot-right-display: none;
    --tile-abonnement-foot-passed-display: none;
    --tile-abonnement-foot-width: 100%;
    --tile-abonnement-foot-price-margin-bottom: 24px;
    --tile-abonnement-price-font: var(--mdx-sys-font-fix-label4);
    --tile-abonnement-next-start-dates-label-color: var(--mdx-sys-color-neutral-bold1);
    --tile-abonnement-next-start-dates-label-font: var(--mdx-sys-font-fix-body2);
    --tile-abonnement-next-start-dates-font: var(--mdx-sys-font-flex-small-custom1);
    --tile-abonnement-title-other-locations-color: var(--mdx-sys-color-neutral-bold4);
    --tile-abonnement-title-other-locations-font: var(--mdx-sys-font-fix-label0);
    --tile-abonnement-content-font-size-mobile: 20px;
    --tile-abonnement-content-line-height-mobile: 110%;
    --tile-abonnement-price-strong-font: 500 24px / 110% 'Graphik';
    --button-secondary-font-size-mobile: 16px;
    --button-secondary-padding-mobile: 12px 24px;
    */
}