:host([namespace=button-primary-]) {
  --button-primary-background-color-active: var(--color-${this.getAttribute('color')}-active, var(--color-active));
  --button-primary-background-color-hover: var(--color-${this.getAttribute('color')}-hover, var(--color-hover));
  --button-primary-background-color: var(--color-${this.getAttribute('color')}, var(--color-secondary));
  --button-primary-color-disabled: var(--background-color);
}

:host([namespace=button-secondary-]) {
  --button-secondary-background-color-active: transparent;
  --button-secondary-background-color-disabled: transparent;
  --button-secondary-background-color-hover: transparent;
  --button-secondary-border-color-disabled: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-secondary-border-color-hover: var(--color-${this.getAttribute('color')}-hover, var(--color-hover));
  --button-secondary-border-color-active: var(--button-secondary-border-color-hover);
  --button-secondary-border-color: var(--border-color-${this.getAttribute('color')}, var(--color-${this.getAttribute('color')}, var(--color-secondary)));
  --button-secondary-color-active: var(--color-${this.getAttribute('color')}-active, var(--color-secondary-active));
  --button-secondary-color-disabled: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-secondary-color-hover: var(--color-${this.getAttribute('color')}-hover, var(--color-secondary-hover));
  --button-secondary-color: var(--color-${this.getAttribute('color')}, var(--color-secondary));
}

:host([namespace=button-tertiary-]) {
  --button-tertiary-background-color-disabled: var(--background-color-${this.getAttribute('color')}-disabled, transparent);
  --button-tertiary-background-color: var(--background-color-${this.getAttribute('color')}, transparent);
  --button-tertiary-border-color-disabled: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-tertiary-border-color-hover: var(--color-${this.getAttribute('color')}-hover, var(--color-hover));
  --button-tertiary-border-color: var(--color-${this.getAttribute('color')}, var(--color-tertiary));
  --button-tertiary-color-active: var(--color-${this.getAttribute('color')}-active, var(--color-tertiary-active));
  --button-tertiary-color-disabled: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-tertiary-color-hover: var(--color-${this.getAttribute('color')}-hover, var(--color-tertiary-hover));
  --button-tertiary-color: var(--color-${this.getAttribute('color')}, var(--color-tertiary));
}

:host([namespace=button-quaternary-]) {
  --button-quaternary-background-color-active: var(--button-quaternary-background-color-${this.getAttribute('color')}-active, transparent);
  --button-quaternary-background-color-disabled: var(--background-color-${this.getAttribute('color')}-disabled, transparent);
  --button-quaternary-background-color-hover: var(--button-quaternary-background-color-${this.getAttribute('color')}-hover, transparent);
  --button-quaternary-background-color: var(--button-quaternary-background-color-${this.getAttribute('color')}, transparent);
  --button-quaternary-border-color-active: transparent;
  --button-quaternary-border-color-disabled: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-quaternary-border-color-hover: transparent;
  --button-quaternary-border-color: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-quaternary-border-width-custom: var(--button-secondary-border-width-custom, 2px);
  --button-quaternary-color-active: var(--color-${this.getAttribute('color')}-active, var(--color-quaternary-active));
  --button-quaternary-color-disabled: var(--color-${this.getAttribute('color')}-disabled, var(--color-disabled));
  --button-quaternary-color-hover: var(--color-${this.getAttribute('color')}-hover, var(--color-quaternary-hover));
  --button-quaternary-color: var(--color-${this.getAttribute('color')}, var(--color-quaternary));
}

:host([namespace=button-primary-][justify-content]) {
  --button-primary-justify-content: ${this.getAttribute('justify-content')};
}
:host([namespace=button-secondary-][justify-content]) {
  --button-secondary-justify-content: ${this.getAttribute('justify-content')};
}
:host([namespace=button-tertiary-][justify-content]) {
  --button-tertiary-justify-content: ${this.getAttribute('justify-content')};
}
:host([namespace=button-quaternary-][justify-content]) {
  --button-quaternary-justify-content: ${this.getAttribute('justify-content')};
}

/*
:host([namespace=button-primary-][filter]) button,
:host([namespace=button-secondary-][filter]) button,
:host([namespace=button-tertiary-][filter]) button,
:host([namespace=button-quaternary-][filter]) button {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
*/

:host([namespace=button-primary-][icon]) button,
:host([namespace=button-secondary-][icon]) button,
:host([namespace=button-tertiary-][icon]) button,
:host([namespace=button-quaternary-][icon]) button {
  --button-primary-icon-left-margin: 0;
  --button-primary-icon-right-margin: 0;
  --button-secondary-icon-left-margin: 0;
  --button-secondary-icon-right-margin: 0;
  --button-tertiary-icon-left-margin: 0;
  --button-tertiary-icon-right-margin: 0;
  --button-quaternary-icon-left-margin: 0;
  --button-quaternary-icon-right-margin: 0;
  --button-padding-mobile: var(--button-padding-mobile-custom, 0.75rem);
  --button-padding: var(--mdx-comp-button-primary-medium-padding-vertical-default, 0.75rem);
  border-radius: 50%;
  padding: var(--button-padding);
  @media only screen and (max-width: _max-width_) {
    padding: var(--button-padding-mobile);
  }
}

:host([namespace=button-primary-][badge]) button,
:host([namespace=button-secondary-][badge]) button,
:host([namespace=button-tertiary-][badge]) button,
:host([namespace=button-quaternary-][badge]) button {
  padding: 0.5em;
  pointer-events: none;
  border-radius: 2%;
}

:host([big]) button {
  --button-primary-height: 3.25rem;
  --button-primary-font-weight: 500;
  --button-primary-font-size: 1.25rem;
  --button-primary-icon-height: auto;
  --button-primary-icon-width: var(--button-primary-icon-height);
  --button-primary-icon-height-mobile: var(--button-primary-icon-height);
  --button-primary-icon-width-mobile: var(--button-primary-icon-width);
  --button-primary-icon-right-margin: 0 0 0 0.5rem;
  --button-secondary-height: var(--button-primary-height);
  --button-secondary-font-weight: var(--button-primary-font-weight);
  --button-secondary-font-size: var(--button-primary-font-size);
  --button-secondary-icon-height: var(--button-primary-icon-height);
  --button-secondary-icon-width: var(--button-primary-icon-width);
  --button-secondary-icon-height-mobile: var(--button-primary-icon-height-mobile);
  --button-secondary-icon-width-mobile: var(--button-primary-icon-width-mobile);
  --button-secondary-icon-right-margin: var(--button-primary-icon-right-margin);
  --button-tertiary-height: var(--button-primary-height);
  --button-tertiary-font-weight: var(--button-primary-font-weight);
  --button-tertiary-font-size: var(--button-primary-font-size);
  --button-tertiary-icon-height: var(--button-primary-icon-height);
  --button-tertiary-icon-width: var(--button-primary-icon-width);
  --button-tertiary-icon-height-mobile: var(--button-primary-icon-height-mobile);
  --button-tertiary-icon-width-mobile: var(--button-primary-icon-width-mobile);
  --button-tertiary-icon-right-margin: var(--button-primary-icon-right-margin);
  --button-quaternary-height: var(--button-primary-height);
  --button-quaternary-font-weight: var(--button-primary-font-weight);
  --button-quaternary-font-size: var(--button-primary-font-size);
  --button-quaternary-icon-height: var(--button-primary-icon-height);
  --button-quaternary-icon-width: var(--button-primary-icon-width);
  --button-quaternary-icon-height-mobile: var(--button-primary-icon-height-mobile);
  --button-quaternary-icon-width-mobile: var(--button-primary-icon-width-mobile);
  --button-quaternary-icon-right-margin: var(--button-primary-icon-right-margin);  
}

