:host * {
    position: relative;
}

:host {
    --color: white;
    --h-color: white;
    --h-text-align: center;

    --stage-default-color: white;

    position: relative;

    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-size: cover;
    background-position: center;
    width: 100% !important;
    aspect-ratio: 21/9;
    padding: var(--mdx-sys-spacing-flex-m) var(--mdx-sys-spacing-flex-xs);
    margin: 0 !important;
    overflow: hidden;
}

:host a,
:host ks-a-back-link {
    display: inline-block;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.4));

    --back-link-color: white;
    --back-link-color-hover: white;
}

:host a {
    font: var(--mdx-sys-font-fix-label1);
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

:host a-picture {
    --img-width: 100%;
    --img-height: 100%;
    --img-object-fit: cover;
    --img-max-height: none;
    --overflow: hidden;

    position: absolute;
    inset: 0;
}

:host a-picture::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    opacity: 0.6;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.4%, #000 100%);
}

:host a-input,
:host ks-c-with-facet,
:host ks-c-auto-complete {
    width: 100%;
    max-width: calc(528/16 * 1rem);
}

:host > .topline {
    margin-top: 0 !important;
    margin-bottom: auto !important;
    width: 100%;
    text-align: left;
}

:host ks-a-heading {
    max-width: 1036px
}

:host([has-background]) {
    background: var(--mdx-sys-color-accent-6-subtle1);
    margin-bottom: -1px;
}

/* brand adjustments */
:host([brand=ksos]) {
    padding-bottom: var(--mdx-sys-spacing-flex-xl);
}

:host([brand=ksos]) a-picture {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 14.03vw), 80.0867361% 100%, 0% calc(100% - 4.34vw));
}

@media screen and (max-width: _max-width_) {
    :host([has-background-mobile]) {
        background: var(--mdx-sys-color-accent-6-subtle1);
        margin-bottom: -1px;
    }
}

@media screen and (max-width: 767px) {
    :host {
        aspect-ratio: 4/3;
        padding: var(--mdx-sys-spacing-flex-s);
    }
}

/* for larger views */
@media screen and (min-width: 1440px) {
    :host {
        --stage-default-max-height: calc(100vh - 280px);
        max-height: var(--stage-default-max-height);
    }

    :host a-picture {
        inset: 0 0 auto;
    }

    :host a-picture::after {
        inset: 0 0 auto;
        height: 100%;
        max-height: var(--stage-default-max-height);
    }
}