:host {
    --checkbox-default-border-color: var(--m-gray-700);
    --checkbox-default-box-background-color: var(--m-white);
    --checkbox-default-color: #0053A6;
    --checkbox-default-padding-top: var(--mdx-comp-checkbox-padding-vertical-default);
    --checkbox-default-padding-bottom: var(--mdx-comp-checkbox-padding-vertical-default);
    --checkbox-default-padding-right: var(--mdx-comp-checkbox-padding-horizontal-default); 
    --checkbox-default-padding-left: calc(var(--mdx-comp-checkbox-padding-horizontal-default) + var(--mdx-comp-checkbox-sizing-ellipse));
    --checkbox-default-background: var(--mdx-comp-checkbox-unchecked-background-color-hover);
    --button-secondary-icon-right-margin: 0;
    --checkbox-default-error-color: var(--mdx-comp-error-message-color-default);
    --checkbox-default-error-gap: var(--mdx-comp-checkbox-gap-container-error);
    --checkbox-default-error-font: var(--mdx-comp-error-message-font-default);
    --checkbox-default-error-icon-gap: var(--mdx-comp-error-message-gap-icon-text-default)
}
