:host * {
  box-sizing: border-box;
  margin: 0 !important;
}

:host figure {
  /* css vars that are passed to children */
  --picture-teaser-transition: transform .5s ease-out;
  --picture-teaser-img-object-fit: cover;
  --picture-teaser-aspect-ratio: 16/9;
  --color: var(--mdx-sys-color-neutral-bold4);

  /* component css vars */
  --teaser-story-color: var(--color);
  --teaser-story-color-${this.getAttribute('color')}: var(--color-${this.getAttribute('color')});
  --teaser-story-transition: color .3s ease-out , background-color .3s ease-out !important;
  
  --teaser-story-pretitle-font-family: var(--mdx-sys-font-fix-title4-font-family);
  --teaser-story-pretitle-font-size:var(--mdx-sys-font-fix-body2);
  --teaser-story-pretitle-font-weight:var(--mdx-sys-font-fix-title4-font-weight);
  --teaser-story-pretitle-line-height:var(--mdx-sys-font-fix-title4-line-height);

  --teaser-story-headline-font-family: var(--h3-font-family);
  --teaser-story-headline-font-size: var(--h3-font-size);
  --teaser-story-headline-font-weight: var(--h3-font-weight);
  --teaser-story-headline-line-height: var(--h3-line-height);

  --teaser-story-cta-font-family: var(--mdx-sys-font-fix-label2-font-family);
  --teaser-story-cta-font-size: var(--mdx-sys-font-fix-label2-font-size);
  --teaser-story-cta-font-weight: var(--mdx-sys-font-fix-label2-font-weight);
  --teaser-story-cta-line-height: var(--mdx-sys-font-fix-label2-line-height);
}

:host figure:hover {
  --color: var(--color-${this.getAttribute('color')}, black);
  --picture-teaser-transform: scale(1.05, 1.05);
}

:host figure:hover {
  color: var(--color-${this.getAttribute('color')}, black);
}

:host figcaption {
  order: 2;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: _max-width_) {
  :host figcaption {
    padding: 1rem .5rem;
  }
}

/* brand adjustments */
:host([brand=ibaw]) {
  --teaser-story-headline-font-family: var(--mdx-sys-font-flex-custom2-font-family);
  --teaser-story-headline-font-size: var(--mdx-sys-font-flex-custom2-font-size);
  --teaser-story-headline-font-weight: var(--mdx-sys-font-flex-custom2-font-weight);
  --teaser-story-headline-line-height: var(--mdx-sys-font-flex-custom2-line-height);
}

:host([brand=ibaw]) figure figcaption > strong:first-child,
:host([brand=ibaw]) article > div > strong:first-child {
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%, 0% 0%);
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: var(--mdx-sys-spacing-fix-2xs);
  padding-right: calc(var(--mdx-sys-spacing-fix-2xs) + 8px);
  color: var(--mdx-base-color-grey-0);
  background: var(--color-${this.getAttribute('color')}, #00A2AD);
}