<script class="template-script" type=module src="../src/es/helpers/Mock.js"></script>
<template mock pathname="/umbraco/api/UncompletedOrderApi/Check" response>
  {
    "code": 0,
    "message": "Veranstaltung: Italienisch Niveau A1 - Erhöhtes Lerntempo&lt;br&gt;Zürich Limmatstrasse 152",
    "uncompletedOrderExists": true,
    "uncompletedOrder": {
      "uncompletedOrderGuid": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "portalId": 29,
      "mandantId": 111,
      "centerId": 1442,
      "kursTyp": "D",
      "kursId": 91368,
      "parentKursTyp": "string",
      "parentKursId": 0,
      "sprache": "string",
      "gebaeudeId": 0,
      "activeStep": 0,
      "messageNumber": 0,
      "kursUrl": "https://www.klubschule.ch/kurs/yin-yoga-online--D_91368_2687_1442?q=yoga"
    }
  }
</template>
<ks-m-checkout-reminder page="any"></ks-m-checkout-reminder>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus aspernatur repellat, accusantium exercitationem ut quaerat fugiat ullam consequuntur repellendus expedita quas doloremque veniam perspiciatis! Sunt dolor ipsam accusamus exercitationem.</p>
<!-- load web components for Demo Purposes Only -->
<script type="text/javascript" src="../../../../../../docs/es/loader.js"></script>
<script type="text/javascript" src="../../../../../../docs/es/documenter.js?component=CheckoutReminder.js"></script>