:host {
    --img-max-height: 76px;
}

:host([centered]) {
    text-align: center;
    --h-text-align: center;
}

:host ul {
    gap: 70px;
}

:host a-picture {
    --img-height: 76px;
}

@media screen and (max-width: _max-width_) {
    :host ul {
        gap: 1.5em;
    }

    :host a-picture {
      --img-height: 68px;
    }
}