:host {
    --img-max-height: 76px;
}

:host([centered]) {
    text-align: center;
    --h-text-align: center;
}

:host a-picture {
    --img-height: 76px;
}

@media screen and (max-width: _max-width_) {
    :host a-picture {
      --img-height: 30px;
    }
}