:host {
    --img-max-height: 76px;
}

:host([centered]) {
    text-align: center;
    --h-text-align: center;
}

:host ul {
    gap: 70px;
}

@media screen and (max-width: _max-width_) {
    :host {
        --img-max-height: 68px;
    }

    :host ul {
        gap: 1.5em;
    }
}