<h1 id="tile">Abo Detail</h1>
<section style="background-color: var(--mdx-sys-color-accent-6-subtle1); padding: 1em; will-change: auto;">
    <h2>Example 1</h2>
    <ks-c-event-detail endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
        <ks-m-abo-tile title="Abo kaufen" data="{ 'language': 'D', 'typ': '6A', 'id': 10375, 'center_id': 2658 }">
        </ks-m-abo-tile>
    </ks-c-event-detail>
</section>
<section style="background-color: var(--mdx-sys-color-accent-6-subtle1); padding: 1em; will-change: auto;">
    <h2>Example 2</h2>
    <ks-c-event-detail endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
        <ks-m-abo-tile title="Abo kaufen" data="{ 'language': 'D', 'typ': '6A', 'id': 10375, 'center_id': 2658 }">
        </ks-m-abo-tile>
    </ks-c-event-detail>
</section>
