<h1 id="tile">Abo Detail</h1>
<section style="background-color: var(--mdx-sys-color-accent-6-subtle1); padding: 1em; will-change: auto;">
    <h2>Status 1 (Garantiert)</h2>
    <ks-m-abo-tile title="Abo kaufen" data="{
            'kursdetail_label': 'Details',
            'kursdetails': [
                {
                    'label': 'Abonnement',
                    'link_label': '',
                    'link': '',
                    'text': 'Group-Fitness, Pilates und Yoga',
                    'typ': '',
                    'tooltip_titel': '',
                    'tooltip_text': '',
                    'id': null,
                    'event': null
                },
                {
                    'label': 'Abo Nr',
                    'link_label': '',
                    'link': '',
                    'text': '123123123',
                    'typ': '',
                    'tooltip_titel': '',
                    'tooltip_text': '',
                    'id': null,
                    'event': null
                },
                {
                    'label': 'Abo-Kategorie',
                    'link_label': '',
                    'link': '',
                    'text': 'Wert-Abonnement',
                    'typ': '',
                    'tooltip_titel': '',
                    'tooltip_text': '',
                    'id': null,
                    'event': null
                },
                {
                    'label': 'Gültigkeitsdauer',
                    'link_label': '',
                    'link': '',
                    'text': '12',
                    'typ': '',
                    'tooltip_titel': '',
                    'tooltip_text': '',
                    'id': null,
                    'event': null
                }
            ],
            'downloads':[
                {
                    'label':'Angebotsdetails',
                    'link_label':'PDF',
                    'link':'/Umbraco/Api/CourseApi/pdf?lang=D&typ=E&id=1690729&center_id=1019'
                },
                {
                    'label':'Übungen',
                    'link_label':'Download',
                    'link':'/Umbraco/Api/CourseApi/pdf?lang=D&typ=E&id=1690729&center_id=1019'
                },
                {
                    'label':'Übungsklausuren',
                    'link_label':'Download',
                    'link':'/Umbraco/Api/CourseApi/pdf?lang=D&typ=E&id=1690729&center_id=1019'
                }
            ],
            'preis_info_label': 'Preisinfos',
            'preisinfos':[
                {
                    'label':'Abo Preis',
                    'text':'980.00 CHF',
                    'tooltip_titel':'',
                    'tooltip_text':''
                },
                {
                    'label':'Total (inkl. allfälliger MwSt.)',
                    'text':'980.00 CHF',
                    'tooltip_titel':'',
                    'tooltip_text':''
                }
            ],
            'abo_typen_label': 'Abo-Kurse',
            'abo_typen_link': '#',
            'abo_typen_link_label': 'Passende Abo-Kurse anzeigen',
            'buttons': [
                {
                    'text': 'Merken',
                    'link': '',
                    'event': 'bookmark'
                },
                {
                    'text': 'Abo jetzt kaufen',
                    'link': '#',
                    'event': 'book'
                }
            ],
            'download_label': 'Downloads'
        }">
    </ks-m-abo-tile>
</section>
<h1 id="tile">Abo Detail</h1>
<section style="background-color: var(--mdx-sys-color-accent-6-subtle1); padding: 1em; will-change: auto;">
    <h2>Status 1 (Garantiert)</h2>
    <ks-m-abo-tile data="{
        'kursdetail_label': 'Details',
        'kursdetails': [
            {
                'label': 'Abonnement',
                'link_label': '',
                'link': '',
                'text': 'Group-Fitness, Pilates und Yoga',
                'typ': '',
                'tooltip_titel': '',
                'tooltip_text': '',
                'id': null,
                'event': null
            },
            {
                'label': 'Abo Nr',
                'link_label': '',
                'link': '',
                'text': '123123123',
                'typ': '',
                'tooltip_titel': '',
                'tooltip_text': '',
                'id': null,
                'event': null
            },
            {
                'label': 'Abo-Kategorie',
                'link_label': '',
                'link': '',
                'text': 'Wert-Abonnement',
                'typ': '',
                'tooltip_titel': '',
                'tooltip_text': '',
                'id': null,
                'event': null
            },
            {
                'label': 'Gültigkeitsdauer',
                'link_label': '',
                'link': '',
                'text': '12',
                'typ': '',
                'tooltip_titel': '',
                'tooltip_text': '',
                'id': null,
                'event': null
            }
        ],
        'downloads':[
            {
                'label':'Angebotsdetails',
                'link_label':'PDF',
                'link':'/Umbraco/Api/CourseApi/pdf?lang=D&typ=E&id=1690729&center_id=1019'
            },
            {
                'label':'Übungen',
                'link_label':'Download',
                'link':'/Umbraco/Api/CourseApi/pdf?lang=D&typ=E&id=1690729&center_id=1019'
            },
            {
                'label':'Übungsklausuren',
                'link_label':'Download',
                'link':'/Umbraco/Api/CourseApi/pdf?lang=D&typ=E&id=1690729&center_id=1019'
            }
        ],
        'preis_info_label': 'Preisinfos',
        'preisinfos':[
            {
                'label':'Abo Preis',
                'text':'980.00 CHF',
                'tooltip_titel':'',
                'tooltip_text':''
            },
            {
                'label':'Total (inkl. allfälliger MwSt.)',
                'text':'980.00 CHF',
                'tooltip_titel':'',
                'tooltip_text':''
            }
        ],
        'abo_typen_label': 'Abo-Kurse',
        'abo_typen_link': '#',
        'abo_typen_link_label': 'Passende Abo-Kurse anzeigen',
        'buttons': [
            {
                'text': 'Merken',
                'link': '',
                'event': 'bookmark'
            },
            {
                'text': 'Abo jetzt kaufen',
                'link': '#',
                'event': 'book'
            }
        ],
        'download_label': 'Downloads'
    }">
    </ks-m-abo-tile>
</section>