<div>
    <m-details namespace="details-default-icon-right-">
        <details>
            <summary>
                <h4>Lorem ipsum dolor sit amet.</h4>
            </summary>
            <div>
                <ks-a-heading>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quos quaerat rerum rem, harum sed enim maiores inventore nostrum placeat!</h2>
                </ks-a-heading>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum adipisci doloribus sapiente quidem assumenda minus. Itaque rerum natus aperiam eius?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, esse obcaecati! Earum cumque culpa id.</p>
                </div>
            </div>
        </details>
    </m-details>
    <m-details namespace="details-default-icon-right-">
        <details>
            <summary>
                <h4>flap 2</h4>
            </summary>
            <div>
                <div>
                    <a-picture picture-load namespace=""
                        defaultSource="http://via.placeholder.com/350x350"
                        open-modal></a-picture>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, qui!</p>
                </div>
            </div>
        </details>
    </m-details>
    <m-details namespace="details-default-icon-right-">
        <details>
            <summary>
                <h4>Lorem ipsum dolor sit amet.</h4>
            </summary>
            <div>
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus incidunt sunt doloribus dolorum totam qui dolore dolor officiis tempora aspernatur?</p>
                </div>
            </div>
        </details>
    </m-details>
</div>