<o-body-style background-color-prop="#F7F4F1">
    <section>
        <ks-a-heading tag="h1">123 Angebote</ks-a-heading>
        <ks-m-tiles-filter namespace="tile-filter-default-">
            <div class="m-tile-filter">
                <div class="m-tile-filter__search">
                    <m-dialog namespace="dialog-top-slide-in-">
                        <div class="container">
                            <a-input inputid="offer-search" placeholder="Ihr Angebot?" icon-name="Search" icon-size="1.5em" search submit-search="request-auto-complete" any-key-listener type="search"></a-input>
                            <div id="close">
                                <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                            </div>
                        </div>
                        <div class="container">
                            
                        </div>
                        <a-input id="show-modal" inputid="show-modal" placeholder="Ihr Angebot" icon-name="search" icon-size="1.25em" search type="search"></a-input>
                    </m-dialog>
                    <m-dialog namespace="dialog-top-slide-in-">
                        <div class="container">
                            <a-input inputid="location-search" placeholder="Ihr Standort?" icon-name="Location" icon-size="1.5em" search submit-search="request-auto-complete" any-key-listener type="search"></a-input>
                            <div id="close">
                                <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                            </div>
                        </div>
                        <div class="container">
                            
                        </div>
                        <a-input id="show-modal" inputid="show-modal" placeholder="Ihr Standort" icon-name="Location" icon-size="1.25em" search type="search"></a-input>
                    </m-dialog>

                  <!-- <a-input inputid="searchField" placeholder="Label" icon-name="Search" icon-size="1.25em" search="?q=" type="search"></a-input>
                  <a-input inputid="searchField" placeholder="Label" icon-name="Location" icon-size="1.25em" search="?q=" type="search"></a-input> -->
                </div>
                <div class="m-tile-filter__buttons">
                <ks-a-button filter namespace="button-primary-" color="secondary">
                    <a-icon-mdx icon-name="FilterKlubschule" size="1em" class="icon-left"></a-icon-mdx>Alle Filter
                </ks-a-button>
                <m-double-button namespace="double-button-default-" width="100%">
                    <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="space-between">
                        <span part="label1">Niveau A2/A2+</span>
                        <span part="label2" dynamic></span>
                    </ks-a-button>
                    <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="flex-start">
                        <a-icon-mdx icon-name="X" size="1em"></a-icon-mdx>
                    </ks-a-button>
                </m-double-button>
                <m-double-button namespace="double-button-default-" width="100%">
                    <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="space-between">
                        <span part="label1">Label</span>
                        <span part="label2" dynamic></span>
                    </ks-a-button>
                    <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="flex-start">
                        <a-icon-mdx icon-name="X" size="1em"></a-icon-mdx>
                    </ks-a-button>
                </m-double-button>
                <ks-a-button namespace="button-secondary-" color="tertiary">
                    <span>Wochentag & Tageszeit</span>
                    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
                </ks-a-button>
                <ks-a-button namespace="button-secondary-" color="tertiary">
                    <span>Kategorien</span>
                    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
                </ks-a-button>
                <ks-a-button namespace="button-secondary-" color="tertiary">
                    <span>Label</span>
                    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
                </ks-a-button>
                <ks-a-button namespace="button-secondary-" color="tertiary">
                    <span>Label</span>
                    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
                </ks-a-button>
                <ks-a-button namespace="button-secondary-" color="tertiary">
                    <span>Label</span>
                    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
                </ks-a-button>
                </div>
            </div>
        </ks-m-tiles-filter>
    </section>

    <div class="spacer"></div>

    <ks-o-tile-list></ks-o-tile-list>

    <div class="spacer"></div>

    <h1>Angebote in der Nähe von Buchs ZH</h1>

    <section>
        <ks-m-sort namespace="sort-right-"></ks-m-sort>
    </section>

    <ks-o-tile-list></ks-o-tile-list>
    <ks-o-tile-list></ks-o-tile-list>
    <ks-m-troublemaker></ks-m-troublemaker>
    <ks-o-tile-list></ks-o-tile-list>
    <ks-o-tile-list></ks-o-tile-list>

    <div class="spacer"></div>

    <ks-a-button namespace="button-primary-" color="secondary">
        <span>Weitere Angebote</span>
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDownRight" size="1em" class="icon-right">
    </ks-a-button>

    <div class="spacer"></div>
</o-body-style>
