<h1>Kreativit&auml;t</h1>
<ks-o-offers-page
    endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/Search"
    initial-request='{"filter":[{"label":"Sparte","id":"7","typ":"tree","urlpara":"angebot","disabled":false,"sort":5,"children":[{"id":"0N11027","typ":"","selected":true,"disabled":true,"HasChilds":false}],"HasChilds":true}],"sorting":1,"onlycourse":false,"PortalId":29,"sprachid":"d","MandantId":111}'
    endpoint-auto-complete="https://dev.klubschule.ch/Umbraco/Api/Autocomplete/search"
    google-api-key="AIzaSyC9diW31HSjs3QbLEbso7UJzeK7IpH9c2s"
    mock-auto-complete
></ks-o-offers-page>
