<ks-o-offers-page
    endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/Search"
    initial-request='{"filter":[],"PortalId":29,"sprachid":"d","MandantId":111,"ppage":1,"psize":6}'
    endpoint-auto-complete="https://dev.klubschule.ch/Umbraco/Api/Autocomplete/search"
    google-api-key="AIzaSyC9diW31HSjs3QbLEbso7UJzeK7IpH9c2s"
    translation='[
        {"key":"CourseList.Book","value":"Buchen"},
        {"key":"CourseList.Detail","value":"Details"},
        {"key":"CourseList.FilterAllPlaceholder","value":"Alle Filter"},
        {"key":"CourseList.FilterCategories","value":"Kategorien"},
        {"key":"CourseList.FilterWeekDayPlaceholder","value":"Wochentag & Tageszeit"},
        {"key":"CourseList.FindOffersNearbyPlaceholder","value":"Angebote in der Nähe finden"},
        {"key":"CourseList.Location","value":"Ortsauswahl"},
        {"key":"CourseList.MoreDetailsPlaceholder","value":"Weitere Details"},
        {"key":"CourseList.MoreLocationsPlaceholder","value":"Weitere Orte"},
        {"key":"CourseList.MoreOffersPlaceholder","value":"Weitere Angebote"},
        {"key":"CourseList.Offerdetails","value":"Angebotsdetails"},
        {"key":"CourseList.OffersPlaceholder","value":"Angebote"},
        {"key":"CourseList.RegisterNowPlaceholder","value":"Jetzt anmelden"},
        {"key":"CourseList.SearchInYourAreaPlaceholder","value":"Angebote in der Nähe finden"},
        {"key":"CourseList.YourLocationPlaceholder","value":"Ihr Standort"},
        {"key":"CourseList.YourOfferPlaceholder","value":"Ihr Angebot"},
        {"key":"Filter","value":"Filter"},
        {"key":"Filter.ResetAllFilter","value":"Alles zurücksetzen"},
        {"key":"Search.CurrentLocation","value":"Aktueller Standort"},
        {"key":"Search.InputPlaceholder","value":"Suchen"},
        {"key":"Search.TabContent","value":"Stories & Informationen"},
        {"key":"Search.TabCourse","value":"Angebote"}
    ]'
></ks-o-offers-page>
