<ks-o-offers-page
    endpoint="https://int.klubschule.ch/Umbraco/Api/CourseApi/Search"
    endpoint-search-partner="https://int.klubschule.ch/Umbraco/Api/CourseApi/SearchPartner"
    initial-request='{"searchcontent":true,"filter":[{"partitionKey":null,"rowKey":null,"label":null,"id":"","typ":null,"level":"","count":0,"color":"","urlpara":"","selected":false,"disabled":false,"visible":false,"sort":0,"hideCount":false,"children":null,"HasChilds":false}],"SaveNulltreffer":null,"onlyfaceted":null,"onlycourse":false,"clat":null,"clong":null,"cdist":null,"abo_kurs_typ":null,"abo_kurs_id":null,"SearchTitle":null,"SearchKeyword":null,"SearchDescription":null,"hasCollapse":false,"hasCollapseOrt":false,"PortalId":29,"sprachid":"d","MandantId":111,"ppage":0,"psize":12,"pnext":6,"SearchText":null}'
    endpoint-auto-complete="https://int.klubschule.ch/Umbraco/Api/Autocomplete/search"
    google-api-key="AIzaSyC9diW31HSjs3QbLEbso7UJzeK7IpH9c2s"
    search-url="http://localhost:3000/src/es/components/web-components-toolbox/docs/TemplateMiduweb.html?rootFolder=src&css=.%2Fsrc%2Fcss%2FvariablesCustomKlubschule.css&login=.%2Fsrc%2Fes%2Fcomponents%2Fmolecules%2Flogin%2Fdefault-%2Fdefault-.html&logo=.%2Fsrc%2Fes%2Fcomponents%2Fatoms%2Flogo%2Fdefault-%2Fdefault-.html&nav=.%2Fsrc%2Fes%2Fcomponents%2Fweb-components-toolbox%2Fsrc%2Fes%2Fcomponents%2Fmolecules%2FmultiLevelNavigation%2Fdefault-%2Fdefault-.html&footer=.%2Fsrc%2Fes%2Fcomponents%2Forganisms%2Ffooter%2Fdefault-%2Fdefault-.html&content=.%2Fsrc%2Fes%2Fcomponents%2Fpages%2FAngebotsliste-Suchergebnis.html"
    with-search-input
    with-location-input
    with-filter-search
    alternative-portal-ids-search="[30,31]"
    error-text="Es ist ein Fehler aufgetreten. Bitte versuchen Sie es später erneut."
>
  <section slot="empty-courses" hidden id="empty-courses">
    <h2>Es konnten keine Angebote gefunden werden.</h2>
    Tipps für ein besseres Suchresultat
    <ul>
      <li>Geben sie einen anderen Suchbegriff ein.</li>
      <li>Reduzieren sie gesetzte Filter.</li>
      <li>Suchen sie direkt in unseren Angebotsbereichen <a href="int.klubschule.ch">Sprachen</a>, <a href="int.klubschule.ch">Kreativität</a> oder <a href="int.klubschule.ch">Gesundheit</a> nach einem passenden Angebot.</li>
    </ul>
  </section>
  <section slot="partner-results" hidden id="partner-results">
    <h2>Mit «{0}» konnten wir auf unseren Partnerseiten passende Angebote finden</h2>
  </section>
</ks-o-offers-page>
