<section>
    <ks-m-tiles-filter namespace="tile-filter-default-"></ks-m-tiles-filter>
</section>

<div class="spacer"></div>

<ks-o-tile-list></ks-o-tile-list>

<div class="spacer"></div>

<h1>Angebote in der Nähe von Buchs ZH</h1>

<section>
    <style>
        :host .sort-button {
            display: flex;
            justify-content: flex-end;
        }
    </style>
    <div class="sort-button">
        <ks-a-button namespace="button-secondary-filter-" color="tertiary">
            <span>Relevanz</span>
            <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ChevronDown" size="1em" class="icon-down">
        </ks-a-button>
    </div>
</section>

<ks-o-tile-list></ks-o-tile-list>
<ks-o-tile-list></ks-o-tile-list>
<ks-m-troublemaker></ks-m-troublemaker>
<ks-o-tile-list></ks-o-tile-list>
<ks-o-tile-list></ks-o-tile-list>

<div class="spacer"></div>

<ks-a-button namespace="button-primary-" color="secondary">
    <span>Weitere Angebote</span>
    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDownRight" size="1em" class="icon-right">
</ks-a-button>

<div class="spacer"></div>
