<section>
    <style>
        :host ks-a-button,
        :host m-double-button {
            margin-right: 0.5em;
            margin-bottom: 1em;
        }
    </style>
    <ks-a-button filter namespace="button-primary-" color="secondary">
        <a-icon-mdx icon-name="FilterKlubschule" size="1em" class="icon-left"></a-icon-mdx>Alle Filter
    </ks-a-button>
    <m-double-button namespace="double-button-default-" width="100%">
        <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="space-between">
            <span part="label1">Niveau A2/A2+</span>
            <span part="label2" dynamic></span>
        </ks-a-button>
        <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="flex-start">
            <a-icon-mdx icon-name="X" size="1em"></a-icon-mdx>
        </ks-a-button>
    </m-double-button>
    <m-double-button namespace="double-button-default-" width="100%">
        <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="space-between">
            <span part="label1">Label</span>
            <span part="label2" dynamic></span>
        </ks-a-button>
        <ks-a-button filter namespace="button-primary-" color="tertiary" justify-content="flex-start">
            <a-icon-mdx icon-name="X" size="1em"></a-icon-mdx>
        </ks-a-button>
    </m-double-button>
    <ks-a-button namespace="button-secondary-" color="tertiary">
        <span>Wochentag & Tageszeit</span>
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
    </ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary">
        <span>Kategorien</span>
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
    </ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary">
        <span>Label</span>
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
    </ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary">
        <span>Label</span>
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
    </ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary">
        <span>Label</span>
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDown" size="1em" class="icon-down">
    </ks-a-button>
</section>
<div class="spacer"></div>
<ks-o-tile-list></ks-o-tile-list>
<ks-o-tile-list></ks-o-tile-list>
<ks-o-tile-list></ks-o-tile-list>
<ks-o-tile-list></ks-o-tile-list>
<ks-o-tile-list></ks-o-tile-list>
