<div>
    <ks-m-badge-legend namespace="badge-legend-default-">
        <div><ks-m-badge type="primary" icon-name="Key"
                tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry."></ks-m-badge><span>Bewilligunspflichtig</span>
        </div>
        <div><ks-m-badge type="primary" icon-name="Abo"
                tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry."></ks-m-badge><span>Nur
                mit Abonnement buchbar</span></div>
        <div><ks-m-badge type="primary" icon-name="AboPlus"
                tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry."></ks-m-badge><span>Auch
                mit Abonnement buchbar</span></div>
        <div>
            <ks-m-badge type="primary" icon-name="Percent"
                tooltip="Lorem Ipsum is simply dummy text of the printing and typesetting industry."></ks-m-badge><span>Subventionen</span>
        </div>
    </ks-m-badge-legend>
</div>