<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=6%3A4853&mode=dev" target="_blank">figma</a></code>
<ul>
    <li><a href="#primary">primary</a></li>
    <li><a href="#secondary">secondary</a></li>
    <li><a href="#tertiary">tertiary</a></li>
    <li><a href="#quaternary">quaternary</a></li>
</ul>
<style>
    section > ks-a-button + ks-a-button {
        margin-top: 1em;
    }
</style>
<h1 id="primary">Badge with icon</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-badge text="Default"></ks-m-badge>
    <hr>
    <h2>Primary</h2>
    <ks-m-badge text="Primary" type="primary"></ks-m-badge>
</section>

<h1 id="primary">Badge icon-only</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-badge></ks-m-badge>
    <hr>
    <h2>Primary</h2>
    <ks-m-badge type="primary"></ks-m-badge>
</section>
