<div>
        <ks-m-badge-legend namespace="badge-legend-default-">
                <div><ks-m-badge type="primary" icon-name="Key"></ks-m-badge><span>Bewilligunspflichtig</span>
                </div>
                <div><ks-m-badge type="primary" icon-name="Abo"></ks-m-badge><span>Nur
                                mit Abonnement buchbar</span></div>
                <div><ks-m-badge type="primary" icon-name="AboPlus"></ks-m-badge><span>Auch
                                mit Abonnement buchbar</span></div>
                <div>
                        <ks-m-badge type="primary" icon-name="Percent"></ks-m-badge><span>Subventionen</span>
                </div>
        </ks-m-badge-legend>
</div>