<h1>Button Primary</h1>
<!--
<h2>Button Primary - Color Default (--color & --color-hover, etc.)</h2>
<ks-a-button namespace="button-primary-">color="secondary"</ks-a-button>
<ks-a-button namespace="button-primary-" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-primary-" class="active">active</ks-a-button>
<hr>
-->
<h2>Button Primary - Color Secondary (--color-secondary & --color-hover, etc.)</h2>
<ks-a-button namespace="button-primary-" color="secondary">color="secondary"</ks-a-button>
<ks-a-button namespace="button-primary-" color="secondary" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-primary-" color="secondary" class="active">active</ks-a-button>
<hr>
<h2>Button Primary - Color Tertiary (--color-tertiary & --color-tertiary-hover, etc.)</h2>
<ks-a-button namespace="button-primary-" color="tertiary">color="tertiary"</ks-a-button>
<ks-a-button namespace="button-primary-" color="tertiary" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-primary-" color="tertiary" class="active">active</ks-a-button>
<hr>
<h2>Button Primary - Color Quaternary (--color-quaternary & --color-quaternary-hover, etc.)</h2>
<ks-a-button namespace="button-primary-" color="quaternary">color="quaternary"</ks-a-button>
<ks-a-button namespace="button-primary-" color="quaternary" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-primary-" color="quaternary" class="active">active</ks-a-button>
<hr>
<h1>Button Secondary</h1>
<!--
<h2>Button Secondary - Color Default (--color & --color-hover, etc.)</h2>
<ks-a-button namespace="button-secondary-">color="secondary"</ks-a-button>
<ks-a-button namespace="button-secondary-" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-secondary-" class="active">active</ks-a-button>
<hr>
-->
<h2>Button Secondary - Color Secondary (--color-secondary & --color-hover, etc.)</h2>
<ks-a-button namespace="button-secondary-" color="secondary">color="secondary"</ks-a-button>
<ks-a-button namespace="button-secondary-" color="secondary" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-secondary-" color="secondary" class="active">active</ks-a-button>
<hr>
<h2>Button Secondary - Color Tertiary (--color-tertiary & --color-tertiary-hover, etc.)</h2>
<ks-a-button namespace="button-secondary-" color="tertiary">color="tertiary"</ks-a-button>
<ks-a-button namespace="button-secondary-" color="tertiary" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-secondary-" color="tertiary" class="active">active</ks-a-button>
<hr>
<h2>Button Secondary - Color Quaternary (--color-quaternary & --color-quaternary-hover, etc.)</h2>
<ks-a-button namespace="button-secondary-" color="quaternary">color="quaternary"</ks-a-button>
<ks-a-button namespace="button-secondary-" color="quaternary" disabled>disabled</ks-a-button>
<ks-a-button namespace="button-secondary-" color="quaternary" class="active">active</ks-a-button>
<hr>
<br><br><br>
<ks-a-button namespace="button-primary-" color="tertiary">color="tertiary"</ks-a-button>
<m-double-button namespace="double-button-default-">
    <ks-a-button namespace="button-primary-" color="quaternary" justify-content="flex-start">Abend</ks-a-button>
    <ks-a-button namespace="button-primary-" color="quaternary" justify-content="flex-start">x</ks-a-button>
</m-double-button>
<m-double-button namespace="double-button-default-">
    <ks-a-button namespace="button-primary-" color="quaternary" justify-content="flex-start">Mo, Di, Fr</ks-a-button>
    <ks-a-button namespace="button-primary-" color="quaternary" justify-content="flex-start">x</ks-a-button>
</m-double-button>
<ks-a-button namespace="button-secondary-" color="quaternary" justify-content="flex-start">Wochentag & Tageszeit</ks-a-button>
<ks-a-button namespace="button-secondary-" color="quaternary" justify-content="flex-start">Lernlevel</ks-a-button>
<ks-a-button namespace="button-secondary-" color="quaternary" justify-content="flex-start">Kategorien</ks-a-button>
<ks-a-button namespace="button-secondary-" color="tertiary" justify-content="flex-start">Kategorien</ks-a-button>