<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=6%3A4853&mode=dev" target="_blank">figma</a></code>
<ul>
    <li><a href="#primary">primary</a></li>
    <li><a href="#secondary">secondary</a></li>
    <li><a href="#tertiary">tertiary</a></li>
    <li><a href="#quaternary">quaternary</a></li>
</ul>
<style>
    section > ks-a-button + ks-a-button {
        margin-top: 1em;
    }
</style>
<h1 id="primary">namespace="button-primary-"</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>color="secondary" aka. Figma (Button Primary Color)</h2>
    <!--
    <h2>Button Primary - Color Default (--color & --color-hover, etc.)</h2>
    <ks-a-button namespace="button-primary-">color="secondary"</ks-a-button>
    <ks-a-button namespace="button-primary-" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" class="active">active</ks-a-button>
    <hr>
    -->
    <ks-a-button namespace="button-primary-" color="secondary">color="secondary"</ks-a-button>
    <ks-a-button namespace="button-primary-" color="secondary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" color="secondary" class="active">active</ks-a-button>
    <hr>
    <h2>color="tertiary" aka. Figma (Button Neutral Color)</h2>
    <ks-a-button namespace="button-primary-" color="tertiary">color="tertiary"</ks-a-button>
    <ks-a-button namespace="button-primary-" color="tertiary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" color="tertiary" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-blue" quaternary aka. Figma</h2>
    <ks-a-button namespace="button-primary-" color="ks-blue">color="ks-blue"</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-blue" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-blue" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-red" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-primary-" color="ks-red">color="ks-red"</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-red" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-red" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-green" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-primary-" color="ks-green">color="ks-green"</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-green" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-green" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-orange" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-primary-" color="ks-orange">color="ks-orange"</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-orange" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-primary-" color="ks-orange" class="active">active</ks-a-button>
    <hr>
    <h2>with icon -> color="secondary" aka. Figma (Button Primary Color)</h2>
    <div style="display: flex; gap: 0.25em; flex-wrap: wrap;">
        <ks-a-button namespace="button-primary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon left
        </ks-a-button>
        <ks-a-button namespace="button-primary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon on both sides<a-icon-mdx icon-name="Heart" size="1em"  class="icon-right"></a-icon-mdx>
        </ks-a-button>
        <ks-a-button namespace="button-primary-" color="secondary">
            icon right<a-icon-mdx icon-name="Heart" size="1em" class="icon-right"></a-icon-mdx>
        </ks-a-button>
    </div>
    <hr>
</section>

<h1 id="secondary">namespace="button-secondary-"</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>color="secondary" Secondary aka. Figma (Button Primary Color)</h2>
    <ks-a-button namespace="button-secondary-" color="secondary">color="secondary"</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="secondary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="secondary" class="active">active</ks-a-button>
    <hr>
    <h2>color="tertiary" Tertiary aka. Figma (Button Neutral Color)</h2>
    <ks-a-button namespace="button-secondary-" color="tertiary">color="tertiary"</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-blue" Quaternary aka. Figma</h2>
    <ks-a-button namespace="button-secondary-" color="ks-blue">color="ks-blue"</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-blue" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-blue" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-red" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-secondary-" color="ks-red">color="ks-red"</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-red" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-red" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-green" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-secondary-" color="ks-green">color="ks-green"</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-green" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-green" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-orange" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-secondary-" color="ks-orange">color="ks-orange"</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-orange" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="ks-orange" class="active">active</ks-a-button>
    <hr>
    <h2>with icon -> color="secondary" aka. Figma (Button Primary Color)</h2>
    <div style="display: flex; gap: 0.25em; flex-wrap: wrap;">
        <ks-a-button namespace="button-secondary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon left
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon on both sides<a-icon-mdx icon-name="Heart" size="1em"  class="icon-right"></a-icon-mdx>
        </ks-a-button>
        <ks-a-button namespace="button-secondary-" color="secondary">
            icon right<a-icon-mdx icon-name="Heart" size="1em" class="icon-right"></a-icon-mdx>
        </ks-a-button>
    </div>
    <hr>
</section>

<h1 id="tertiary">namespace="button-tertiary-"</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>color="secondary" Secondary aka. Figma (Button Primary Color)</h2>
    <ks-a-button namespace="button-tertiary-" color="secondary">color="tertiary"</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="secondary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="secondary" class="active">active</ks-a-button>
    <hr>
    <h2>color="tertiary" Tertiary aka. Figma (Button Neutral Color)</h2>
    <ks-a-button namespace="button-tertiary-" color="tertiary">color="tertiary"</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="tertiary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="tertiary" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-blue" Quaternary aka. Figma</h2>
    <ks-a-button namespace="button-tertiary-" color="ks-blue">color="ks-blue"</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-blue" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-blue" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-red" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-tertiary-" color="ks-red">color="ks-red"</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-red" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-red" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-green" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-tertiary-" color="ks-green">color="ks-green"</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-green" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-green" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-orange" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-tertiary-" color="ks-orange">color="ks-orange"</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-orange" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-tertiary-" color="ks-orange" class="active">active</ks-a-button>
    <hr>
    <h2>with icon -> color="secondary" aka. Figma (Button Primary Color)</h2>
    <div style="display: flex; gap: 0.25em; flex-wrap: wrap;">
        <ks-a-button namespace="button-tertiary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon left
        </ks-a-button>
        <ks-a-button namespace="button-tertiary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon on both sides<a-icon-mdx icon-name="Heart" size="1em"  class="icon-right"></a-icon-mdx>
        </ks-a-button>
        <ks-a-button namespace="button-tertiary-" color="secondary">
            icon right<a-icon-mdx icon-name="Heart" size="1em" class="icon-right"></a-icon-mdx>
        </ks-a-button>
    </div>
    <hr>
</section>

<h1 id="quaternary">namespace="button-quaternary-"</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>color="secondary" Secondary aka. Figma (Button Primary Color)</h2>
    <ks-a-button namespace="button-quaternary-" color="secondary">color="ks-blue"</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="secondary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="secondary" class="active">active</ks-a-button>
    <hr>
    <h2>color="tertiary" Tertiary aka. Figma (Button Neutral Color)</h2>
    <ks-a-button namespace="button-quaternary-" color="tertiary">color="tertiary"</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="tertiary" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="tertiary" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-blue" Quaternary aka. Figma</h2>
    <ks-a-button namespace="button-quaternary-" color="ks-blue">color="ks-blue"</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-blue" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-blue" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-red" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-quaternary-" color="ks-red">color="ks-red"</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-red" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-red" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-green" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-quaternary-" color="ks-green">color="ks-green"</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-green" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-green" class="active">active</ks-a-button>
    <hr>
    <h2>color="ks-orange" Quinary aka. Figma</h2>
    <ks-a-button namespace="button-quaternary-" color="ks-orange">color="ks-orange"</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-orange" disabled>disabled</ks-a-button>
    <ks-a-button namespace="button-quaternary-" color="ks-orange" class="active">active</ks-a-button>
    <hr>
    <h2>with icon -> color="secondary" aka. Figma (Button Primary Color)</h2>
    <div style="display: flex; gap: 0.25em; flex-wrap: wrap;">
        <ks-a-button namespace="button-quaternary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon left
        </ks-a-button>
        <ks-a-button namespace="button-quaternary-" color="secondary">
            <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>icon on both sides<a-icon-mdx icon-name="Heart" size="1em"  class="icon-right"></a-icon-mdx>
        </ks-a-button>
        <ks-a-button namespace="button-quaternary-" color="secondary">
            icon right<a-icon-mdx icon-name="Heart" size="1em" class="icon-right"></a-icon-mdx>
        </ks-a-button>
    </div>
    <hr>
</section>

<script type="text/javascript" src="../../../../e2e/loader.js"></script>
