<m-carousel-two namespace=carousel-two-3-column- nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
    <section>
        <ks-m-teaser namespace=teaser-story- color="secondary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser namespace=teaser-story- color="quaternary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser namespace=teaser-story- color="quinary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser namespace=teaser-story- color="senary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser namespace=teaser-story- color="septenary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser namespace=teaser-story- color="senary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser namespace=teaser-story- color="septenary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
    </section>
    <div>
        <nav>
            <a href="#previous" aria-label="previous slide">
                <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
            </a>
            <a href="#next" aria-label="next slide">
                <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
            </a>
        </nav>
    </div>
</m-carousel-two>

<m-carousel-two namespace=carousel-two-image- nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
    <section>
        <ks-m-figure with-line>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/kenan-sulayman-FV3M7igu8Fs-unsplash.jpg" alt="Yosemite"></a-picture>
        </ks-m-figure>
        <ks-m-figure with-line>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/anastasia-dulgier-NCFTGtjY3EQ-unsplash.jpg" alt="Houses"></a-picture>

            <figcaption>more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses</figcaption>
        </ks-m-figure>
        <ks-m-figure with-line>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/arnaud-mariat-IPXcUYHeErc-unsplash.jpg" alt="Galaxies"></a-picture>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/vladimir-kondriianenko-bxwzcFy9YwM-unsplash.jpg" alt="Minimalist nightmare"></a-picture>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/matthew-smith-9CV6WrxxdrM-unsplash.jpg" alt="Motel"></a-picture>
            <figcaption>Some figcaption</figcaption>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/jakob-owens-EkxOtUljwhs-unsplash.jpg" alt="Hoops"></a-picture>
            <figcaption>Another figcaption</figcaption>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/tim-bogdanov-4uojMEdcwI8-unsplash.jpg" alt="Gentleman"></a-picture>
            <figcaption>more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses more Houses</figcaption>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/weston-mackinnon-caUtk0DTiR0-unsplash.jpg" alt="Stuff"></a-picture>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/a3ac1ed5abaedffd9947face7901e14c.jpg" alt="Stuff"></a-picture>
        </ks-m-figure>
        <ks-m-figure>
            <a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load defaultSource="../src/es/components/molecules/carouselTwo/default-/img/weston-mackinnon-caUtk0DTiR0-unsplash.jpg" alt="Stuff"></a-picture>
        </ks-m-figure>
    </section>
    <div>
        <p id="index">
            some Text
        </p>
        <nav>
            <a href="#previous" aria-label="previous slide">
                <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
            </a>
            <a href="#next" aria-label="next slide">
                <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
            </a>
        </nav>
    </div>
</m-carousel-two>