<section>
    <m-dialog
        namespace="dialog-left-slide-in-"
    >
        <div class="container dialog-header" tabindex="0">
            <div id="back">
                <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
            </div>
            <h3>Center</h3>
            <div id="close">
                <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
            </div>
        </div>
        <div class="container">
            <ks-m-center-filter-list namespace="center-default-" lang="de" reset-text="zurücksetzen"></ks-m-center-filter-list>
        </div>
        <a id="show-modal">Open Center Filter</a>
    </m-dialog>
</section>
