<ks-c-centers mock>
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Center</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container">
                <ks-m-center-filter-list namespace="center-default-" lang="de" reset-text="zurücksetzen"></ks-m-center-filter-list>
            </div>
            <a id="show-modal">&Ouml;ffne Center Filter</a>
        </m-dialog>
    </section>
</ks-c-centers>

<ks-c-centers mock>
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Centre</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container">
                <ks-m-center-filter-list namespace="center-default-" lang="fr" reset-text="réinitialiser"></ks-m-center-filter-list>
            </div>
            <a id="show-modal">Ouvrir le filtre du centre</a>
        </m-dialog>
    </section>
</ks-c-centers>

<ks-c-centers mock>
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Centrale</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container">
                <ks-m-center-filter-list namespace="center-default-" lang="de" reset-text="azzeramento"></ks-m-center-filter-list>
            </div>
            <a id="show-modal">Filtro centrale aperto</a>
        </m-dialog>
    </section>
</ks-c-centers>