<!-- setting style width to 100% is currently necessary as I can't make the checkout layout full width otherwise -->
<m-simple-form-validation
  namespace="simple-form-miduweb-"
  no-validation-error-css
  endpoint="/api/test"
  method="POST"
  schema="{
    'teilnehmerdaten': {
      'adresse': 'gespeichert',
      'anrede': '',
      'vorname': '',
      'nachname': '',
      'strasse': '',
      'zusatz': '',
      'plz': '',
      'ort': '',
      'land': '',
      'geburtsdatum': '',
      'telefon': '',
      'email': ''
    }
  }"
>
  <form>
    <ks-o-checkout mode="false">
      <ks-o-checkout-layout>
        <section id="main">
          <h2>Teilnehmerdaten</h2>
          <br>
          <div>
            <ks-m-select mode="false">
              <div class="wrap">
                  <label for="adresse">Adresse aus Ihrem Migros Konto</label>
                  <select id="adresse" name="adresse">
                      <option value="gespeichert">Gespeicherte Adresse wählen</option>
                      <option value="neu">Neue Adresse wählen</option>
                  </select>
              </div>
            </ks-m-select>            
          </div>
          <br>
          <br>
          <div>
            <label>Anrede *</label>
            <ks-a-radio row mode="false">
              <div class="wrap">
                  <label for="anrede-herr">Herr</label>
                  <input 
                      type="radio" 
                      id="anrede-herr" 
                      name="anrede" 
                      value="Herr"
                      required
                      error-message-reference-point-changed="true"
                      no-error-text-p 
                      error-text-tag-name="span" 
                      data-m-v-rules='{"required": {"error-message": "Bitte Anrede wählen."}}'
                  >
                  <div class="box"></div>
              </div>
              <div class="wrap">
                  <label for="anrede-frau">Frau</label>
                  <input 
                      type="radio" 
                      id="anrede-frau" 
                      name="anrede" 
                      value="Frau"
                      error-message-reference-point-changed="true"
                      no-error-text-p 
                      error-text-tag-name="span" 
                      data-m-v-rules='{"required": {"error-message": "Bitte Anrede wählen."}}'
                  >
                  <div class="box"></div>
              </div>
              <div class="message">
                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" rotate="0" class="icon-right" new-error-message-reference-point="true"></a-icon-mdx>
              </div>
            </ks-a-radio>
          </div>
          <br>
          <div>
            <o-grid namespace="grid-12er-" mobile-breakpoint="600px" tablet-breakpoint="1300px" mode="false" id="checkout-bewilliger-grid">
              <div col-lg="6" col-md="6" col-sm="12">
                <ks-a-input mode="false">
                  <div class="wrap">
                      <label for="vorname">Vorname *</label>
                      <input id="vorname" name="vorname" type="text" required
                        error-message-reference-point-changed="true"
                        no-error-text-p
                        error-text-tag-name="span"
                        data-m-v-rules='{"required": {"error-message": "Bitte Vornamen angeben."}}'
                      >
                      <div class="message">
                          <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>                
                      </div>
                  </div>
                </ks-a-input>
              </div>
              <div col-lg="6" col-md="6" col-sm="12">
                <ks-a-input mode="false">
                  <div class="wrap">
                      <label for="nachname">Nachname *</label>
                      <input id="nachname" name="nachname" type="text" required
                        error-message-reference-point-changed="true"
                        no-error-text-p
                        error-text-tag-name="span"
                        data-m-v-rules='{"required": {"error-message": "Bitte Nachnamen angeben."}}'
                      >
                      <div class="message">
                          <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>                
                      </div>
                  </div>
                </ks-a-input>
              </div>
            </o-grid>
          </div>
          <br>
          <div>
            <ks-a-input mode="false">
              <div class="wrap">
                  <label for="strasse">Strasse / Nr. *</label>
                  <input id="strasse" name="strasse" type="text" required
                    error-message-reference-point-changed="true"
                    no-error-text-p
                    error-text-tag-name="span"
                    data-m-v-rules='{"required": {"error-message": "Bitte Strasse angeben."}}'
                  >
                  <div class="message">
                      <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>                
                  </div>
              </div>
            </ks-a-input>
          </div>
          <br>
          <div>
            <ks-a-input mode="false">
              <div class="wrap">
                  <label for="zusatz">Zusatz</label>
                  <input id="zusatz" name="zusatz" type="text">
              </div>
            </ks-a-input>
          </div>
          <br>
          <div>
            <o-grid namespace="grid-12er-" mobile-breakpoint="600px" tablet-breakpoint="1300px" mode="false" id="checkout-teilnehmer-grid">
              <div col-lg="4" col-md="4" col-sm="12">
                <ks-a-input mode="false">
                  <div class="wrap">
                      <label for="plz">PLZ *</label>
                      <input id="plz" name="plz" type="number" maxlength="5" required
                        error-message-reference-point-changed="true"
                        no-error-text-p
                        error-text-tag-name="span"
                        data-m-v-rules='{"required": {"error-message": "Bitte PLZ angeben."}}'
                      >
                      <div class="message">
                          <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>                
                      </div>
                  </div>
                </ks-a-input>
              </div>
              <div col-lg="8" col-md="8" col-sm="12">
                <ks-a-input mode="false">
                  <div class="wrap">
                      <label for="ort">Ort *</label>
                      <input id="ort" name="ort" type="text" required
                        error-message-reference-point-changed="true"
                        no-error-text-p
                        error-text-tag-name="span"
                        data-m-v-rules='{"required": {"error-message": "Bitte Ort angeben."}}'
                      >
                      <div class="message">
                          <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>                
                      </div>
                  </div>
                </ks-a-input>
              </div>
            </o-grid>
          </div>
          <br>
          <div>
            <ks-m-select mode="false">
              <div class="wrap">
                  <label for="land">Land *</label>
                  <select id="land" name="land" required
                    error-message-reference-point-changed="true"
                    no-error-text-p 
                    error-text-tag-name="span" 
                    data-m-v-rules='{"required": {"error-message": "Bitte Land auswählen."}}'                  
                  >
                      <option value="">Land wählen</option>
                      <option value="ch">Schweiz</option>
                      <option value="de">Deutschland</option>
                      <option value="fr">Frankreich</option>
                  </select>
                  <div class="message">
                    <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" rotate="0" class="icon-right" new-error-message-reference-point="true"></a-icon-mdx>
                  </div>
              </div>
            </ks-m-select>            
          </div>
          <br>
          <div>
            <ks-a-input mode="false">
              <div>
                  <label for="geburtsdatum">Geburtsdatum *</label>
                  <input 
                      type="date" 
                      id="geburtsdatum" 
                      name="geburtsdatum" 
                      required
                      data-m-v-rules='{"required": {"error-message": "Bitte Geburtsdatum angeben."}}'
                  >
                  <div class="hint">
                    <span>This is a hint.</span>
                  </div>
              </div>
            </ks-a-input>
          </div>
          <br>
          <div>
            <ks-a-input mode="false">
              <div class="wrap">
                  <label for="telefon">Telefon *</label>
                  <input id="telefon" name="telefon" type="number" required
                    error-message-reference-point-changed="true"
                    no-error-text-p
                    error-text-tag-name="span"
                    data-m-v-rules='{"required": {"error-message": "Bitte Telefon angeben."}}'
                  >
                  <div class="message">
                      <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>                
                  </div>
              </div>
            </ks-a-input>
          </div>
          <br>
          <div>
            <ks-a-input mode="false">
              <div class="wrap">
                  <label for="email">Email *</label>
                  <input id="email" name="email" type="email"
                      pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" required
                      error-message-reference-point-changed="true" no-error-text-p
                      error-text-tag-name="span"
                      data-m-v-rules='{"required": {"error-message": "Bitte E-Mail angeben."}}'>
                  <div class="message">
                      <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="1em"
                          class="icon-left" new-error-message-reference-point="true"></a-icon-mdx>
                  </div>
              </div>
            </ks-a-input>
          </div>
        </section>
        <section id="bottom">
          <ks-m-back-forward mode="false" back-label="Zurück" back-link="#back" forward-label="Weiter zur Zahlung"
              submit></ks-m-back-forward>
        </section>
      </ks-o-checkout-layout>
    </ks-o-checkout>
  </form>
</m-simple-form-validation>
