<h1>Checkout Zusaetzliche Angaben</h1>

<p>
  <code><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=14114-166621&m=dev" target="_blank">figma</a></code>
</p>
<hr />

<ks-m-checkout-box-wrapper>
  <div>
      <ks-a-input mode="false">
          <div class="wrap">
              <label for="textarea-01">Ihre Angaben</label>
              <textarea id="textarea-01" name="textarea-01" rows="4" cols="20" maxlength="150"
              ></textarea>
              <div class="hint">
                  <span></span>
                  <div class="counter">
                      <span class="current">0</span>
                      <span class="max"></span>
                  </div>
              </div>
          </div>
      </ks-a-input>
  </div>            
</ks-m-checkout-box-wrapper>