<h1 id="primary">Select</h1>
<section style="padding: 1em;">
    <div>
        <ks-m-checkout-insurance>
            <h2>Kurskosten absichern?</h2>
            <p>Mit einer Annullationskostenversicherung erhalten Sie in folgenden Fällen Ihr Kursgeld zurück:</p>
            <ul>
                <li>Krankheit, Verletzung, Tod</li>
                <li>unvorhergesehener Wechsel des Arbeitsplatzes</li>
                <li>unverschuldete Kündigung des Arbeitsplatzes</li>
                <li>beruflich bedingter Wohnort-wechsel</li>
            </ul>
            <ks-a-radio>
                <div class="wrap">
                    <label for="rb-01-01">Mit Versicherung</label>
                    <input id="rb-01-01" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-02">Ohne Versicherung</label>
                    <input id="rb-01-02" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
            </ks-a-radio>
        </ks-m-checkout-insurance>
    </div>
</section>
