<h1 id="primary">Checkbox</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'cb-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Default</h2>
                    <div>
                        <ks-a-checkbox mode="false" namespace="checkbox-default-">
                            <div class="wrap">
                                <div class="control">
                                    <label for="cb-01">Checkbox Label</label>
                                    <input id="cb-01" name="cb-01" type="checkbox">
                                    <div class="box">
                                        <a-icon-mdx icon-name="Check" size="1.25em" rotate="0"
                                            class="icon-right"></a-icon-mdx>
                                    </div>
                                </div>
                            </div>
                        </ks-a-checkbox>
                    </div>
                </section>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </m-simple-form-validation>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'cb-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Required</h2>
                    <div>
                        <ks-a-checkbox mode="false" namespace="checkbox-default-">
                            <div class="wrap">
                                <div class="control">
                                    <label for="cb-01">Checkbox Label *</label>
                                    <input id="cb-01" name="cb-01" type="checkbox" required
                                        error-message-reference-point-changed="true" no-error-text-p
                                        error-text-tag-name="span"
                                        data-m-v-rules='{"required": {"error-message": "This is an error message."}}'>
                                    <div class="box">
                                        <a-icon-mdx icon-name="Check" size="1.25em" rotate="0"
                                            class="icon-right"></a-icon-mdx>
                                    </div>
                                </div>
                                <div class="message">
                                    <a-icon-mdx icon-name="AlertCircle" size="1em" rotate="0" class="icon-right"
                                        new-error-message-reference-point="true"></a-icon-mdx>
                                </div>
                            </div>
                        </ks-a-checkbox>
                    </div>
                </section>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </m-simple-form-validation>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'cb-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Disabled</h2>
                    <div>
                        <ks-a-checkbox mode="false" namespace="checkbox-default-">
                            <div class="wrap disabled">
                                <div class="control">
                                    <label for="cb-01">Checkbox Label</label>
                                    <input id="cb-01" name="cb-01" type="checkbox">
                                    <div class="box">
                                        <a-icon-mdx icon-name="Check" size="1.25em" rotate="0"
                                            class="icon-right"></a-icon-mdx>
                                    </div>
                                </div>
                            </div>
                        </ks-a-checkbox>
                    </div>
                </section>
            </form>
        </m-simple-form-validation>
    </div>
</section>