<ks-m-checkout-booked-offer
    headline="Headline"
    name="Angebotsname"
    status="{'code': '1', 'label': 'Garantiert Durchgeführt'}"
    date="22.4.2023 - 19.6.2023"
    time="Mo, 18:00 - 20:00 Uhr"
    street="Hofwiesenstrasse 350"
    city="8050 Zürich"
    course-price="CHF 630.00"
    initial-configuration-price-data='{
        "annulationskostenversicherungPreis": 16.75,
        "lehrmittelPreis": 16.9,
        "materialPreis": 0,
        "totalPreisOhneAnnulation": 646.9,
        "totalPreisMitAnnulation": 663.65
    }'
>
</ks-m-checkout-booked-offer>