<ks-m-checkout-booked-offer
    headline="Headline"
    name="Angebotsname"
    status="{'code': '1', 'label': 'Garantiert Durchgeführt'}"
    date="22.4.2023 - 19.6.2023"
    time="Mo, 18:00 - 20:00 Uhr"
    street="Hofwiesenstrasse 350"
    city="8050 Zürich"
    course-price="630.00 CHF"
    initial-configuration-price-data='{
        "annulationskostenversicherungPreis": "16.75 CHF",
        "lehrmittelPreis": "16.90 CHF",
        "materialPreis": "0.00 CHF",
        "totalPreis": "646.90 CHF",
    }'
>
</ks-m-checkout-booked-offer>