<div>Checkout Login</div>
<hr>

<ks-o-checkout-layout>

    <section id="top">
        <ks-m-checkout-color-stage 
            back-label="Zurück" 
            back-link="#"
            title="Login"
        >
        </ks-m-checkout-color-stage>
    </section>

    <section id="main">
        <ks-a-heading tag="h2" style-as="h1">Mit Migros Konto anmelden</ks-a-heading>
        <mdx-login-button></mdx-login-button>
        <ks-a-heading tag="h3">Ihre Vorteile mit einem Migros Konto</ks-a-heading>
        <ul>
            <li>Schnellere Anmeldung durch Adressübernahme aus Ihrem Migros Konto</li>
            <li>Nutzung der Merkliste über diverse Geräte hinweg.</li>
            <li>Verwaltung Ihrer Abonnement-Termine</li>
        </ul>
    </section>

    <section id="sidebar">
        <ks-a-heading tag="h2" style-as="h1">Als Gast anmelden</ks-a-heading>
        <ks-a-button namespace="button-secondary-" color="secondary">Weiter als Gast</ks-a-button>
        <p>Sie können später ein Migros Konto erstellen, falls Sie wollen.</p>
    </section>

</ks-o-checkout-layout>