<h1>Checkout Lehrmittel Konfiguration</h1>

<h2>No Message</h2>
<p><code><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=6179-53770&m=dev" target="_blank">figma</a></code>
</p>
<hr />

<!-- booking informations  -->
<ks-m-checkout-box-wrapper>
    <ks-m-info-list status="{'code': '1', 'label': 'Garantiert Durchgeführt'}">
        <div>
            <ks-a-heading tag="h2" style-as="h3">Badminton GU Fortgeschrittene 6 TN</ks-a-heading>
            <div class="list-wrapper">
                <ul>
                    <li class="js-status">
                    </li>
                    <li>
                        <a-icon-mdx icon-name="Calendar" size="1.5rem"></a-icon-mdx>
                        <span>
                            22.4.2023 - 19.6.2023<br />
                            Mo, 18:00 - 20:00 Uhr
                        </span>
                    </li>
                    <li>
                        <a-icon-mdx icon-name="Location" size="1.5rem"></a-icon-mdx>
                        <span>
                            Hofwiesenstrasse 350<br />
                            8050 Zürich
                        </span>
                    </li>
                    <li>
                        <a-icon-mdx icon-name="ShoppingList" size="1.5rem"></a-icon-mdx>
                        <span>Kurs Nr. E_1198345</span>
                    </li>
                </ul>
                <div>
                    <ks-a-heading tag="h3">
                        Teilnehmer
                    </ks-a-heading>
                    <div>
                        <span><strong>Herr Hans Muster<br></strong></span>
                        <span>
                            Beispielstrasse 12, 3. OG<br>
                            8001 Zürich<br>
                            Schweiz
                        </span>
                    </div>
                    <div class="info-wrapper">
                        <table>
                            <tr>
                                <td><strong>E-Mail</strong></td>
                                <td>hans.muster@beispiel.ch</td>
                            </tr>
                            <tr>
                                <td><strong>Phone</strong></td>
                                <td>078 456 23 43</td>
                            </tr>
                            <tr>
                                <td><strong>Birthday</strong></td>
                                <td>08.03.2002</td>
                            </tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr>
                                <td><strong>Anmeldung als Geschenk</strong></td>
                                <td>Korrespondenz direkt zum/zur Teilnehmenden ab 09.03.2024.</td>
                            </tr>
                        </table>
                    </div>
                    <a class="spacing-y" href="https://www.migros.ch/en" target="_self">Angaben ändern</a>
                    <div class="flex">
                        <span>
                            <strong>
                                Kursgeld
                            </strong>
                        </span>
                        <span>
                            CHF 220.00
                        </span>
                    </div>
                    <div class="flex">
                        <span>
                            <strong>
                                E-book
                            </strong>
                            <br>
                            Speakout 2nd Edition Pre-Intermediate Workbook with key Bundle
                        </span>
                        <span>
                            CHF 12.30
                        </span>
                    </div>
                    <div class="flex">
                        <span>
                            <strong>
                                E-book
                            </strong>
                            <br>
                            Speakout 2nd Edition Pre-Intermediate Workbook with key Bundle
                        </span>
                        <span>
                            CHF 12.30
                        </span>
                    </div>
                    <a class="spacing-top" href="https://www.migros.ch/en" target="_self">Angaben ändern</a>
                    <hr />
                    <div class="flex total">
                        <span>
                            <a-translation data-trans-key="Checkout.Total"></a-translation>
                        </span>
                        <div>
                            <span>244.60 CHF</span>
                            <span><a-translation data-trans-key="Checkout.Tax"></a-translation></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ks-m-info-list>
</ks-m-checkout-box-wrapper>
<!-- /booking informations  -->