<h1>Checkout Lehrmittel Konfiguration</h1>
<p><code><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=6179-53770&m=dev" target="_blank">figma</a></code>
</p>
<hr />

<div style="width: 100%">
    <m-simple-form-validation 
        namespace="simple-form-miduweb-" 
        no-validation-error-css
        endpoint="/api/test" 
        method="POST"
    >
        <form>
            <ks-c-checkout endpoint="https://dev.klubschule.ch/umbraco/api/CommerceApi/Recalculate"
                initial-request="{'portalId': 29,'mandantId': 111,'kursTyp': 'E','kursId': 1725969,'centerId': 1016,'spracheId': 'D'}">
                <ks-o-checkout mode="false">
                    <ks-o-checkout-layout>

                        <section id="top">
                            <ks-m-checkout-color-stage back-label="Zurück (fallback browser back)"
                                title="Konfiguration: {{ Angebotstitel }}">
                            </ks-m-checkout-color-stage>
                        </section>

                        <section id="main" mode="false">

                            <!-- Abonnement Konfiguration Start -->
                            <div class="checkout-form-group">
                              <ks-m-system-notification namespace="system-notification-default-" icon-name="AlertCircle" icon-size="26px" icon-blue>
                                <div slot="description">
                                    <p>Bitte beachten Sie, dass das Abonnement nach dem Kauf zuerst durch die Klubschule manuell freigeschalten werden muss. Dieser Prozess wird nur innerhalb der normalen Arbeitszeiten durchgeführt.</p>
                                </div>
                              </ks-m-system-notification>
                              <ks-a-heading tag="h2" style-as="h1">Ab wann soll Ihr Abonnement gültig sein?</ks-a-heading>
                              <ks-a-input mode="false">
                                  <div>
                                      <label>Start der Gültigkeit *</label>
                                      <input 
                                          type="date" 
                                          id="checkout-form-abo-start-date" 
                                          name="start-date" 
                                          onfocus="this.min=new Date().toISOString().split('T')[0]"
                                          required
                                          data-m-v-rules='{"required": {"error-message": "Bitte Datum angeben."}}'
                                      >
                                  </div>
                              </ks-a-input>
                            </div>
                            <!-- Abonnement Konfiguration Ende -->

                            <!-- Buchungsart Start -->
                            <div class="checkout-form-group">
                              <ks-a-heading tag="h2" style-as="h1">Buchungsart</ks-a-heading>
                              <p>Bitte geben Sie an, ob diese Buchung ihre Firma bezahlt oder ob Sie die Kurskosten privat tragen.</p>
                              <ks-a-radio mode="false">
                                  <div class="wrap">
                                      <label for="checkout-form-booking-type-company">Bezahlung durch Firma</label>
                                      <input 
                                          type="radio" 
                                          id="checkout-form-booking-type-company" 
                                          name="booking-type" 
                                          value="company"
                                          required
                                          error-message-reference-point-changed="true"
                                          no-error-text-p 
                                          error-text-tag-name="span" 
                                          data-m-v-rules='{"required": {"error-message": "Bitte Buchungsart angeben."}}'
                                      >
                                      <div class="box"></div>
                                  </div>
                                  <div class="wrap">
                                      <label for="checkout-form-booking-type-private">Ich bezahle selbst</label>
                                      <input 
                                          type="radio" 
                                          id="checkout-form-booking-type-private" 
                                          name="booking-type" 
                                          value="private"
                                          error-message-reference-point-changed="true"
                                          no-error-text-p 
                                          error-text-tag-name="span" 
                                          data-m-v-rules='{"required": {"error-message": "Bitte Buchungsart angeben."}}'
                                      >
                                      <div class="box"></div>
                                  </div>
                                  <div class="message">
                                      <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" rotate="0" class="icon-right" new-error-message-reference-point="true"></a-icon-mdx>
                                  </div>
                              </ks-a-radio>
                            </div>
                            <!-- Buchungsart Ende -->

                            <!-- Lehrmittel Start -->
                            <div class="checkout-form-group">
                                <ks-a-heading tag="h2" style-as="h1">Lehrmittel</ks-a-heading>
                                <p>
                                    Bitte wählen Sie Ihre gewünschte Lehrmittelform aus. Wenn Sie kein Lehrmittel bestellen, bitten wir Sie, das Lehrmittel bis zum Kursstart selbst zu organisieren.
                                </p>
                              <ks-a-heading tag="h3">Speakout 2nd Edition Pre-Intermediate Workbook with key
                                  Bundle</ks-a-heading>

                                  <ks-m-select mode="false">
                                    <div class="wrap">
                                        <label for="select-01">Lehrmittel</label>
                                        <select id="select-01" name="select-01" required
                                            error-message-reference-point-changed="true"
                                            no-error-text-p 
                                            error-text-tag-name="span" 
                                            data-m-v-rules='{"required": {"error-message": "Bitte Sprache auswählen."}}'                  
                                        >                                          
                                            <option value="">Lehrmittel wählen...</option>
                                            <option value="0">E-Book / CHF 22.40</option>
                                            <option value="1">E-Book / CHF 23.40</option>
                                            <option value="2">E-Book / CHF 24.40</option>
                                            <option value="3">E-Book / CHF 25.40</option>
                                        </select>
                                        <div class="message">
                                            <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" rotate="0" class="icon-right" new-error-message-reference-point="true"></a-icon-mdx>
                                        </div>
                                    </div>
                                </ks-m-select>   
                                <ks-a-heading tag="h3">Speakout 2nd Edition Pre-Intermediate Student Book mit DVD
                                    Rom</ks-a-heading>

                                <ks-m-select mode="false">
                                    <div class="wrap">
                                        <label for="select-02">Lehrmittel</label>
                                        <select id="select-02" name="select-02" required
                                            error-message-reference-point-changed="true"
                                            no-error-text-p 
                                            error-text-tag-name="span" 
                                            data-m-v-rules='{"required": {"error-message": "Bitte Sprache auswählen."}}'                  
                                        >                                          
                                            <option value="">Lehrmittel wählen...</option>
                                            <option value="0">E-Book / CHF 22.40</option>
                                            <option value="1">E-Book / CHF 23.40</option>
                                            <option value="2">E-Book / CHF 24.40</option>
                                            <option value="3">E-Book / CHF 25.40</option>
                                        </select>
                                        <div class="message">
                                            <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="var(--ks-error-icon-size)" rotate="0" class="icon-right" new-error-message-reference-point="true"></a-icon-mdx>
                                        </div>
                                    </div>
                                </ks-m-select>

                                <p>
                                    <strong>E-Books</strong><br>
                                    Für E-Books erhalten Sie nach der Bezahlung drei Tage vor Kursstart den Online-Zugriff an Ihre E-Mail-Adresse zugestellt. Bitte beachten Sie, dass E-Book Lizenzen nach der Zustellung nicht rückerstattet werden.
                                </p>
                            </div>
                            <!-- Lehrmittel Ende -->

                            <!-- Versicherung Start -->
                            <ks-m-checkout-insurance mode="false" class="checkout-form-group">
                                <ks-a-heading tag="h2" style-as="h1">Kurskosten absichern?</ks-a-heading>
                                <p>Mit einer Annullationskostenversicherung erhalten Sie in folgenden Fällen Ihr Kursgeld
                                    zurück:</p>
                                <ul>
                                    <li>Krankheit, Verletzung, Tod</li>
                                    <li>unvorhergesehener Wechsel des Arbeitsplatzes</li>
                                    <li>unverschuldete Kündigung des Arbeitsplatzes</li>
                                    <li>beruflich bedingter Wohnort-wechsel</li>
                                </ul>
                                <ks-a-radio mode="false">
                                    <div class="wrap">
                                        <label for="checkout-form-booking-type-company" insurance-label>Mit Versicherung</label>
                                        <input type="radio" id="checkout-form-booking-type-company" name="rg-01" value="true"
                                            required error-message-reference-point-changed="true" no-error-text-p
                                            error-text-tag-name="span"
                                            data-m-v-rules='{"required": {"error-message": "This is an error message."}}'>
                                        <div class="box"></div>
                                    </div>
                                    <div class="wrap">
                                        <label for="checkout-form-booking-type-private-2">Ohne Versicherung</label>
                                        <input type="radio" id="checkout-form-booking-type-private-2" name="rg-01" value="false"
                                            error-message-reference-point-changed="true" no-error-text-p
                                            error-text-tag-name="span"
                                            data-m-v-rules='{"required": {"error-message": "This is an error message."}}'>
                                        <div class="box"></div>
                                    </div>
                                    <div class="message">
                                        <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="1em" rotate="0" class="icon-right"
                                            new-error-message-reference-point="true"></a-icon-mdx>
                                    </div>
                                </ks-a-radio>
                            </ks-m-checkout-insurance>
                            <!-- Versicherung Ende -->

                        </section>

                        <section id="sidebar">
                            <ks-m-checkout-booked-offer headline="Headline" name="Angebotsname"
                                status="{'code': '1', 'label': 'Garantiert Durchgeführt'}" date="22.4.2023 - 19.6.2023"
                                time="Mo, 18:00 - 20:00 Uhr" street="Hofwiesenstrasse 350" city="8050 Zürich"
                                course-price="630.00 CHF" 
                                price-labels='{
                                    "coursePrice": "Kurspreis",
                                    "material": "Material",
                                    "teachingAids": "Lehrmittel",
                                    "insurance": "Annulationskostenversicherung",
                                    "tax": "inkl. allfälliger MwSt",
                                    "total": "Gesamtbetrag"
                                }'
                                initial-configuration-price-data='{
                                        "annulationskostenversicherungPreis": "16.75 CHF",
                                        "lehrmittelPreis": "16.90 CHF",
                                        "materialPreis": "0.00 CHF",
                                        "totalPreis": "646.90 CHF"
                                    }'>
                            </ks-m-checkout-booked-offer>
                        </section>

                        <section id="bottom">
                            <ks-m-back-forward mode="false" back-label="Zurück" back-link="#back" forward-label="Weiter" submit></ks-m-back-forward>
                        </section>

                    </ks-o-checkout-layout>

                </ks-o-checkout>
            </ks-c-checkout>
        </form>
    </m-simple-form-validation>
</div>
