<h1>Checkout Danke Seite</h1>

<p><code><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=4773-287060&m=dev" target="_blank">figma</a></code>
</p>
<hr />
<ks-c-gtm-event 
  listen-to="on-page-load"
  event-data='{
    "event": "purchase",
    "ecommerce": {
        "currency": "CHF",
        "value": 220.00,    
        "transaction_id": "123456789",    
        "tax":40.00,            
        "items": [{ 
            "item_name": "Badminton GU Fortgeschrittene 6 TN",                
            "item_id": "E_12345678",                 
            "price": 220.00,
            "item_category": "Sport",
            "item_category2": "Badminton",
            "item_category3": "",
            "quantity": 1,
            "item_variant": "Zurich",
            "currency": "CHF"
        }]
    }
  }'>
<ks-o-checkout-layout mode="false">

    <section id="top">
        <ks-m-checkout-color-stage 
            title="Vielen Dank für die Anmeldungs"
        >
        </ks-m-checkout-color-stage>
    </section>

    <section id="main">
        <ks-o-body-section content-width-var="100%" no-margin-y mode="false">
            <div>
                <span>
                    In Kürze erhalten Sie eine Anmeldebestätigung per E-Mail
                </span>
            </div>
            <div class="margin-bottom-s">
                <span>
                    Klubschule Migros Basel
                </span>
            </div>
        </ks-o-body-section>
    </section>

    <section id="sidebar">
        <ks-a-heading tag="h2" style-as="h3">
            Weiteren Teilnehmer zum Angebot [Angebotstitel] anmelden.
        </ks-a-heading>

        <ks-a-button namespace="button-secondary-" color="primary">
            <span>Weiteren Teilnehmer anmelden</span>
        </ks-a-button>
    </section>

</ks-o-checkout-layout>
</ks-c-gtm-event>