<h1>Checkout Lehrmittel Konfiguration</h1>
<p><code><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=6179-53770&m=dev" target="_blank">figma</a></code>
</p>
<hr />

<m-simple-form-validation
    namespace="simple-form-miduweb-"
    no-validation-error-css 
    endpoint="/api/test" 
    method="POST" 
    schema="{
        'value': {
            'lehrmittel': '',
            'pets': '',
        },
    }"
>
    <form>
        <ks-c-checkout endpoint="https://dev.klubschule.ch/umbraco/api/CommerceApi/Recalculate" initial-request="{'portalId': 29,'mandantId': 111,'kursTyp': 'E','kursId': 1725969,'centerId': 1016,'spracheId': 'D'}">
            <ks-o-checkout mode="false">
                <ks-a-heading tag="h3">Speakout 2nd Edition Pre-Intermediate Workbook with key Bundle</ks-a-heading>
                <div>
                    <label validation-message="Select a pet!" for="20416">Lehrmittel</label>
                    <select name="20416" required="" id="20416"
                        data-m-v-rules='{"required": {"error-message": "Bitte diese Feld ausfüllen."}}'>
                        <option value="">Lehrmittel wählen...</option>
                        <option value="1">E-Book / CHF 22.40</option>
                        <option value="2">E-Book / CHF 23.40</option>
                        <option value="3">E-Book / CHF 24.40</option>
                        <option value="4">E-Book / CHF 25.40</option>
                    </select>
                </div>
                <ks-a-heading tag="h3">Speakout 2nd Edition Pre-Intermediate Student Book mit DVD Rom</ks-a-heading>
                <div>
                    <label validation-message="Select a pet!" for="21786">Lehrmittel</label>
                    <select name="21786" required="" id="21786"
                        data-m-v-rules='{"required": {"error-message": "Bitte diese Feld ausfüllen."}}'>
                        <option value="">Lehrmittel wählen...</option>
                        <option value="0">E-Book / CHF 22.40</option>
                        <option value="1">E-Book / CHF 23.40</option>
                        <option value="2">E-Book / CHF 24.40</option>
                        <option value="3">E-Book / CHF 25.40</option>
                    </select>
                </div>
            </ks-o-checkout>
        </ks-c-checkout>
        <input type="submit" value="Submit" />
    </form>
</m-simple-form-validation>