<h1>Checkout Booking Page Corporate</h1>

<h2>Checkout Booking Page Corporate</h2>
<p><code><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=6179-53770&m=dev" target="_blank">figma</a></code>
</p>
<hr />

<m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test" method="POST"
    load-form-styles>
    <form>
        <ks-o-body-section variant="default" background-color="var(--mdx-sys-color-accent-6-subtle1)" no-margin-y
            id="with-facet-body-section" tabindex="0" aria-label="Section" mode="false">
            <!-- booking informations  -->
            <ks-m-checkout-box-wrapper>
                <ks-m-info-list status="{'code': '1', 'label': 'Garantiert Durchgeführt'}">
                    <div>
                        <ks-a-heading tag="h2" style-as="h3">Badminton GU Fortgeschrittene 6 TN</ks-a-heading>
                        <div class="list-wrapper">
                            <ul>
                                <li class="js-status">
                                </li>
                                <li>
                                    <a-icon-mdx icon-name="Calendar" size="1.5rem"></a-icon-mdx>
                                    <span>
                                        22.4.2023 - 19.6.2023<br />
                                        Mo, 18:00 - 20:00 Uhr
                                    </span>
                                </li>
                                <li>
                                    <a-icon-mdx icon-name="Location" size="1.5rem"></a-icon-mdx>
                                    <span>
                                        Hofwiesenstrasse 350<br />
                                        8050 Zürich
                                    </span>
                                </li>
                                <li>
                                    <a-icon-mdx icon-name="ShoppingList" size="1.5rem"></a-icon-mdx>
                                    <span>Kurs Nr. E_1198345</span>
                                </li>
                            </ul>
                            <div>
                                <ks-a-heading tag="h3">
                                    Teilnehmer
                                </ks-a-heading>
                                <div>
                                    <span><strong>Herr Hans Muster<br></strong></span>
                                    <span>
                                        Beispielstrasse 12, 3. OG<br>
                                        8001 Zürich<br>
                                        Schweiz
                                    </span>
                                </div>
                                <div class="flex info-wrapper">
                                    <span>
                                        <strong>
                                            E-Mail<br>
                                            Phone<br>
                                            Birthday<br><br>
                                            Anmeldung als Geschenk
                                        </strong>
                                    </span>
                                    <span>
                                        hans.muster@beispiel.ch <br>
                                        078 456 23 43 <br>
                                        08.03.2002 <br><br>
                                        Korrespondenz direkt zum/zur Teilnehmenden ab 09.03.2024.
                                    </span>
                                </div>

                                <a class="spacing-y" href="https://www.migros.ch/en" target="_self">Angaben ändern</a>
                                <div class="flex">
                                    <span>
                                        <strong>
                                            Kursgeld
                                        </strong>
                                    </span>
                                    <span>
                                        CHF 220.00
                                    </span>
                                </div>
                                <div class="flex">
                                    <span>
                                        <strong>
                                            E-book
                                        </strong>
                                        <br>
                                        Speakout 2nd Edition Pre-Intermediate Workbook with key Bundle
                                    </span>
                                    <span>
                                        CHF 12.30
                                    </span>
                                </div>
                                <div class="flex">
                                    <span>
                                        <strong>
                                            E-book
                                        </strong>
                                        <br>
                                        Speakout 2nd Edition Pre-Intermediate Workbook with key Bundle
                                    </span>
                                    <span>
                                        CHF 12.30
                                    </span>
                                </div>
                                <a class="spacing-top" href="https://www.migros.ch/en" target="_self">Angaben ändern</a>
                                <hr />
                                <div class="flex total">
                                    <span>
                                        <a-translation data-trans-key="Checkout.Total"></a-translation>
                                    </span>
                                    <div>
                                        <span>244.60 CHF</span>
                                        <span><a-translation data-trans-key="Checkout.Tax"></a-translation></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ks-m-info-list>
            </ks-m-checkout-box-wrapper>
            <!-- /booking informations  -->

            <!-- textarea -->
            <ks-m-checkout-box-wrapper>
                <div>
                    <ks-a-input mode="false">
                        <div class="wrap">
                            <label for="textarea-01">Ihre Angaben</label>
                            <textarea id="textarea-01" name="textarea-01" rows="4" cols="20" maxlength="150"></textarea>
                            <div class="hint">
                                <span></span>
                                <div class="counter">
                                    <span class="current">0</span>
                                    <span class="max"></span>
                                </div>
                            </div>
                        </div>
                    </ks-a-input>
                </div>
            </ks-m-checkout-box-wrapper>
            <!-- /textarea -->

            <!-- 2 column wrapper -->
            <ks-m-checkout-box-wrapper>
                <!-- Rechnungsempfänger -->
                <div>
                    <ks-a-heading tag="h2" style-as="h3">Zahlung</ks-a-heading>

                    <div>
                        <span>
                            <strong>
                                Zahlungsart<br><br>
                            </strong>
                            Bezahlung durch Firma<br>
                        </span>
                    </div>
                </div>
                <!-- /Rechnungsempfänger -->

                <!-- Korrespondenz -->
                <div>
                    <ks-a-heading tag="h2" style-as="h3">Korrespondenz</ks-a-heading>
                    <div>
                        <span>
                            Sie die Korrespondenz der Klubschule Migros wie folgt erhalten:
                        </span>
                        <div class="icon-text-wrapper margin-top-m flex">
                            <a-icon-mdx icon-name="Check" size="1.5rem"></a-icon-mdx>
                            <span>
                                Sämtliche Korrespondenzen inkl. Rechnungen für E-Banking per Mailversand an die
                                angegebene E-Mail-Adresse.
                            </span>
                        </div>
                        <a class="spacing-top" href="https://www.migros.ch/en" target="_self">Angaben ändern</a>
                    </div>
                </div>
                <!-- /Korrespondenz -->
            </ks-m-checkout-box-wrapper>
            <!-- /2 column wrapper -->

            <!-- Firmenangaben -->
            <ks-m-checkout-box-wrapper>
                <div>
                    <ks-a-heading tag="h2" style-as="h3">Firmenangaben</ks-a-heading>
                    <div>
                        <span>
                            Division<br>
                            Abteilung<br>
                            Kostenstelle / OE<br>
                            Betriebsnummer<br>
                            Info für die Rechnung<br>
                            Zusatzfeld 1<br>
                            Zusatzfeld 2
                        </span>
                    </div>

                    <div class="flex info-wrapper">
                        <span>
                            <strong>
                                E-Mail
                            </strong>
                        </span>
                        <span>
                            hans.muster@beispiel.ch
                        </span>
                    </div>

                    <a class="spacing-top" href="https://www.migros.ch/en" target="_self">Angaben ändern</a>
                </div>
            </ks-m-checkout-box-wrapper>
            <!-- /Firmenangaben -->

            <!-- Newsletter -->
            <ks-m-checkout-box-wrapper>
                <div>
                    <ks-a-heading tag="h2" style-as="h3">Newsletter</ks-a-heading>
                    <div>
                        <ks-a-checkbox mode="false" namespace="checkbox-default-">
                            <div class="wrap">
                                <div class="control">
                                    <label for="cb-01">Ja, ich möchte regelmässig über aktuelle Angebote der Klubschule
                                        Migros informiert werden.</label>
                                    <input id="cb-01" name="cb-01" type="checkbox">
                                    <div class="box">
                                        <a-icon-mdx icon-name="Check" size="1.25em" rotate="0"
                                            class="icon-right"></a-icon-mdx>
                                    </div>
                                </div>
                                <div class="message">
                                    <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="1em"
                                        rotate="0" class="icon-right"
                                        new-error-message-reference-point="true"></a-icon-mdx>
                                </div>
                            </div>
                        </ks-a-checkbox>
                    </div>
                </div>
            </ks-m-checkout-box-wrapper>
            <!-- /Newsletter -->


        </ks-o-body-section>
        <ks-o-body-section variant="default" no-margin-y mode="false">

            <!-- End -->
            <ks-m-checkout-box-wrapper>
                <div class="full-width">
                    <!-- Optional Zusatzinfo Fitnesskurs -->
                    <span>
                        Ihre Gesundheit ist uns wichtig. Bitte beachten Sie, dass körperliche Aktivität mit
                        gesundheitlichen Risiken verbunden sein kann. Sollten Sie an einer Krankheit leiden oder
                        Beschwerden haben, empfehlen wir Ihnen dringend, sich vor Kursbeginn ärztlich beraten zu lassen.
                        <a href="#">Vor Kursbeginn: Wichtige Hinweise zu Gesundheitsrisiken</a>
                        Wir weisen ausdrücklich darauf hin, dass Sie mit Ihrer Zustimmung zu unseren Allgemeinen
                        Geschäftsbedingungen (siehe Abschnitt “Haftungsausschluss und Versicherung”), auf eigenes Risiko
                        am Training teilnehmen. Sollten während des Kurses Beschwerden auftreten, empfehlen wir Ihnen
                        dringend, umgehend Ihren Arzt/Ihre Ärztin aufzusuchen und die Klubschule Migros sowie Ihre
                        Lehrperson über Ihren Gesundheitszustand zu informieren. 
                    </span>
                    <!-- Optional Zusatzinfo Fitnesskurs -->

                    <div class="flex">
                        <div>
                            <ks-a-checkbox mode="false" namespace="checkbox-default-">
                                <div class="wrap">
                                    <div class="control">
                                        <label for="cb-02">
                                            Ja, ich akzeptiere die allgemeinen
                                            <a href="#">Geschäftsbedingungen (AGB)</a>.
                                            Die Bearbeitung von Personendaten erfolgt in Übereinstimmung mit unserer
                                            <a href="#">Datenschutzerklärung</a>.
                                        </label>
                                        <input id="cb-01" name="cb-01" type="checkbox" required
                                            error-message-reference-point-changed="true" no-error-text-p
                                            error-text-tag-name="span"
                                            data-m-v-rules='{"required": {"error-message": "This is an error message."}}'>
                                        <div class="box">
                                            <a-icon-mdx icon-name="Check" size="1.25em" rotate="0"
                                                class="icon-right"></a-icon-mdx>
                                        </div>
                                    </div>
                                    <div class="message">
                                        <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="1em"
                                            rotate="0" class="icon-right"
                                            new-error-message-reference-point="true"></a-icon-mdx>
                                    </div>
                                </div>
                            </ks-a-checkbox>
                        </div>

                        <div class="submit-wrapper">
                            <div class="flex total">
                                <span>
                                    <a-translation data-trans-key="Checkout.Total"></a-translation>
                                </span>
                                <div>
                                    <span>244.60 CHF</span>
                                    <span><a-translation data-trans-key="Checkout.Tax"></a-translation></span>
                                </div>
                            </div>

                            <ks-a-button big type="submit" mode="false" namespace="button-primary-" color="secondary">
                                Jetzt verbindlich buchen
                            </ks-a-button>
                        </div>
                    </div>
                </div>
            </ks-m-checkout-box-wrapper>
            <!-- /End -->
        </ks-o-body-section>

    </form>
</m-simple-form-validation>