<p><a href="https://www.figma.com/design/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?node-id=5966%3A81314&t=ucORCel3PE6oQPJw-1" target="_blank">Figma</a></p>

<h2 style="margin-top: 8rem">Color Stage Checkout</h2>

<ks-m-checkout-color-stage 
    back-label="Zurück (fallback browser back)" 
    title="Konfiguration: {{ Angebotstitel }}"
>
</ks-m-checkout-color-stage>

<ks-m-checkout-color-stage 
    back-label="Google (NOT browser back)"
    back-link="https://www.google.com" 
    title="Konfiguration: {{ Angebotstitel }}"
>
</ks-m-checkout-color-stage>