<!-- Bühne -->
<!-- <o-grid namespace="grid-2colums2rows-" first-container-vertical first-column-with="66%" style="background-color:#0053A6; margin: 0; width: 100%;">
    <section>
        <div style="color: white; height: auto; margin: 3rem 1rem 2rem calc(4rem/3);">
            <h1 slot="title" style="color: white; line-height: 1.5; margin-top: 1rem; margin-bottom: 32px; font-size: calc(8em/3);">ContentPage (B&uuml;hne) Lorem Ipsum dolor bis zur zweiten Zeile</h1>
            <p slot="content" style="font-size: calc(10em/9);">Lorem Ipsum dolor ...</p>
        </div>
        <aside>
            <div slot="image" style="background-image:url('https://picsum.photos/480/280'); background-position: center center; background-size: cover; height:100%; min-height: 280px;"></div>
        </aside>
    </section>
</o-grid> -->

<!-- Bühne -->
<!-- <ks-m-content-stage image-src="https://picsum.photos/480/280">
    <h1>ContentPage (Bühne) Lorem Ipsum dolor bis zur zweiten Zeile</h1>
    <p>Lorem Ipsum dolor ...</p>
</ks-m-content-stage> -->



<!-- 2-spaltiger Content -->
<o-grid namespace="grid-2columns-content-section-" first-container-vertical first-column-with="66%" with-border>
    <section>
        <div>
            <p class="intro">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <aside>
            <h3>Weiterführende Links</h3>
            <ul>
                <li>Label</li>
                <li>Label</li>
                <li>Label</li>
                <li>Label</li>
                <li>Label</li>
            </ul>
        </aside>
    </section>
</o-grid>

<!-- 1-spaltiger Content -->
<o-grid namespace="grid-1column-align-center-" column-with="66%">
    <section>
        <div>
            <h1>ContentPage (H&uuml;lle)</h1>
            <p>Lorem Ipsum dolor ...</p>
        </div>
    </section>
</o-grid>
