<p><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?type=design&node-id=1050-195202&mode=design&t=UtVR02HAVpbLwJzp-0" target="_blank">Figma</a></p>

<h2 style="margin-top: 8rem">Color Stage, maximale Auspr&auml;gung</h2>

<o-grid 
    namespace="grid-2columns-content-stage-" 
    first-container-vertical 
    first-column-with="66%" 
    background-color="var(--mdx-sys-color-accent-4-default)" 
    image-src="/src/img/content-stage/a59843713cfd9aefb7e8d172513e4bea.png"
    width="100%"
>
    <div>
        <p class="topline">
            <a href=""><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx> <span>A Larger Text inside the back link lorem ipsum</span></a>
            <ks-a-button namespace="button-tertiary-" color="secondary">
                <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx> Merken
            </ks-a-button>
        </p>
        <h1>Bodytoning Bauch,<br />Beine, Po</h1>
        <p class="intro">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
        <address>
            <a-icon-mdx icon-name="Location" size="1.25em"></a-icon-mdx> Hofwiesenstrasse 350, 8050 Zürich <span class="label">Blended</span>
        </address>
        
    </div>
    <aside>
        <div class="aside-image">
            <ks-a-button namespace="button-tertiary-" color="secondary">
                <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx> Merken
            </ks-a-button>
        </div>
    </aside>
</o-grid>

<h2 style="margin-top: 8rem">2-spaltige Color-Stage</h2>

<!-- 2-spaltige Bühne -->
<o-grid 
    namespace="grid-2columns-content-stage-" 
    first-container-vertical 
    first-column-with="66%" 
    background-color="var(--mdx-sys-color-primary-default)" 
    image-src="https://picsum.photos/480/280"
    width="100%"
>
    <div>
        <h1>ContentPage (B&uuml;hne) Lorem Ipsum dolor bis zur zweiten Zeile</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <aside>
        <div class="aside-image"></div>
    </aside>
</o-grid>