<ks-o-contact>
    <ks-m-contact-row
        name="Klubschule Migros Zürich"
        street="Hofweiesenstrasse 350"
        place="8050 Zürich"
        icon-name="Home"
        href="#"
    >
    </ks-m-contact-row>
    <ks-m-contact-row
        name="+49 0160 49858582"
        icon-name="Phone"
        href="tel:+499123456789"
    >
    </ks-m-contact-row>
    <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="mailto:fritz.eierschale@example.org"
    >
    </ks-m-contact-row>
    <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="ArrowUpRight"
        href="www.google.com"
    >
    </ks-m-contact-row>
</ks-o-contact>