<!-- 2-spaltige Bühne -->
<o-grid 
    namespace="grid-2columns-content-stage-" 
    first-container-vertical 
    first-column-with="66%" 
    background-color="#0053A6" 
    image-src="https://picsum.photos/480/280"
    width="100%"
>
    <div>
        <ks-a-heading color="white" content-stage><h1>ContentPage (B&uuml;hne) Lorem Ipsum dolor bis zur zweiten Zeile</h1></ks-a-heading>
        <p class="intro">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <aside>
        <div class="aside-image"></div>
    </aside>
</o-grid>

<!-- Wichtig: Einstieg ohne zusätzliche Spalte wird in einer anderen Komponente ausgegeben -->
<ks-o-body-section variant="narrow" no-margin-bottom>
    <p class="intro">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</ks-o-body-section>

<!-- 1-spaltiger Content -->
<ks-o-body-section variant="narrow" margin-top-m>
    <!-- CMS RichText -->
    <div>
        <h2>RichText Headline H2</h2>
        <h3>RichText Headline H3</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <p><em>Text kursiv Text kursivText kursivText kursivText kursivText kursivText kursiv.</em>&nbsp;</p>
        <p><strong>Text bold - Text bold - Text bold - Text bold - Text bold - Text bold - Text bold</strong></p>
        <p><span style="text-decoration: underline;">text ist unterstrichen</span></p>
        <p>ich bin ein <a href="/" title="Klubschule">Link </a>und so weiter</p>
        <!-- Lists -->
        <ul>
            <li>liste 1</li>
            <li>liste 2</li>
            <li>liste 3</li>
        </ul>
        <ul class="list-style-circle">
            <li>liste 1</li>
            <li>liste 2</li>
            <li>liste 3</li>
        </ul>
        <ul class="list-style-square">
            <li>liste 1</li>
            <li>liste 2</li>
            <li>liste 3</li>
        </ul>
        <ol>
            <li>number 1</li>
            <li>number 2</li>
            <li>number 3</li>
        </ol>
        <ol class="list-style-decimal">
            <li>number 1</li>
            <li>number 2</li>
            <li>number 3</li>
        </ol>
        <ol class="list-style-upper-alpha">
            <li>holdrio</li>
            <li>holdrio</li>
            <li>holdrio</li>
        </ol>
        <ol>
            <li>List item</li>
            <li>Lorem Ipsum</li>
            <li>Dolor sit amet</li>
        </ol>
        <!-- /Lists -->
        <hr />
        <o-grid namespace="grid-2colums2rows-" first-container-vertical>
            <section>
                <div>
                    <ul>
                        <li>List item</li>
                        <li>Lorem Ipsum</li>
                        <li>Dolor sit amet</li>
                    </ul>
                    <p><a href="#">Link Text -></a></p>
                </div>
                <div>
                    <ul>
                        <li>List item</li>
                        <li>Lorem Ipsum</li>
                        <li>Dolor sit amet</li>
                    </ul>
                    <p><a href="#">Link Text -></a></p>
                </div>
            </section>
        </o-grid>
    </div>
    <!-- /CMS RichText -->

    <!-- CMS Table -->
    <div>
        <table>
            <thead>
                <tr>
                    <th>header 1</th>
                    <th>header 2</th>
                    <th>header 3</th>
                    <th>header 4</th>
                    <th>header 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>Sed diam voluptua.</td>
                    <td>diam voluptua.</td>
                    <td>Lorem ipsum dolor</td>
                </tr>
                <tr>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet
                    </td>
                    <td>
                        Sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor
                    </td>
                </tr>
                <tr>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet
                    </td>
                    <td>
                        Sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor
                    </td>
                </tr>
                <tr>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet
                    </td>
                    <td>
                        Sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </td>
                    <td>
                        Lorem ipsum dolor
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /CMS Table -->
    
    <!-- Beispiele CMS Titel Komponenten -->
    <ks-a-heading tag="h1">Titel H1</ks-a-heading>
    <ks-a-heading tag="h2">Titel H2</ks-a-heading>
    <ks-a-heading tag="h3">Titel H3</ks-a-heading>
    <ks-a-heading tag="h1" style-as="h3">Titel H1 as H3</ks-a-heading>
    <ks-a-heading tag="h2" style-as="h3">Titel H2 as H3</ks-a-heading>
    <ks-a-heading tag="h3" style-as="h3">Titel H3 as H3</ks-a-heading>
    <!-- /Beispiele CMS Titel Komponenten -->

    <!-- CMS Content Container -->
    <ks-o-body-section variant="narrow" has-background background="var(--mdx-sys-color-accent-6-subtle1)">
        <!-- CMS Bild -->
        <!-- Note: use "wider" on ks-m-figure inside ks-body-section variant="narrow" to display the image in larger size -->
        <ks-m-figure wider>
            <ks-a-picture 
                picture-load 
                namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                open-modal open-modal-mobile
            >
            </ks-a-picture>
            <figcaption>Caption</figcaption>
        </ks-m-figure>
        <!-- CMS Bild -->
    </ks-o-body-section>
    <!-- /CMS Content Container -->

    <!-- CMS Global TextImage -->
    <ks-o-body-section variant="default">
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="/de/">
            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A">
            </a-picture>
            <div>
                <h3>bild und text</h3> 
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <ks-a-button big namespace="button-primary-" href="/de/" target="_self">
                    <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                    <span id="label">btn label</span>
                </ks-a-button>
            </div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="left" href="/de/">
            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A">
            </a-picture>
            <div>
                <h3>bild und text</h3> 
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <ks-a-button big namespace="button-primary-" href="/de/" target="_self">
                    <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                    <span id="label">btn label</span>
                </ks-a-button>
            </div>
        </ks-m-teaser>
    </ks-o-body-section>
    <!-- /CMS Global TextImage -->

    <!-- CMS Button -->
    <div class="center">
        <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
            button label
            <a-icon-mdx icon-name="ArrowDownRight" size="1em" class="icon-right" tabindex="0"> </a-icon-mdx>
        </ks-a-button>
    </div>
    <!-- /CMS Button -->

    <!-- CMS Content Container -->
    <ks-o-body-section variant="narrow" has-background background="var(--mdx-sys-color-accent-6-subtle1)">

        <!-- CMS Titel -->
        <ks-a-heading tag="h2">Content container title</ks-a-heading>
        <!-- /CMS Titel -->

        <!-- CMS RichText -->
        <div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet.
            </p>
        </div>
        <!-- /CMS RichText -->

        <!-- CMS Bild -->
        <ks-m-figure>
            <ks-a-picture picture-load namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A">
            </ks-a-picture>
            <!-- to see the line ks-m-figure will need to have a figcaption element -->
            <figcaption></figcaption>
        </ks-m-figure>
        <!-- CMS Bild -->

        <!-- CMS Bild -->
        <ks-m-figure>
            <!-- Include open-modal & open-modal-mobile as attributes to enable opening modal ;) -->
            <ks-a-picture 
                picture-load 
                namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                open-modal open-modal-mobile
            >
            </ks-a-picture>
            <!-- to see the line ks-m-figure will need to have a figcaption element -->
            <figcaption>With caption</figcaption>
        </ks-m-figure>
        <!-- CMS Bild -->
        
        <!-- CMS Video -->
        <ks-m-figure brand="ks">
            <ks-a-video>
                <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" 
                    title="ks video" 
                    width="560"
                    height="315" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </ks-a-video>
            <!-- to see the line ks-m-figure will need to have a figcaption element -->
            <figcaption>KS-M-Figure</figcaption>
        </ks-m-figure>
        <!-- /CMS Video -->

        <!-- CMS Titel -->
        <ks-a-heading tag="h2">Heading ohne Linie</ks-a-heading>
        <!-- /CMS Titel -->

        <!-- CMS Akkordeon Container -->
        <!-- the class margin-y-m adds more margin to the accordion -->
        <div class="margin-y-m">
            <m-details namespace="details-default-icon-right-">
                    <details>
                        <summary>
                            <h4>accordion 1</h4>
                        </summary>
                        <div>
                            <style>
                                :host details summary~* {
                                    --details-default-color-secondary: var(--color-hover);
                                }
                            </style>
                            <ks-a-heading tag="h3">test title</ks-a-heading>
                            <div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua.</p>
                            </div>
                        </div>
                    </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                    <details>
                        <summary>
                            <h4>accordion 2</h4>
                        </summary>
                        <div>
                            <style>
                                :host details summary~* {
                                    --details-default-color-secondary: var(--color-hover);
                                }
                            </style>
                            <div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua.</p>
                            </div>
                        </div>
                    </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                    <details>
                        <summary>
                            <h4>accordion 3</h4>
                        </summary>
                        <div>
                            <style>
                                :host details summary~* {
                                    --details-default-color-secondary: var(--color-hover);
                                }
                            </style>
                            <div>
                                <ks-a-button namespace="button-primary-" href="/de/" color="secondary"
                                    target="_self">
                                    <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left"
                                        tabindex="0"> </a-icon-mdx>
                                    <span id="label">btn</span>
                                </ks-a-button>
                            </div>
                        </div>
                    </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>Accordion mit Bild</h4>
                    </summary>
                    <div>
                        <!-- CMS Bild -->
                        <ks-m-figure>
                            <ks-a-picture picture-load namespace="picture-default-"
                                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                                open-modal open-modal-mobile></ks-a-picture>
                            <figcaption>test</figcaption>
                        </ks-m-figure>
                        <!-- /CMS Bild -->
                    </div>
                </details>
            </m-details>
        </div>
        <!-- /CMS Akkordeon Container -->

        <!-- CMS Button -->
        <div class="center">
            <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
                <span id="label">Button & random Icon</span>
                <a-icon-mdx icon-name="AddToList" size="1em" class="icon-right" tabindex="0"></a-icon-mdx>
            </ks-a-button>
        </div>
        <!-- /CMS Button -->

    </ks-o-body-section>
    <!-- /CMS Content Container -->

    <!-- CMS Akkordeon Container -->
    <div class="margin-y-m">
        <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>accordion 1</h4>
                    </summary>
                    <div>
                        
                        <ks-a-heading tag="h3">test title</ks-a-heading>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua.</p>
                        </div>
                    </div>
                </details>
        </m-details>
        <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>accordion 2</h4>
                    </summary>
                    <div>
                        
                        <div>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                voluptua.</p>
                        </div>
                    </div>
                </details>
        </m-details>
        <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>accordion 3</h4>
                    </summary>
                    <div>
                        
                        <div>
                            <ks-a-button namespace="button-primary-" href="/de/" color="secondary"
                                target="_self">
                                <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left"
                                    tabindex="0"> </a-icon-mdx>
                                <span id="label">btn</span>
                            </ks-a-button>
                        </div>
                    </div>
                </details>
        </m-details>
    </div>
    <!-- /CMS Akkordeon Container -->

    <!-- CMS Content Container (with bg) -->
    <ks-o-body-section variant="narrow" has-background background="var(--mdx-sys-color-accent-6-subtle1)">
        <!-- CMS Bild -->
        <ks-m-figure>
            <ks-a-picture picture-load namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                open-modal open-modal-mobile></ks-a-picture>
            <figcaption>test</figcaption>
        </ks-m-figure>
        <!-- /CMS Bild -->
    </ks-o-body-section>
    <!-- /CMS Content Container -->

    <!-- CMS StoryTeaser -->
    <ks-o-body-section variant="default">
        <ks-a-heading tag="h2" style-as="h1">weitere stories</ks-a-heading>
        <o-grid namespace="grid-12er-" class="extended-container-mobile">
            <div col-sm="12" col-lg="8">
                <ks-m-teaser namespace=teaser-story- color="quaternary" href="/de/entdecken/story-1/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei-again/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
        </o-grid> 
    </ks-o-body-section>
    <!-- /CMS StoryTeaser -->

    <!-- CMS Teaser Slider -->
    <ks-o-body-section variant="default">
        <ks-a-heading tag="h2" style-as="h1" >Teaser Slider</ks-a-heading>
        <m-carousel-two namespace=carousel-two-3-column- nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
            <section>
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </section>
            <div>
                <nav>
                    <a href="#previous" aria-label="previous slide">
                        <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
                    </a>
                    <a href="#next" aria-label="next slide">
                        <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
                    </a>
                </nav>
            </div>
        </m-carousel-two>
    </ks-o-body-section>
    <!-- /CMS Teaser Slider -->

</ks-o-body-section>

