<ks-o-contact>
    <ks-m-contact-row
        name="Klubschule Migros Zürich"
        street="Hofweiesenstrasse 350"
        place="8050 Zürich"
        icon-name="Home"
        href="#"
    >
    </ks-m-contact-row>
    <ks-m-contact-row
        name="+49 0160 49858582"
        icon-name="Phone"
        href="tel:+499123456789"
    >
    </ks-m-contact-row>
    <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="Mail"
        href="mailto:fritz.eierschale@example.org"
    >
    </ks-m-contact-row>
    <ks-m-contact-row
        name="Klubschule Migros Zürich"
        icon-name="ArrowUpRight"
        href="www.google.com"
    >
    </ks-m-contact-row>
    <ks-m-contact-row 
        id="show-modal" 
        name="Kontaktformular" 
        icon-name="Mail" 
        href="javascript:;" 
        onclick="this.dispatchEvent(new CustomEvent('open-form-d97e50aa-26fb-4a45-896d-acffe709ffcb', { bubbles: true, cancelable: true, composed: true, detail: { command: 'show-modal' } }))" 
        gtm-data="{&quot;event&quot;:&quot;virtual_pageview&quot;,&quot;pageview&quot;:&quot;/kontaktformular-open&quot;,&quot;center&quot;:&quot;klubschule migros chur&quot;}" 
        tabindex="0"
    >
    </ks-m-contact-row>
</ks-o-contact>