<h1 id="tile">Content-Search-Item</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <ks-m-content-search-item>
      <a href="#">
        <div>
          <h3>Lorem Ipsum Headline</h3>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a-picture picture-load defaultSource="https://via.placeholder.com/150x100" alt="more content"></a-picture>
      </a>
    </ks-m-content-search-item>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <ks-m-content-search-item>
      <a href="#">
        <div>
          <h3>Lorem Ipsum Headline</h3>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <a-picture picture-load defaultSource="https://via.placeholder.com/450x400" alt="more content"></a-picture>
      </a>
    </ks-m-content-search-item>
</section>