<h1>namespace="button-primary-"</h1>
<code><a href="https://www.figma.com/file/HrjrCOkZtYdODEUO6qrGij/%F0%9F%8E%A8-MGB-Klubschule%2FMiduca-Design?node-id=2008%3A52794&mode=dev" target="_blank">figma</a></code>
<ul>
    <li><a href="#double">double</a></li>
</ul>
<h1>namespace="button-primary-"</h1>
<section style="background-color: #f5f5f5; padding: 1em;">
    <h2 id="double">color="tertiary" aka. Figma (Button Neutral Color)</h2>
    <m-double-button namespace="double-button-default-">
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">Abend</ks-a-button>
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">x</ks-a-button>
    </m-double-button>
    <m-double-button namespace="double-button-default-">
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">Mo, Di, Fr</ks-a-button>
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">x</ks-a-button>
    </m-double-button>
    <hr>
</section>