<h1 id="tile">Event</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-event data="{
        'gueltig_ab': '22.04.2024',
        'gueltig_bis': '19.06.2024',
        'days': 'Mo, 18:00 - 20:00',
        'badge': 'Blended',
        'status_label': 'Garantiert Durchgeführt',
        'lektionen_label': '10 Lektionen',
        'location': 'Zürich, Limmatstrasse 152',
        'detail_mehr_label': 'Mehr Details',
        'detail_weniger_label': 'Weniger Details',
        'merken_label': 'Merken',
        'anmelden_label': 'Jetzt anmelden',
        'icons': [
            {
                'iconTooltip': 'Tooltip 1',
                'name': 'Star'
            },
            {
                'iconTooltip': 'Tooltip 2',
                'name': 'Tag'
            },
            {
                'iconTooltip': 'Tooltip 3',
                'name': 'Percent'
            }
        ],
        'price': {
            'amount': '600.0 CHF',
            'price': '600.0',
            'per': 'Semester',
            'from': 'ab'
        },
        'kursdetail_label': 'Kursdetails',
        'bezeichnung_label': 'Kurs/Lehrgang',
        'bezeichnung': 'Deutsch Niveau A2 (1/2) - Intensiv',
        'kurs_id_label': 'Kurs Nr.',
        'kurs_id': 'E_1198345',
        'sprache_id_label': 'Kurssprache',
        'sprache_id': 'Deutsch',
        'teilnehmer_max_label': 'Max. Teilnehmer',
        'teilnehmer_max': 14,
        'anzahl_dauer_label': 'Dauer',
        'anzahl_kurstage_label': '5 Kurstage',
        'anzahl_lektionen_label': 'Total 5 Lektionen zu 50 Min.',
        'kurs_zusatzinfo': 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa aliquid facilis, nobis vel officia itaque voluptatibus nostrum adipisci omnis fugit!',
        'location_label': 'Durchführungsort',
        'durchfuehrungaddresse': {
            'link': 'https://maps.app.goo.gl/hrtbLoUa4HgubjXg8',
            'beschreibung': 'Durchführungsort',
            'strasse': 'Limmatstrasse 152',
            'plz': '8005',
            'ort': 'Zürich'
        },
        'downloads': [
            {
                'label': 'Angebotsdetail',
                'link_label': 'PDF (1,4 MB)',
                'link': '#'
            },
            {
                'label': 'Ausbildungsplan',
                'link_label': 'PDF (2,1 MB)',
                'link': '#'
            },
            {
                'label': 'Semesterplan',
                'link_label': 'PDF (1,3 MB)',
                'link': '#'
            }
        ]
    }"></ks-m-event>
</section>
