<h1 id="tile">Event</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Status 1 (Garantiert)</h2>
    <!-- Controller for Event Detail Request -->
    <ks-c-event-detail endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
        <ks-m-event data="{
          'id': '1718498',
          'center_id': '1016',
          'language': 'D',
          'typ': 'E',
          'location': 'Wetzikon, Schellerstrasse 14',
          'gueltig_ab': '2024-07-02',
          'gueltig_bis': '2024-07-02',
          'days': 'Mo bis Mi jeweils 12:00 - 16:00',
          'detail_label_more': 'Mehr Details',
          'detail_label_less': 'Weniger Details',
          'status': '1',
          'status_label': 'Garantiert drchgeführt',
          'lektionen_label': '4 Lektionen',
          'price': {
            'from': 'Ab',
            'amount': '11.0 CHF',
            'per': '',
            'price': '11'
          },
          'kanton': {
            'text': 'Kanton Tooltip',
            'title': 'Kanton Title'
          },
          'abo_typen':[
            {
              'text': 'abotype1',
              'typ': 'H',
              'title': 'abotype1',
              'link': '#'
            }
          ],
          'buttons': [{'link': '','text': 'Merken','event': 'bookmark'},{'link': 'kurse/kurs/1001-Nacht-Orientalische-Kuche-mit-Noretta-Keller--E_1690729_1019/Configuration','text': 'Buchen','event': 'undefined'}],
          'deletable': false
        }"></ks-m-event>
    </ks-c-event-detail>
</section>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Status 2 (Started)</h2>
    <!-- Controller for Event Detail Request -->
    <ks-c-event-detail endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
        <ks-m-event data="{
          'id': '1718498',
          'center_id': '1016',
          'language': 'D',
          'typ': 'E',
          'location': 'Wetzikon, Schellerstrasse 14',
          'gueltig_ab': '2024-05-14',
          'gueltig_bis': '2024-05-14',
          'days': 'Mo, 00:00 - 12:00',
          'badge': 'blended',
          'detail_label_more': 'Mehr Details',
          'detail_label_less': 'Weniger Details',
          'status': '2',
          'status_label': 'Started',
          'lektionen_label': '4 Lektionen',
          'price': {
            'from': '',
            'amount': '135.0 CHF',
            'per': '',
            'price': '135'
          },
          'kanton': {
            'text': 'Kanton Tooltip',
            'title': 'Kanton Title'
          },
          'bewilligungspflichtig': {
            'text': 'Some Bewilligungspflichtig Tooltip',
            'title': 'Some Title'
          },
          'abo_typen':[
            {
              'text': 'abotype2',
              'typ': 'O',
              'title': 'abotype2',
              'link': '#'
            }
          ],
          'buttons': [{'link': '','text': 'Merken','event': 'bookmark'},{'link': 'kurse/kurs/1001-Nacht-Orientalische-Kuche-mit-Noretta-Keller--E_1690721_1019/Configuration','text': 'Buchen','event': 'undefined'}],
          'deletable': false
        }"></ks-m-event>
    </ks-c-event-detail>
</section>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Status 3 (Warteliste)</h2>
    <!-- Controller for Event Detail Request -->
    <ks-c-event-detail endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
        <ks-m-event data="{
          'id': '1690729',
          'center_id': '1019',
          'language': 'D',
          'typ': 'E',
          'location': 'Wetzikon, Schellerstrasse 14',
          'gueltig_ab': '2024-07-02',
          'gueltig_bis': '2024-07-02',
          'days': 'Mo bis Fr',
          'detail_label_more': 'Mehr Details',
          'detail_label_less': 'Weniger Details',
          'status': '3',
          'status_label': 'Await',
          'lektionen_label': '4 Lektionen',
          'price': {
            'from': 'Ab',
            'amount': '135.0 CHF',
            'per': 'Semester',
            'price': '135'
          },
          'kanton': {
            'text': 'Kanton Tooltip',
            'title': 'Kanton Title'
          },
          'buttons': [{'link': '','text': 'Merken','event': 'bookmark'},{'link': 'kurse/kurs/1001-Nacht-Orientalische-Kuche-mit-Noretta-Keller--E_1690729_1019/Configuration','text': 'Buchen','event': 'undefined'}],
          'deletable': false
        }"></ks-m-event>
    </ks-c-event-detail>
</section>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Status 4 (Almost)</h2>
    <!-- Controller for Event Detail Request -->
    <ks-c-event-detail endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
        <ks-m-event data="{
          'id': '1690729',
          'center_id': '1019',
          'language': 'D',
          'typ': 'E',
          'location': 'Wetzikon, Schellerstrasse 14',
          'gueltig_ab': '2024-07-02',
          'gueltig_bis': '2024-07-02',
          'days': 'Mo',
          'detail_label_more': 'Mehr Details',
          'detail_label_less': 'Weniger Details',
          'status': '4',
          'status_label': 'almost',
          'badge': 'blended',
          'lektionen_label': '4 Lektionen',
          'price': {
            'from': 'Ab',
            'amount': '135.0 CHF',
            'per': '',
            'price': '135'
          },
          'kanton': {
            'text': 'Kanton Tooltip',
            'title': 'Kanton Title'
          },
          'bewilligungspflichtig': {
            'text': 'Some Bewilligungspflichtig Tooltip',
            'title': 'Some Title'
          },
          'abo_typen':[
            {
              'text': 'abotype1',
              'typ': 'H',
              'title': 'abotype1',
              'link': '#'
            },
            {
              'text': 'abotype2',
              'typ': 'O',
              'title': 'abotype2',
              'link': '#'
            }
          ],
          'buttons': [{'link': '','text': 'Merken','event': 'bookmark'},{'link': 'kurse/kurs/1001-Nacht-Orientalische-Kuche-mit-Noretta-Keller--E_1690729_1019/Configuration','text': 'Buchen','event': 'undefined'}],
          'deletable': false
        }"></ks-m-event>
    </ks-c-event-detail>
</section>