<h1 id="tile">Extra-Info</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <ks-m-extra-info>
        <div class="wrap">
            <div class="section">
                <span class="title">Preis</span>
                <span>CHF 6’500.00 (inkl. Lehrmittel)</span>
                <p><strong>Vergünstigung:</strong> Massa rutrum in risus molestie eleifend curabitur parturient conubia vestibulum diam misum.</p>
            </div>
            <div class="section">
                <span class="title">Lektionen</span>
                <p>ca. 160 Lektionen // 80 Lektionen Präsenzunterricht à 50 Minuten plus 80-100 Lektionen begleitetes Selbststudium (Blended Learning)</p>
            </div>
            <div class="section">
                <span class="title">Dauer</span>
                <p>ca. 7 Monate (6 Lektionen alle zwei Wochen)</p>
            </div>
            <div class="section">
                <span class="title">Unterrichtsform</span>
                <ul>
                    <li>30% Präsenzunterricht</li>
                    <li>60% Online Unterricht</li>
                    <li>10% Selbststudium</li>
                </ul>
            </div>
            <div class="section">
                <span class="title">Abschluss</span>
                <span>Agile Coach NDK HF</span>
            </div>
        </div>
    </ks-m-extra-info>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Changed Color</h2>
    <ks-m-extra-info>
        <div class="wrap" style="background-color: purple;">
            <div class="section">
                <span class="title">Preis</span>
                <span>CHF 6’500.00 (inkl. Lehrmittel)</span>
                <p><strong>Vergünstigung:</strong> Massa rutrum in risus molestie eleifend curabitur parturient conubia vestibulum diam misum.</p>
            </div>
            <div class="section">
                <span class="title">Lektionen</span>
                <p>ca. 160 Lektionen // 80 Lektionen Präsenzunterricht à 50 Minuten plus 80-100 Lektionen begleitetes Selbststudium (Blended Learning)</p>
            </div>
            <div class="section">
                <span class="title">Dauer</span>
                <p>ca. 7 Monate (6 Lektionen alle zwei Wochen)</p>
            </div>
            <div class="section">
                <span class="title">Unterrichtsform</span>
                <ul>
                    <li>30% Präsenzunterricht</li>
                    <li>60% Online Unterricht</li>
                    <li>10% Selbststudium</li>
                </ul>
            </div>
            <div class="section">
                <span class="title">Abschluss</span>
                <span>Agile Coach NDK HF</span>
            </div>
        </div>
    </ks-m-extra-info>
</section>