<h1 id="tile">Tab</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <ks-m-facts>
        <h2>Für jeden das passende Angebot</h2>
        <div class="facts">
            <a href="#" class="fact">
                <div>
                    <a-picture picture-load defaultSource="../../../../img/facts-light-bulb.svg" alt="light bulb">
                </div>
                <div>
                    <span>7.500</span>
                    <span>Kursleiter</span>
                </div>
            </a>
            <div class="fact">
                <div>
                    <a-picture picture-load defaultSource="../../../../img/facts-instructor.svg" alt="instructor">
                </div>
                <div>
                    <span>7.500</span>
                    <span>Kursleiter</span>
                </div>
            </div>
            <div class="fact">
                <div>
                    <a-picture picture-load defaultSource="../../../../img/facts-location.svg" alt="location">
                </div>
                <div>
                    <span>7.500</span>
                    <span>Kursleiter</span>
                </div>
            </div>
        </div>
        <ks-a-button namespace="button-primary-" color="secondary">
            <span>Label</span>
        </ks-a-button>
    </ks-m-facts>
</section>