<ks-o-body-section variant="narrow">
    <ks-a-heading border-top>
        Figures inside narrow section 
    </ks-a-heading>
    <p> (ks-o-body-section variant="narrow")</p>
    <br />
    <br />
    <ks-a-heading tag="h2" style-as="h3">
        Figure with Caption
    </ks-a-heading>

    <ks-m-figure>
        <ks-a-picture 
            namespace="picture-default-" 
            open-modal 
            open-modal-mobile 
            defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="Migros">
        </ks-a-picture>
        <figcaption>Das ist eine Caption</figcaption>
    </ks-m-figure>

    <br />
    <br />

    <ks-a-heading tag="h2" style-as="h3">
        Figure without Caption
    </ks-a-heading>

    <ks-m-figure>
        <ks-a-picture 
            namespace="picture-default-" 
            open-modal 
            open-modal-mobile 
            defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="Migros">
        </ks-a-picture>
    </ks-m-figure>
    
    <br />
    <br />

    <ks-a-heading tag="h2" style-as="h3">
        Figure [wider]
    </ks-a-heading>

    <ks-m-figure wider>
        <ks-a-picture 
            namespace="picture-default-" 
            open-modal 
            open-modal-mobile 
            defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="Migros">
        </ks-a-picture>
    </ks-m-figure>
</ks-o-body-section>
<ks-o-body-section variant="default" has-background background="var(--mdx-sys-color-accent-6-subtle1)">
    <ks-a-heading border-top>
        Figures inside default section 
    </ks-a-heading>
    <p> (ks-o-body-section variant="default")</p>
    <br />
    <br />
    <ks-a-heading tag="h2" style-as="h3">
        Figure with Caption
    </ks-a-heading>

    <ks-m-figure>
        <ks-a-picture 
            namespace="picture-default-" 
            open-modal 
            open-modal-mobile 
            defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="Migros">
        </ks-a-picture>
        <figcaption>Das ist eine Caption</figcaption>
    </ks-m-figure>

    <br />
    <br />

    <ks-a-heading tag="h2" style-as="h3">
        Figure without Caption
    </ks-a-heading>

    <ks-m-figure>
        <ks-a-picture 
            namespace="picture-default-" 
            open-modal 
            open-modal-mobile 
            defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="Migros">
        </ks-a-picture>
    </ks-m-figure>
    
    <br />
    <br />

    <ks-a-heading tag="h2" style-as="h3">
        Figure [wider]
    </ks-a-heading>

    <ks-m-figure wider>
        <ks-a-picture 
            namespace="picture-default-" 
            open-modal 
            open-modal-mobile 
            defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            alt="Migros">
        </ks-a-picture>
    </ks-m-figure>
</ks-o-body-section>