<!-- NICHT AKTUELLER STAND -->
<ks-c-centers endpoint="https://int.klubschule.ch/Umbraco/Api/Region">
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Center</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <p class="reset-link"><a-button namespace="button-tertiary-">zur&uuml;cksetzen <a-icon-mdx class="icon-right" icon-name="RotateLeft" size="1em"></a-icon-mdx></a-button></p>
                <div class="sub-content">
                    <ks-m-center-filter-list namespace="center-default-" lang="de"></ks-m-center-filter-list>
                </div>
            </div>
            <div class="container dialog-footer">
                <a-button id="close" namespace="button-secondary-" no-pointer-events>Schliessen</a-button>
                <a-button namespace="button-primary-">Angebote anzeigen</a-button>
            </div>
            <a id="show-modal">&Ouml;ffne Center Filter</a>
        </m-dialog>
    </section>

    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Centre</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <p class="reset-link"><a-button namespace="button-tertiary-">réinitialiser <a-icon-mdx class="icon-right" icon-name="RotateLeft" size="1em"></a-icon-mdx></a-button></p>
                <div class="sub-content">
                    <ks-m-center-filter-list namespace="center-default-" lang="fr"></ks-m-center-filter-list>
                </div>
            </div>
            <a id="show-modal">Ouvrir le filtre du centre</a>
        </m-dialog>
    </section>

    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Centrale</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <p class="reset-link"><a-button namespace="button-tertiary-">azzeramento <a-icon-mdx class="icon-right" icon-name="RotateLeft" size="1em"></a-icon-mdx></a-button></p>
                <div class="sub-content">
                    <ks-m-center-filter-list namespace="center-default-" lang="it"></ks-m-center-filter-list>
                </div>
            </div>
            <a id="show-modal">Filtro centrale aperto</a>
        </m-dialog>
    </section>
</ks-c-centers>
