<ks-c-centers mock>
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Center</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <p class="reset-link"><a>Alles zur&uuml;cksetzen <a-icon-mdx icon-name="RotateLeft" size="1em"></a-icon-mdx></a></p>
                <a-input inputid="location-search" width="100%" autofocus placeholder="Angebot suchen" icon-name="Search" icon-size="calc(20rem/18)" search submit-search="request-auto-complete" any-key-listener type="search" autofocus></a-input>
                <ks-m-center-filter-list namespace="center-default-" lang="de"></ks-m-center-filter-list>
            </div>
            <div class="container dialog-footer">
                <a-button id="close" namespace="button-secondary-">Schliessen</a-button>
                <a-button namespace="button-primary-">Angebote anzeigen</a-button>
            </div>
            <a id="show-modal">&Ouml;ffne Filter</a>
        </m-dialog>
    </section>
</ks-c-centers>