<ks-c-with-facet mock>
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    &nbsp;
                </div>
                <h3>Filter</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <p class="reset-link"><a-button namespace="button-tertiary-">Alles zur&uuml;cksetzen <a-icon-mdx class="icon-right" icon-name="RotateLeft" size="1em"></a-icon-mdx></a-button></p>
                <div class="sub-content">
                    <a-input 
                        inputid="location-search" 
                        width="100%" 
                        placeholder="Angebot suchen" 
                        icon-name="Search" 
                        icon-size="calc(20rem/18)" 
                        search 
                        submit-search="request-auto-complete" 
                        any-key-listener type="search"
                    ></a-input>
                    <ks-m-filter-categories 
                        namespace="filter-default-" 
                        lang="de" 
                        translation-key-close="Schliessen" 
                        translation-key-cta="Angebote anzeigen"
                    ></ks-m-filter-categories>
                </div>
            </div>
            <div class="container dialog-footer">
                <a-button id="close" namespace="button-secondary-" no-pointer-events>Schliessen</a-button>
                <a-button namespace="button-primary-">Angebote anzeigen</a-button>
            </div>
            <a-button namespace="button-primary-" id="show-modal" no-pointer-events>&Ouml;ffne Filter</a-button>
        </m-dialog>
    </section>
</ks-c-with-facet>