<ks-c-centers mock>
    <section>
        <m-dialog
            namespace="dialog-left-slide-in-"
        >
            <div class="container dialog-header" tabindex="0">
                <div id="back">
                    <a-icon-mdx icon-name="ChevronLeft" size="2em" ></a-icon-mdx>
                </div>
                <h3>Center</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em" ></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <p class="reset-link"><a>Alles zur&uuml;cksetzen <a-icon-mdx icon-name="RotateLeft" size="1em"></a-icon-mdx></a></p>
                <a-input inputid="location-search" width="100%" autofocus placeholder="Angebot suchen" icon-name="Search" icon-size="calc(20rem/18)" search submit-search="request-auto-complete" any-key-listener type="search" autofocus></a-input>
                <div>
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Angebotskategorien</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Wochentag</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Tageszeit</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Startzeitpunkt</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">LernLevel</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Center</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Online-Unterrichtsformen</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Status</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Intensität</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Unterrichtssprache</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>
                    
                    <ks-m-nav-level-item namespace="nav-level-item-default-">
                        <span class="text">Angebotsart</span>
                        <a-icon-mdx namespace="icon-link-list-" icon-name="ChevronRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </ks-m-nav-level-item>        
                </div>        
            </div>
            <div class="container dialog-footer">
                <a-button id="close" namespace="button-secondary-">Schliessen</a-button>
                <a-button namespace="button-primary-">Angebote anzeigen</a-button>
            </div>
            <a id="show-modal">&Ouml;ffne Filter</a>
        </m-dialog>
    </section>
</ks-c-centers>