<!-- NICHT AKTUELLER STAND -->
<ks-c-centers mock>
    <section>
        <m-dialog namespace="dialog-left-slide-in-wide-">
            <div class="container dialog-header" tabindex="0">
                <div id="back"></div>
                <h3>Kontaktformular</h3>
                <div id="close">
                    <a-icon-mdx icon-name="Plus" size="2em"></a-icon-mdx>
                </div>
            </div>
            <div class="container dialog-content">
                <div class="sub-content">
                    <h3>Ihre Anfrage</h3>
                    <ks-a-spacing type="s-flex"></ks-a-spacing>
                    <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css
                        endpoint="/api/test" method="POST" schema="{
                      'more': {
                        'input-01': '',
                        'input-02': '',
                        'input-03': '',
                        'input-04': '',
                        'textarea-01': '',
                        'cb-01': 'text',
                        'rg-01': 'text',
                        'select-01': ''
                      }
                    }">
                        <style>
                            :host .dialog-footer-fixed {
                                border-top: var(--mdx-sys-border-width-default) solid var(--mdx-sys-color-neutral-subtle3);
                                padding: var(--mdx-sys-spacing-flex-large-xs);
                                position: fixed;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                background-color: var(--mdx-sys-color-neutral-on-default);
                            }
                        </style>
                        <form>
                            <section id="main">
                                <div>
                                    <ks-a-input mode="false">
                                        <div class="wrap">
                                            <label for="input-01">Vorname *</label>
                                            <input id="input-01" name="input-01" type="text" required
                                                error-message-reference-point-changed="true" no-error-text-p
                                                error-text-tag-name="span"
                                                data-m-v-rules='{"required": {"error-message": "Bitte Vornamen angeben."}}'>
                                            <div class="message">
                                                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle"
                                                    size="var(--ks-error-icon-size)" class="icon-left"
                                                    new-error-message-reference-point="true"></a-icon-mdx>
                                            </div>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <br>
                                <div>
                                    <ks-a-input mode="false">
                                        <div class="wrap">
                                            <label for="input-02">Name *</label>
                                            <input id="input-02" name="input-02" type="text" required
                                                error-message-reference-point-changed="true" no-error-text-p
                                                error-text-tag-name="span"
                                                data-m-v-rules='{"required": {"error-message": "Bitte Namen angeben."}}'>
                                            <div class="message">
                                                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle"
                                                    size="var(--ks-error-icon-size)" class="icon-left"
                                                    new-error-message-reference-point="true"></a-icon-mdx>
                                            </div>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <br>
                                <div>
                                    <ks-a-input mode="false">
                                        <div class="wrap">
                                            <label for="input-03">Passwort *</label>
                                            <input id="input-03" name="input-03" type="password" maxlength="25" required
                                                error-message-reference-point-changed="true" no-error-text-p
                                                error-text-tag-name="span"
                                                data-m-v-rules='{"required": {"error-message": "Bitte Passwort angeben."}}'>
                                            <div class="hint">
                                                <span>Maximal 25 Zeichen.</span>
                                                <div class="counter">
                                                    <span class="current">0</span>
                                                    <span class="max"></span>
                                                </div>
                                            </div>
                                            <div class="message">
                                                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle"
                                                    size="var(--ks-error-icon-size)" class="icon-left"
                                                    new-error-message-reference-point="true"></a-icon-mdx>
                                            </div>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <br>
                                <div>
                                    <ks-a-input mode="false">
                                        <div class="wrap">
                                            <label for="input-04">PLZ</label>
                                            <input id="input-04" name="input-04" type="number">
                                            <div class="hint">
                                                <span>PLZ ist optional.</span>
                                            </div>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <br>
                                <br>
                                <div>
                                    <ks-a-input mode="false">
                                        <div class="wrap">
                                            <label for="textarea-01">Antragsbegründung *</label>
                                            <textarea id="textarea-01" name="textarea-01" rows="4" cols="20"
                                                maxlength="150" required error-message-reference-point-changed="true"
                                                no-error-text-p error-text-tag-name="span"
                                                data-m-v-rules='{"required": {"error-message": "Bitte Begründung angeben."}}'></textarea>
                                            <div class="hint">
                                                <span>Bitte begründe deine Anfrage.</span>
                                                <div class="counter">
                                                    <span class="current">0</span>
                                                    <span class="max"></span>
                                                </div>
                                            </div>
                                            <div class="message">
                                                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle"
                                                    size="var(--ks-error-icon-size)" class="icon-left"
                                                    new-error-message-reference-point="true"></a-icon-mdx>
                                            </div>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <br>
                                <div>
                                    <ks-a-checkbox mode="false" namespace="checkbox-default-">
                                        <div class="wrap">
                                            <div class="control">
                                                <label for="cb-01">Ich bestätige die allgemeinen Richtlinien.
                                                    *</label>
                                                <input id="cb-01" name="cb-01" type="checkbox" required
                                                    error-message-reference-point-changed="true" no-error-text-p
                                                    error-text-tag-name="span"
                                                    data-m-v-rules='{"required": {"error-message": "Bitte Policy akzeptieren."}}'>
                                                <div class="box">
                                                    <a-icon-mdx icon-name="Check" size="var(--ks-error-icon-size)"
                                                        rotate="0" class="icon-right"></a-icon-mdx>
                                                </div>
                                            </div>
                                            <div class="message">
                                                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle"
                                                    size="var(--ks-error-icon-size)" rotate="0" class="icon-right"
                                                    new-error-message-reference-point="true"></a-icon-mdx>
                                            </div>
                                        </div>
                                    </ks-a-checkbox>
                                </div>
                                <br>
                                <div>
                                    <ks-m-select mode="false">
                                        <div class="wrap">
                                            <label for="select-01">Sprache *</label>
                                            <select id="select-01" name="select-01" required
                                                error-message-reference-point-changed="true" no-error-text-p
                                                error-text-tag-name="span"
                                                data-m-v-rules='{"required": {"error-message": "Bitte Sprache auswählen."}}'>
                                                <option value="">Sprache wählen</option>
                                                <option value="de">Deutsch</option>
                                                <option value="en">Englisch</option>
                                                <option value="fr">Französisch</option>
                                            </select>
                                            <div class="hint">
                                                <span>Bitte wähle deine bevorzugte Sprache aus.</span>
                                            </div>
                                            <div class="message">
                                                <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle"
                                                    size="var(--ks-error-icon-size)" rotate="0" class="icon-right"
                                                    new-error-message-reference-point="true"></a-icon-mdx>
                                            </div>
                                        </div>
                                    </ks-m-select>
                                </div>
                                <br>
                                <div class="container dialog-footer dialog-footer-fixed">
                                    <ks-m-back-forward mode="false" back-label="Schliessen" back-link="#back" forward-label="Senden"
                                    submit></ks-m-back-forward>
                                </div>
                            </section>
                        </form>
                    </m-simple-form-validation>
                </div>
            </div>
            <a-button namespace="button-primary-" id="show-modal" no-pointer-events>&Ouml;ffne
                Kontaktformular</a-button>
        </m-dialog>
    </section>
</ks-c-centers>