<ks-a-spacing type="s-flex"></ks-a-spacing>

<m-dialog namespace="dialog-left-slide-in-wide-" show-event-name="open-form-7acf130c-180b-4ce0-a22c-d34e36a7cf4d"
    tabindex="0">

    <div class="container dialog-header" tabindex="0">
        <div id="back"></div>
        <h3>Raumreservierung</h3>
        <div id="close">
            <a-icon-mdx icon-name="Plus" size="2em"></a-icon-mdx>
        </div>
    </div>
    <div class="container dialog-content">
        <h3 tabindex="0">
            Angaben zu Ihrer Veranstaltung
        </h3>
    
    </div>
    <div class="container dialog-footer">
        <a-button id="close" namespace="button-secondary-" no-pointer-events>Schliessen</a-button>
        <a-button namespace="button-primary-">Senden</a-button>
    </div>
    <a-button namespace="button-primary-" id="show-modal" no-pointer-events>
        Anfrage Raumvermietung
    </a-button>

    
</m-dialog>
