<!-- Figma Link: Do not copy -->
<code><a href="https://www.figma.com/file/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?type=design&node-id=3111%3A289674&mode=design&t=QNrJHQav4gyyeVVi-1" target="_blank">figma</a></code>

<!-- 2-spaltige Bühne mit maximaler Ausprägung -->
<o-grid namespace="grid-2columns-content-stage-" first-container-vertical first-column-with="66%" background-color="var(--mdx-sys-color-accent-4-default)" image-src="https://mits-gossau.github.io/web-components-toolbox-klubschule/src/img/content-stage/a59843713cfd9aefb7e8d172513e4bea.png" width="100%">
    <div class="stage-content">
        <p class="topline">
            <a href="" alt="">
                <a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx> <span>A Larger Text inside the back link lorem ipsum dolor nonumy eirmod tempor invidunt</span>
            </a>
            <!-- Merken-Button für Mobile -->
            <ks-m-favorite-button off-text="Merken" on-text="Gemerkt">
                <ks-a-button namespace="button-tertiary-" color="secondary" round>
                    <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>
                </ks-a-button>
            </ks-m-favorite-button>
        </p>
        <h1>Bodytoning Bauch,<br />Beine, Po</h1>
        <p class="intro">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magn.</p>
    </div>
    <aside>
        <div class="aside-image">
            <!-- Merken-Button für Desktop -->
            <ks-m-favorite-button off-text="Merken" on-text="Gemerkt">
                <ks-a-button namespace="button-tertiary-" color="secondary">
                    <a-icon-mdx icon-name="Heart" size="1em" class="icon-left"></a-icon-mdx>
                    <span>Merken</span>
                </ks-a-button>
            </ks-m-favorite-button>
        </div>
    </aside>
</o-grid>

<!-- Angebotsliste -->
<ks-o-body-section background="var(--mdx-sys-color-accent-6-subtle1)" variant="default" has-background>
    <ks-c-with-facet mock>
        <o-body-style content-width-var="100%" background="transparent">
            <o-grid namespace="grid-12er-">
                <div col-lg="12" col-md="12" col-sm="12">
                    <ks-o-form>
                        <form>
                            <o-grid namespace="grid-12er-">
                                <div col-lg="12" col-md="12" col-sm="12">
                                    <ks-a-heading tag="h1">Ihre Anfrage</ks-a-heading>
                                </div>
                                <div col-lg="12" col-md="12" col-sm="12">
                                    <ks-a-input>
                                        <div>
                                            <label>Betreff *</label>
                                            <input type="text" required>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <div col-lg="12" col-md="12" col-sm="12">
                                    <ks-a-input>
                                        <div>
                                            <label for="textarea-01">Ihre Nachricht *</label>
                                            <textarea id="textarea-01" rows="8" cols="20" maxlength="350" required></textarea>
                                            <div class="hint">
                                                <span></span>
                                                <div class="counter">
                                                    <span class="current">0</span>
                                                    <span class="max"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ks-a-input>
                                </div>
                                <div col-lg="6" col-md="6" col-sm="12">test</div>
                                <div col-lg="6" col-md="6" col-sm="12">test</div>
                            </o-grid>
                        </form>
                    </ks-o-form>
                </div>
            </o-grid>
            <ks-a-button namespace="button-primary-" color="secondary">
                <span>Senden</span>
                <a-icon-mdx namespace="icon-mdx-ks-" icon-name="ArrowDownRight" size="1em" class="icon-right">
            </ks-a-button>
        </o-body-style>
    </ks-c-with-facet>
</ks-o-body-section>
