<section>
    <m-dialog namespace="dialog-left-slide-in-wide-">
        <div class="container dialog-header" tabindex="0">
            <div id="back"></div>
            <h3>Kontaktformular</h3>
            <div id="close">
                <a-icon-mdx icon-name="Plus" size="2em"></a-icon-mdx>
            </div>
        </div>
        <div class="container dialog-content">
            <div class="sub-content">
                <ks-a-spacing type="s-flex"></ks-a-spacing>
                <div class="success">
                    <div class="icon">
                        <a-icon-mdx icon-name="CheckCircle" size="2em"></a-icon-mdx>
                    </div>
                    <ks-a-spacing type="xs-flex"></ks-a-spacing>
                    <ks-a-heading tag="h2">Nachricht erfolgreich gesendet</ks-a-heading>
                    <ks-a-spacing type="s-flex"></ks-a-spacing>
                    <p>Vielen Dank für ihre Anfrage.</p>
                </div>
            </div>
        </div>
        <div class="container dialog-footer">
            <a-button id="close" namespace="button-secondary-" no-pointer-events>Schliessen</a-button>
            <a-button namespace="button-primary-">Okay</a-button>
        </div>
        <a-button namespace="button-primary-" id="show-modal" no-pointer-events>&Ouml;ffne
            Kontaktformular</a-button>
    </m-dialog>
</section>
