<o-body >

    <o-grid namespace="grid-2columns-content-stage-" first-container-vertical="" first-column-with="100%" background-color="#0053a6" width="100%">
    <div class="stage-content">
            <p class="topline link-underline">
                <a href="/de/qs-pep/">
                    <a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx>
                    <span>QS Bereich von Pascal</span>
                </a>
            </p>
            <ks-a-heading tag="h1" color="#ffffff" content-stage>
                Generelle Testseite
            </ks-a-heading>
    </div>


</o-grid>


<div class="spacer"></div>

        <ks-o-body-section variant="narrow">
            <div>

                <ks-o-body-section content-width-var="100%">


<div>

    
    <p>Porttitor risus curae porta fermentum faucibus sociosqu gravida tempor. Class rutrum primis malesuada suscipit interdum justo quis. Interdum consectetur netus laoreet curae a taciti aliquet facilisi commodo magnis. In ipsum iaculis sapien amet rutrum pellentesque eleifend tincidunt.</p>
<ul>
<li>Porttitor risus curae porta fermentum faucibus sociosqu gravida tempor. Class rutrum primis malesuada suscipit interdum justo quis. Interdum consectetur netus laoreet curae a taciti aliquet facilisi commodo magnis. In ipsum iaculis sapien amet rutrum pellentesque eleifend tincidunt.</li>
<li>Pharetra sed venenatis egestas felis laoreet.
<ul>
<li>Efficitur imperdiet luctus facilisi dictumst consequat ultricies ex pellentesque velit metus.</li>
<li>Feugiat dolor condimentum elementum consectetur non erat malesuada parturient letius.</li>
</ul>
</li>
<li>Cursus adipiscing dis pede posuere curabitur cubilia.</li>
</ul>
<p>Porttitor risus curae porta fermentum faucibus sociosqu gravida tempor. Class rutrum primis malesuada suscipit interdum justo quis. Interdum consectetur netus laoreet curae a taciti aliquet facilisi commodo magnis. In ipsum iaculis sapien amet rutrum pellentesque eleifend tincidunt.</p>
</div>


</ks-o-body-section>


            </div>
        </ks-o-body-section>

    <ks-o-body-section variant="narrow" >

            <style>
                :host {
                    --background-color: transparent;
                }
            </style>

<div>

    
    <p>Das ist ein Beispieltext. Im RichtextTeaser.</p>
</div>

            <ks-o-body-section variant="narrow" >
                
            </ks-o-body-section>
            <ks-o-body-section variant="default"  mutobo-attr="attrs">
                    <style>
                        :host {
                            --background-color: transparent;
                        }
                    </style>
                        <ks-a-heading tag="h2" border-top brand="ks">Story Test 2 Teaser</ks-a-heading>
    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                    <ks-m-teaser namespace=teaser-story- color="ks-red" href="/de/entdecken/malkurse-fuer-erwachsene/" title="Malkurse f&#xFC;r Erwachsene">
    <figure>
        <figcaption>
                <strong>Pretitle</strong>
            <h3>Malkurse f&#xFC;r Erwachsene</h3>
            <span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

        <a-picture namespace="picture-teaser-" alt="Kreativit&#xE4;t 1" picture-load="" defaultSource="https://intadmin.klubschule.ch/media/4bhpf1rp/kreativitaet-1.jpeg?width=2500&amp;height=1405&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da658760a57f20" aspect-ratio="0.562" sources-keep-query-aspect-ratio=""></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="6">
                    <ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/de/entdecken/sprachen-entdecken/" title="Sprachen entdecken">
    <figure>
        <figcaption>
                <strong>Pretitle</strong>
            <h3>Sprachen entdecken</h3>
            <span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

        <a-picture namespace="picture-teaser-" alt="Sprachen 2" picture-load="" defaultSource="https://intadmin.klubschule.ch/media/mhzpwelh/sprachen-2.jpeg?cc=0,0,0,0.1570646720368239&amp;width=2500&amp;height=1405&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dab03c99ba4a20" aspect-ratio="0.562" sources-keep-query-aspect-ratio=""></a-picture>
    </figure>
</ks-m-teaser>

            </div>
    </o-grid>
    <div no-margin-y class="center">
        
    </div>

            </ks-o-body-section>				
            <style>
                :host {
                    --background-color: transparent;
                }
            </style>



<!-- Check Content alias and render o-body-section if not on home -->
<ks-o-body-section variant='default'>

<ks-a-heading tag="h2" style-as="h1">
    Titel der Content Teaser
</ks-a-heading>


<m-carousel-two namespace=carousel-two-3-column- nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
    <section>
            <ks-m-teaser namespace="teaser-tile-content-"  color="ks-pink" href="" target="" title=")">
                <figure>
                    <figcaption>
                            <strong>Sprachen</strong>

                            <h3>Sprachdiplom erw&#xFC;nscht</h3>

                            <p>Punkten Sie im CV mit einem Sprachdiplom</p>

                    </figcaption>
                    <miduca-picture />
                </figure>
            </ks-m-teaser>
            <ks-m-teaser namespace="teaser-tile-content-" inverse color="ks-green" href="" target="" title=")">
                <figure>
                    <figcaption>
                            <strong>Gesundheit</strong>

                            <h3>Fitness-Abo mehr Flexibilit&#xE4;t</h3>

                            <p>Trainieren Sie, wann Sie Zeit und Lust haben. Unsere neuen Kursabos schenken Ihnen höchste Flexibilität</p>

                    </figcaption>
                    <a-picture namespace="picture-teaser-" alt="Abonnemente 1200X628" picture-load="" defaultSource="https://intadmin.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=314&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da90c3a8fe9510" aspect-ratio="0.562" sources-keep-query-aspect-ratio=""></a-picture>
                </figure>
            </ks-m-teaser>
            <ks-m-teaser namespace="teaser-tile-content-"  color="ks-green" href="/de/" target="_self" title="Klubschule)">
                <figure>
                    <figcaption>
                            <strong>Pretitle</strong>

                            <h3>Title</h3>

                            <p>Body Text 500 Sonderzeichen, 5 Absätze</p>

                            <span href="/de/" target="_self" title="Klubschule">
                                Klubschule
                                <a-icon-mdx icon-name="ArrowRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                            </span>
                    </figcaption>
                    <a-picture namespace="picture-teaser-" alt="Kochen 1296x730" picture-load="" defaultSource="https://intadmin.klubschule.ch/media/3xhogr22/bild-gross.png?width=1296&amp;height=730&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da90c3a91db5d0" aspect-ratio="0.562" sources-keep-query-aspect-ratio=""></a-picture>
                </figure>
            </ks-m-teaser>
            <ks-m-teaser namespace="teaser-tile-content-"  color="ks-pink" href="/de/" target="_self" title="Link)">
                <figure>
                    <figcaption>
                            <strong>Pretitle</strong>

                            <h3>Title</h3>

                            <p>Body Text</p>

                            <span href="/de/" target="_self" title="Link">
                                Link
                                <a-icon-mdx icon-name="ArrowRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                            </span>
                    </figcaption>
                    <a-picture namespace="picture-teaser-" alt="Kochen 1296x730" picture-load="" defaultSource="https://intadmin.klubschule.ch/media/3xhogr22/bild-gross.png?width=1296&amp;height=730&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da90c3a91db5d0" aspect-ratio="0.562" sources-keep-query-aspect-ratio=""></a-picture>
                </figure>
            </ks-m-teaser>
    </section>

    <div>

            <nav>
                <a href="#previous" aria-label="previous slide">
                    <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
                </a>
                <a href="#next" aria-label="next slide">
                    <ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
                </a>
            </nav>

    </div>

</m-carousel-two>

</ks-o-body-section>

            <style>
                :host {
                    --background-color: transparent;
                }
            </style>

<div>

    
    <h2>Ihre Bildungspartner</h2>
<p>Haben Sie Fragen zu unseren Firmenkursen? Melden Sie sich bei uns.</p>
</div>

            <style>
                :host {
                    --background-color: transparent;
                }
            </style>


<div  >


<ks-a-button namespace="button-secondary-" href="tel:&#x2B;41791234567" color="ks-blue" target="_blank" title="">

            <a-icon-mdx icon-name="Phone" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
            <span id="label">&#x2B;41 79 123 4 567</span>
</ks-a-button>
</div>


</ks-o-body-section>



</o-body>