<ks-a-google-maps
    api-key="AIzaSyC9diW31HSjs3QbLEbso7UJzeK7IpH9c2s"
    locations='[
    {
        "name": "Klubschule Migros Aarau",
        "street": "Bleichemattstrasse 42",
        "city": "5000 Aarau",
        "phone": "1231231231",
        "href": "/standorte/aarau/",
        "lat": 47.39023379688704,
        "lng": 8.055707474968484
      },
      {
        "name": "Klubschule Migros Baden",
        "street": "Nordhaus 3 / Güterstrasse Baden",
        "city": "123 City",
        "href": "/standorte/baden/",
        "phone": "+41 56 123 4567",
        "lat": 47.473011,
        "lng": 8.306477
      },
      {
        "name": "Klubschule Migros Basel",
        "street": "Jurastrasse 4 Basel",
        "city": "123 City",
        "href": "/standorte/basel-gundelitor/",
        "phone": "+41 61 987 6543",
        "lat": 47.554722,
        "lng": 7.587694
      },
      {
        "name": "Scuola Club Migros Bellinzona",
        "street": "Piazza R. Simen 8 Bellinzona",
        "city": "123 City",
        "href": "/standorte/bellinzona/",
        "phone": "+41 91 111 2233",
        "lat": 46.195058,
        "lng": 9.022741
      },
      {
        "name": "Klubschule Migros Bern",
        "street": "Welle7 / Schanzenstrasse 5 Bern",
        "city": "123 City",
        "href": "/standorte/bern-welle7/",
        "phone": "+41 31 555 4444",
        "lat": 46.948094,
        "lng": 7.447443
      },
      {
        "name": "Klubschule Migros Brig",
        "street": "Belalpstrasse 1 Brig",
        "city": "123 City",
        "href": "/standorte/brig/",
        "phone": "+41 27 111 2222",
        "lat": 46.315007,
        "lng": 7.984693
      },
      {
        "name": "Klubschule Migros Buchs",
        "street": "Churerstrasse 7 Buchs",
        "city": "123 City",
        "href": "/standorte/buchs/",
        "phone": "+41 81 333 4444",
        "lat": 47.165129,
        "lng": 9.480985
      },
      {
        "name": "Klubschule Migros Chur",
        "street": "Gartenstrasse 5 Chur",
        "city": "123 City",
        "href": "/standorte/chur/",
        "phone": "+41 81 222 3333",
        "lat": 46.850449,
        "lng": 9.531727
      },
      {
        "name": "Klubschule Migros Davos-Klosters",
        "street": "Bahnhofstrasse 5 Davos Platz",
        "city": "123 City",
        "href": "/standorte/davos-klosters/",
        "phone": "+41 81 555 6666",
        "lat": 46.800303,
        "lng": 9.836824
      },
      {
        "name": "Klubschule Migros Frauenfeld",
        "street": "Bahnhofplatz 72 Frauenfeld",
        "city": "123 City",
        "href": "/standorte/frauenfeld/",
        "phone": "+41 52 777 8888",
        "lat": 47.558395,
        "lng": 8.900297
      },
      {
        "name": "Ecole-club Migros Fribourg",
        "street": "Rue Hans-Fries 4 Fribourg",
        "city": "123 City",
        "href": "/standorte/fribourg/",
        "phone": "+41 26 123 4567",
        "lat": 46.801877,
        "lng": 7.151533
      },
      {
        "name": "Ecole-club Migros Genève",
        "street": "Esplanade Pont-Rouge 2 Grand-Lancy",
        "city": "123 City",
        "href": "/standorte/geneve/",
        "phone": "+41 22 987 6543",
        "lat": 46.181757,
        "lng": 6.124956
      },
      {
        "name": "Klubschule Migros Glarus",
        "street": "Kursräume Kantonsschule Glarus Glarus",
        "city": "123 City",
        "href": "/standorte/glarus/",
        "phone": "+41 55 111 2222",
        "lat": 47.040531,
        "lng": 9.066119
      },
      {
        "name": "Ecole-club Migros La Chaux-de-Fonds",
        "street": "Rue Daniel-Jeanrichard 23 La Chaux-de-Fonds",
        "city": "123 City",
        "href": "/standorte/la-chaux-de-fonds/",
        "phone": "+41 32 333 4444",
        "lat": 47.101493,
        "lng": 6.828211
      },
      {
        "name": "Ecole-club Migros Lausanne",
        "street": "Rue de Genève 33 Lausanne",
        "city": "123 City",
        "href": "/standorte/lausanne/",
        "phone": "+41 21 555 6666",
        "lat": 46.522654,
        "lng": 6.627065
      },
      {
        "name": "Scuola Club Migros Lugano",
        "street": "Via Pretorio 15 Lugano",
        "city": "123 City",
        "href": "/standorte/lugano/",
        "phone": "+41 91 777 8888",
        "lat": 46.003678,
        "lng": 8.951052
      },
      {
        "name": "Klubschule Migros Luzern",
        "street": "Schweizerhofquai 1 Luzern",
        "city": "123 City",
        "href": "/standorte/luzern/",
        "phone": "+41 41 123 4567",
        "lat": 47.050168,
        "lng": 8.309307
      },
      {
        "name": "Klubschule Migros Lyss",
        "street": "Hauptstrasse 20 Lyss",
        "city": "123 City",
        "href": "/standorte/lyss/",
        "phone": "+41 32 987 6543",
        "lat": 47.078916,
        "lng": 7.308741
      }
          ]'
></ks-a-google-maps>