<o-grid namespace="grid-2columns-content-stage-"
        first-container-vertical
        first-column-with="66%"
        background-color="#cc5299"
        width="100%">
  <section>
    <div class="stage-content">
      <h1>Responsive stage picture</h1>
    </div>
    <aside>
      <a-picture namespace="picture-cover-"
                 picture-load
                 no-bad-quality
                 defaultsource="/src/img/test-news.jpeg"
                 alt="Stage fixture"></a-picture>
    </aside>
  </section>
</o-grid>
