<ks-o-body-style variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)" display="none" display-mobile="block">
    <ks-a-heading tag="h2" style-as="h1" border-top>Finden Sie Ihre neue Herausforderung</ks-a-heading>
    <div class="extended-container-mobile">
        <o-grid namespace="grid-12er-" gap=".5rem">
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="quinary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="senary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="septenary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Longer Text that uses multiple Lines Lorem Ipsum</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
        </o-grid>
    </div>
</ks-o-body-style>
<ks-o-body-style variant="default">
    <ks-a-heading tag="h2" style-as="h1" border-top>Angebote für Sie</ks-a-heading>
    <div class="extended-container-mobile">
        <o-grid namespace="grid-12er-" gap="2rem" gap-mobile="1rem">
            <div col-sm="12" col-md="6" col-lg="4">
                <ks-m-teaser namespace=teaser-tile-content- color="secondary" href="#">
                    <figure>
                        <figcaption>
                            <strong>Pretitle</strong>
                            <h3>Title</h3>
                            <p>color=secondary: Primary in Figma</p>
                            <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>
                        <a-picture 
                            namespace="picture-teaser-" aspect-ratio="0.5625"
                            picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="randomized image">
                        </a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-md="6" col-lg="4">
                <ks-m-teaser namespace=teaser-tile-content- color="quaternary" href="#">
                    <figure>
                        <figcaption>
                            <strong>Pretitle</strong>
                            <h3>Title</h3>
                            <p>color=secondary: Primary in Figma</p>
                            <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>
                        <a-picture 
                            namespace="picture-teaser-" aspect-ratio="0.5625"
                            picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="randomized image">
                        </a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-md="6" col-lg="4">
                <ks-m-teaser namespace=teaser-tile-content- color="septenary" href="#">
                    <figure>
                        <figcaption>
                            <strong>Pretitle</strong>
                            <h3>Title</h3>
                            <p>color=secondary: Primary in Figma</p>
                            <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>
                        <a-picture 
                            namespace="picture-teaser-" aspect-ratio="0.5625"
                            picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                            alt="randomized image">
                        </a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
        </o-grid>
    </div>
</ks-o-body-style>
<ks-o-body-style variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)" position="relative">
    <ks-m-teaser namespace=teaser-fullwidth- color="secondary" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1600x800"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="secondary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1600x800"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</ks-o-body-style>
<ks-o-body-style variant="default">
    <ks-m-teaser namespace=teaser-text-image- text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            aspect-ratio="0.75"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</ks-o-body-style>
<ks-o-body-style variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <ks-m-teaser namespace=teaser-text-image- text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            aspect-ratio="0.75"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</ks-o-body-style>