<ks-m-stage namespace="stage-default-" brand="ks">
		<a-picture namespace="" alt="Geschenkkarte 1200X628" picture-load="" defaultSource="https://www.klubschule.ch//media/xc1fn120/geschenkkarte-1200x628.png?width=1200&amp;height=628&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac24445e6cfd0" aspect-ratio="0.42857143" sources-keep-query-aspect-ratio="" style="--img-object-position: Hero (21/9)"></a-picture>


		<ks-a-heading tag="h1" display-2><h1>Entdecken</h1></ks-a-heading>


	</ks-m-stage>

		<ks-o-body-section variant="narrow" no-margin-y>

					<ks-o-body-section variant="default" no-margin-y>
							<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1)>

			<o-grid class="extended-container-mobile" auto-fill="max(calc(20% - 1.5rem), 230px)" auto-fill-mobile="calc(50% - 1rem)" gap="1.5rem" gap-mobile="0.5rem">
					<ks-m-teaser namespace="teaser-square-image-" href="/entdecken/subthema/" title="SubThema">
						<a-picture namespace="picture-teaser-" alt="Kochkurse 1200X628" picture-load="" defaultSource="https://www.klubschule.ch//media/jkcpotc5/kochkurse-1200x628.jpg?cc=0.15166666666666667,0.03989263275245251,0.34630303030303033,0.0008137945781787111&amp;width=600&amp;height=314&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac2442556ef70" aspect-ratio="1" sources-keep-query-aspect-ratio="" style="--img-object-position: 88.1667% 70.0637%"></a-picture>
						<div><span>Subthema</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
					</ks-m-teaser>
					<ks-m-teaser namespace="teaser-square-image-" href="/entdecken/story-2/" title="Story 2">
						<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/hkijzo1w/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f8c2b050" aspect-ratio="1" sources-keep-query-aspect-ratio="" style="--img-object-position: Square (1/1)"></a-picture>
						<div><span>Title can&#x27;t be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
					</ks-m-teaser>
					<ks-m-teaser namespace="teaser-square-image-" href="/entdecken/story-3/" title="Story 3">
						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser" picture-load="" defaultSource="https://www.klubschule.ch//media/naehykuu/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f8e9e760" aspect-ratio="1" sources-keep-query-aspect-ratio="" style="--img-object-position: Square (1/1)"></a-picture>
						<div><span>Title a bit longer as normal</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
					</ks-m-teaser>
					<ks-m-teaser namespace="teaser-square-image-" href="/entdecken/subthema/story-4/" title="Story 4">
						<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/i21n5z5d/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f91bccd0" aspect-ratio="1" sources-keep-query-aspect-ratio="" style="--img-object-position: Square (1/1)"></a-picture>
						<div><span>Title Square Image</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
					</ks-m-teaser>
					<ks-m-teaser namespace="teaser-square-image-" href="/entdecken/subthema/story-5/" title="Story 5">
						<a-picture namespace="picture-teaser-" alt="Tanz Key Visual 2024 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/fzqfunih/tanz-key-visual-2024-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f959c030" aspect-ratio="1" sources-keep-query-aspect-ratio="" style="--img-object-position: Square (1/1)"></a-picture>
						<div><span>Title can&#x27;t be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
					</ks-m-teaser>
			</o-grid>

	</ks-o-body-section>


					</ks-o-body-section>
<ks-o-body-section variant="default"  mutobo-attr="attrs">
						
	<ks-a-heading tag="h2" border-top brand="ks">
		<h2>nach datum</h2>
	</ks-a-heading>


	<o-grid namespace="grid-12er-">

		<m-load-template-tag-click-more answer-event-name="load-more-1" initial-unpack="2">
			<template>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet</strong>
							<h3>test 1</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
							<h3>Story 5</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-green" href="/entdecken/subthema/story-4/" title="Story 4" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur</strong>
							<h3>Story 4</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/hkijzo1w/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f8c2b050" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
			</template>
			<template>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-green" href="/entdecken/testbeitrag/" title="Testbeitrag" brand="ks">
					<figure>
						<figcaption>
								<strong>Pretitel</strong>
							<h3>Testbeitrag</h3>
							<span>Mehr lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Tanz Key Visual 2024 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/s41hyhog/tanz-key-visual-2024-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fad7a30" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/testbeitrag/story-3/" title="Story 3" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
			</template>
			<template>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3-1/" title="Story 3 (1)" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3-2/" title="Story 3 (2)" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3-3/" title="Story 3 (3)" brand="ks">
					<figure>
						<figcaption>
								<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
							<h3>Story 3</h3>
							<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
						</figcaption>

						<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</figure>
				</ks-m-teaser>

				</div>
			</template>
		</m-load-template-tag-click-more>

		
	</o-grid>

	<!-- TODO: load more with js => /umbraco/surface/StoryTeaser/GetPagedStories?currentPageId=10017&size=9&page=1&lang=de -->
	<ks-a-button namespace="button-primary-" request-event-name="load-more-1">
		
		<a-icon-mdx icon-name="ArrowDownRight" size="1em"></a-icon-mdx>
	</ks-a-button>
</ks-o-body-section>
					<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1) mutobo-attr="attrs">
								<ks-a-heading tag="h2" border-top brand="ks"><h2>Stories (Spotlight)</h2></ks-a-heading>
		<o-grid namespace="grid-12er-">
				<div col-sm="12" col-lg="8">
						<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet</strong>
				<h3>test 1</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ibaw-lightblue" href="/entdecken/story-2/" title="Story 2" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 2</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Aspectratio (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/rzkfo4fg/aspectratio-1.png?width=400&amp;height=226&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7460c2d803b0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 3</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-green" href="/entdecken/subthema/story-4/" title="Story 4" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur</strong>
				<h3>Story 4</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/hkijzo1w/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f8c2b050" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
				<h3>Story 5</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
		</o-grid>
		<div no-margin-y class="center">
			
		</div>

					</ks-o-body-section>
					<ks-o-body-section variant="default"  mutobo-attr="attrs">
								<ks-a-heading tag="h2" border-top brand="ks"><h2>Stories (Slider)</h2></ks-a-heading>
			<m-carousel-two namespace="carousel-two-3-column-" nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
				<section>
	<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet</strong>
				<h3>test 1</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>
	<ks-m-teaser namespace=teaser-story- color="ibaw-lightblue" href="/entdecken/story-2/" title="Story 2" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 2</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Aspectratio (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/rzkfo4fg/aspectratio-1.png?width=400&amp;height=226&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7460c2d803b0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>
	<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 3</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>
	<ks-m-teaser namespace=teaser-story- color="ks-green" href="/entdecken/subthema/story-4/" title="Story 4" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur</strong>
				<h3>Story 4</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/hkijzo1w/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f8c2b050" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>
	<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
				<h3>Story 5</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>
				</section>
				<div>
					<nav>
						<a href="#previous" aria-label="previous slide">
							<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
						</a>
						<a href="#next" aria-label="next slide">
							<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
						</a>
					</nav>
				</div>

			</m-carousel-two>
		<div no-margin-y class="center">
			
		</div>

					</ks-o-body-section>
					<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1) mutobo-attr="attrs">
								<ks-a-heading tag="h2" border-top brand="ks"><h2>Stories (Grid)</h2></ks-a-heading>
		<o-grid namespace="grid-12er-">
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet</strong>
				<h3>test 1</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ibaw-lightblue" href="/entdecken/story-2/" title="Story 2" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 2</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Aspectratio (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/rzkfo4fg/aspectratio-1.png?width=400&amp;height=226&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7460c2d803b0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="pro-terracotta" href="/entdecken/story-3/" title="Story 3" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 3</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Istock 617355894 Teaser (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/masbc0r1/istock-617355894_teaser.jpg?width=767&amp;height=305&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fa3dd40" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-green" href="/entdecken/subthema/story-4/" title="Story 4" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur</strong>
				<h3>Story 4</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480" picture-load="" defaultSource="https://www.klubschule.ch//media/hkijzo1w/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7f79f8c2b050" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
				<h3>Story 5</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
		</o-grid>
		<div no-margin-y class="center">
				<ks-o-body-section variant="narrow" >

					<style>
						:host {
							--background-color: transparent;
						}
					</style>


<div  >


	<ks-a-button namespace="button-primary-" target="_self" title="">

			<span id="label">btn text</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


	</ks-o-body-section>

		</div>

					</ks-o-body-section>
					<ks-o-body-section variant="default"  mutobo-attr="attrs">
						<style>
							:host {
								--background-color: transparent;
							}
						</style>
								<ks-a-heading tag="h2" border-top brand="ks"><h2>Stories (Slider) - nur 2 elemente</h2></ks-a-heading>
		<o-grid namespace="grid-12er-">
				<div col-sm="12" col-lg="6">
						<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet</strong>
				<h3>test 1</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="6">
						<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
				<h3>Story 5</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
		</o-grid>
		<div no-margin-y class="center">
				<ks-o-body-section variant="narrow" >

					<style>
						:host {
							--background-color: transparent;
						}
					</style>


<div  >


	<ks-a-button namespace="button-primary-" href="/" target="_self" title="Klubschule">

				<a-icon-mdx icon-name="AddedToList" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
				<span id="label">sdfsdsdfsdf</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


	</ks-o-body-section>

		</div>

					</ks-o-body-section>
					<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1) mutobo-attr="attrs">
						<style>
							:host {
								--background-color: transparent;
							}
						</style>
								<ks-a-heading tag="h2" border-top brand="ks"><h2>Stories (Grid) nur 2</h2></ks-a-heading>
		<o-grid namespace="grid-12er-">
				<div col-sm="12" col-lg="6">
						<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet</strong>
				<h3>test 1</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="6">
						<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
				<h3>Story 5</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
		</o-grid>
		<div no-margin-y class="center">
				<ks-o-body-section variant="narrow" >

					<style>
						:host {
							--background-color: transparent;
						}
					</style>


<div  >


	<ks-a-button namespace="button-primary-" target="_self" title="">

			<span id="label">btn text</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


	</ks-o-body-section>

		</div>

					</ks-o-body-section>
					<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1) mutobo-attr="attrs">
						<style>
							:host {
								--background-color: transparent;
							}
						</style>
								<ks-a-heading tag="h2" border-top brand="ks"><h2>Stories (Grid) nur 3</h2></ks-a-heading>
		<o-grid namespace="grid-12er-">
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-red" href="/entdecken/inspirationsseite-test-1/" title="Inspirationsseite Test 1" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet</strong>
				<h3>test 1</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Sprachen Reise 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/dnwhw1xc/sprachen-reise-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00f8e8080" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ibaw-lightblue" href="/entdecken/story-2/" title="Story 2" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</strong>
				<h3>Story 2</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Aspectratio (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/rzkfo4fg/aspectratio-1.png?width=400&amp;height=226&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da7460c2d803b0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
				<div col-sm="12" col-lg="4">
						<ks-m-teaser namespace=teaser-story- color="ks-pink" href="/entdecken/subthema/story-5/" title="Story 5" brand="ks">
		<figure>
			<figcaption>
					<strong>Lorem ipsum dolor sit amet, consetetur sadipscing</strong>
				<h3>Story 5</h3>
				<span>Beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
			</figcaption>

			<a-picture namespace="picture-teaser-" alt="Intensivklasse Fotografie 960X480 (1)" picture-load="" defaultSource="https://www.klubschule.ch//media/4e1bneyi/intensivklasse-fotografie-960x480.png?width=960&amp;height=480&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1da9ae00fb62cc0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
		</figure>
	</ks-m-teaser>

				</div>
		</o-grid>
		<div no-margin-y class="center">
				<ks-o-body-section variant="narrow" >

					<style>
						:host {
							--background-color: transparent;
						}
					</style>


<div  >


	<ks-a-button namespace="button-primary-" target="_self" title="">

			<span id="label">btn text</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


	</ks-o-body-section>

		</div>

					</ks-o-body-section>

	</ks-o-body-section>
