<o-body>
    <div>
        <a-icon-mdx icon-name="ArrowLeft" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
        <a href="/de/entdecken/">entdecken</a>
    </div>

<ks-a-heading tag="h1" border-top>
    <style>
        :host {
            --h1-text-align: center;
            --h1-display: flex;
        }

            :host h1 {
                align-items: center;
                flex-direction: column;
            }
    </style>
    story 1
</ks-a-heading>

    <a-picture picture-load namespace="picture-cover-" alt="Aspectratio" defaultSource="/media/abvjiktw/aspectratio.png" aspect-ratio="0.5625"></a-picture>

<o-grid namespace="grid-2columns-content-section-" first-container-vertical="" first-column-with="66%" with-border="">
    <div>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>						<o-body-style content-width-var="100%">
            
<ks-a-heading tag="h2">title</ks-a-heading>


        </o-body-style>
        <o-body-style content-width-var="100%">
            
<div><p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </strong></p>
<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>


        </o-body-style>
        <o-body-style content-width-var="100%">
            

<div>
        <m-details namespace="details-default-icon-right-" >
            <details>
                <summary>
                    <h4>accordion 1</h4>
                </summary>

                <div>
                    <style>
                        :host details summary ~ * {
                            --details-default-color-secondary: var(--color-hover);
                        }
                    </style>

            <o-body-style any-content-width-var="66%">
                
<ks-a-heading tag="h3">test title</ks-a-heading>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                
<div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>


            </o-body-style>
                </div>
            </details>
        </m-details>
        <m-details namespace="details-default-icon-right-" >
            <details>
                <summary>
                    <h4>accordion 2</h4>
                </summary>

                <div>
                    <style>
                        :host details summary ~ * {
                            --details-default-color-secondary: var(--color-hover);
                        }
                    </style>

            <o-body-style any-content-width-var="66%">
                
<div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>


            </o-body-style>
                </div>
            </details>
        </m-details>
        <m-details namespace="details-default-icon-right-" >
            <details>
                <summary>
                    <h4>accordion 3</h4>
                </summary>

                <div>
                    <style>
                        :host details summary ~ * {
                            --details-default-color-secondary: var(--color-hover);
                        }
                    </style>

            <o-body-style any-content-width-var="66%">
                

<div >
<ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
            <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
            <span id="label">btn</span>
</ks-a-button>
</div>




            </o-body-style>
                </div>
            </details>
        </m-details>
</div>


        </o-body-style>
        <o-body-style content-width-var="100%">
                <div>
    <ks-m-figure>
        <ks-a-picture picture-load namespace="picture-default-" defaultSource="/media/ce0f505k/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f26eaee0" open-modal open-modal-mobile></ks-a-picture>
            <figcaption>test</figcaption>
    </ks-m-figure>
</div>

        </o-body-style>
        <o-body-style content-width-var="100%">
            
        </o-body-style>
        <o-body-style content-width-var="100%">
                <!-- Nur wenn mehr als 1 element -->
<ks-a-video namespace="video-default-">
    <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="video beschreibung"
            width="560" height="315"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <span></span>
        <p>video beschreibung</p>
</ks-a-video>

        </o-body-style>

    </div>
    <div>
            <aside>

        <h2>unter-navigation</h2>

</aside>

    </div>
</o-grid>

                <o-body-style any-content-width-var="66%">
                
<ks-a-heading tag="h2" border-top="">titel contentbereich 2</ks-a-heading>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                
<div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                

<o-body-style>

    <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right"
        href="/de/">


            <a-picture picture-load namespace="picture-scale-up-" defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da2f2f6fe0e8f0"></a-picture>
    

    <div>		


                <h3>bild und text</h3>

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                <ks-a-button big namespace="button-primary-"
                             href="/de/"
                             target="_self">
                            <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                            <span id="label">btn label</span>
                </ks-a-button>
        
    </div>


    

</ks-m-teaser>

</o-body-style>

            </o-body-style>
            <o-body-style any-content-width-var="66%">
                

<div class=center>
<ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
            <a-icon-mdx icon-name="AddToList" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
            <span id="label">button label</span>
</ks-a-button>
</div>




            </o-body-style>
            <o-body-style any-content-width-var="66%">
                


    <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="" target="" flex-nowrap-mobile>

        <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da2f2f6fe0e8f0" alt="Abonnemente 1200X628"></a-picture>

    <div>

            <h3>Test-Teaser</h3>

            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. </p>


    </div>
    
</ks-m-teaser>
    <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="" target="" flex-nowrap-mobile>

        <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/lfabopg3/bxctn0bno0qufmfjp1v48liurgyplu7rewohz2fc.jpeg?width=5260&amp;height=2958&amp;format=jpeg&amp;quality=80&amp;v=1da1e1e16598a70" alt="Bxctn0bno0qufmfjp1v48liurgyplu7rewohz2fc"></a-picture>

    <div>

            <h3>MIDUWEB-123 (mit Text, Bild links)</h3>

            <p>[CMS] TextImage Teaser / Bild Text Teaser
🫡🫡🫡
发电机</p>


    </div>
    
</ks-m-teaser>



            </o-body-style>
            <o-body-style any-content-width-var="66%">
                




<o-grid auto-fill="20%" gap="1rem">

    <ks-m-teaser namespace="teaser-tile-content-" inverse color="" href="" target="">
        <figure>
            <figcaption>
                    <strong>pre-title</strong>

                    <h3>title</h3>

                    <p>lkjdsaljksaf lksadjlk</p>

            </figcaption>
                    <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da2f2f6fe0e8f0" aspect-ratio="0.5625"></a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace="teaser-tile-content-"  color="" href="https://privacy.migros.ch/de.html" target="_blank">
        <figure>
            <figcaption>
                    <strong>gugus</strong>

                    <h3>teaser title</h3>

                    <p>jo was au</p>

                    <span href="https://privacy.migros.ch/de.html" target="_blank">
                        Privacy
                        <a-icon-mdx icon-name="ArrowUpRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                    </span>
            </figcaption>
                    <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/ddldib02/nerd.jpg?width=380&amp;height=213&amp;format=jpg&amp;quality=80&amp;v=1da455553581870" aspect-ratio="0.5625"></a-picture>
        </figure>
    </ks-m-teaser>

</o-grid>



            </o-body-style>
            <o-body-style any-content-width-var="66%">
                



<ks-m-teaser namespace="teaser-fullwidth-" color="secondary" text-position="right" href="/de/test-am/">
        <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/na0lqewt/teaser-petite-enfance.jpg?width=988&amp;height=555&amp;format=jpg&amp;quality=80&amp;v=1da53984292c3e0"></a-picture>
<div>

                <h3>Test</h3>

                <p>Text Inhalt</p>

                <ks-a-button big namespace="button-tertiary-" color="quaternary" href="/de/test-am/" target="_self">
                    TEST AM
                    <a-icon-mdx icon-name="ArrowRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                </ks-a-button>

    </div>
</ks-m-teaser>




            </o-body-style>
            <o-body-style any-content-width-var="66%">
                
<o-wrapper namespace=wrapper-teaser-   picture-last-mobile>
                    <o-body-style any-content-width-var="66%">
                
<ks-a-heading tag="h2">content container title</ks-a-heading>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                
<div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p></div>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                    <div>
    <ks-m-figure>
        <ks-a-picture picture-load namespace="picture-default-" defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da2f2f6fe0e8f0" ></ks-a-picture>
    </ks-m-figure>
</div>

            </o-body-style>
            <o-body-style any-content-width-var="66%">
                

<div >
<ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
            <span id="label">btn label</span>
            <a-icon-mdx icon-name="AddToList" size="1em" class="icon-right" tabindex="0"> </a-icon-mdx>
</ks-a-button>
</div>




            </o-body-style>
            <o-body-style any-content-width-var="66%">
                    <!-- Nur wenn mehr als 1 element -->
<ks-a-video namespace="video-default-">
    <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="ks video"
            width="560" height="315"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <span></span>
        <p>ks video</p>
</ks-a-video>

            </o-body-style>

</o-wrapper>

            </o-body-style>
            <o-body-style any-content-width-var="66%">
                

<div>
        <m-details namespace="details-default-icon-right-" >
            <details>
                <summary>
                    <h4>accordion 1</h4>
                </summary>

                <div>
                    <style>
                        :host details summary ~ * {
                            --details-default-color-secondary: var(--color-hover);
                        }
                    </style>

            <o-body-style any-content-width-var="66%">
                
<ks-a-heading tag="h3">test title</ks-a-heading>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                
<div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>


            </o-body-style>
                </div>
            </details>
        </m-details>
        <m-details namespace="details-default-icon-right-" >
            <details>
                <summary>
                    <h4>accordion 2</h4>
                </summary>

                <div>
                    <style>
                        :host details summary ~ * {
                            --details-default-color-secondary: var(--color-hover);
                        }
                    </style>

            <o-body-style any-content-width-var="66%">
                
<div><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></div>


            </o-body-style>
                </div>
            </details>
        </m-details>
        <m-details namespace="details-default-icon-right-" >
            <details>
                <summary>
                    <h4>accordion 3</h4>
                </summary>

                <div>
                    <style>
                        :host details summary ~ * {
                            --details-default-color-secondary: var(--color-hover);
                        }
                    </style>

            <o-body-style any-content-width-var="66%">
                

<div >
<ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
            <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
            <span id="label">btn</span>
</ks-a-button>
</div>




            </o-body-style>
                </div>
            </details>
        </m-details>
</div>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                
<table>
<thead>			<tr>
                    <th><p>header 1</p></th>
                    <th><p>header 2</p></th>
                    <th><p>header 3</p></th>
        </tr>
</thead>			<tr>
                    <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></td>
                    <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></td>
                    <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></td>
        </tr>
        <tr>
                    <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p></td>
                    <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p></td>
                    <td><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p></td>
        </tr>
</table>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                        <ks-a-heading tag="h2" >weitere stories</ks-a-heading>
    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="8">
                    <ks-m-teaser namespace=teaser-story- color="quaternary" href="/de/entdecken/story-1/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/abvjiktw/aspectratio.png?width=824&amp;height=463&amp;format=png&amp;quality=80&amp;v=1da6a32f2c3acb0" aspect-ratio="0.5625" alt="Aspectratio"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/2x2n1afx/aspectratio-2.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f29549b0" aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/ce0f505k/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f26eaee0" aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei-again/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/2x2n1afx/aspectratio-2.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f29549b0" aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/ce0f505k/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f26eaee0" aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
    </o-grid>

            </o-body-style>
            <o-body-style any-content-width-var="66%">
                        <ks-a-heading tag="h2" >weitere stories</ks-a-heading>
    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="quaternary" href="/de/entdecken/story-1/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/abvjiktw/aspectratio.png?width=824&amp;height=463&amp;format=png&amp;quality=80&amp;v=1da6a32f2c3acb0" aspect-ratio="0.5625" alt="Aspectratio"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/2x2n1afx/aspectratio-2.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f29549b0" aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/ce0f505k/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f26eaee0" aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei-again/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/2x2n1afx/aspectratio-2.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f29549b0" aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                    <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
    <figure>
        <figcaption>
                <strong>pretitle</strong>
            <h3>title</h3>
            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
        </figcaption>

            <a-picture picture-load namespace="picture-teaser-" defaultSource="/media/ce0f505k/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a32f26eaee0" aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
    </figure>
</ks-m-teaser>

            </div>
    </o-grid>

            </o-body-style>

</o-body>

