<o-body>
    <div>
        <a-icon-mdx icon-name="ArrowLeft" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
        <a href="/de/entdecken/">stories</a>
    </div>

    <ks-a-heading tag="h1" border-top>
        <style>
            :host {
                --h1-text-align: center;
                --h1-display: flex;
            }

            :host h1 {
                align-items: center;
                flex-direction: column;
            }
        </style>
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
    </ks-a-heading>

    <a-picture picture-load namespace="picture-cover-" alt="Photoandy" defaultSource="/media/o1unvdyp/photoandy.png"
        aspect-ratio="0.5625"></a-picture>

    <o-grid namespace="grid-2columns-content-section-" first-container-vertical="" first-column-with="66%"
        with-border="">
        <div>
            <p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. </strong></p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                Lorem ipsum dolor sit amet.</p> <o-body-style any-content-width-var="66%">

                <ks-a-heading tag="h2">title contentbereich 1</ks-a-heading>


            </o-body-style>
            <o-body-style any-content-width-var="66%">

                <div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet.</p>
                </div>


            </o-body-style>
            <o-body-style any-content-width-var="66%">


                <div>
                    <m-details namespace="details-default-icon-right-">
                        <details>
                            <summary>
                                <h4>flap 1</h4>
                            </summary>

                            <div>
                                <style>
                                    :host details summary~* {
                                        --details-default-color-secondary: var(--color-hover);
                                    }
                                </style>

                                <o-body-style any-content-width-var="66%">

                                    <ks-a-heading tag="h3">lroem ipsum</ks-a-heading>


                                </o-body-style>
                                <o-body-style any-content-width-var="66%">

                                    <div>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                            diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                            amet.</p>
                                    </div>


                                </o-body-style>
                            </div>
                        </details>
                    </m-details>
                    <m-details namespace="details-default-icon-right-">
                        <details>
                            <summary>
                                <h4>flap 2</h4>
                            </summary>

                            <div>
                                <style>
                                    :host details summary~* {
                                        --details-default-color-secondary: var(--color-hover);
                                    }
                                </style>

                                <o-body-style any-content-width-var="66%">

                                    <div>
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                            diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                            amet.</p>
                                    </div>


                                </o-body-style>
                            </div>
                        </details>
                    </m-details>
                    <m-details namespace="details-default-icon-right-">
                        <details>
                            <summary>
                                <h4>flap 3</h4>
                            </summary>

                            <div>
                                <style>
                                    :host details summary~* {
                                        --details-default-color-secondary: var(--color-hover);
                                    }
                                </style>

                                <o-body-style any-content-width-var="66%">


                                    <div class=center>
                                        <ks-a-button namespace="button-primary-" href="/de/" color="quaternary"
                                            target="_self">
                                            <a-icon-mdx icon-name="AlertTriangle" size="1em" class="icon-left"
                                                tabindex="0"> </a-icon-mdx>
                                            <span id="label">button label</span>
                                        </ks-a-button>
                                    </div>




                                </o-body-style>
                            </div>
                        </details>
                    </m-details>
                    <m-details namespace="details-default-icon-right-">
                        <details>
                            <summary>
                                <h4>flap 4</h4>
                            </summary>

                            <div>
                                <style>
                                    :host details summary~* {
                                        --details-default-color-secondary: var(--color-hover);
                                    }
                                </style>

                                <o-body-style any-content-width-var="66%">
                                    <!-- Nur wenn mehr als 1 element -->
                                    <ks-a-video namespace="video-default-">
                                        <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="holdrio"
                                            width="560" height="315" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <span></span>
                                        <p>holdrio</p>
                                    </ks-a-video>

                                </o-body-style>
                            </div>
                        </details>
                    </m-details>
                    <m-details namespace="details-default-icon-right-">
                        <details>
                            <summary>
                                <h4>flap 5</h4>
                            </summary>

                            <div>
                                <style>
                                    :host details summary~* {
                                        --details-default-color-secondary: var(--color-hover);
                                    }
                                </style>

                                <o-body-style any-content-width-var="66%">
                                    <div>
                                        <ks-m-figure>
                                            <ks-a-picture picture-load namespace="picture-default-"
                                                defaultSource="/media/na0lqewt/teaser-petite-enfance.jpg?width=988&amp;height=555&amp;format=jpg&amp;quality=80&amp;v=1da43ca1e56a2e0"
                                                open-modal open-modal-mobile></ks-a-picture>
                                            <figcaption>sdfsdfsdf</figcaption>
                                        </ks-m-figure>
                                    </div>

                                </o-body-style>
                            </div>
                        </details>
                    </m-details>
                </div>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                <div>
                    <ks-m-figure>
                        <ks-a-picture picture-load namespace="picture-default-"
                            defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da397a39aaa910"
                            open-modal open-modal-mobile></ks-a-picture>
                        <figcaption>sdfsdsd</figcaption>
                    </ks-m-figure>
                </div>

            </o-body-style>
            <o-body-style any-content-width-var="66%">
                <!-- Nur wenn mehr als 1 element -->
                <ks-a-video namespace="video-default-">
                    <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="sdfsdsd" width="560"
                        height="315" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <span></span>
                    <p>sdfsdsd</p>
                </ks-a-video>

            </o-body-style>
            <o-body-style any-content-width-var="66%">

            </o-body-style>

        </div>
        <div>
            <aside>


            </aside>

        </div>
    </o-grid>

    <o-body-style any-content-width-var="66%">

        <ks-a-heading tag="h2">heading</ks-a-heading>


    </o-body-style>
    <o-body-style any-content-width-var="66%">

        <div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>


    </o-body-style>
    <o-body-style any-content-width-var="66%">


        <o-body-style>

            <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="/de/">


                <a-picture picture-load namespace="picture-scale-up-"
                    defaultSource="/media/kuupcf4g/aspectratio.png?width=824&amp;height=463&amp;format=png&amp;quality=80&amp;v=1da6a67ccae4640"></a-picture>


                <div>


                    <h3>test</h3>

                    dskljsd klsdajsda lsdf lksadj lk jsadlkjsadfjlksadf
                    <ks-a-button big namespace="button-primary-" href="/de/" target="_self">
                        <a-icon-mdx icon-name="Bell" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                        <span id="label">btn label</span>
                    </ks-a-button>

                </div>




            </ks-m-teaser>

        </o-body-style>

    </o-body-style>
    <o-body-style any-content-width-var="66%">


        <div class=center>
            <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
                <a-icon-mdx icon-name="AlertCircle" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                <span id="label">btn again</span>
            </ks-a-button>
        </div>




    </o-body-style>
    <o-body-style any-content-width-var="66%">

        <o-wrapper namespace=wrapper-teaser- picture-last-mobile>
            <o-body-style any-content-width-var="66%">

                <ks-a-heading tag="h2">sdfsd</ks-a-heading>


            </o-body-style>
            <o-body-style any-content-width-var="66%">

                <div>
                    <p>jlksdf lsdljksfdjlk sadfkl sdfajkl</p>
                    <p>asdljsdfajlksad</p>
                    <p>sadjlksadlkjsdaf</p>
                </div>


            </o-body-style>
            <o-body-style any-content-width-var="66%">
                <div>
                    <ks-m-figure>
                        <ks-a-picture picture-load namespace="picture-default-"
                            defaultSource="/media/rzkfo4fg/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a67cf267230"
                            open-modal open-modal-mobile></ks-a-picture>
                    </ks-m-figure>
                </div>

            </o-body-style>
            <o-body-style any-content-width-var="66%">


                <div class=center>
                    <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
                        <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                        <span id="label">btn im container</span>
                    </ks-a-button>
                </div>




            </o-body-style>

        </o-wrapper>

    </o-body-style>
    <o-body-style any-content-width-var="66%">


        <div>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>flap 1</h4>
                    </summary>

                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>

                        <o-body-style any-content-width-var="66%">

                            <ks-a-heading tag="h3">lroem ipsum</ks-a-heading>


                        </o-body-style>
                        <o-body-style any-content-width-var="66%">

                            <div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                    takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                                    ipsum dolor sit amet.</p>
                            </div>


                        </o-body-style>
                    </div>
                </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>flap 2</h4>
                    </summary>

                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>

                        <o-body-style any-content-width-var="66%">

                            <div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                    takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                                    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                                    ipsum dolor sit amet.</p>
                            </div>


                        </o-body-style>
                    </div>
                </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>flap 3</h4>
                    </summary>

                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>

                        <o-body-style any-content-width-var="66%">


                            <div class=center>
                                <ks-a-button namespace="button-primary-" href="/de/" color="quaternary" target="_self">
                                    <a-icon-mdx icon-name="AlertTriangle" size="1em" class="icon-left" tabindex="0">
                                    </a-icon-mdx>
                                    <span id="label">button label</span>
                                </ks-a-button>
                            </div>




                        </o-body-style>
                    </div>
                </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>flap 4</h4>
                    </summary>

                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>

                        <o-body-style any-content-width-var="66%">
                            <!-- Nur wenn mehr als 1 element -->
                            <ks-a-video namespace="video-default-">
                                <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="holdrio"
                                    width="560" height="315" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <span></span>
                                <p>holdrio</p>
                            </ks-a-video>

                        </o-body-style>
                    </div>
                </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>flap 5</h4>
                    </summary>

                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>

                        <o-body-style any-content-width-var="66%">
                            <div>
                                <ks-m-figure>
                                    <ks-a-picture picture-load namespace="picture-default-"
                                        defaultSource="/media/na0lqewt/teaser-petite-enfance.jpg?width=988&amp;height=555&amp;format=jpg&amp;quality=80&amp;v=1da43ca1e56a2e0"
                                        open-modal open-modal-mobile></ks-a-picture>
                                    <figcaption>sdfsdfsdf</figcaption>
                                </ks-m-figure>
                            </div>

                        </o-body-style>
                    </div>
                </details>
            </m-details>
        </div>


    </o-body-style>
    <o-body-style any-content-width-var="66%">
        <div>
            <ks-m-figure>
                <ks-a-picture picture-load namespace="picture-default-"
                    defaultSource="/media/o1unvdyp/photoandy.png?width=3870&amp;height=2176&amp;format=png&amp;quality=80&amp;v=1da63d891eaf070"
                    open-modal open-modal-mobile></ks-a-picture>
                <figcaption>sdfssd</figcaption>
            </ks-m-figure>
        </div>

    </o-body-style>
    <o-body-style any-content-width-var="66%">
        <!-- Nur wenn mehr als 1 element -->
        <ks-a-video namespace="video-default-">
            <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="sdfsdsd" width="560" height="315"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <span></span>
            <p>sdfsdsd</p>
        </ks-a-video>

    </o-body-style>
    <o-body-style any-content-width-var="66%">



        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="" target=""
            flex-nowrap-mobile>

            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da397a39aaa910"
                alt="Abonnemente 1200X628"></a-picture>

            <div>

                <h3>Title Txt Image Teaser</h3>

                <p>lorem ipsum dolor sit amet. lorem ipsum dolor sit amet. lorem ipsum dolor sit amet. lorem ipsum dolor
                    sit amet. </p>


            </div>

        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="" target=""
            flex-nowrap-mobile>

            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da397a39aaa910"
                alt="Abonnemente 1200X628"></a-picture>

            <div>

                <h3>Andy&#x27;s Text Image Teaser</h3>

                <p>judihui, mol luege wiä mit 2 teaser...</p>

                <ks-a-button namespace="button-primary-" href="/de/" target="_self">
                    <a-icon-mdx icon-name="ArrowUpRight" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                    <span id="label">btn text</span>
                </ks-a-button>

            </div>

        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="left" href="" target=""
            flex-nowrap-mobile>

            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="/media/na0lqewt/teaser-petite-enfance.jpg?width=988&amp;height=555&amp;format=jpg&amp;quality=80&amp;v=1da43ca1e56a2e0"
                alt="Teaser Petite Enfance"></a-picture>

            <div>

                <h3>Teaser Global Bild rechts</h3>

                <p>lorem ipsum dolor sit amet. lorem ipsum dolor sit amet. lorem ipsum dolor sit amet. lorem ipsum dolor
                    sit amet. lorem ipsum dolor sit amet. </p>


            </div>

        </ks-m-teaser>



    </o-body-style>
    <o-body-style any-content-width-var="66%">





        <o-grid auto-fill="20%" gap="1rem">

            <ks-m-teaser namespace="teaser-tile-content-" color="senary" href="" target="">
                <figure>
                    <figcaption>
                        <strong>I am Pretitle</strong>

                        <h3>i am the title</h3>

                        <p>body text stands here</p>

                    </figcaption>
                    <a-picture picture-load namespace="picture-teaser-"
                        defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da397a39aaa910"
                        aspect-ratio="0.5625"></a-picture>
                </figure>
            </ks-m-teaser>
            <ks-m-teaser namespace="teaser-tile-content-" inverse color="secondary" href="www.klubschule.ch"
                target="_blank">
                <figure>
                    <figcaption>
                        <strong>Pre-Title 2</strong>

                        <h3>holdrio</h3>

                        <p>lorem ipsum dolor</p>

                        <span href="www.klubschule.ch" target="_blank">
                            Link extern
                            <a-icon-mdx icon-name="ArrowUpRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                        </span>
                    </figcaption>
                    <a-picture picture-load namespace="picture-teaser-"
                        defaultSource="/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da397a39aaa910"
                        aspect-ratio="0.5625"></a-picture>
                </figure>
            </ks-m-teaser>
            <ks-m-teaser namespace="teaser-tile-content-" color="quinary" href="/de/" target="_self">
                <figure>
                    <figcaption>
                        <strong>dsdss</strong>

                        <h3>dsds</h3>

                        <p>lkjsdj dsjlk ljls</p>

                        <span href="/de/" target="_self">
                            Home
                            <a-icon-mdx icon-name="ArrowRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                        </span>
                    </figcaption>
                    <a-picture picture-load namespace="picture-teaser-"
                        defaultSource="/media/na0lqewt/teaser-petite-enfance.jpg?width=988&amp;height=555&amp;format=jpg&amp;quality=80&amp;v=1da43ca1e56a2e0"
                        aspect-ratio="0.5625"></a-picture>
                </figure>
            </ks-m-teaser>

        </o-grid>



    </o-body-style>
    <o-body-style any-content-width-var="66%">



        <o-wrapper namespace="wrapper-teaser-">
            <ks-m-teaser namespace="teaser-tile-">
                <figure>
                    <figcaption>
                        <h3>Title</h3>

                        <p>i am the text of the teaser</p>

                    </figcaption>
                    <a-picture picture-load namespace="picture-teaser-"
                        defaultSource="/media/pgpll30c/iso-zertifikat-klubschule-mq-management-u-qualitaet-scaled.jpg?width=2560&amp;height=1440&amp;format=jpg&amp;quality=80&amp;v=1da461998533e90"></a-picture>
                    Position: left
                </figure>
            </ks-m-teaser>
        </o-wrapper>



    </o-body-style>
    <o-body-style any-content-width-var="66%">
        <ks-a-heading tag="h2">strories</ks-a-heading>
        <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="8">
                <ks-m-teaser namespace=teaser-story- color="secondary" href="/de/entdecken/lorem-ipsum/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>link label<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>

                        <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="/media/o1unvdyp/photoandy.png?width=3870&amp;height=2176&amp;format=png&amp;quality=80&amp;v=1da63d891eaf070"
                            aspect-ratio="0.5625" alt="Photoandy"></a-picture>
                    </figure>
                </ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="secondary" href="/de/entdecken/lorem-ipsum-1/">
                    <figure>
                        <figcaption>
                            <strong>pretitle 2</strong>
                            <h3>title</h3>
                            <span>link label<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>

                        <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="/media/rzkfo4fg/aspectratio-1.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a67cf267230"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/lorem-ipsum-2/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>Stet clita kasd gubergren</h3>
                            <span>link label<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>

                        <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="/media/kuupcf4g/aspectratio.png?width=824&amp;height=463&amp;format=png&amp;quality=80&amp;v=1da6a67ccae4640"
                            aspect-ratio="0.5625" alt="Aspectratio"></a-picture>
                    </figure>
                </ks-m-teaser>

            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/lorem-ipsum-3/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title 3</h3>
                            <span>link label<a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                        </figcaption>

                        <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="/media/yffljt10/aspectratio-2.png?width=400&amp;height=225&amp;format=png&amp;quality=80&amp;v=1da6a67c877ef90"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>

            </div>
        </o-grid>

    </o-body-style>
    <o-body-style any-content-width-var="66%">

        <table>
            <thead>
                <tr>
                    <th>
                        <p>header 1</p>
                    </th>
                    <th>
                        <p>header 2</p>
                    </th>
                    <th>
                        <p>header 3</p>
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    <p>sdfsdsd header 1<br>dssfd&nbsp;</p>
                </td>
                <td>
                    <p>sdfsdsd header 1<br>dssfd&nbsp;</p>
                </td>
                <td>
                    <p>sdfsdsd header 1<br>dssfd&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>sdfsdsd header 1<br>dssfd&nbsp;</p>
                </td>
                <td>
                    <p>sdfsdsd header 1<br>dssfd&nbsp;</p>
                </td>
                <td>
                    <p>sdfsdsd header 1<br>dssfd&nbsp;</p>
                </td>
            </tr>
        </table>


    </o-body-style>

</o-body>