<!-- stage with title -->
<ks-m-stage namespace="stage-title-">
    <p class="topline">
        <a href="/de/entdecken/" alt=""><a-icon-mdx icon-name="ArrowLeft" size="1em" icon-size='24x24'></a-icon-mdx>
            <span>stories</span></a>
    </p>
    <ks-a-heading tag="h1" display-3 centered border-top>
        asd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
    </ks-a-heading> <a-picture picture-load namespace="picture-cover-" alt="Photoandy"
        defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A">
    </a-picture>
</ks-m-stage>
<!-- /stage with title -->

<!-- two columns section -->
<o-grid namespace="grid-2columns-content-section-" first-container-vertical="" first-column-with="66%"
    with-border="" width="100%">
    <!-- TODO: add margins etc. -->
    <ks-o-body-section content-width-var="100%" no-margin-y>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <ks-a-heading tag="h2">title</ks-a-heading>
        <p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores et ea rebum. </strong></p>
        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <div class="margin-y-m">
            <m-details namespace="details-default-icon-right-">
                    <details>
                        <summary>
                            <h4>accordion 1</h4>
                        </summary>
                        <div>
                            <style>
                                :host details summary~* {
                                    --details-default-color-secondary: var(--color-hover);
                                }
                            </style>
                            <ks-a-heading tag="h3">test title</ks-a-heading>
                            <div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua.</p>
                            </div>
                        </div>
                    </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                    <details>
                        <summary>
                            <h4>accordion 2</h4>
                        </summary>
                        <div>
                            <style>
                                :host details summary~* {
                                    --details-default-color-secondary: var(--color-hover);
                                }
                            </style>
                            <div>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua.</p>
                            </div>
                        </div>
                    </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                    <details>
                        <summary>
                            <h4>accordion 3</h4>
                        </summary>
                        <div>
                            <style>
                                :host details summary~* {
                                    --details-default-color-secondary: var(--color-hover);
                                }
                            </style>
                            <div>
                                <ks-a-button namespace="button-primary-" href="/de/" color="secondary"
                                    target="_self">
                                    <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left"
                                        tabindex="0"> </a-icon-mdx>
                                    <span id="label">btn</span>
                                </ks-a-button>
                            </div>
                        </div>
                    </details>
            </m-details>
        </div>
        <ks-m-figure>
            <ks-a-picture picture-load namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                open-modal open-modal-mobile></ks-a-picture>
            <figcaption>test</figcaption>
        </ks-m-figure>
        <ks-a-video namespace="video-default-">
            <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="video beschreibung" width="560"
                height="315" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <span></span>
            <p>video beschreibung</p>
        </ks-a-video>
    </ks-o-body-section>
    <aside>
        <ks-a-heading tag="h2" style-as="h3">unter-navigation</ks-a-heading>
        <div>
            <ks-m-link-list namespace="link-list-default-">
                <ul>
                    <li>
                        <a href="#">
                            <span>Label</span>
                            <a-icon-mdx namespace="icon-link-list-" icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>                        
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Label</span>
                            <a-icon-mdx namespace="icon-link-list-" icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>                        
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Label</span>
                            <a-icon-mdx namespace="icon-link-list-" icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>                        
                        </a>
                    </li>
                </ul>
            </ks-m-link-list>
        </div>
    </aside>
</o-grid>
<!-- /two columns section -->

<!-- flexible content -->
<ks-o-body-section variant="narrow"> 
    <ks-a-heading tag="h2" border-top="">titel contentbereich 2</ks-a-heading>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p> <ks-o-body-section
        variant="default">
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="/de/">
            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A">
            </a-picture>
            <div>
                <h3>bild und text</h3> 
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <ks-a-button big namespace="button-primary-" href="/de/" target="_self">
                    <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                    <span id="label">btn label</span>
                </ks-a-button>
            </div>
        </ks-m-teaser>
    </ks-o-body-section> 
    <ks-o-body-section variant="narrow">
        <div class=center>
            <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
                <a-icon-mdx icon-name="AddToList" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
                <span id="label">button label</span>
            </ks-a-button>
        </div>
    </ks-o-body-section>
    <ks-o-body-section variant="default">
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="" target=""
            flex-nowrap-mobile>
            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                alt="Abonnemente 1200X628">
            </a-picture>
            <div>
                <h3>Test-Teaser</h3>
                <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor
                    sit amet.</p>
            </div>
        </ks-m-teaser>
    </ks-o-body-section>
    <ks-o-body-section variant="default">
        <ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="" target=""
            flex-nowrap-mobile>
            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                alt="Bxctn0bno0qufmfjp1v48liurgyplu7rewohz2fc"></a-picture>
            <div>
                <h3>MIDUWEB-123 (mit Text, Bild links)</h3>
                <p>[CMS] TextImage Teaser / Bild Text Teaser
                    🫡🫡🫡
                    发电机</p>
            </div>
        </ks-m-teaser>
    </ks-o-body-section> 
    <ks-o-body-section variant="default"> 
        <o-grid namespace="grid-12er-" gap="1rem">
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace="teaser-tile-content-" inverse color="quaternary" href="" target="">
                    <figure>
                        <figcaption>
                            <strong>pre-title</strong>
                            <h3>title</h3>
                            <p>lkjdsaljksaf lksadjlk</p>
                        </figcaption>
                        <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace="teaser-tile-content-" color="secondary" href="https://privacy.migros.ch/de.html"
                    target="_blank">
                    <figure>
                        <figcaption>
                            <strong>gugus</strong>
                            <h3>teaser title</h3>
                            <p>jo was au</p> <span href="https://privacy.migros.ch/de.html" target="_blank">
                                Privacy
                                <a-icon-mdx icon-name="ArrowUpRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                            </span>
                        </figcaption>
                        <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
        </o-grid>
    </ks-o-body-section>
    <ks-o-body-section variant="default">
        <ks-m-teaser namespace="teaser-fullwidth-" color="secondary" text-position="right" href="/de/test-am/">
            <a-picture picture-load namespace="picture-teaser-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"></a-picture>
            <div>
                <h3>Test</h3>
                <p>Text Inhalt</p> 
                <ks-a-button big namespace="button-tertiary-" color="secondary"
                    target="_self">
                    TEST AM
                    <a-icon-mdx icon-name="ArrowRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
                </ks-a-button>
            </div>
        </ks-m-teaser>
    </ks-o-body-section>
    <ks-o-body-section variant="narrow">
        <ks-a-heading tag="h2">content container title</ks-a-heading>
        <div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum dolor sit amet.</p>
        </div>
        <ks-m-figure>
            <ks-a-picture picture-load namespace="picture-default-"
                defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"></ks-a-picture>
        </ks-m-figure>
        <div>
            <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
                <span id="label">btn label</span>
                <a-icon-mdx icon-name="AddToList" size="1em" class="icon-right" tabindex="0"> </a-icon-mdx>
            </ks-a-button>
        </div>
        
        <ks-a-video namespace="video-default-">
            <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="ks video" width="560"
                height="315" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <span></span>
            <p>ks video</p>
        </ks-a-video> 
    </ks-o-body-section>
    <ks-o-body-section variant="narrow">
        <div>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>accordion 1</h4>
                    </summary>
                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>  
                        <ks-a-heading tag="h3">test title</ks-a-heading>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                    </div>
                </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>accordion 2</h4>
                    </summary>
                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div>
                    </div>
                </details>
            </m-details>
            <m-details namespace="details-default-icon-right-">
                <details>
                    <summary>
                        <h4>accordion 3</h4>
                    </summary>
                    <div>
                        <style>
                            :host details summary~* {
                                --details-default-color-secondary: var(--color-hover);
                            }
                        </style>
                        <div>
                            <ks-a-button namespace="button-primary-" href="/de/" color="secondary" target="_self">
                                <a-icon-mdx icon-name="ArrangeAndroid" size="1em" class="icon-left" tabindex="0">
                                </a-icon-mdx>
                                <span id="label">btn</span>
                            </ks-a-button>
                        </div>
                    </div>
                </details>
            </m-details>
        </div>
    </ks-o-body-section>
    <ks-o-body-section variant="narrow">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            header 1
                        </th>
                        <th>
                            header 2
                        </th>
                        <th>
                            header 3
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et</p>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et</p>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et</p>
                    </td>
                </tr>
            </table>
        </div>
    </ks-o-body-section>
    <ks-o-body-section variant="default">
        <ks-a-heading tag="h2" style-as="h1" border-top>weitere stories</ks-a-heading>
        <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="8">
                <ks-m-teaser namespace=teaser-story- color="quaternary" href="/de/entdecken/story-1/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei-again/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
        </o-grid> 
    </ks-o-body-section>
    <ks-o-body-section variant="default">
        <ks-a-heading tag="h2" style-as="h1" border-top>weitere stories</ks-a-heading>
        <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quaternary" href="/de/entdecken/story-1/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="septenary" href="/de/entdecken/story-zwei-again/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (2)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
            <div col-sm="12" col-lg="4">
                <ks-m-teaser namespace=teaser-story- color="quinary" href="/de/entdecken/story-pink-again-nomol/">
                    <figure>
                        <figcaption>
                            <strong>pretitle</strong>
                            <h3>title</h3>
                            <span>beitrag lesen<a-icon-mdx icon-name="ArrowRight" size="1em"
                                    no-hover></a-icon-mdx></span>
                        </figcaption> <a-picture picture-load namespace="picture-teaser-"
                            defaultSource="https://www.klubschule.ch/-/media/Images/Slider/Kreativitaet/Intensivklassen-Schreiben-2024-960x480.ashx?gzip=true&hash=A56E1E24ABBD29CF26BE14EE07240780E586748A"
                            aspect-ratio="0.5625" alt="Aspectratio (1)"></a-picture>
                    </figure>
                </ks-m-teaser>
            </div>
        </o-grid>
    </ks-o-body-section>
</ks-o-body-section>
<!-- /flexible content -->