<h1 id="primary">Link List</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <div>
        <ks-m-link-list namespace="link-list-default-">
            <ul>
                <li>
                    <span>Label</span>
                    <a-icon-mdx icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                </li>
                <li>
                    <span>Label</span>
                    <a-icon-mdx icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                </li>
                <li>
                    <span>Label</span>
                    <a-icon-mdx icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                </li>
            </ul>
        </ks-m-link-list>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Extended</h2>
    <div>
        <ks-m-link-list namespace="link-list-extended-">
            <ul>
                <li>
                    <span>Label</span>
                    <div>
                        <span>Description</span>
                        <a-icon-mdx icon-name="Download" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </div>
                </li>
                <li>
                    <span>Label</span>
                    <div>
                        <span>Description</span>
                        <a-icon-mdx icon-name="Download" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </div>
                </li>
                <li>
                    <span>Label</span>
                    <div>
                        <span>Description</span>
                        <a-icon-mdx icon-name="Download" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
                    </div>
                </li>
            </ul>
        </ks-m-link-list>
    </div>
</section>