<h1>Links</h1>

<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?type=design&node-id=943-136507&mode=design&t=4AtgAIU2OWpMTg31-0" target="_blank">Figma</a></code><br />

<div>
    <!-- LINK -->
    <ks-a-link href="https://www.migros.ch/en" target="_self">Link Text</ks-a-link>

    <!-- LINK -->
    <ks-a-link 
        href="https://www.migros.ch/en" 
        target="_self"
        icon-right="ArrowUpRight"
    >Link Text</ks-a-link>

    <!-- LINK -->
    <ks-a-link 
        href="https://www.migros.ch/en" 
        target="_self"
        icon-left="Download"
    >Link Text</ks-a-link>

    <!-- LINK -->
    <ks-a-link 
        href="https://www.migros.ch/en" 
        target="_self"
        icon-left="Download"
        icon-right="ArrowUpRight"
    >Link Text</ks-a-link>
</div>