<ks-o-body-style variant="default">
    <!-- LogoList CMS Component Start -->
    <ks-m-logo-list namespace="logo-list-default-">
        <!-- depending where it is placed it requires different heading attributes -->
        <ks-a-heading tag="h3">Logo List left aligned (no attribute set)</ks-a-heading>
        <ul>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-sxx.png" tabindex="0" loading="eager"></a-picture>
                </a>
            </li>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-migros.png" tabindex="0" loading="eager"></a-picture>
                </a>                
            </li>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-micasa.png" tabindex="0" loading="eager"></a-picture>
                </a>                
            </li>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-sxx.png" tabindex="0" loading="eager"></a-picture>
                </a>                
            </li>
        </ul>
    </ks-m-logo-list>
    <!-- LogoList CMS Component End -->

    <!-- LogoList CMS Component Start: centered -->
    <ks-m-logo-list namespace="logo-list-default-" centered>
        <!-- depending where it is placed it requires different heading attributes -->
        <ks-a-heading tag="h2">Logo List [centered]</ks-a-heading>
        <ul>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-sxx.png" tabindex="0" loading="eager"></a-picture>
                </a>
            </li>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-migros.png" tabindex="0" loading="eager"></a-picture>
                </a>                
            </li>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-micasa.png" tabindex="0" loading="eager"></a-picture>
                </a>                
            </li>
            <li>
                <a  href="#">
                    <a-picture picture-load="" namespace="" defaultsource="https://mits-gossau.github.io/web-components-toolbox/src/es/components/organisms/wrapper/no-calc-column-width-/img/logo-sxx.png" tabindex="0" loading="eager"></a-picture>
                </a>                
            </li>
        </ul>
    </ks-m-logo-list>
    <!-- LogoList CMS Component End -->
</ks-o-body-style>