<h2>logged out</h2>
<mdx-login
    avatar="{
        'login-avatar-arialabel': 'Migros Account from: '
    }"
    button="{
        'loginbuttonclick': '() => self.open(\'https://migros.account.ch/login\', \'_self\')'
    }"
    all="{
        'is-logged-in': false,
        'language': 'de',
        'size': 'sm'
    }"
></mdx-login>
<hr>
<h2>logged in</h2>
<mdx-login
    avatar="{
        'user-initials': 'AW',
        'profile-image-url': 'https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?q=80&amp;w=2776&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        'profile-image-alt': 'Alt text for profile image',
        'login-avatar-arialabel': 'Migros Account from: '
    }"
    flyout="{
        'logout': '() => self.open(\'https://migros.account.ch/logout\', \'_self\')',
        'user-profile-email': 'anita-ulrich@mgb.ch',
        'user-profile-name': 'Anita Ulrich',
        'account-url': 'https://account.migros.ch/account',
        'menuitemgroup': [{'title':'looooooooooooooooooooooooooooong Title','menuItems':[{'label':'I am a Link ','href':'https://account.migros.ch/account','as':'link'},{'label':'I am a Button','href':'#','as':'button'}]},{'title':'Group 2','menuItems':[{'label':'I am a looooooooooooooooooooooooooooong Link','href':'#','as':'link'},{'label':'Link 4','href':'#','as':'link'},{'label':'Link 5','href':'#','as':'link'},{'label':'Link 6','href':'#','as':'link'}]}],
        'notificationlinks': {'notifications':{'cumulusConnection':'https://account.migros.ch/cumulus','mailDeliverability':'https://account.migros.ch/account'}}
    }"
    all="{
        'is-logged-in': true,
        'language': 'de',
        'size': 'sm'
    }"
></mdx-login>
<hr>
<h2>logged in with default icon (user-initials + profile-image-url must be ommited)</h2>
<mdx-login
    avatar="{
        'login-avatar-arialabel': 'Migros Account from: '
    }"
    flyout="{
        'logout': '() => self.open(\'https://migros.account.ch/logout\', \'_self\')',
        'user-profile-email': 'anita-ulrich@mgb.ch',
        'user-profile-name': 'Anita Ulrich',
        'account-url': 'https://account.migros.ch/account',
        'menuitemgroup': [{'title':'looooooooooooooooooooooooooooong Title','menuItems':[{'label':'I am a Link ','href':'https://account.migros.ch/account','as':'link'},{'label':'I am a Button','href':'#','as':'button'}]},{'title':'Group 2','menuItems':[{'label':'I am a looooooooooooooooooooooooooooong Link','href':'#','as':'link'},{'label':'Link 4','href':'#','as':'link'},{'label':'Link 5','href':'#','as':'link'},{'label':'Link 6','href':'#','as':'link'}]}],
        'notificationlinks': {'notifications':{'cumulusConnection':'https://account.migros.ch/cumulus','mailDeliverability':'https://account.migros.ch/account'}}
    }"
    all="{
        'is-logged-in': true,
        'language': 'de',
        'size': 'sm'
    }"
></mdx-login>
<hr>
<h2>log out button</h2>
<mdx-login
    button="{
        'loginbuttonclick': '() => self.open(\'https://migros.account.ch/logout\', \'_self\')'
    }"
    all="{
        'is-logged-in': true,
        'language': 'de',
        'size': 'sm'
    }"
    show-logout-button
></mdx-login>