<!-- Figma Link: Do not copy -->
<code><a href="https://www.figma.com/file/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?type=design&node-id=15485-323914&mode=design&t=z4vWQvXjEXGcnFpq-4" target="_blank">figma</a></code>
<!-- Jira Link: Do not copy -->
<code><a href="https://jira.migros.net/browse/MIDUWEB-866" target="_blank">jira</a></code>

<!-- Stage -->
<ks-m-checkout-color-stage
  no-margin-y
  title="Merkliste"
  text="Ihre gemerkten Angebote werden nur auf diesem Device gespeichert."
>
</ks-m-checkout-color-stage>
<!-- /Stage -->

<!-- Content -->
<ks-o-body-section no-margin-y variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)">
  <ks-c-wish-list endpoint="https://dev.klubschule.ch/Umbraco/api/watchlistAPI" guid="2728e4e9-da4e-4b11-988b-7caa90b10a77">
    <ks-o-wish-list>
      <section id=message hidden>
        <h2>Ihre Merkliste ist leer.</h2>
        <p>Fügen Sie Angebote und Veranstaltungen über die jeweiligen Angebotsseiten hinzu.</p>
        <ul>
          <li><a href=# target=_blank>Sprachen</a></li>
          <li><a href=# target=_blank>Kreativität</a></li>
          <li><a href=# target=_blank>Gesundheit</a></li>
        </ul>
      </section>
    </ks-o-wish-list>
  </ks-c-wish-list>
</ks-o-body-section>
<!-- /Content -->