<!-- Figma Link: Do not copy -->
<code><a href="https://www.figma.com/file/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?type=design&node-id=15485-323914&mode=design&t=z4vWQvXjEXGcnFpq-4" target="_blank">figma</a></code>
<!-- Readme Link: Do not copy -->
<code><a href="https://github.com/mits-gossau/web-components-toolbox-klubschule/blob/master/src/es/components/controllers/wishList/readme.md" target="_blank">Controller</a></code>
<code><a href="https://github.com/mits-gossau/web-components-toolbox-klubschule/blob/master/src/es/components/organisms/wishList/readme.md" target="_blank">Organism</a></code>
<code><a href="https://github.com/mits-gossau/web-components-toolbox-klubschule/blob/master/src/es/components/molecules/favoriteButton/readme.md" target="_blank">Button</a></code>

<!-- Stage -->
<ks-m-checkout-color-stage no-margin-y title="Merkliste"
  text="Ihre gemerkten Angebote werden nur auf diesem Device gespeichert.">
</ks-m-checkout-color-stage>
<!-- /Stage -->

<ks-o-body-section variant="default">
  <section>
    <ks-o-checkout-layout css-only>
      <section id="main">
        <p class="wishlist-copy">Um Angebote über diverse Geräte in der Merkliste zu speichern, melden Sie sich bitte
          mit
          Ihrem Migros-Login an.</p>
        <mdx-login keep-desktop-variant avatar="{
              'login-avatar-arialabel': 'Migros Account from: '
          }" button="{
              'loginbuttonclick': '() => 
      self.open
      (\'
      https://migros.account.ch/login/
      ', \'_self\')'
          }" all="{
              'is-logged-in': false,
              'language': 'de',
              'size': 'sm'
          }"></mdx-login>
        <ks-a-heading tag="h3">Ihre Vorteile mit einem Migros Konto</ks-a-heading>
        <ul class="advantages-list margin-bottom-l">
          <li><a-icon-mdx icon-name="Check"></a-icon-mdx>Schnellere Anmeldung durch Adressübernahme aus Ihrem Migros
            Konto
          </li>
          <li><a-icon-mdx icon-name="Check"></a-icon-mdx>Nutzung der Merkliste über diverse Geräte hinweg.</li>
          <li><a-icon-mdx icon-name="Check"></a-icon-mdx>Verwaltung Ihrer Abonnement-Termine</li>
        </ul>
      </section>
    </ks-o-checkout-layout>
  </section>
</ks-o-body-section>

<!-- Content -->
<!-- the ks-c-wish-list controller has to be placed on the basepage -->
<!-- <ks-c-wish-list endpoint="https://int.klubschule.ch/Umbraco/api/watchlistAPI"
    guid="067e7a88-cd02-474d-8d43-379932608a49"> -->
<ks-o-body-section no-margin-y="" variant="default" display="block" display-mobile="block" tabindex="0"
  aria-label="Section">
  <ks-o-wish-list endpoint="https://int.klubschule.ch/Umbraco/Api/CourseApi/Search"
    event-detail-url="https://int.klubschule.ch/Umbraco/Api/CourseApi/detail/" mandant-id="111" portal-id="29"
    sprach-id="d">
    <template id=message-events>

      <ks-a-heading tag="h2" style-as="h1">
        <h2>Ihre Merkliste ist leer.</h2>
      </ks-a-heading>

      <p>
        Sie k&#246;nnen Angebote via folgende Angebotsseiten hinzuf&#252;gen und dort aufs Herz klicken.<br /><br />Ihr
        Auswahl wird beibehalten, wenn Sie den Browser schliessen. Die Angebote, die abgelaufen sind, werden nicht mehr
        angezeigt.
      </p>

      <div class="extended-container-mobile">
        <o-grid namespace="grid-12er-" gap=".5rem">
          <div col-sm="4" col-md="4" col-lg="4">
            <ks-m-teaser namespace="teaser-link-box-" color="ks-pink" href="/sprachen/">
              <h3>Sprachkurse</h3>
              <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
            </ks-m-teaser>
          </div>
          <div col-sm="4" col-md="4" col-lg="4">
            <ks-m-teaser namespace="teaser-link-box-" color="ks-green" href="/gesundheit/">
              <h3>Gesundheitskurse</h3>
              <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
            </ks-m-teaser>
          </div>
          <div col-sm="4" col-md="4" col-lg="4">
            <ks-m-teaser namespace="teaser-link-box-" color="ks-orange" href="/kreativitaet/">
              <h3>Kreativit&#xE4;tskurse</h3>
              <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
            </ks-m-teaser>
          </div>
        </o-grid>
      </div>
    </template>
    <template id=message-offers>
      <ks-a-heading tag=h2 style-as=h1>
        <h2>Ihre Merkliste ist leer.</h2>
      </ks-a-heading>
      <p>
        Sie k &#246;nnen Angebote via folgende Angebotsseiten hinzuf &#252;gen und dort aufs Herz klicken.<br />
        <br />Ihr Auswahl wird beibehalten, wenn Sie den Browser schliessen. Die Angebote, die abgelaufen sind, werden
        nicht mehr angezeigt.
      </p>
      <div class=extended-container-mobile>
        <o-grid namespace=grid-12er- gap=.5rem>
          <div col-sm=4 col-md=4 col-lg=4>
            <ks-m-teaser namespace=teaser-link-box- color=ks-pink href="/sprachen/">
              <h3>Sprachkurse</h3>
              <a-icon-mdx icon-name=ArrowRight size=1em no-hover></a-icon-mdx>
            </ks-m-teaser>
          </div>
          <div col-sm=4 col-md=4 col-lg=4>
            <ks-m-teaser namespace=teaser-link-box- color=ks-green href="/gesundheit/">
              <h3>Gesundheitskurse</h3>
              <a-icon-mdx icon-name=ArrowRight size=1em no-hover></a-icon-mdx>
            </ks-m-teaser>
          </div>
          <div col-sm=4 col-md=4 col-lg=4>
            <ks-m-teaser namespace=teaser-link-box- color=ks-orange href="/kreativitaet/">
              <h3>Kreativit &#xE4;tskurse</h3>
              <a-icon-mdx icon-name=ArrowRight size=1em no-hover></a-icon-mdx>
            </ks-m-teaser>
          </div>
        </o-grid>
      </div>
    </template>
  </ks-o-wish-list>
</ks-o-body-section>
<!-- </ks-c-wish-list> -->
<!-- /Content -->