<o-grid namespace="grid-2columns-content-stage-" first-container-vertical="" first-column-with="66%"
	background-color="#0053a6"
	image-src="https://dev.klubschule.chhttps://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg" width="100%">
	<div class="stage-content">
		<div>
			<a-icon-mdx icon-name="ArrowLeft" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
			<a style="color: #ffffff" href="/de/">Text Back link</a>
		</div>
		<ks-a-heading tag="h1" color="#ffffff" content-stage>
			Headline für Contentseite
		</ks-a-heading>
		<p>Text Subtitle</p>
	</div>
	<aside>

		<div class="aside-image">
		</div>
	</aside>
</o-grid>


<div class="spacer"></div>

<o-grid namespace="grid-2columns-content-section-" first-container-vertical="" first-column-with="66%" width="100%"
	with-border="" switch-aside-order-mobile="">

	<div>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
			dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
			clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
			consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
			sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		<ks-o-body-section content-width-var="100%">

			<ks-a-heading tag="h2" color="" brand="ks">
				<style>
					:host {
						--h-border-top-color: ;
					}
				</style>
				Titel Contentbereich 1
			</ks-a-heading>


		</ks-o-body-section>
		<ks-o-body-section content-width-var="100%">

			<div>
				<h2>Titel Contentbereich 1</h2>
				<p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
						justo duo dolores et ea rebum.&nbsp;</strong></p>
				<p><em>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
						dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
						dolore magna aliquyam erat, sed diam voluptua. </em></p>
				<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
					sanctus est Lorem ipsum dolor sit amet.</p>
			</div>


		</ks-o-body-section>
		<ks-o-body-section content-width-var="100%">


			<div class="margin-y-m">
				<m-details namespace="details-default-icon-right-">
					<details>
						<summary>
							<h4>Akkordeon Titel</h4>
						</summary>

						<div>
							<style>
								:host details summary~* {
									--details-default-color-secondary: var(--color-hover);
								}
							</style>

							<div>

								<ks-a-heading tag="h2" color="" brand="ks">
									<style>
										:host {
											--h-border-top-color: ;
										}
									</style>
									titel im akkordeon
								</ks-a-heading>


							</div>
						</div>
					</details>
				</m-details>
				<m-details namespace="details-default-icon-right-">
					<details>
						<summary>
							<h4>text</h4>
						</summary>

						<div>
							<style>
								:host details summary~* {
									--details-default-color-secondary: var(--color-hover);
								}
							</style>

							<div>

								<div>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
										tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
										vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
										no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
										amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
										labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
										et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
										sanctus est Lorem ipsum dolor sit amet.</p>
								</div>


							</div>
						</div>
					</details>
				</m-details>
				<m-details namespace="details-default-icon-right-">
					<details>
						<summary>
							<h4>button</h4>
						</summary>

						<div>
							<style>
								:host details summary~* {
									--details-default-color-secondary: var(--color-hover);
								}
							</style>

							<div>


								<div class=center>
									<ks-a-button namespace="button-primary-" href="/de/" color="secondary"
										target="_self">
										<a-icon-mdx icon-name="Bell" size="1em" class="icon-left" tabindex="0">
										</a-icon-mdx>
										<span id="label">btn label</span>
									</ks-a-button>
								</div>


							</div>
						</div>
					</details>
				</m-details>
				<m-details namespace="details-default-icon-right-">
					<details>
						<summary>
							<h4>bild</h4>
						</summary>

						<div>
							<style>
								:host details summary~* {
									--details-default-color-secondary: var(--color-hover);
								}
							</style>

							<div>
								<div>
									<ks-m-figure>
										<figure>
											<ks-a-picture namespace="picture-default-"
												defaultSource="https://dev.klubschule.ch/media/xc1fn120/geschenkkarte-1200x628.png?width=1200&amp;height=675&amp;format=png&amp;quality=80&amp;v=1da2d070730a360"
												open-modal open-modal-mobile></ks-a-picture>
											<figcaption>image description</figcaption>
										</figure>
									</ks-m-figure>
								</div>

							</div>
						</div>
					</details>
				</m-details>
				<m-details namespace="details-default-icon-right-">
					<details>
						<summary>
							<h4>video</h4>
						</summary>

						<div>
							<style>
								:host details summary~* {
									--details-default-color-secondary: var(--color-hover);
								}
							</style>

							<div>
								<ks-m-figure with-line>
									<figure>
										<ks-a-video>
											<iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="ks video"
												width="560" height="315" frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
												allowfullscreen></iframe>
										</ks-a-video>
										<figcaption>ks video</figcaption>
									</figure>
								</ks-m-figure>
								<!-- Nur wenn mehr als 1 element -->

							</div>
						</div>
					</details>
				</m-details>
			</div>


		</ks-o-body-section>
		<ks-o-body-section content-width-var="100%">
			<div>
				<ks-m-figure>
					<figure>
						<ks-a-picture namespace="picture-default-"
							defaultSource="https://dev.klubschule.ch/media/pgpll30c/iso-zertifikat-klubschule-mq-management-u-qualitaet-scaled.jpg?width=2560&amp;height=1440&amp;format=jpg&amp;quality=80&amp;v=1da79e55a458c70"
							open-modal open-modal-mobile></ks-a-picture>
						<figcaption>test</figcaption>
					</figure>
				</ks-m-figure>
			</div>

		</ks-o-body-section>
		<ks-o-body-section content-width-var="100%">
			<m-carousel-two namespace="carousel-two-image-" nav-flex-wrap separate="" nav-justify-content="end"
				nav-align-self="end" no-default-arrow-nav="" no-default-nav="end" no-default-nav-linking="">
				<section>
					<ks-m-figure with-line tabindex="0" class aria-hidden="true">
						<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
							defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg"
							alt="Abonnemente 1200X628"></a-picture>
						<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
						</figcaption>
					</ks-m-figure>
					<ks-m-figure with-line tabindex="0" class aria-hidden="true">
						<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
							defaultSource="https://dev.klubschule.ch/media/ddldib02/nerd.jpg" alt="Nerd"></a-picture>
						<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
						</figcaption>
					</ks-m-figure>
					<ks-m-figure with-line tabindex="0" class aria-hidden="true">
						<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
							defaultSource="https://dev.klubschule.ch/media/pgpll30c/iso-zertifikat-klubschule-mq-management-u-qualitaet-scaled.jpg"
							alt="ISO Zertifikat Klubschule Mq Management U Qualitaet Scaled"></a-picture>
						<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
						</figcaption>
					</ks-m-figure>
				</section>
				<div>
					<p id="index">

					</p>

					<nav>
						<a href="#previous" aria-label="previous slide">
							<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx
									icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
						</a>
						<a href="#next" aria-label="next slide">
							<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx
									icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
						</a>
					</nav>
				</div>

			</m-carousel-two>

		</ks-o-body-section>
		<ks-o-body-section content-width-var="100%">
			<!-- Nur wenn mehr als 1 element -->
			<ks-m-figure>
				<figure>
					<ks-a-video>
						<iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="test video" width="560"
							height="315" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</ks-a-video>
					<figcaption>test video</figcaption>
				</figure>
			</ks-m-figure>

		</ks-o-body-section>

	</div>


</o-grid>


<ks-o-body-section variant="default">
	<ks-o-body-section variant="narrow">

		<ks-a-heading tag="h2" color="" brand="ks">
			<style>
				:host {
					--h-border-top-color: ;
				}
			</style>
			Title Contentbereich 2
		</ks-a-heading>


	</ks-o-body-section>
	<ks-o-body-section variant="narrow">

		<div>
			<h2>Headline Richtext H2</h2>
			<p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
					ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
					dolores et ea rebum. </strong></p>
			<h3>Headline Richtext H3</h3>
			<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
				amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
				aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
				kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>


	</ks-o-body-section>
	<ks-o-body-section variant="narrow">
		<m-carousel-two namespace="carousel-two-image-" nav-flex-wrap separate="" nav-justify-content="end"
			nav-align-self="end" no-default-arrow-nav="" no-default-nav="end" no-default-nav-linking="">
			<section>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg"
						alt="Abonnemente 1200X628"></a-picture>
					<figcaption>bild 1</figcaption>
				</ks-m-figure>
				<ks-m-figure tabindex="0" class="" aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/na0lqewt/teaser-petite-enfance.jpg"
						alt="Teaser Petite Enfance"></a-picture>
				</ks-m-figure>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/ddldib02/nerd.jpg" alt="Nerd"></a-picture>
					<figcaption>bild 3</figcaption>
				</ks-m-figure>
			</section>
			<div>
				<p id="index">

				</p>

				<nav>
					<a href="#previous" aria-label="previous slide">
						<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft"
								size="1em"></a-icon-mdx></ks-a-button>
					</a>
					<a href="#next" aria-label="next slide">
						<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx
								icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
					</a>
				</nav>
			</div>

		</m-carousel-two>

	</ks-o-body-section>
	<ks-o-body-section variant="narrow">

		<div>
			<h2>Headline Richtext H2</h2>
			<p><strong>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
					ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
					dolores et ea rebum. </strong></p>
			<h3>Headline Richtext H3</h3>
			<p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
				amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
				aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
				kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>


	</ks-o-body-section>
	<ks-o-body-section variant="narrow">


		<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem">

			<ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="/de/">


				<a-picture picture-load namespace="picture-teaser-"
					defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da79e55a31b650"
					aspect-ratio="0.75"></a-picture>


				<div>


					<h3>Text Image</h3>

					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. </p>

					<ks-a-button big namespace="button-secondary-" href="/de/" target="_self">
						<a-icon-mdx icon-name="AlertCircle" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
						<span id="label">btn label</span>
					</ks-a-button>

				</div>




			</ks-m-teaser>

		</o-body-style>
		<div class="spacer"></div>

	</ks-o-body-section>
	<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>


		<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem"
			background=var(--mdx-sys-color-accent-6-subtle1)>

			<ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="left" href="/de/">


				<a-picture picture-load namespace="picture-teaser-"
					defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da79e55a31b650"
					aspect-ratio="0.75"></a-picture>


				<div>


					<h3>Text Image</h3>

					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. </p>

					<ks-a-button big namespace="button-secondary-" href="/de/" target="_self">
						<a-icon-mdx icon-name="AlertCircle" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
						<span id="label">btn label</span>
					</ks-a-button>

				</div>




			</ks-m-teaser>

		</o-body-style>
		<div class="spacer"></div>

	</ks-o-body-section>
	<ks-o-body-section variant="narrow">


		<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem">

			<ks-m-teaser namespace="teaser-text-image-" color="secondary" text-position="right" href="/de/">


				<a-picture picture-load namespace="picture-teaser-"
					defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg?width=600&amp;height=337&amp;format=jpg&amp;quality=80&amp;v=1da79e55a31b650"
					aspect-ratio="0.75"></a-picture>


				<div>


					<h3>Text Image</h3>

					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. </p>

					<ks-a-button big namespace="button-secondary-" href="/de/" target="_self">
						<a-icon-mdx icon-name="AlertCircle" size="1em" class="icon-left" tabindex="0"> </a-icon-mdx>
						<span id="label">btn label</span>
					</ks-a-button>

				</div>




			</ks-m-teaser>

		</o-body-style>

	</ks-o-body-section>
	<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
		<o-wrapper namespace=wrapper-teaser- secondary picture-last-mobile>
			<ks-o-body-section>
				<style>
					:host {
						--background-color: transparent;
					}
				</style>

				<ks-a-heading tag="h2" color="" brand="ks">
					<style>
						:host {
							--h-border-top-color: ;
						}
					</style>
					Title im container
				</ks-a-heading>


			</ks-o-body-section>
			<ks-o-body-section>
				<style>
					:host {
						--background-color: transparent;
					}
				</style>

				<div>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
						justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
						ipsum dolor sit amet.</p>
				</div>


			</ks-o-body-section>
			<ks-o-body-section>
				<style>
					:host {
						--background-color: transparent;
					}
				</style>
				<div>
					<ks-m-figure>
						<figure>
							<ks-a-picture namespace="picture-default-"
								defaultSource="https://dev.klubschule.ch/media/tdybpnt3/gesundheit-5.jpg?width=3007&amp;height=1691&amp;format=jpg&amp;quality=80&amp;v=1da79e4be187830"
								open-modal open-modal-mobile></ks-a-picture>
							<figcaption>bild beschreibung</figcaption>
						</figure>
					</ks-m-figure>
				</div>

			</ks-o-body-section>
			<ks-o-body-section>
				<style>
					:host {
						--background-color: transparent;
					}
				</style>
				<!-- Nur wenn mehr als 1 element -->
				<ks-m-figure>
					<figure>
						<ks-a-video>
							<iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" title="ks video" width="560"
								height="315" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</ks-a-video>
						<figcaption>ks video</figcaption>
					</figure>
				</ks-m-figure>

			</ks-o-body-section>

		</o-wrapper>

	</ks-o-body-section>
	<ks-o-body-section variant="narrow">

		<div>
			<table>
				<thead>
					<tr>
						<th>header</th>
						<th>header</th>
						<th>header</th>
						<th>header</th>
					</tr>
				</thead>
				<tr>
					<td>inhalts text</td>
					<td>inhalts text</td>
					<td>inhalts text</td>
					<td>inhalts text</td>
				</tr>
				<tr>
					<td>Pellentesque mauris ad convallis sagittis consectetur nec amet nostra platea. Per elit in
						himenaeos odio vel. Nec massa orci adipiscing curabitur si.</td>
					<td>Pellentesque mauris ad convallis sagittis consectetur nec amet nostra platea. Per elit in
						himenaeos odio vel. Nec massa orci adipiscing curabitur si.</td>
					<td>Pellentesque mauris ad convallis sagittis consectetur nec amet nostra platea. Per elit in
						himenaeos odio vel. Nec massa orci adipiscing curabitur si.</td>
					<td>Pellentesque mauris ad convallis sagittis consectetur nec amet nostra platea. Per elit in
						himenaeos odio vel. Nec massa orci adipiscing curabitur si.</td>
				</tr>
			</table>
		</div>


	</ks-o-body-section>
	<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
		<!-- Nur wenn mehr als 1 element -->
		<ks-m-figure>
			<figure>
				<ks-a-video>
					<iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0"
						title="Volle Breite = false, Hintergrundfarbe = true" width="560" height="315" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</ks-a-video>
				<figcaption>
					Volle Breite = false, Hintergrundfarbe = true
				</figcaption>
			</figure>
		</ks-m-figure>

	</ks-o-body-section>
	<ks-o-body-section variant="narrow">
		<ks-m-figure>
			<figure>
				<!-- Nur wenn mehr als 1 element -->
				<ks-a-video>
					<iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0"
						title="Volle Breite = false, Hintergrundfarbe = false" width="560" height="315" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</ks-a-video>
				<figcaption>Volle Breite = false, Hintergrundfarbe = false</figcaption>
			</figure>
		</ks-m-figure>

	</ks-o-body-section>
	<ks-o-body-section variant="narrow">

		<ks-a-heading tag="h3" color="" brand="ks">
			<style>
				:host {
					--h-border-top-color: ;
				}
			</style>
			Content-Teaser
		</ks-a-heading>


	</ks-o-body-section>
	<ks-o-body-section variant="narrow">

		<ks-a-heading tag="h2" color="" brand="ks">
			<style>
				:host {
					--h-border-top-color: ;
				}
			</style>
			Carousel normal
		</ks-a-heading>


	</ks-o-body-section>
	<ks-o-body-section variant="narrow">
		<m-carousel-two namespace="carousel-two-image-" nav-flex-wrap separate="" nav-justify-content="end"
			nav-align-self="end" no-default-arrow-nav="" no-default-nav="end" no-default-nav-linking="">
			<section>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg"
						alt="Abonnemente 1200X628"></a-picture>
					<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
					</figcaption>
				</ks-m-figure>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/ddldib02/nerd.jpg" alt="Nerd"></a-picture>
					<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
					</figcaption>
				</ks-m-figure>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/pgpll30c/iso-zertifikat-klubschule-mq-management-u-qualitaet-scaled.jpg"
						alt="ISO Zertifikat Klubschule Mq Management U Qualitaet Scaled"></a-picture>
					<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
					</figcaption>
				</ks-m-figure>
			</section>
			<div>
				<p id="index">

				</p>

				<nav>
					<a href="#previous" aria-label="previous slide">
						<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft"
								size="1em"></a-icon-mdx></ks-a-button>
					</a>
					<a href="#next" aria-label="next slide">
						<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx
								icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
					</a>
				</nav>
			</div>

		</m-carousel-two>

	</ks-o-body-section>
	<ks-o-body-section variant="narrow">

		<ks-a-heading tag="h2" color="" brand="ks">
			<style>
				:host {
					--h-border-top-color: ;
				}
			</style>
			Carousel Fullwidth
		</ks-a-heading>


	</ks-o-body-section>
	<ks-o-body-section variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
		<m-carousel-two namespace="carousel-two-image-" nav-flex-wrap separate="" nav-justify-content="end"
			nav-align-self="end" no-default-arrow-nav="" no-default-nav="end" no-default-nav-linking="">
			<section>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/uagfzxao/abonnemente-1200x628.jpg"
						alt="Abonnemente 1200X628"></a-picture>
					<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
					</figcaption>
				</ks-m-figure>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/ddldib02/nerd.jpg" alt="Nerd"></a-picture>
					<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
					</figcaption>
				</ks-m-figure>
				<ks-m-figure with-line tabindex="0" class aria-hidden="true">
					<a-picture namespace="picture-cover-" aspect-ratio="0.5625" picture-load
						defaultSource="https://dev.klubschule.ch/media/pgpll30c/iso-zertifikat-klubschule-mq-management-u-qualitaet-scaled.jpg"
						alt="ISO Zertifikat Klubschule Mq Management U Qualitaet Scaled"></a-picture>
					<figcaption>Donec gravida dictumst ex urna sociosqu orci ultricies tempor integer himenaeos.
					</figcaption>
				</ks-m-figure>
			</section>
			<div>
				<p id="index">

				</p>

				<nav>
					<a href="#previous" aria-label="previous slide">
						<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft"
								size="1em"></a-icon-mdx></ks-a-button>
					</a>
					<a href="#next" aria-label="next slide">
						<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx
								icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
					</a>
				</nav>
			</div>

		</m-carousel-two>

	</ks-o-body-section>

</ks-o-body-section>