<h1 id="primary">Link List</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <div>
        <ks-m-nav-level-item namespace="nav-level-item-default-">
            <span class="text">Label</span>
            <a-icon-mdx namespace="icon-link-list-" icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
        </ks-m-nav-level-item>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>With Additional Text</h2>
    <div>
        <ks-m-nav-level-item namespace="nav-level-item-default-">
            <div class="wrap">
                <span class="text">Label</span>
                <span class="additional">Additional Info Text</span>
            </div>
            <a-icon-mdx namespace="icon-link-list-" icon-name="ArrowRight" size="1.5em" rotate="0" class="icon-right"></a-icon-mdx>
        </ks-m-nav-level-item>
    </div>
</section>