<ks-o-body-style variant="default">
    <div style="background: lightblue; padding: .5rem">
        variant=default
    </div>
</ks-o-body-style>
<ks-o-body-style variant="narrow">
    <div style="background: lightblue; padding: .5rem">
        variant=narrow
    </div>
</ks-o-body-style>
<ks-o-body-style variant="full">
    <div style="background: lightblue; padding: .5rem">
        variant=full
    </div>
</ks-o-body-style>
<hr>
<ks-o-body-style any-content-width-var="33.333%" any-content-width-mobile-var="33.333%">
    <div style="background: lightblue; padding: .5rem">
        no variant set & <br />
        set width via <code>any-content-width-var="33.333%"</code>
    </div>
</ks-o-body-style>
<hr>
<ks-o-body-style variant="default">
    <div style="background: lightblue; padding: .5rem">
        variant=default
    </div>
    <ks-o-body-style variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
        <div style="background: lightblue; padding: .5rem">
            nested variant=default
        </div>
    </ks-o-body-style>
    <div style="background: lightblue; padding: .5rem">
        ...
    </div>
</ks-o-body-style>
<hr>
<h1>Only visible on mobile (resize window to check):</h1>
<ks-o-body-style variant="default" display="none" display-mobile="block">
    <div style="background: lightblue; padding: .5rem">
        display=none, display-mobile=block
    </div>
</ks-o-body-style>
<hr>