<ks-o-body-style variant="default">
    <div style="background: green;">
        content
    </div>
</ks-o-body-style>
<ks-o-body-style variant="narrow">
    <div style="background: green;">
        content
    </div>
</ks-o-body-style>
<ks-o-body-style variant="full">
    <div style="background: green;">
        content
    </div>
</ks-o-body-style>
<ks-o-body-style background="var(--mdx-sys-color-accent-6-subtle1)" variant="default">
    <div style="background: green;">
        content
    </div>
    <ks-o-body-style background="var(--mdx-sys-color-accent-6-subtle1)" variant="full">
        <div style="background: green;">
            content
        </div>
    </ks-o-body-style>
    <div style="background: green;">
        content
    </div>
</ks-o-body-style>
<ks-o-body-style background="var(--mdx-sys-color-accent-6-subtle1)" variant="narrow">
    <div style="background: green;">
        content
    </div>
</ks-o-body-style>
<ks-o-body-style background="var(--mdx-sys-color-accent-6-subtle1)" variant="full">
    <div style="background: green;">
        content
    </div>
</ks-o-body-style>