<h2>Body Style</h2>
<hr>
<ks-o-body-style variant="default">
    <div style="background: lightblue; padding: .5rem">
        variant=default
    </div>
</ks-o-body-style>
<ks-o-body-style variant="narrow">
    <div style="background: lightblue; padding: .5rem">
        variant=narrow
    </div>
</ks-o-body-style>
<ks-o-body-style variant="full">
    <div style="background: lightblue; padding: .5rem">
        variant=full
    </div>
</ks-o-body-style>
<hr>
<ks-o-body-style any-content-width-var="33.333%" any-content-width-mobile-var="33.333%">
    <div style="background: lightblue; padding: .5rem">
        no variant set & <br />
        set width via <code>any-content-width-var="33.333%"</code>
    </div>
</ks-o-body-style>
<hr>
<ks-o-body-style variant="default">
    <div style="background: lightblue; padding: .5rem">
        variant=default
    </div>
    <ks-o-body-style variant="default" background="var(--mdx-sys-color-accent-6-subtle1)" has-background>
        <div style="background: lightblue; padding: .5rem">
            nested variant=default
        </div>
    </ks-o-body-style>
    <div style="background: lightblue; padding: .5rem">
        ...
    </div>
</ks-o-body-style>
<hr>
<h2>Only visible on mobile (resize window to check):</h2>
<ks-o-body-style variant="default" display="none" display-mobile="block">
    <div style="background: lightblue; padding: .5rem">
        display=none, display-mobile=block
    </div>
</ks-o-body-style>
<hr>
<h2>Extended width on mobile</h2>
<!-- do not use debug ruler in production! -->
<ks-o-body-style variant="default" position="relative" >
    <div debug-ruler></div>
    <div class="extended-container-mobile">
        <div style="background: lightblue; padding: .5rem">
            class=extended-container-mobile <br />
            <span style="opacity: .5">(resize window to check, add this class to direct child of ks-o-body-style)</span>
        </div>
    </div>
</ks-o-body-style>