<ks-m-opening-hours
    data='[
        {"label":"Montag","open":true,"hours":[["8:00","18:00"]]},
        {"label":"Dienstag","open":true,"hours":[["8:00","12:00"],["13:30","18:00"]]},
        {"label":"Mittwoch","open":true,"hours":[["8:00","18:00"]]},
        {"label":"Donnerstag","open":true,"hours":[["8:00","18:00"]]},
        {"label":"Freitag","open":true,"hours":[["8:00","12:00"],["13:30","18:00"]]},
        {"label":"Samstag","open":false,"hours":[["8:00","12:00"],["13:30","18:00"]]},
        {"label":"Sonntag","open":false,"hours":[]}
    ]'
    closed-label="geschlossen"
>
</ks-m-opening-hours>