

<m-dialog 
    namespace="dialog-left-slide-in-without-background-" 
    show-event-name="dialog-open-" 
    close-event-name="backdrop-clicked"
>
    <div class="container dialog-header" tabindex="0">
        <a-button id="close-back">
            <a-icon-mdx icon-name="ChevronLeft" size="2em" id="close"></a-icon-mdx>
        </a-button>
        <h3>nächste Veranstaltungstermine</h3>
        <a-button request-event-name="backdrop-clicked" id="close">
            <a-icon-mdx icon-name="Plus" size="2em" rotate="45deg" no-hover-transform></a-icon-mdx>
        </a-button>
    </div>
    <div class="dialog-content"></div>
    <div class="container dialog-footer">
        <a-button id="close" namespace="button-tertiary-" no-pointer-events request-event-name="backdrop-clicked">Schliessen</a-button>
        <a-button id="close" class="button-show-all-offers" namespace="button-primary-" no-pointer-events request-event-name="backdrop-clicked">Details ansehen</a-button>
    </div>

    <!-- attribute style="margin-top:2rem" only for demo! -->
    <a-button id="show-modal" namespace="button-primary-" no-pointer-events style="margin-top:2rem">Öffne Veranstaltungstermine</a-button>
</m-dialog>