<m-dialog 
    namespace="dialog-left-slide-in-" 
    show-event-name="dialog-open-" 
    close-event-name="backdrop-clicked"
>
    <div class="container dialog-header" tabindex="0">
        <a-button id="close-back">
            <a-icon-mdx icon-name="ChevronLeft" size="2em" id="close"></a-icon-mdx>
        </a-button>
        <h3>nächste Veranstaltungstermine</h3>
        <a-button request-event-name="backdrop-clicked" id="close">
            <a-icon-mdx icon-name="Plus" size="2em" rotate="45deg" no-hover-transform></a-icon-mdx>
        </a-button>
    </div>
    <div class="dialog-content">
        <div class="container" style="flex-direction: column; align-items: flex-start;">
            <h2 style="margin: 0; font-size: 32px;">Pilates</h2>
            <ks-m-event-date-tile></ks-m-event-date-tile>
            <ks-m-event-date-tile></ks-m-event-date-tile>
        </div>
    </div>
    <div class="container dialog-footer">
        <a-button id="close" namespace="button-tertiary-" no-pointer-events request-event-name="backdrop-clicked">Schliessen</a-button>
        <a-button id="close" class="button-show-all-offers" namespace="button-primary-" no-pointer-events request-event-name="backdrop-clicked">Details ansehen</a-button>
    </div>

    <!-- attribute style="margin-top:2rem" only for demo! -->
    <a id="show-modal" namespace="button-primary-" no-pointer-events style="margin-top:2rem">Öffne Veranstaltungstermine</a>
</m-dialog>