<ks-m-partner-offer-info>
    <p>
        <a href="https://ibaw.ch" alt="IBAW"><img src="https://www.ibaw.ch/media/5pmn4goh/logo-ibaw-web.svg" alt="IBAW"></a>
        <span>Dies ist ein Partnerangebot des IBAW</span>
    </p>
    <p>
        <a href="https://klubschule-pro.ch" alt="Klubschule Pro""><img src="https://www.klubschule-pro.ch/media/sudljogx/test-logo-klubschule-pro.svg" alt="Klubschule Pro"></a>
        <span>Dies ist ein Partnerangebot der Klubschule-Pro</span>
    </p>
</ks-m-partner-offer-info>