<o-body-style any-content-width-var="min(1920px, 66%)">
    <ks-a-picture namespace="picture-default-" open-modal open-modal-mobile defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Migros">
    </ks-a-picture>
    <ks-a-picture 
        namespace="picture-default-" 
        open-modal 
        open-modal-mobile
        defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="Migros"
        show-caption-line
    >
    </ks-a-picture>
    <ks-a-picture 
        namespace="picture-default-" 
        open-modal 
        open-modal-mobile
        defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="Migros"
    >
    </ks-a-picture>
</o-body-style>