<ks-a-picture namespace="picture-default-" open-modal defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Migros">
</ks-a-picture>
<ks-a-picture 
    namespace="picture-default-" 
    open-modal 
    defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
    alt="Migros"
    caption="Some Example Stage Image Caption"
    show-caption-line
>
</ks-a-picture>
<ks-a-picture 
    namespace="picture-default-" 
    open-modal 
    defaultSource="https://images.unsplash.com/photo-1706773183831-223a782307ec?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
    alt="Migros"
    caption="Some Example Stage Image Caption"
>
</ks-a-picture>

<!-- not sure where modal should be placed -->
<o-modal namespace="modal-default-" no-mobile>
    <button id=close></button>
    <span style="color:white;">If event.detail has no child property!</span>
</o-modal>