<h1 id="primary">Radio</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <div>
        <ks-a-radio>
            <span>Label</span>
            <div>
                <div class="wrap">
                    <label for="rb-01-01">Radio Label</label>
                    <input id="rb-01-01" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-02">Radio Label</label>
                    <input id="rb-01-02" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-03">Radio Label</label>
                    <input id="rb-01-03" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
            </div>
        </ks-a-radio>
    </div>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Required</h2>
    <div>
        <ks-a-radio>
            <span>Label *</span>
            <div>
                <div class="wrap">
                    <label for="rb-01-01">Radio Label</label>
                    <input id="rb-01-01" type="radio" name="rg-01" checked required>
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-02">Radio Label</label>
                    <input id="rb-01-02" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-03">Radio Label</label>
                    <input id="rb-01-03" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
            </div>
        </ks-a-radio>
    </div>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Horizontal</h2>
    <div>
        <ks-a-radio>
            <span>Label</span>
            <div class="horizontal">
                <div class="wrap">
                    <label for="rb-01-01">Radio Label</label>
                    <input id="rb-01-01" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-02">Radio Label</label>
                    <input id="rb-01-02" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap">
                    <label for="rb-01-03">Radio Label</label>
                    <input id="rb-01-03" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
            </div>
        </ks-a-radio>
    </div>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Disabled</h2>
    <div>
        <ks-a-radio>
            <span>Label</span>
            <div>
                <div class="wrap disabled">
                    <label for="rb-01-01">Radio Label</label>
                    <input id="rb-01-01" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap disabled">
                    <label for="rb-01-02">Radio Label</label>
                    <input id="rb-01-02" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
                <div class="wrap disabled">
                    <label for="rb-01-03">Radio Label</label>
                    <input id="rb-01-03" type="radio" name="rg-01">
                    <div class="box"></div>
                </div>
            </div>
        </ks-a-radio>
    </div>
</section>