<h1 id="primary">Checkbox</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <div>
        <ks-a-radio>
            <div class="wrap">
                <label for="rb-01-01">Radio Label</label>
                <input id="rb-01-01" type="radio" name="rg-01" checked>
                <div class="box"></div>
            </div>
            <div class="wrap">
                <label for="rb-01-02">Radio Label</label>
                <input id="rb-01-02" type="radio" name="rg-01">
                <div class="box"></div>
            </div>
            <div class="wrap">
                <label for="rb-01-03">Radio Label</label>
                <input id="rb-01-03" type="radio" name="rg-01">
                <div class="box"></div>
            </div>
        </ks-a-radio>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Disabled</h2>
    <div>
        <ks-a-radio>
            <div class="wrap disabled">
                <label for="rb-02-01">Radio Label</label>
                <input id="rb-02-01" type="radio" name="rg-02" checked>
                <div class="box"></div>
            </div>
            <div class="wrap disabled">
                <label for="rb-02-02">Radio Label</label>
                <input id="rb-02-02" type="radio" name="rg-02">
                <div class="box"></div>
            </div>
            <div class="wrap disabled">
                <label for="rb-02-03">Radio Label</label>
                <input id="rb-02-03" type="radio" name="rg-02">
                <div class="box"></div>
            </div>
        </ks-a-radio>
    </div>
</section>