<style>
    :host > main > h1 {
        margin-bottom: 2rem;
    }
    :host > main > section {
        background-color: #f5f5f5;
        padding: 2rem;
        margin-top: 0;
        margin-bottom: 4rem;
    }
</style>

<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?type=design&node-id=6-3435&mode=dev" target="_blank">figma</a></code>

<h1 id="primary">Search Field (static)</h1>

<section>
    <a-input inputid="searchField" placeholder="Label" icon-name="Search" icon-size="1.25em" search="?q=" type="search"></a-input>
    <a-input inputid="searchField" placeholder="Label" icon-name="Location" icon-size="1.25em" search="?q=" type="search">Angebote in Ihrer Nähe finden</a-input>
</section>

<h1 id="secondary">Search Field (auto complete)</h1>

<section>
    <m-dialog
    namespace="dialog-default-"
    autofocus
    >
        <p>Content here</p>
        <button id="close">close</button>
        <a-input id="show-modal" inputid="show-modal" placeholder="Label" icon-name="Location" icon-size="1.25em" search="?q=" type="search">Angebote in Ihrer Nähe finden</a-input>
    </m-dialog>
</section>