<h1 id="primary">Select</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <div>
        <ks-m-select>
            <div>
                <label for="select-01">Label</label>
                <select name="options" id="select-01">
                    <option value="" disabled selected>Option wählen</option>
                    <option value="o1">Option 1</option>
                    <option value="o2">Option 2</option>
                    <option value="o3">Option 3</option>
                </select>
            </div>
        </ks-m-select>
    </div>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Hint</h2>
    <div>
        <ks-m-select>
            <div>
                <label for="select-02">Label</label>
                <select name="options" id="select-02">
                    <option value="" disabled selected>Option wählen</option>
                    <option value="o1">Option 1</option>
                    <option value="o2">Option 2</option>
                    <option value="o3">Option 3</option>
                </select>
                <div class="hint">
                    <span>This is a hint.</span>
                </div>
            </div>
        </ks-m-select>
    </div>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Disabled</h2>
    <div>
        <ks-m-select>
            <div>
                <label for="select-03">Label</label>
                <select name="options" id="select-03" disabled>
                    <option value="" disabled selected>Option wählen</option>
                    <option value="o1">Option 1</option>
                    <option value="o2">Option 2</option>
                    <option value="o3">Option 3</option>
                </select>
                <div class="hint">
                    <span>This is a hint.</span>
                </div>
            </div>
        </ks-m-select>
    </div>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Error</h2>
    <div>
        <ks-m-select>
            <div class="error">
                <label for="select-04">Label</label>
                <select name="options" id="select-04">
                    <option value="" disabled selected>Option wählen</option>
                    <option value="o1">Option 1</option>
                    <option value="o2">Option 2</option>
                    <option value="o3">Option 3</option>
                </select>
                <div class="hint">
                    <span>This is a hint.</span>
                </div>
                <div class="error">
                    <a-icon-mdx namespace="icon-mdx-ks-" icon-name="AlertCircle" size="1em" class="icon-left"></a-icon-mdx>
                    <span>This is an error.</span>                
                </div>
            </div>
        </ks-m-select>
    </div>
</section>
