<h1 id="primary">Select</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'select-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Default</h2>
                    <div>
                        <ks-m-select mode="false">
                            <div class="wrap">
                                <label for="select-01">Label</label>
                                <select id="select-01" name="select-01">
                                    <option value="">Select Option...</option>
                                    <option value="select-o-01">Option 1</option>
                                    <option value="select-o-02">Option 2</option>
                                    <option value="select-o-03">Option 3</option>
                                </select>
                            </div>
                        </ks-m-select>
                    </div>
                </section>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </m-simple-form-validation>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'select-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Hint</h2>
                    <div>
                        <ks-m-select mode="false">
                            <div class="wrap">
                                <label for="select-01">Label</label>
                                <select id="select-01" name="select-01">
                                    <option value="">Select Option...</option>
                                    <option value="select-o-01">Option 1</option>
                                    <option value="select-o-02">Option 2</option>
                                    <option value="select-o-03">Option 3</option>
                                </select>
                                <div class="hint">
                                    <span>This is a hint.</span>
                                </div>
                            </div>
                        </ks-m-select>
                    </div>
                </section>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </m-simple-form-validation>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'select-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Required</h2>
                    <div>
                        <ks-m-select mode="false">
                            <div class="wrap">
                                <label for="select-01">Label *</label>
                                <select id="select-01" name="select-01" required
                                    error-message-reference-point-changed="true" no-error-text-p
                                    error-text-tag-name="span"
                                    data-m-v-rules='{"required": {"error-message": "This is an error message."}}'>
                                    <option value="">Select Option...</option>
                                    <option value="select-o-01">Option 1</option>
                                    <option value="select-o-02">Option 2</option>
                                    <option value="select-o-03">Option 3</option>
                                </select>
                                <div class="hint">
                                    <span>This is a hint.</span>
                                </div>
                                <div class="message">
                                    <a-icon-mdx namespace="icon-mdx-ks-forms-" icon-name="AlertCircle" size="1em" rotate="0" class="icon-right"
                                        new-error-message-reference-point="true"></a-icon-mdx>
                                </div>
                            </div>
                        </ks-m-select>
                    </div>
                </section>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </m-simple-form-validation>
    </div>
</section>

<section style="background-color: #f5ebeb; padding: 1em;">
    <div>
        <m-simple-form-validation namespace="simple-form-miduweb-" no-validation-error-css endpoint="/api/test"
            method="POST" schema="{
                'more': {
                    'select-01': ''
                }
            }">
            <form>
                <section id="main">
                    <h2>Disabled</h2>
                    <div>
                        <ks-m-select mode="false">
                            <div class="wrap">
                                <label for="select-01">Label</label>
                                <select id="select-01" name="select-01" disabled>
                                    <option value="">Select Option...</option>
                                    <option value="select-o-01">Option 1</option>
                                    <option value="select-o-02">Option 2</option>
                                    <option value="select-o-03">Option 3</option>
                                </select>
                            </div>
                        </ks-m-select>
                    </div>
                </section>
                <br>
                <input type="submit" value="Submit" />
            </form>
        </m-simple-form-validation>
    </div>
</section>