<h1 id="tile">Sort</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-sort namespace="sort-default-">
        <ul>
            <li active>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
        </ul>
    </ks-m-sort>
</section>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Right</h2>
    <ks-m-sort namespace="sort-right-">
        <ul>
            <li active>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
        </ul>
    </ks-m-sort>
</section>

<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Right</h2>
    <ks-m-sort namespace="sort-right-">
        <ul>
            <li active>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
        </ul>
    </ks-m-sort>
</section>