<h1 id="primary">Spacings</h1>
<a href="https://www.figma.com/design/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?m=dev&node-id=294-19646" target="_blank">FIGMA: Spacing</a>
<section style="background-color: #f5ebeb; padding: 1em;">
    <style>
        :host table thead {
            display: inline-table !important;
        }

        :host pre {
            margin-top: 0;
        }

        /* PROTO */
        :host ks-a-spacing {
            background-color: lightcoral;
            width: 100%;
        }
    </style>
    <div>
        <h2>FLEX</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>MDX Variable</th>
                <th>Value (PX)</th>
                <th>Preview</th>
            </tr>
            <tr>
                <td>
                    <pre>2xl-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-2xl</pre>
                    <pre>mdx-sys-spacing-flex-medium-2xl</pre>
                    <pre>mdx-sys-spacing-flex-large-2xl</pre>
                </td>
                <td>
                    <pre>80</pre>
                    <pre>96</pre>
                    <pre>128</pre>
                </td>
                <td>
                    <ks-a-spacing type="2xl-flex"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>xl-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-xl</pre>
                    <pre>mdx-sys-spacing-flex-medium-xl</pre>
                    <pre>mdx-sys-spacing-flex-large-xl</pre>
                </td>
                <td>
                    <pre>72</pre>
                    <pre>80</pre>
                    <pre>96</pre>
                </td>
                <td>
                    <ks-a-spacing type="xl-flex"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>l-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-l</pre>
                    <pre>mdx-sys-spacing-flex-medium-l</pre>
                    <pre>mdx-sys-spacing-flex-large-l</pre>
                </td>
                <td>
                    <pre>64</pre>
                    <pre>64</pre>
                    <pre>80</pre>
                </td>
                <td>
                    <ks-a-spacing type="l-flex"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>m-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-m</pre>
                    <pre>mdx-sys-spacing-flex-medium-m</pre>
                    <pre>mdx-sys-spacing-flex-large-m</pre>
                </td>
                <td>
                    <pre>48</pre>
                    <pre>48</pre>
                    <pre>64</pre>
                </td>
                <td>
                    <ks-a-spacing type="m-flex"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>s-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-s</pre>
                    <pre>mdx-sys-spacing-flex-medium-s</pre>
                    <pre>mdx-sys-spacing-flex-large-s</pre>
                </td>
                <td>
                    <pre>24</pre>
                    <pre>32</pre>
                    <pre>32</pre>
                </td>
                <td>
                    <ks-a-spacing type="s-flex"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>xs-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-xs</pre>
                    <pre>mdx-sys-spacing-flex-medium-xs</pre>
                    <pre>mdx-sys-spacing-flex-large-xs</pre>
                </td>
                <td>
                    <pre>16</pre>
                    <pre>24</pre>
                    <pre>24</pre>
                </td>
                <td>
                    <ks-a-spacing type="xs-flex"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>2xs-flex</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-flex-small-2xs</pre>
                    <pre>mdx-sys-spacing-flex-medium-2xs</pre>
                    <pre>mdx-sys-spacing-flex-large-2xs</pre>
                </td>
                <td>
                    <pre>8</pre>
                    <pre>16</pre>
                    <pre>16</pre>
                </td>
                <td>
                    <ks-a-spacing type="2xs-flex"></ks-a-spacing>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <h2>FIX</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>MDX Variable</th>
                <th>Value (PX)</th>
                <th>Preview</th>
            </tr>
            <tr>
                <td>
                    <pre>3xl-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-3xl</pre>
                </td>
                <td>
                    <pre>64</pre>
                </td>
                <td>
                    <ks-a-spacing type="3xl-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>2xl-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-2xl</pre>
                </td>
                <td>
                    <pre>48</pre>
                </td>
                <td>
                    <ks-a-spacing type="2xl-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>xl-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-xl</pre>
                </td>
                <td>
                    <pre>40</pre>
                </td>
                <td>
                    <ks-a-spacing type="xl-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>l-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-l</pre>
                </td>
                <td>
                    <pre>32</pre>
                </td>
                <td>
                    <ks-a-spacing type="l-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>m-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-m</pre>
                </td>
                <td>
                    <pre>24</pre>
                </td>
                <td>
                    <ks-a-spacing type="m-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>s-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-s</pre>
                </td>
                <td>
                    <pre>16</pre>
                </td>
                <td>
                    <ks-a-spacing type="s-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>xs-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-xs</pre>
                </td>
                <td>
                    <pre>12</pre>
                </td>
                <td>
                    <ks-a-spacing type="xs-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>2xs-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-2xs</pre>
                </td>
                <td>
                    <pre>8</pre>
                </td>
                <td>
                    <ks-a-spacing type="2xs-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>3xs-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-3xs</pre>
                </td>
                <td>
                    <pre>4</pre>
                </td>
                <td>
                    <ks-a-spacing type="3xs-fix"></ks-a-spacing>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>4xs-fix</pre>
                </td>
                <td>
                    <pre>mdx-sys-spacing-fix-4xs</pre>
                </td>
                <td>
                    <pre>2</pre>
                </td>
                <td>
                    <ks-a-spacing type="4xs-fix"></ks-a-spacing>
                </td>
            </tr>
        </table>
    </div>
</section>
