<ks-m-stage namespace="stage-default-" style="background-image: url(https://images.unsplash.com/photo-1708959978694-74618342f2a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
    <p class="topline">
        <a href="" alt=""><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx> <span>Back Link</span></a>
    </p>
    <ks-a-heading tag="h1" display-2>
        Das ist eine Stage
    </ks-a-heading>
    <a-input inputid="searchField" placeholder="Label" icon-name="Search" icon-size="1.25em" search="?q=" type="search"></a-input>
</ks-m-stage>