
<div style="margin-bottom: 0; width: 100%">
    <a-google-maps namespace="google-maps-default-" lat="46.801111" lng="8.226667" api-key="AIzaSyC090D7EbD_s04g-_Gn1Fdf5kHtiXZ3V5c"></a-google-maps>
</div>

<ks-o-body-section variant="narrow" has-background background="var(--mdx-sys-color-accent-6-subtle1)" no-margin-y>
    <ks-a-heading tag="h1" display-3>Alle Standorte</ks-a-heading>

    <!-- location list renders all the locations grouped by letter -->
    <ks-o-location-list
        data='{
            "A": {
                "id": "letter-A",
                "locations": [
                    {
                        "name": "Klubschule Migros Aarau",
                        "address": "Bleichemattstrasse 42, 5000 Aarau",
                        "href": "/standorte/aarau/"
                    }
                ]
            },
            "B": {
                "id": "letter-B",
                "locations": [
                    {
                        "name": "Klubschule Migros Baden",
                        "address": "Nordhaus 3 / G&uuml;terstrasse, 5400 Baden",
                        "href": "/standorte/aarau/"
                    },
                    {
                        "name": "Klubschule Migros Basel",
                        "address": "Jurastrasse 4, 4053 Basel",
                        "href": "/standorte/basel-gundelitor/"
                    }
                ]
            },
            "F": {
                "id": "letter-F",
                "locations": [
                    {
                        "name": "Ecole-club Migros Fribourg",
                        "address": "Nordhaus 3 / G&uuml;terstrasse, 5400 Baden",
                        "href": "/standorte/aarau/"
                    },
                    {
                        "name": "Klubschule Migros in einem Ort der mit F beginnt",
                        "address": "Jurastrasse 4, 4053 Basel",
                        "href": "/standorte/basel-gundelitor/"
                    }
                ]
            }
        }'
    >
    </ks-o-location-list>
</ks-o-body-section>