
<div style="margin-bottom: 0; width: 100%">
    <ks-a-google-maps
    api-key="AIzaSyC9diW31HSjs3QbLEbso7UJzeK7IpH9c2s"
    locations='[
    {
        "name": "Klubschule Migros Aarau",
        "address": "Bleichemattstrasse 42 Aarau",
        "phone": "1231231231",
        "href": "/standorte/aarau/",
        "lat": 47.39023379688704,
        "lng": 8.055707474968484
      },
      {
        "name": "Klubschule Migros Baden",
        "address": "Nordhaus 3 / Güterstrasse Baden",
        "href": "/standorte/baden/",
        "phone": "+41 56 123 4567",
        "lat": 47.473011,
        "lng": 8.306477
      },
      {
        "name": "Klubschule Migros Basel",
        "address": "Jurastrasse 4 Basel",
        "href": "/standorte/basel-gundelitor/",
        "phone": "+41 61 987 6543",
        "lat": 47.554722,
        "lng": 7.587694
      },
      {
        "name": "Scuola Club Migros Bellinzona",
        "address": "Piazza R. Simen 8 Bellinzona",
        "href": "/standorte/bellinzona/",
        "phone": "+41 91 111 2233",
        "lat": 46.195058,
        "lng": 9.022741
      },
      {
        "name": "Klubschule Migros Bern",
        "address": "Welle7 / Schanzenstrasse 5 Bern",
        "href": "/standorte/bern-welle7/",
        "phone": "+41 31 555 4444",
        "lat": 46.948094,
        "lng": 7.447443
      },
      {
        "name": "Klubschule Migros Brig",
        "address": "Belalpstrasse 1 Brig",
        "href": "/standorte/brig/",
        "phone": "+41 27 111 2222",
        "lat": 46.315007,
        "lng": 7.984693
      },
      {
        "name": "Klubschule Migros Buchs",
        "address": "Churerstrasse 7 Buchs",
        "href": "/standorte/buchs/",
        "phone": "+41 81 333 4444",
        "lat": 47.165129,
        "lng": 9.480985
      },
      {
        "name": "Klubschule Migros Chur",
        "address": "Gartenstrasse 5 Chur",
        "href": "/standorte/chur/",
        "phone": "+41 81 222 3333",
        "lat": 46.850449,
        "lng": 9.531727
      },
      {
        "name": "Klubschule Migros Davos-Klosters",
        "address": "Bahnhofstrasse 5 Davos Platz",
        "href": "/standorte/davos-klosters/",
        "phone": "+41 81 555 6666",
        "lat": 46.800303,
        "lng": 9.836824
      },
      {
        "name": "Klubschule Migros Frauenfeld",
        "address": "Bahnhofplatz 72 Frauenfeld",
        "href": "/standorte/frauenfeld/",
        "phone": "+41 52 777 8888",
        "lat": 47.558395,
        "lng": 8.900297
      },
      {
        "name": "Ecole-club Migros Fribourg",
        "address": "Rue Hans-Fries 4 Fribourg",
        "href": "/standorte/fribourg/",
        "phone": "+41 26 123 4567",
        "lat": 46.801877,
        "lng": 7.151533
      },
      {
        "name": "Ecole-club Migros Genève",
        "address": "Esplanade Pont-Rouge 2 Grand-Lancy",
        "href": "/standorte/geneve/",
        "phone": "+41 22 987 6543",
        "lat": 46.181757,
        "lng": 6.124956
      },
      {
        "name": "Klubschule Migros Glarus",
        "address": "Kursräume Kantonsschule Glarus Glarus",
        "href": "/standorte/glarus/",
        "phone": "+41 55 111 2222",
        "lat": 47.040531,
        "lng": 9.066119
      },
      {
        "name": "Ecole-club Migros La Chaux-de-Fonds",
        "address": "Rue Daniel-Jeanrichard 23 La Chaux-de-Fonds",
        "href": "/standorte/la-chaux-de-fonds/",
        "phone": "+41 32 333 4444",
        "lat": 47.101493,
        "lng": 6.828211
      },
      {
        "name": "Ecole-club Migros Lausanne",
        "address": "Rue de Genève 33 Lausanne",
        "href": "/standorte/lausanne/",
        "phone": "+41 21 555 6666",
        "lat": 46.522654,
        "lng": 6.627065
      },
      {
        "name": "Scuola Club Migros Lugano",
        "address": "Via Pretorio 15 Lugano",
        "href": "/standorte/lugano/",
        "phone": "+41 91 777 8888",
        "lat": 46.003678,
        "lng": 8.951052
      },
      {
        "name": "Klubschule Migros Luzern",
        "address": "Schweizerhofquai 1 Luzern",
        "href": "/standorte/luzern/",
        "phone": "+41 41 123 4567",
        "lat": 47.050168,
        "lng": 8.309307
      },
      {
        "name": "Klubschule Migros Lyss",
        "address": "Hauptstrasse 20 Lyss",
        "href": "/standorte/lyss/",
        "phone": "+41 32 987 6543",
        "lat": 47.078916,
        "lng": 7.308741
      }
          ]'
></ks-a-google-maps>
</div>

<ks-o-body-section variant="narrow" has-background background="var(--mdx-sys-color-accent-6-subtle1)" no-margin-y>
    <ks-a-heading tag="h1" display-3>Alle Standorte</ks-a-heading>

    <!-- location list renders all the locations grouped by letter -->
    <ks-o-location-list
        data='{
            "A": {
                "id": "letter-A",
                "locations": [
                    {
                        "name": "Klubschule Migros Aarau",
                        "address": "Bleichemattstrasse 42, 5000 Aarau",
                        "href": "/standorte/aarau/"
                    }
                ]
            },
            "B": {
                "id": "letter-B",
                "locations": [
                    {
                        "name": "Klubschule Migros Baden",
                        "address": "Nordhaus 3 / G&uuml;terstrasse, 5400 Baden",
                        "href": "/standorte/aarau/"
                    },
                    {
                        "name": "Klubschule Migros Basel",
                        "address": "Jurastrasse 4, 4053 Basel",
                        "href": "/standorte/basel-gundelitor/"
                    }
                ]
            },
            "F": {
                "id": "letter-F",
                "locations": [
                    {
                        "name": "Ecole-club Migros Fribourg",
                        "address": "Nordhaus 3 / G&uuml;terstrasse, 5400 Baden",
                        "href": "/standorte/aarau/"
                    },
                    {
                        "name": "Klubschule Migros in einem Ort der mit F beginnt",
                        "address": "Jurastrasse 4, 4053 Basel",
                        "href": "/standorte/basel-gundelitor/"
                    }
                ]
            }
        }'
    >
    </ks-o-location-list>
</ks-o-body-section>