
<a-google-maps namespace="google-maps-default-" lat="46.801111" lng="8.226667" api-key="AIzaSyC090D7EbD_s04g-_Gn1Fdf5kHtiXZ3V5c"></a-google-maps>

<ks-a-heading tag="h1">Standorte</ks-a-heading>
<ul>
        <li>
                <a href="#letter-A" title="A">A</a>
        </li>
        <li>
                <a href="#letter-B" title="B">B</a>
        </li>
        <li>
                <span>C</span>
        </li>
        <li>
                <span>D</span>
        </li>
        <li>
                <span>E</span>
        </li>
        <li>
                <a href="#letter-F" title="F">F</a>
        </li>
        <li>
                <a href="#letter-G" title="G">G</a>
        </li>
        <li>
                <span>H</span>
        </li>
        <li>
                <span>I</span>
        </li>
        <li>
                <span>J</span>
        </li>
        <li>
                <span>K</span>
        </li>
        <li>
                <a href="#letter-L" title="L">L</a>
        </li>
        <li>
                <a href="#letter-M" title="M">M</a>
        </li>
        <li>
                <a href="#letter-N" title="N">N</a>
        </li>
        <li>
                <a href="#letter-O" title="O">O</a>
        </li>
        <li>
                <span>P</span>
        </li>
        <li>
                <span>Q</span>
        </li>
        <li>
                <a href="#letter-R" title="R">R</a>
        </li>
        <li>
                <span>S</span>
        </li>
        <li>
                <a href="#letter-T" title="T">T</a>
        </li>
        <li>
                <span>U</span>
        </li>
        <li>
                <a href="#letter-V" title="V">V</a>
        </li>
        <li>
                <a href="#letter-W" title="W">W</a>
        </li>
        <li>
                <span>X</span>
        </li>
        <li>
                <span>Y</span>
        </li>
        <li>
                <a href="#letter-Z" title="Z">Z</a>
        </li>
</ul>

<div id="letter-A">
    <h2>A</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/aarau/" title="Klubschule Migros Aarau">
                    <strong>Klubschule Migros Aarau</strong><br />
                    Bleichemattstrasse 42, 5000 Aarau
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-B">
    <h2>B</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/baden/" title="Klubschule Migros Baden">
                    <strong>Klubschule Migros Baden</strong><br />
                    Nordhaus 3 / G&#xFC;terstrasse, 5400 Baden
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/basel-gundelitor/" title="Klubschule Migros Basel">
                    <strong>Klubschule Migros Basel</strong><br />
                    Jurastrasse 4, 4053 Basel
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/bellinzona/" title="Scuola Club Migros Bellinzona">
                    <strong>Scuola Club Migros Bellinzona</strong><br />
                    Piazza R. Simen 8, 6500 Bellinzona
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/bern-welle7/" title="Klubschule Migros Bern">
                    <strong>Klubschule Migros Bern</strong><br />
                    Welle7 / Schanzenstrasse 5, 3008 Bern
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/brig/" title="Klubschule Migros Brig">
                    <strong>Klubschule Migros Brig</strong><br />
                    Belalpstrasse 1, 3900 Brig
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-F">
    <h2>F</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/fribourg/" title="Ecole-club Migros Fribourg">
                    <strong>Ecole-club Migros Fribourg</strong><br />
                    Rue Hans-Fries 4, 1700 Fribourg
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-G">
    <h2>G</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/geneve/" title="Ecole-club Migros Gen&#xE8;ve">
                    <strong>Ecole-club Migros Gen&#xE8;ve</strong><br />
                    Esplanade Pont-Rouge 2, 1212 Grand-Lancy
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/glarus/" title="Klubschule Migros Glarus">
                    <strong>Klubschule Migros Glarus</strong><br />
                    Kursr&#xE4;ume Kantonsschule Glarus, 8750 Glarus
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-L">
    <h2>L</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/la-chaux-de-fonds/" title="Ecole-club Migros La Chaux-de-Fonds">
                    <strong>Ecole-club Migros La Chaux-de-Fonds</strong><br />
                    Rue Daniel-Jeanrichard 23, 2300 La Chaux-de-Fonds
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/lausanne/" title="Ecole-club Migros Lausanne">
                    <strong>Ecole-club Migros Lausanne</strong><br />
                    Rue de Gen&#xE8;ve 33, 1003 Lausanne
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/lugano/" title="Scuola Club Migros Lugano">
                    <strong>Scuola Club Migros Lugano</strong><br />
                    Via Pretorio 15, 6900 Lugano
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/lyss/" title="Klubschule Migros Lyss">
                    <strong>Klubschule Migros Lyss</strong><br />
                    Hauptstrasse 20, 3250 Lyss
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-M">
    <h2>M</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/martigny/" title="Ecole-club Migros Martigny">
                    <strong>Ecole-club Migros Martigny</strong><br />
                    Rue des Avouillons 1, 1920 Martigny
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-N">
    <h2>N</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/neuchatel/" title="Ecole-club Migros Neuch&#xE2;tel">
                    <strong>Ecole-club Migros Neuch&#xE2;tel</strong><br />
                    Rue du Mus&#xE9;e 3, 2000 Neuch&#xE2;tel
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/nyon/" title="Ecole-club Migros Nyon">
                    <strong>Ecole-club Migros Nyon</strong><br />
                    Chemin de Cr&#xE8;ve-Coeur 1, 1260 Nyon
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-O">
    <h2>O</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/olten/" title="Klubschule Migros Olten">
                    <strong>Klubschule Migros Olten</strong><br />
                    Frohburgstrasse 20, 4600 Olten
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/online/" title="Klubschule Migros Online">
                    <strong>Klubschule Migros Online</strong><br />
                    Limmatstrasse 152, 8031 Z&#xFC;rich
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-R">
    <h2>R</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/rapperswil/" title="Klubschule Migros Rapperswil">
                    <strong>Klubschule Migros Rapperswil</strong><br />
                    Z&#xFC;rcherstrasse 2, 8640 Rapperswil
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-T">
    <h2>T</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/tanzwerk101/" title="Klubschule Migros Tanzwerk101">
                    <strong>Klubschule Migros Tanzwerk101</strong><br />
                    Pfingstweidstrasse 101, 8005 Z&#xFC;rich
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/thun/" title="Klubschule Migros Thun">
                    <strong>Klubschule Migros Thun</strong><br />
                    Bernstrasse 1A, 3600 Thun
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-V">
    <h2>V</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/val-de-ruz/" title="Ecole-club Migros Val-de-Ruz">
                    <strong>Ecole-club Migros Val-de-Ruz</strong><br />
                    Rue du Mus&#xE9;e 3, 2000 Neuch&#xE2;tel
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-W">
    <h2>W</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/wetzikon/" title="Klubschule Migros Wetzikon">
                    <strong>Klubschule Migros Wetzikon</strong><br />
                    Schellerstrasse 14, 8620 Wetzikon
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/winterthur/" title="Klubschule Migros Winterthur">
                    <strong>Klubschule Migros Winterthur</strong><br />
                    Rudolfstrasse 11, 8401 Winterthur
                </a>
            </div>
    </o-grid>
</div>
<div id="letter-Z">
    <h2>Z</h2>

    <o-grid namespace="grid-12er-">
            <div col-sm="12" col-lg="6">
                <a href="/standorte/zuerich-limmatplatz/" title="Klubschule Migros Z&#xFC;rich-Limmatplatz">
                    <strong>Klubschule Migros Z&#xFC;rich-Limmatplatz</strong><br />
                    Limmatstrasse 152, 8005 Z&#xFC;rich
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/zuerich-oerlikon/" title="Klubschule Migros Z&#xFC;rich-Oerlikon">
                    <strong>Klubschule Migros Z&#xFC;rich-Oerlikon</strong><br />
                    Hofwiesenstrasse 350, 8050 Z&#xFC;rich
                </a>
            </div>
            <div col-sm="12" col-lg="6">
                <a href="/standorte/zuerich-altstetten/" title="Klubschule Migros Z&#xFC;rich-Altstetten">
                    <strong>Klubschule Migros Z&#xFC;rich-Altstetten</strong><br />
                    Vulkanplatz 8, 8048 Z&#xFC;rich-Altstetten
                </a>
            </div>
    </o-grid>
</div>