<div>
    <code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=9701%3A6443&mode=dev" target="_blank">figma</a></code>

    <ks-m-system-notification namespace="system-notification-default-" icon-name="Percent">
        <div slot="description">
            <p>System Notification Default (Primary)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-default-" icon-name="Percent" no-border>
        <div slot="description">
            <p>System Notification Default (Primary) No Border</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-default-" icon-name="Percent" with-icon-background>
        <div slot="description">
            <p>Faucibus mi elementum sed sit risus hac. Quam enim nibh massa mattis nisl sem. Integer laoreet metus cras
                eleifend ipsum mauris habitant luctus. A dictum pharetra gravida aenean vitae vel id. Ullamcorper
                ultrices pulvinar in id pellentesque velit eget tellus.</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-error-" icon-name="AlertTriangle">
        <div slot="description">
            <p>System Notification Error (Checkout)</p>
            <a-link namespace="underline-">
                <a> Error Link </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-error-" icon-name="AlertTriangle">
        <div slot="description">
            <p>Faucibus mi elementum sed sit risus hac. Quam enim nibh massa mattis nisl sem. Integer laoreet metus cras
                eleifend ipsum mauris habitant luctus. A dictum pharetra gravida aenean vitae vel id. Ullamcorper
                ultrices pulvinar in id pellentesque velit eget tellus.</p>
            <a-link namespace="underline-">
                <a> Error Link </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-neutral-" icon-name="Percent">
        <div slot="description">
            <p>System Notification Neutral (no Icon Badge - with icon)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-neutral-" icon-badge="+A">
        <div slot="description">
            <p>System Notification Neutral (Icon Badge - no icon)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-neutral-" icon-badge="+A" icon-name="Percent">
        <div slot="description">
            <p>System Notification Neutral (Icon Badge - with icon)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-neutral-" icon-name="Percent">
        <div slot="description">
            <p>Faucibus mi elementum sed sit risus hac. Quam enim nibh massa mattis nisl sem. Integer laoreet metus cras
                eleifend ipsum mauris habitant luctus. A dictum pharetra gravida aenean vitae vel id. Ullamcorper
                ultrices pulvinar in id pellentesque velit eget tellus.</p> <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-neutral-" icon-badge="+A">
        <div slot="description">
            <p>Faucibus mi elementum sed sit risus hac. Quam enim nibh massa mattis nisl sem. Integer laoreet metus cras
                eleifend ipsum mauris habitant luctus. A dictum pharetra gravida aenean vitae vel id. Ullamcorper
                ultrices pulvinar in id pellentesque velit eget tellus.</p> <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification namespace="system-notification-neutral-" icon-badge="+A" icon-name="Percent">
        <div slot="description">
            <p>Faucibus mi elementum sed sit risus hac. Quam enim nibh massa mattis nisl sem. Integer laoreet metus cras
                eleifend ipsum mauris habitant luctus. A dictum pharetra gravida aenean vitae vel id. Ullamcorper
                ultrices pulvinar in id pellentesque velit eget tellus.</p> <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
</div>