<div>
    <code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=9701%3A6443&mode=dev" target="_blank">figma</a></code>

    <ks-m-system-notification
        namespace="system-notification-default-"
        icon-name="Percent"
        color="mdx-sys-color-primary-subtle1"
        icon-background="mdx-sys-color-primary-default"
        icon-color="m-white"
        border-color="mdx-sys-color-primary-default"
        icon-size="1em"
    >
        <div slot="description">
            <p>System Notification Veranstaltungsliste</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification
        namespace="system-notification-default-"
        icon-name="AlertTriangle"
        color="mdx-sys-color-error-subtle3"
        icon-background="mdx-sys-color-error-subtle3"
        icon-color="mdx-sys-color-neutral-default"
        icon-size="1.5em"
    >
        <div slot="description">
            <p>System Notification Fehler (Checkout)</p>
            <a-link namespace="underline-">
                <a> Error Link </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification
        namespace="system-notification-default-"
        color="mdx-sys-color-neutral-subtle1"
        icon-color="mdx-sys-color-neutral-default"
        border-color="mdx-sys-color-neutral-bold4"
        icon-name="Percent"
    >
        <div slot="description">
            <p>System Notification Default (no Icon Badge - with icon)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification
        namespace="system-notification-default-"
        color="mdx-sys-color-neutral-subtle1"
        icon-color="mdx-sys-color-neutral-default"
        border-color="mdx-sys-color-neutral-bold4"
        icon-badge="+A"
    >
        <div slot="description">
            <p>System Notification Default (Icon Badge - no icon)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
    <br>
    <ks-m-system-notification
        namespace="system-notification-default-"
        color="mdx-sys-color-neutral-subtle1"
        icon-color="mdx-sys-color-neutral-default"
        border-color="mdx-sys-color-neutral-bold4"
        icon-badge="+A"
        icon-name="Percent"
    >
        <div slot="description">
            <p>System Notification Default (Icon Badge - with icon)</p>
            <a-link namespace="underline-">
                <a> Mehr erfahren </a>
            </a-link>
        </div>
    </ks-m-system-notification>
</div>