<h1 id="tile">Tab</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <ks-m-tab>
        <ul>
            <li>
                <button class="active" tab-target="content1">Tab 1</button>
            </li>
            <li>
                <button tab-target="content2">Tab 2</button>
            </li>
            <li>
                <button tab-target="content3">Tab 3</button>
            </li>
        </ul>
        <div>
            <div id="content1" tab-content-target>Content 1</div>
            <div id="content2" tab-content-target>Content 2</div>
            <div id="content3" tab-content-target>Content 3</div>
        </div>
    </ks-m-tab>
</section>