<ul>
    <li><a href="#teaser-tile-content">Teaser Tile Content</a></li>
    <li><a href="#teaser-tile-content-inverse">Teaser Tile Content Inverse</a></li>
    <li><a href="#teaser-story">Teaser Story</a></li>
    <li><a href="#teaser-text-image">Teaser Text Image</a></li>
    <li><a href="#teaser-fullwidth">Teaser Fullwidth</a></li>
    <li><a href="#teaser-link-box">Teaser Link Box</a></li>
    <li>
        <a href="#teaser-square-image">Square Image Teaser</a> | 
        <code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?type=design&node-id=440%3A108327&mode=dev&t=rtlXSLYq16o5OqwK-1" target="_blank">figma</a></code>
    </li>
</ul>

<ks-o-body-section variant="default">
    <h2 id="teaser-tile-content">Teaser Tile Content</h2>
    <o-grid namespace="grid-12er-">
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="secondary" href="#">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Brand Main Color!</h3>
                        <p>color=secondary: Primary in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-blue">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-blue: Klubschule Blau</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-red">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-red: Klubschule Rot</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-green">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-green: Klubschule Grün</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-pink">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-pink: Klubschule Pink</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-orange">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-orange: Klubschule Orange</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-companies">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-companies: Klubschule Firmen</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ibaw-turquoise">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ibaw-turquoise: IBAW Türkis</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ibaw-lightblue">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ibaw-lightblue: IBAW Hellblau</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="pro-greengray">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=pro-greengray: Pro Grüngrau</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="pro-terracotta">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=pro-terracotta: Pro Terracotta</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ibaw-turquoise" brand="ibaw">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>brand=ibaw color=ibaw-turquoise</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="secondary" brand="ibaw">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>brand=ibaw color=ibaw-turquoise</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-red" brand="ibaw">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>brand=ibaw color=ibaw-turquoise</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
    </o-grid>
    <o-grid namespace="grid-12er-">
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="secondary" href="#">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=secondary: Primary in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-red">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-red: Klubschule Rot</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="ks-green">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-green: Klubschule Grün</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
    </o-grid>
</ks-o-body-section>
<ks-o-body-section variant="default">
    <h2 id="teaser-tile-content-inverse">Teaser Tile Content Inverse</h2>
    <o-grid namespace="grid-12er-">
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="secondary" href="#">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Brand Main Color!</h3>
                        <p>color=secondary: Primary in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-blue">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-blue: Klubschule Blau</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-red">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-red: Klubschule Rot</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-green">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-green: Klubschule Grün</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-pink">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-pink: Klubschule Pink</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-orange">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-orange: Klubschule Orange</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-companies">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ks-companies: Klubschule Firmen</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ibaw-turquoise">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ibaw-turquoise: IBAW Türkis</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ibaw-lightblue">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=ibaw-lightblue: IBAW Hellblau</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="pro-greengray">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=pro-greengray: Pro Grüngrau</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="pro-terracotta">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=pro-terracotta: Pro Terracotta</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ibaw-turquoise" brand="ibaw">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>brand=ibaw color=ibaw-turquoise</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="secondary" brand="ibaw">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>brand=ibaw color=secondary</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="ks-red" brand="ibaw">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>brand=ibaw color=secondary</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
    </o-grid>
</ks-o-body-section>
<ks-o-body-section variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <h2 id="teaser-story">Teaser Story</h2>
    <o-grid namespace="grid-12er-" gap="1rem">
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="secondary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="ks-blue">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Klubschule Blau</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="ks-red">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Klubschule Rot</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="ibaw-turquoise">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Ibaw Türkis</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="ibaw-lightblue">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Ibaw Hellblau</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser brand="ibaw" col-sm="12" col-lg="4" namespace=teaser-story- color="ibaw-turquoise">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Ibaw Türkis</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser brand="ibaw" col-sm="12" col-lg="4" namespace=teaser-story- color="ks-red">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Ibaw Türkis</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
    </o-grid>
</ks-o-body-section>
<ks-o-body-section variant="default">
    <h2 id="teaser-text-image">Teaser Text Image (Text Position Left)</h2>
    <ks-m-teaser namespace=teaser-text-image- color="secondary" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            aspect-ratio="0.75"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</ks-o-body-section>
<ks-o-body-section variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <h2>Teaser Text Image (Text Position Right)</h2>
    <ks-m-teaser namespace=teaser-text-image- color="secondary" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            aspect-ratio="0.75"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</ks-o-body-section>
<ks-o-body-section variant="narrow">
    <h2>Teaser Text Image (Small Image)</h2>
    <p><code>[image-size="small"]</code></p>
    <ks-m-teaser namespace=teaser-text-image- image-size="small" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/100x100"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-text-image- image-size="small" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/400x400"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</ks-o-body-section>
<ks-o-body-section variant="default">
    <br />
    <h2 id="teaser-fullwidth">Teaser Fullwidth (Text Position Right & Color secondary)</h2>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="secondary" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="secondary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth (Text Position Left & Color ks-red)</h2>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="ks-red" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1600x800"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="ks-red">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth (Very Long Text Example, crop text length earlier)</h2>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="ks-red" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1600x800"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="ks-red">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth Brand Adjustment IBAW (Color tbd)</h2>
    <p><code>[brand="ibaw"]</code></p>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="ks-red" brand="ibaw" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="ks-red">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="ks-red" brand="ibaw" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="ks-red">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth Brand Adjustment KSOS (Color tbd)</h2>
    <p><code>[brand="ksos"]</code></p>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="ks-red" brand="ksos" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>            
            <ks-a-button big namespace="button-tertiary-" color="ks-red">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="ks-red" brand="ksos" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>            
            <ks-a-button big namespace="button-tertiary-" color="ks-red">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
</ks-o-body-section>

<ks-o-body-section variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <ks-a-heading tag="h2" section-title>Link Boxen</ks-a-heading>
    <div class="extended-container-mobile">
        <o-grid namespace="grid-12er-" gap=".5rem">
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="ks-pink" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="ks-orange" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="ks-green" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="ibaw-lightblue" href="#">
                    <h3>Longer Text that uses multiple Lines Lorem Ipsum</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
        </o-grid>
    </div>
</ks-o-body-section>

<ks-o-body-section variant="default">
    <h2 id="teaser-square-image">Square Image Teaser</h2>
    <o-grid class="extended-container-mobile" auto-fill="max(calc(20% - 1.5rem), 230px)" auto-fill-mobile="calc(50% - 1rem)" gap="1.5rem" gap-mobile="0.5rem">
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <!--<ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>-->
    </o-grid>
</ks-o-body-section>