<ul>
    <li><a href="#teaser-tile-content">Teaser Tile Content</a></li>
    <li><a href="#teaser-tile-content-inverse">Teaser Tile Content Inverse</a></li>
    <li><a href="#teaser-story">Teaser Story</a></li>
    <li><a href="#teaser-text-image">Teaser Text Image</a></li>
    <li><a href="#teaser-fullwidth">Teaser Fullwidth</a></li>
    <li><a href="#teaser-link-box">Teaser Link Box</a></li>
    <li>
        <a href="#teaser-square-image">Square Image Teaser</a> | 
        <code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?type=design&node-id=440%3A108327&mode=dev&t=rtlXSLYq16o5OqwK-1" target="_blank">figma</a></code>
    </li>
</ul>

<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem">
    <h2 id="teaser-tile-content">Teaser Tile Content</h2>
    <o-grid namespace="grid-12er-">
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- mdx-color="--mdx-base-color-pro-terracotta-600" href="#">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=secondary: Primary in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="quaternary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quaternary: Accent-1 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="quinary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quinary: Accent-2 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="senary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=senary: Accent-3 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="septenary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quinary: Accent-4 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" aspect-ratio="0.5625"
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
    </o-grid>
    <o-grid namespace="grid-12er-">
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="secondary" href="#">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=secondary: Primary in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="quaternary">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quaternary: Accent-1 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="quinary">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quinary: Accent-2 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="senary">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=senary: Accent-3 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- color="septenary">
                <article>
                    <div>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quinary: Accent-4 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </div>
                </article>
            </ks-m-teaser>
        </div>
    </o-grid>
</o-body-style>
<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem">
    <h2 id="teaser-tile-content-inverse">Teaser Tile Content Inverse</h2>
    <o-grid namespace="grid-12er-">
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="secondary" href="#">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=secondary: Primary in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" 
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="quaternary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quaternary: Accent-1 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" 
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="quinary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quinary: Accent-2 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" 
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="senary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=senary: Accent-3 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" 
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
        <div col-sm="12" col-lg="4">
            <ks-m-teaser namespace=teaser-tile-content- inverse color="septenary">
                <figure>
                    <figcaption>
                        <strong>Pretitle</strong>
                        <h3>Title</h3>
                        <p>color=quinary: Accent-4 in Figma</p>
                        <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                    </figcaption>
                    <a-picture 
                        namespace="picture-teaser-" 
                        picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                        alt="randomized image">
                    </a-picture>
                </figure>
            </ks-m-teaser>
        </div>
    </o-grid>
</o-body-style>
<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem" background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <h2 id="teaser-story">Teaser Story</h2>
    <o-grid namespace="grid-12er-" gap="1rem">
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="secondary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="quaternary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="quinary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="senary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
        <ks-m-teaser col-sm="12" col-lg="4" namespace=teaser-story- color="septenary">
            <figure>
                <figcaption>
                    <strong>Pretitle</strong>
                    <h3>Title</h3>
                    <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
                </figcaption>
                <a-picture 
                    namespace="picture-teaser-" 
                    picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                    alt="randomized image">
                </a-picture>
            </figure>
        </ks-m-teaser>
    </o-grid>
</o-body-style>
<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem">
    <h2 id="teaser-text-image">Teaser Text Image (Text Position Left)</h2>
    <ks-m-teaser namespace=teaser-text-image- color="secondary" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            aspect-ratio="0.75"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</o-body-style>
<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem" background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <h2>Teaser Text Image (Text Position Right)</h2>
    <ks-m-teaser namespace=teaser-text-image- color="secondary" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            aspect-ratio="0.75"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</o-body-style>
<o-body-style any-content-width-var="min(1920px, 66%)" padding="1rem">
    <br />
    <h2 id="teaser-fullwidth">Teaser Fullwidth (Text Position Right & Color secondary)</h2>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="secondary" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="secondary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth (Text Position Left & Color quaternary)</h2>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1600x800"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth (Very Long Text Example, crop text length earlier)</h2>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1600x800"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth Brand Adjustment IBAW (Color tbd)</h2>
    <p><code>[brand="ibaw"]</code></p>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" brand="ibaw" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" brand="ibaw" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <br />
    <h2>Teaser Fullwidth Brand Adjustment KSOS (Color tbd)</h2>
    <p><code>[brand="ksos"]</code></p>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" brand="ksos" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>            
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
    <ks-m-teaser namespace=teaser-fullwidth- color="quaternary" brand="ksos" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="https://via.placeholder.com/1000x750"
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>            
            <ks-a-button big namespace="button-tertiary-" color="quaternary">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
    <br />
</o-body-style>

<ks-o-body-section variant="default" has-background background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <ks-a-heading tag="h2" section-title>Link Boxen</ks-a-heading>
    <div class="extended-container-mobile">
        <o-grid namespace="grid-12er-" gap=".5rem">
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="quinary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="senary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="septenary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Linktext</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
            <div col-sm="4" col-md="4" col-lg="4">
                <ks-m-teaser namespace=teaser-link-box- color="secondary" href="#">
                    <h3>Longer Text that uses multiple Lines Lorem Ipsum</h3>
                    <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx>
                </ks-m-teaser>
            </div>
        </o-grid>
    </div>
</ks-o-body-section>

<ks-o-body-section variant="default">
    <h2 id="teaser-square-image">Square Image Teaser</h2>
    <o-grid class="extended-container-mobile" auto-fill="max(calc(20% - 1.5rem), 230px)" auto-fill-mobile="calc(50% - 1rem)" gap="1.5rem" gap-mobile="0.5rem">
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>
        <!--<ks-m-teaser namespace="teaser-square-image-" href="#">
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://via.placeholder.com/500x500"
                alt="randomized image">
            </a-picture>
            <div><span>Title can't be super long but can have a few lines text.</span><a-icon-mdx icon-name="ArrowRight" size="1.5rem" icon-size="24x24"></a-icon-mdx></div>
        </ks-m-teaser>-->
    </o-grid>
</ks-o-body-section>