<o-grid auto-fill="20%" gap="1rem">
    <ks-m-teaser namespace=teaser-tile- color="secondary" href="#">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <p>color=secondary: Primary in Figma</p>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-tile- color="quaternary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <p>color=quaternary: Accent-1 in Figma</p>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-tile- color="quinary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <p>color=quinary: Accent-2 in Figma</p>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-tile- color="senary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <p>color=senary: Accent-3 in Figma</p>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-tile- color="septenary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <p>color=quinary: Accent-4 in Figma</p>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
</o-grid>
<div style="display: flex; flex-wrap: wrap; gap: 2rem;">
    <ks-m-teaser namespace=teaser-story- color="secondary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-story- color="quaternary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-story- color="quinary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-story- color="senary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
    <ks-m-teaser namespace=teaser-story- color="septenary">
        <figure>
            <figcaption>
                <strong>Pretitle</strong>
                <h3>Title</h3>
                <span>Link <a-icon-mdx icon-name="ArrowRight" size="1em" no-hover></a-icon-mdx></span>
            </figcaption>
            <a-picture 
                namespace="picture-teaser-" 
                picture-load defaultSource="https://images.unsplash.com/photo-1682687220305-ce8a9ab237b1?q=80&w=400&h=225&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="randomized image">
            </a-picture>
        </figure>
    </ks-m-teaser>
</div>
<o-body-style>
    <ks-m-teaser namespace=teaser-text-image- color="secondary" text-position="left" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="http://via.placeholder.com/1000x750" 
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</o-body-style>
<o-body-style background-color="var(--mdx-sys-color-accent-6-subtle1)">
    <ks-m-teaser namespace=teaser-text-image- color="secondary" text-position="right" href="#">
        <a-picture 
            namespace="picture-teaser-" 
            picture-load defaultSource="http://via.placeholder.com/1000x750" 
            alt="randomized image">
        </a-picture>
        <div>
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <ks-a-button big namespace="button-primary-">Button <a-icon-mdx icon-name="ArrowRight" size="1em" class="icon-right"></a-icon-mdx></ks-a-button>
        </div>
    </ks-m-teaser>
</o-body-style>