<!--<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=6%3A3563&mode=dev" target="_blank">figma</a></code>-->
<ul>
    <li><a href="#tile">tile list</a></li>
</ul>
<h1 id="tile">Tile List</h1>
<section style="background-color: #f5ebeb; padding: 1em; width: 90%;">
    <h2>Default</h2>
    <ks-o-tile-list data="{
        'title': 'Title',
        'iconTooltip': '',
        'location': {
            'name': 'Basel, Luzern, Thun, Zürich-Oerlikon +3',
            'badge': 'Blended'
        },
        'buttons': [{
            'text': 'Ortsauswahl',
            'iconName': 'ChevronDown'
        }],
        'icons': [
            {
                'name': 'Percent',
                'iconTooltip': ''
            },
            {
                'name': 'Bell',
                'iconTooltip': ''
            }
        ],
        'price': {
            'from': 'ab',
            'amount': 'Price',
            'per': 'Semester'
        },
        'buttonMore': {
            'text': 'Weitere Standorte',
            'iconName': 'ArrowDownRight'
        },
        'tiles': [
            {
                'title': 'Title',
                'iconTooltip': '',
                'location': {
                    'iconName': 'Location',
                    'name': 'Ort, Straße 123',
                    'badge': 'Blended'
                },
                'buttons': [{
                    'text': 'Ortsauswahl',
                    'iconName': 'ArrowRight'
                }],
                'icons': [
                    {
                        'name': 'Percent',
                        'iconTooltip': ''
                    },
                    {
                        'name': 'Bell',
                        'iconTooltip': ''
                    }
                ],
                'price': {
                    'from': 'ab',
                    'amount': 'Price',
                    'per': 'Semester'
                }
            },
            {
                'title': 'Title',
                'iconTooltip': '',
                'location': {
                    'iconName': 'Location',
                    'name': 'Ort, Straße 123',
                    'badge': 'Blended'
                },
                'buttons': [{
                    'text': 'Ortsauswahl',
                    'iconName': 'ArrowRight'
                }],
                'icons': [
                    {
                        'name': 'Percent',
                        'iconTooltip': ''
                    },
                    {
                        'name': 'Bell',
                        'iconTooltip': ''
                    }
                ],
                'price': {
                    'from': 'ab',
                    'amount': 'Price',
                    'per': 'Semester'
                }
            },
            {
                'title': 'Title',
                'iconTooltip': '',
                'location': {
                    'iconName': 'Location',
                    'name': 'Ort, Straße 123',
                    'badge': 'Blended'
                },
                'buttons': [{
                    'text': 'Ortsauswahl',
                    'iconName': 'ArrowRight'
                }],
                'icons': [
                    {
                        'name': 'Percent',
                        'iconTooltip': ''
                    },
                    {
                        'name': 'Bell',
                        'iconTooltip': ''
                    }
                ],
                'price': {
                    'from': 'ab',
                    'amount': 'Price',
                    'per': 'Semester'
                }
            },
            {
                'title': 'Title',
                'iconTooltip': '',
                'location': {
                    'iconName': 'Location',
                    'name': 'Ort, Straße 123',
                    'badge': 'Blended'
                },
                'buttons': [{
                    'text': 'Ortsauswahl',
                    'iconName': 'ArrowRight'
                }],
                'icons': [
                    {
                        'name': 'Percent',
                        'iconTooltip': ''
                    },
                    {
                        'name': 'Bell',
                        'iconTooltip': ''
                    }
                ],
                'price': {
                    'from': 'ab',
                    'amount': 'Price',
                    'per': 'Semester'
                }
            },
            {
                'title': 'Title',
                'iconTooltip': '',
                'location': {
                    'iconName': 'Location',
                    'name': 'Ort, Straße 123',
                    'badge': 'Blended'
                },
                'buttons': [{
                    'text': 'Ortsauswahl',
                    'iconName': 'ArrowRight'
                }],
                'icons': [
                    {
                        'name': 'Percent',
                        'iconTooltip': ''
                    },
                    {
                        'name': 'Bell',
                        'iconTooltip': ''
                    }
                ],
                'price': {
                    'from': 'ab',
                    'amount': 'Price',
                    'per': 'Semester'
                }
            },
            {
                'title': 'Title',
                'iconTooltip': '',
                'location': {
                    'iconName': 'Location',
                    'name': 'Ort, Straße 123',
                    'badge': 'Blended'
                },
                'buttons': [{
                    'text': 'Ortsauswahl',
                    'iconName': 'ArrowRight'
                }],
                'icons': [
                    {
                        'name': 'Percent',
                        'iconTooltip': ''
                    },
                    {
                        'name': 'Bell',
                        'iconTooltip': ''
                    }
                ],
                'price': {
                    'from': 'ab',
                    'amount': 'Price',
                    'per': 'Semester'
                }
            }
        ]
    }"></ks-o-tile-list>
</section>