<!--<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=6%3A3563&mode=dev" target="_blank">figma</a></code>-->
<ul>
    <li><a href="#tile">tile</a></li>
</ul>
<h1 id="tile">Tile</h1>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Default</h2>
    <ks-m-tile namespace="tile-default-"></ks-m-tile>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Secondary</h2>
    <ks-m-tile namespace="tile-default-" buttonType="primary"></ks-m-tile>
</section>
<section style="background-color: #f5ebeb; padding: 1em;">
    <h2>Passed</h2>
    <ks-m-tile namespace="tile-default-" buttonType="primary" isPassed="true"></ks-m-tile>
</section>