<!--<code><a href="https://www.figma.com/file/PZlfqoBJ4RnR4rjpj38xai/Design-System-Core-%7C%C2%A0Klubschule-Master?node-id=6%3A3563&mode=dev" target="_blank">figma</a></code>-->
<ul>
    <li><a href="#tile">tile</a></li>
</ul>
<h1 id="tile">Tile</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-tile namespace="tile-default-" data="{
        'title': 'Title',
        'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        'location': {
            'iconName': 'Location',
            'name': 'Ort, Straße 123',
            'badge': 'Blended'
        },
        'buttons': [{
            'text': 'Ortsauswahl',
            'iconName': 'ArrowRight'
        }],
        'icons': [
            {
                'name': 'Percent',
                'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            },
            {
                'name': 'Bell',
                'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            }
        ],
        'price': {
            'from': 'ab',
            'amount': 'Price',
            'per': 'Semester'
        }
    }"></ks-m-tile>
</section>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Passed</h2>
    <ks-m-tile namespace="tile-passed-" data="{
        'title': 'Title',
        'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        'location': {
            'iconName': 'Location',
            'name': 'Ort, Straße 123',
            'badge': 'Blended'
        },
        'buttons': [
            {
                'iconName': 'Trash'
            }, 
            {
                'text': 'Ortsauswahl',
                'iconName': 'ArrowRight'
            }
        ],
        'icons': [
            {
                'name': 'Percent',
                'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            },
            {
                'name': 'Bell',
                'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            }
        ],
        'price': {
            'from': 'ab',
            'amount': 'Price',
            'per': 'Semester'
        },
        'passed': {
            'title': 'Veranstaltung nicht mehr verfügbar!',
            'button': {
                'text': 'Alternativen',
                'iconName': 'ArrowRight'
            }
        }
    }"></ks-m-tile>
</section>

<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-tile namespace="tile-default-" data="{
        'title': 'Title',
        'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
        'location': {
            'iconName': 'Location',
            'name': 'Ort, Straße 123',
            'badge': 'Blended'
        },
        'buttons': [
            {
                'text': 'Merken',
                'link': '',
                'typ': 'secondary',
                'iconName': 'Heart'
            },
            {
                'text': 'Buchen',
                'link': 'kurse/kurs/Anglais-niveau-A1-(3/3)--E_1703730_2675/Configuration',
                'typ': 'primary',
                'iconName': 'ArrowRight'
            }
        ],
        'icons': [
            {
                'name': 'Percent',
                'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            },
            {
                'name': 'Bell',
                'iconTooltip': 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            }
        ],
        'price': {
            'from': 'ab',
            'amount': 'Price',
            'per': 'Semester'
        }
    }"></ks-m-tile>
</section>