<h1 id="primary">Tooltip</h1>
<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default</h2>
    <ks-m-tooltip namespace="tooltip-default-" text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
        <a-icon-mdx namespace="icon-mdx-ks-" icon-name="Info" size="1.5em" class="icon-right"></a-icon-mdx>
    </ks-m-tooltip>
</section>

<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Default on text</h2>
    <ks-m-tooltip namespace="tooltip-default-" text="Lorem ipsum dolor sit amet consectetur adipisicing elit..">
        <div>More information...</div>
    </ks-m-tooltip>
</section>

<section style="background-color: #f5ebeb; padding: 1em; will-change: auto;">
    <h2>Right</h2>
    <div style="display: flex; justify-content: flex-end;">
        <ks-m-tooltip namespace="tooltip-right-" text="Lorem ipsum dolor sit amet consectetur adipisicing elit..">
            <a-icon-mdx namespace="icon-mdx-ks-" icon-name="Info" size="1.5em" class="icon-right"></a-icon-mdx>
        </ks-m-tooltip>
    </div>
</section>