<ks-o-offers-page endpoint="https://dev.klubschule.ch/Umbraco/Api/CourseApi/Search"
        initial-request='{"filter":[{"id": "17", "visible": false, "children": [{ "id": "D_95072_1016", "selected": true, "visible": false, "hasChilds": false, "eTag": null}],"hasChilds": true,"eTag": null}],"PortalId":29,"sprachid":"d","MandantId":111,"ppage":1,"psize":12}'
        endpoint-auto-complete="https://dev.klubschule.ch/Umbraco/Api/Autocomplete/search"
        google-api-key="AIzaSyC9diW31HSjs3QbLEbso7UJzeK7IpH9c2s"
        event-detail-url="https://dev.klubschule.ch/Umbraco/Api/CourseApi/detail/">
</ks-o-offers-page>