<style>
  :host * {
    text-align: center;
  }
</style>
<h1 id="tile" style="text-align: center;">Videos</h1>
<code><a href="https://www.figma.com/file/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?type=design&node-id=3111%3A380572&mode=design&t=Ad9DBhNoI8dJYa9b-1" target="_blank">figma</a></code>
<section style="background-color: #f5ebeb; width: 100%; margin: 0;">
  <h2 style="text-align: center;">Stage Image</h2>
  <ks-a-video namespace="video-stage-">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <span></span>
      <p>
        Some Example Stage Video Caption
      </p>
  </ks-a-video>
</section>
<o-grid namespace="1column-align-center-" count-section-children="1">
  <h2 style="text-align: center;">Inside Grid</h2>
  <ks-a-video namespace="video-default-">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <span></span>
      <p>
        Some Example Video Caption for a video inside the Grid
      </p>
  </ks-a-video>
</o-grid>

<h2 style="text-align: center;">Used inside o-grid (-2columns-content-section-)</h2>
<o-grid namespace="grid-2columns-content-section-">
  <ks-a-video namespace="video-default-">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <span></span>
      <p>
        Some Example Video Caption for a video inside the Grid
      </p>
  </ks-a-video>
  <ks-a-video namespace="video-default-">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <span></span>
      <p>
        Some Example Video Caption for a video inside the Grid
      </p>
  </ks-a-video>
</o-grid>

<h2 style="text-align: center;">Used inside o-wrapper</h2>
<o-wrapper namespace="grid-2columns-content-section-">
  <ks-a-video namespace="video-default-">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <span></span>
      <p>
        Some Example Video Caption for a video inside the Grid
      </p>
  </ks-a-video>
</o-wrapper>
