
<h1 id="tile" style="text-align: center;">Videos</h1>
<code><a href="https://www.figma.com/file/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?type=design&node-id=3111%3A380572&mode=design&t=Ad9DBhNoI8dJYa9b-1" target="_blank">figma</a></code>
<ks-o-body-section content-width-var="100%" no-margin-y="" tabindex="0" aria-label="Section">
  <ks-a-heading tag="h2" brand="ks" color="#995c53" tabindex="0">
		Title
	</ks-a-heading>

  <ks-m-figure with-line brand="ks">
    <ks-a-video>
        <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" 
            title="ks video" 
            width="560"
            height="315" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </ks-a-video>
    <!-- to see the line ks-m-figure will need to have a figcaption element -->
    <figcaption>KS-M-Figure</figcaption>
  </ks-m-figure>
  <br>
  <hr>
  <br>
  <ks-m-figure brand="ks">
    <ks-a-video>
        <iframe src="https://www.youtube.com/embed/Mq0TiSppMOU?rel=0" 
            title="ks video" 
            width="560"
            height="315" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </ks-a-video>
    <!-- to see the line ks-m-figure will need to have a figcaption element -->
    <figcaption>KS-M-Figure</figcaption>
</ks-m-figure>
</ks-o-body-section>

				
	


	


	

	

	


	


	

	

	

    


</ks-o-body-section>