<style>
  :host * {
    text-align: center;
  }
</style>
<h1 id="tile" style="text-align: center;">Videos</h1>
<code><a href="https://www.figma.com/file/thNWJxDbPikhVAE95eEHLI/Design-System-Pages-%7C%C2%A0Klubschule?type=design&node-id=3111%3A380572&mode=design&t=Ad9DBhNoI8dJYa9b-1" target="_blank">figma</a></code>
<section
  style="background-color: #f5ebeb; width: 100vw; margin: 0; margin-left: calc(50% - 50vw); padding: var(--mdx-sys-spacing-flex-2xlarge-l) var(--mdx-sys-sizing-fix-7xl);">
  <h2 style="text-align: center;">Stage Image</h2>
  <ks-m-figure with-line>
    <figure>
      <ks-a-video>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </ks-a-video>
      <figcaption>
        Some Example Stage Video Caption
      </figcaption>
    </figure>
  </ks-m-figure>
</section>