<code><a href="https://www.figma.com/file/HrjrCOkZtYdODEUO6qrGij/%F0%9F%8E%A8-MGB-Klubschule%2FMiduca-Design?node-id=2008%3A52807&mode=dev" target="_blank">Figma</a></code>
<a-input
    inputid="inputSearch"
    placeholder="Suchen..."
    submit-search="request-course-search"
    search=""
    type=search
    any-key-listener
    change-listener
    delete-listener
    answer-event-name="course-search"
    active-detail-property-name="fetch:searchText"
></a-input>
<br>
<m-tag-filter namespace="tag-filter-horizontal-" four-per-row>
    <ks-a-button namespace="button-primary-" color="septenary">Filter</ks-a-button>
    <m-double-button namespace="double-button-default-">
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">Abend</ks-a-button>
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">x</ks-a-button>
    </m-double-button>
    <m-double-button namespace="double-button-default-">
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">Mo, Di, Fr</ks-a-button>
        <ks-a-button namespace="button-primary-" color="tertiary" justify-content="flex-start">x</ks-a-button>
    </m-double-button>
    <ks-a-button namespace="button-secondary-" color="tertiary" justify-content="flex-start">Wochentag & Tageszeit</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary" justify-content="flex-start">Lernlevel</ks-a-button>
    <ks-a-button namespace="button-secondary-" color="tertiary" justify-content="flex-start">Kategorien</ks-a-button>
</m-tag-filter>
<ks-m-course-list answer-event-name="course-search"></ks-m-course-list>