<main>
	<o-grid namespace="grid-2columns-content-section-" first-container-vertical first-column-with="66%" with-border
		width="100%">
		<section>
			<ks-o-body-section content-width-var="100%" no-margin-y>

				<ks-o-offers-page 
					headless 
					with-facet-target 
					no-search-tab 
					is-info-events 
					is-wish-list
					endpoint="https://dev.ibaw.ch/Umbraco/Api/CourseApi/Informationevent?lang=d&amp;id=190163&amp;typ=0K&amp;center_id=2776&amp;mandant_id=112&amp;portal_id=30&amp;ppage=0">
				</ks-o-offers-page>

			</ks-o-body-section>
			<aside></aside>
		</section>
	</o-grid>
</main>
<script type="text/javascript" src="./loader.js"></script>