<o-grid namespace="grid-2columns-content-stage-" first-container-vertical="" first-column-with="66%" background-color="#0053a6" width="100%">
		<div class="stage-content">
				<p class="topline link-underline">
					<a href="https://www.klubschule.ch/services/">
						<a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx>
						<span>Services</span>
					</a>
				</p>
				<ks-a-heading tag="h1" color="#ffffff" content-stage>
					<h1>Kontakt</h1>
				</ks-a-heading>
				<p class="intro">Setzen Sie sich mit uns in Verbindung</p>
		</div>

			<aside>
				<img style="object-position: center center"
					 src="https://www.klubschule.ch/media/zgtjrmd3/kontakt.jpeg?format=webp&amp;width=2500&amp;quality=80"
					 alt="Kontakt"
					 aspect-ratio="0.562" />
			</aside>

	</o-grid>


    <div class="spacer"></div>

			<ks-o-body-section variant="narrow">
				

				
	<ks-a-heading tag="h2" brand="ks" color="">
		<h2>			
			Ihre Zufriedenheit ist unser Ziel 
		</h2>
	</ks-a-heading>


	<ks-a-heading tag="h3" brand="ks" color="">
		<h3>			
			Kontakt für Privatpersonen
		</h3>
	</ks-a-heading>


	<div>

		
		<p>Haben Sie Fragen zu einem Kurs? Benötigen Sie Unterstützung? Wir sind für Sie da und freuen uns auf Ihre Nachricht.</p>
	</div>


	<div>

		
		<p><strong>Kundenservicecenter<br></strong>Telefon: <a href="https://www.klubschule.ch/standorte/" title="Standorte">Jetzt anrufen</a><br>E-Mail:&nbsp;<a rel="noopener" href="mailto:kundenservice-center@klubschule.ch" target="_blank" title="kundenservice-center@klubschule.ch">kundenservice-center@klubschule.ch</a></p>
	</div>



<div  >


	<ks-a-button namespace="button-primary-" href="https://www.klubschule.ch/standorte/" target="_self" title="Weiter Standorte">

			<span id="label">Weiter zu den Standorten</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>

	<div class="spacer"></div>

		<div class="spacer"></div>
	<ks-a-heading tag="h3" brand="ks" color="">
		<h3>			
			Weitere Kontakte
		</h3>
	</ks-a-heading>


	<div>

		
		<p>Für Informationen zu Firmenkursen und Raumvermietungen sowie für Medienanfragen erreichen Sie uns über die folgenden Kontaktmöglichkeiten:</p>
	</div>


	<div>

		
		<p><strong>Raumvermietungen</strong><br>E-Mail: <a rel="noopener" href="mailto:event@klubschule.ch" target="_blank" title="event@klubschule.ch">event@klubschule.ch</a></p>
	</div>



<div  >


	<ks-a-button namespace="button-secondary-" href="https://www.klubschule.ch/raeume/" target="_self" title="R&#xE4;ume">

			<span id="label">Offerte anfordern</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>

	<div class="spacer"></div>

	<div>

		
		<p><strong>Firmenkurse<br></strong>Telefon: +41 58 568 77 60&nbsp;<br>E-Mail: <a rel="noopener" href="mailto:%20firmen@miduca.ch" target="_blank" title="firmen@miduca.ch">firmen@miduca.ch</a></p>
	</div>



<div  >


	<ks-a-button namespace="button-secondary-" href="https://www.klubschule.ch/firmenkurse/" target="_self" title="Weitere Infos">

			<span id="label">Weitere Infos</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>

	<div class="spacer"></div>

	<div>

		
		<p><strong>Medienanfragen</strong><br>E-Mail: <a rel="noopener" href="mailto:media@miduca.ch" target="_blank" title="media@miduca.ch">media@miduca.ch</a> </p>
	</div>



<div  >


	<ks-a-button namespace="button-secondary-" href="https://www.klubschule.ch/ueber-uns/medien/" target="_self" title="Medien">

			<span id="label">Weitere Infos</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>

	<div class="spacer"></div>


				
			</ks-o-body-section>

	
   

<script type="text/javascript" src="./loader.js"></script>