<o-grid namespace="grid-2columns-content-stage-" first-container-vertical="" first-column-with="66%" background-color="#f4001b" width="100%">
		<div class="stage-content">
				<p class="topline link-underline">
					<a href="https://www.klubschule.ch/raeume/deutschschweiz/">
						<a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx>
						<span>Raumvermietung in der Deutschschweiz</span>
					</a>
				</p>
				<ks-a-heading tag="h1" color="#ffffff" content-stage>
					<h1>Raumvermietung in Luzern</h1>
				</ks-a-heading>
				<p class="intro">Ihr Anlass mit Blick auf den Vierwaldstättersee</p>
		</div>

			<aside>
				<img style="object-position: center center"
					 src="https://www.klubschule.ch/media/oicoxjy0/lu-schulzimmer-204-screen-rgb.png?format=webp&amp;width=1600&amp;quality=80"
					 alt="Klubschule Luzern"
					 aspect-ratio="0.562" />
			</aside>

	</o-grid>


    <div class="spacer"></div>

			<ks-o-body-section variant="narrow">
				
<p>Am Ufer des Vierwaldstättersees finden Sie die idealen Bedingungen für Ihren professionellen Anlass. Die hellen Räumlichkeiten der Klubschule Luzern bieten einen inspirierenden Rahmen für Ihr Meeting, Ihren Kreativworkshop oder Fitness und Entspannung.</p>
				

				
			</ks-o-body-section>

		<ks-o-body-section variant="narrow" >

					<ks-o-body-section variant="default"  mutobo-attr="attrs">
							<ks-m-teaser namespace="teaser-text-image-" color="secondary" image-size=small text-position="right"
				 href=""
				 target=""
				 title=""
				 id="">

		<a-picture namespace="picture-teaser-" alt="Ausstattung Rot" picture-load="" defaultSource="https://www.klubschule.ch/media/x0qdjfhg/raumvermietung-icon-klick-2.svg" aspect-ratio="0.75" sources-keep-query-aspect-ratio="" style="--img-object-position: Teaser (4/3)"></a-picture>

		<div>
				<h3>Zuverl&#xE4;ssige Ausstattung</h3>

				<p>Alle unsere Zimmer sind mit modernen LED-Touchscreens und neuester Infrastruktur ausger&#252;stet. Diese stellen wir Ihnen kostenlos zur Verf&#252;gung. Die hellen R&#228;ume, gestrichen in frischen Farben, schaffen – dank der Aussicht auf Pilatus und den Vierwaldst&#228;ttersee – eine ganz besondere Arbeitsatmosph&#228;re.</p>

		</div>
	</ks-m-teaser>

					</ks-o-body-section>
					<ks-o-body-section variant="default"  mutobo-attr="attrs">
							<ks-m-teaser namespace="teaser-text-image-" color="secondary" image-size=small text-position="right"
				 href=""
				 target=""
				 title=""
				 id="">

		<a-picture namespace="picture-teaser-" alt="Verpflegung Kaffee Rot" picture-load="" defaultSource="https://www.klubschule.ch/media/y3cdzj3b/raumvermietung-icon-kaffee.svg" aspect-ratio="0.75" sources-keep-query-aspect-ratio="" style="--img-object-position: Teaser (4/3)"></a-picture>

		<div>
				<h3>Zahlreiche Verpflegungsm&#xF6;glichkeiten</h3>

				<p>G&#246;nnen Sie sich eine Pause. Zahlreiche Restaurants und Einkehrm&#246;glichkeiten liegen in unmittelbarer N&#228;he der Klubschule. Wer an die frische Luft m&#246;chte, findet Entspannung am Vierwaldst&#228;ttersee. M&#246;chten Sie im Meeting-Raum essen und trinken? Teilen Sie uns Ihre W&#252;nsche mit und erhalten Sie das passende Angebot.</p>

		</div>
	</ks-m-teaser>

					</ks-o-body-section>
					<ks-o-body-section variant="default"  mutobo-attr="attrs">
							<ks-m-teaser namespace="teaser-text-image-" color="secondary" image-size=small text-position="right"
				 href=""
				 target=""
				 title=""
				 id="">

		<a-picture namespace="picture-teaser-" alt="Standort Rot" picture-load="" defaultSource="https://www.klubschule.ch/media/l2knwpvd/raumvermietung-icon-location.svg" aspect-ratio="0.75" sources-keep-query-aspect-ratio="" style="--img-object-position: Teaser (4/3)"></a-picture>

		<div>
				<h3>Attraktive Lage</h3>

				<p>Die Anbindung an den &#246;ffentlichen Verkehr ist optimal. Die Klubschule Luzern liegt am Schwanenplatz, f&#252;nf Minuten zu Fuss vom Bahnhof entfernt. Alternativ befindet sich die Bushaltestelle Schwanenplatz in unmittelbarer N&#228;he. Wer mit dem Auto anreist, findet mehrere geb&#252;hrenpflichtige Parkh&#228;user in Gehdistanz. Die Klubschule Luzern ist rollstuhlg&#228;ngig.</p>

		</div>
	</ks-m-teaser>

					</ks-o-body-section>
					<style>
						:host {
							--background-color: transparent;
						}
					</style>

	<div>


		<style>
			:host h2 {
				font: var(--mdx-sys-font-flex-large-headline2);
				margin-top: var(--mdx-sys-spacing-flex-large-m);
				margin-bottom: var(--mdx-sys-spacing-flex-large-s);
			}
		</style>
		
		<p>Weitere Informationen zur Klubschule Luzern finden Sie <a rel="noopener" href="https://www.klubschule.ch/standorte/luzern/" target="_blank" title="Luzern">hier</a>.</p>
	</div>

					<style>
						:host {
							--background-color: transparent;
						}
					</style>


<div  >


	<ks-a-button namespace="button-primary-" href="https://form.123formbuilder.com/6455362/raumreservation-klubschule-migros" target="_blank" title="">

			<span id="label">Offerte anfordern</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>

					<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1) mutobo-attr="attrs">
							<m-carousel-two namespace="carousel-two-image-" nav-flex-wrap separate="" nav-justify-content="end" nav-align-self="end" no-default-arrow-nav="" no-default-nav="end" no-default-nav-linking="">
		<section>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/3elcr5ue/lu-standort.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac319956146f0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/qgadmg5r/lu-lagomio-lounge-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac319912f0ef0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/xajf5a0v/lu-empfangsteam-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac3198a7d09e0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/zvrbdsxf/lu-informatikzimmer-402-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac31984375b30" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/doebk2vf/lu-offenes-schulzimmer-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac3196aed0d50" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/oicoxjy0/lu-schulzimmer-204-screen-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac319700dc400" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/tvmndzjm/lu-unterricht-203-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac31976295570" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
					<ks-m-figure tabindex="0" class="" aria-hidden="true">
						<a-picture namespace="picture-cover-" alt="Klubschule Luzern" picture-load="" defaultSource="https://www.klubschule.ch/media/0qqf0cak/lu-unterricht-am-screen-rgb.png?width=1600&amp;height=900&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dac3197f20b6a0" aspect-ratio="0.562" sources-keep-query-aspect-ratio="" style="--img-object-position: Default (16/9)"></a-picture>
					</ks-m-figure>
		</section>
		<div>
			<p id="index">

			</p>

			<nav>
				<a href="#previous" aria-label="previous slide">
					<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowLeft" size="1em"></a-icon-mdx></ks-a-button>
				</a>
				<a href="#next" aria-label="next slide">
					<ks-a-button icon namespace="button-primary-" color="tertiary"><a-icon-mdx icon-name="ArrowRight" size="1em"></a-icon-mdx></ks-a-button>
				</a>
			</nav>
		</div>

	</m-carousel-two>

					</ks-o-body-section>
					<ks-o-body-section variant="default" has-background background=var(--mdx-sys-color-accent-6-subtle1) mutobo-attr="attrs">
							<ks-m-teaser namespace="teaser-text-image-" color="secondary" image-size=small text-position="right"
				 href=""
				 target=""
				 title=""
				 id="">

		<a-picture namespace="picture-teaser-" alt="Klubschule Migros - Swiss Location Award" picture-load="" defaultSource="https://www.klubschule.ch/media/f4ha5hdn/winner-batch-de-web.png?width=1704&amp;height=1278&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dadc1837f43cd0" aspect-ratio="0.75" sources-keep-query-aspect-ratio="" style="--img-object-position: Teaser (4/3)"></a-picture>

		<div>
				<h3>Ausgezeichnet mit dem Swiss Location Award&#xAE;</h3>

				<p>Die Klubschule Luzern geh&#246;rt zu den<br />sch&#246;nsten Meetinglocations der Schweiz! <br /><br />Bewertung: Ausgezeichnet (8.7)<br /><br />Was Besucher*innen und Veranstalter*innen besonders gef&#228;llt:<br />- Einmalige Lage<br />- Perfekte Erreichbarkeit<br />- Freundliche Gastgeber</p>

		</div>
	</ks-m-teaser>

					</ks-o-body-section>
					<style>
						:host {
							--background-color: transparent;
						}
					</style>



<!-- Check Content alias and render o-body-section if not on home -->
<ks-o-body-section variant='default'>



	<m-carousel-two namespace=carousel-two-3-column- nav-flex-wrap separate nav-justify-content="end" nav-align-self="end" no-default-arrow-nav no-default-nav no-default-nav-linking>
		<section>
				<ks-m-teaser namespace="teaser-tile-content-" inverse color="ks-red" href="mailto:event@klubschule.ch" target="_blank" title="E-Mail schreiben" brand="ks">
					<figure>
						<figcaption>
								<strong>Beratung</strong>

								<h3>Haben Sie Fragen zu unseren R&#xE4;umen?</h3>

								<p>Kontaktieren Sie uns, wir beraten Sie gerne.</p>

								<span>
									E-Mail schreiben
									<a-icon-mdx icon-name="ArrowUpRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
								</span>
						</figcaption>
						<miduca-picture />
					</figure>
				</ks-m-teaser>
				<ks-m-teaser namespace="teaser-tile-content-" inverse color="ks-red" href="https://www.klubschule.ch/media/jtud3roi/broschuere-raumvermietung-national-de.pdf?la=de-CH" target="_blank" title="PDF herunterladen" brand="ks">
					<figure>
						<figcaption>
								<strong>Brosch&#xFC;re</strong>

								<h3>&#xDC;bersicht unserer R&#xE4;ume</h3>

								<p>Erfahren Sie mehr, welche Räume Sie in der Klubschule mieten können.</p>

								<span>
									PDF herunterladen
									<a-icon-mdx icon-name="ArrowUpRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
								</span>
						</figcaption>
						<miduca-picture />
					</figure>
				</ks-m-teaser>
				<ks-m-teaser namespace="teaser-tile-content-" inverse color="ks-red" href="https://form.123formbuilder.com/6455362/raumreservation-klubschule-migros?_gl=1*oautmq*_ga*MjgyNzU5NzQwLjE3MTMyNzY3MDc.*_ga_EXT9MEM6M4*MTcxNjI3NTk2My45OC4xLjE3MTYyNzYwNjQuNjAuMC4w" target="_blank" title="Jetzt reservieren" brand="ks">
					<figure>
						<figcaption>
								<strong>Offerte </strong>

								<h3>Mieten Sie Ihren Raum</h3>

								<p>Fordern Sie noch heute Ihre Offerte an.</p>

								<span>
									Jetzt reservieren
									<a-icon-mdx icon-name="ArrowUpRight" size="1em" rotate="0" no-hover-transform></a-icon-mdx>
								</span>
						</figcaption>
						<miduca-picture />
					</figure>
				</ks-m-teaser>
		</section>

		<div>


		</div>

	</m-carousel-two>

</ks-o-body-section>


	</ks-o-body-section>

   

<script type="text/javascript" src="./loader.js"></script>