<ks-m-stage namespace="stage-title-">

			<p class="topline">
				<ks-a-back-link href="https://www.klubschule.ch/entdecken/" alt="Neue Leidenschaften und Talente entdecken">
					Neue Leidenschaften und Talente entdecken
				</ks-a-back-link>
			</p>

		<ks-a-heading tag="h1" display-3 centered border-top brand="ks">
			<h1>Stillen Sie Ihren Lernhunger mit einem Snack</h1>
		</ks-a-heading>

		<a-picture namespace="" alt="Sprachlicher Snack" picture-load="" defaultSource="https://www.klubschule.ch/media/dvzdpcwe/snacks.jpeg?cc=0,0.0651536702550967,0,0.292645297464263&amp;width=2500&amp;height=1071&amp;format=webp&amp;quality=80&amp;mode=crop&amp;v=1dad454ecef5460" aspect-ratio="0.42857143" sources-keep-query-aspect-ratio="" style="--img-object-position: 62.2669% 33.7532%"></a-picture>
	</ks-m-stage>


		<ks-o-body-section variant="narrow">
			

			<!-- Social LogoList -->
	<ks-m-logo-list namespace="logo-list-default-" class="margin-y-m">
		<p style="color: var(--mdx-sys-color-neutral-bold2)"><a-translation data-trans-key="[yourTranslationKey].From"></a-translation> Max Muster, 8. August 2023</p>
	</ks-m-logo-list>
	<ks-a-heading tag="h2" brand="ks" color="#cc5299">
		<h2>			
			Kurze Lerneinheit in einer Doppellektion
		</h2>
	</ks-a-heading>
	


	<div>

			<style>
				:host h2, :host h3 {
					color: #cc5299 !important;
				}
			</style>
		
		<p>Möchten Sie Ihre vorhandenen Sprachkenntnisse in Deutsch, Französisch oder Italienisch auffrischen, pflegen oder vertiefen? Dann gönnen Sie sich einen sprachlichen Snack!</p>
<p>Während dieser einzelnen Doppellektion steht die Grammatik im Vordergrund, unterstützt von einem geeigneten Wortschatz. Trainieren Sie zum Beispiel Relativsätze im Deutschen, Vergangenheitsformen im Französischen oder direkte Pronomen im Italienischen – und dies in Interaktion mit anderen Kursteilnehmenden.</p>
<p>Jeder Snack vermittelt feste grammatikalische Inhalte mit Bezug auf universelle Themen, die für die Kommunikation im Alltag nützlich sind. Die Snacks werden online angeboten und finden in Einheiten à zwei 50-minütigen Lektionen statt. Gönnen Sie sich einen Snack für nur CHF 58.–.&nbsp;</p>
	</div>



<div  >


	<ks-a-button namespace="button-primary-" href="https://www.klubschule.ch/sprachen/?q=snack" target="_self" title="Sprachen">

			<span id="label">Entdecken Sie unsere Snacks</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>

	<div class="spacer"></div>

	<div class="margin-bottom-m">


			<m-details namespace="details-default-icon-right-"  scroll-into-view>
				<details>
					<summary>
						<h4>Deutsch</h4>
					</summary>

					<div>
						<style>
							:host details summary ~ * {
								--details-default-color-secondary: var(--color-hover);
							}
						</style>

			<div>
				
	<ks-a-heading tag="h3" brand="ks" color="#cc5299">
		<h3>			
			Deutsch
		</h3>
	</ks-a-heading>


			</div>
			<div>
				
	<div>

			<style>
				:host h2, :host h3 {
					color: #cc5299 !important;
				}
			</style>
		
		<p>A2: Perfekt und Präteritum<br>A2: Komparativ und Superlativ<br>B1: Relativsätze<br>B1: Lokale Präpositionen<br>B2: Satzbau<br>B2: Adjektivdeklination</p>
	</div>


			</div>
			<div>
				

<div  >


	<ks-a-button namespace="button-secondary-" href="https://www.klubschule.ch/sprachen/deutschkurse/?q=snack" target="_self" title="Deutschkurse">

			<span id="label">Zu den Deutsch-Snacks</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


			</div>
					</div>
				</details>
			</m-details>
			<m-details namespace="details-default-icon-right-"  scroll-into-view>
				<details>
					<summary>
						<h4>Fran&#xE7;ais</h4>
					</summary>

					<div>
						<style>
							:host details summary ~ * {
								--details-default-color-secondary: var(--color-hover);
							}
						</style>

			<div>
				
	<ks-a-heading tag="h3" brand="ks" color="#cc5299">
		<h3>			
			Français
		</h3>
	</ks-a-heading>


			</div>
			<div>
				
	<div>

			<style>
				:host h2, :host h3 {
					color: #cc5299 !important;
				}
			</style>
		
		<p>A1: L'interrogation&nbsp;<br>A1: Le passé composé<br>A2: Les prépositions et locutions de lieu&nbsp;<br>A2: Les pronoms compléments&nbsp;<br>B1: L'imparfait et le conditionnel présent&nbsp;<br>B1: Les temps du passé&nbsp;<br>B2: Le subjonctif (usages)&nbsp;<br>B2: La phrase conditionnelle</p>
	</div>


			</div>
			<div>
				

<div  >


	<ks-a-button namespace="button-secondary-" href="https://www.klubschule.ch/sprachen/franzoesischkurse/?q=snack" target="_self" title="Vers les snacks en fran&#xE7;ais">

			<span id="label">Vers les snacks en fran&#xE7;ais</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


			</div>
					</div>
				</details>
			</m-details>
			<m-details namespace="details-default-icon-right-"  scroll-into-view>
				<details>
					<summary>
						<h4>Italiano</h4>
					</summary>

					<div>
						<style>
							:host details summary ~ * {
								--details-default-color-secondary: var(--color-hover);
							}
						</style>

			<div>
				
	<ks-a-heading tag="h3" brand="ks" color="#cc5299">
		<h3>			
			Italiano
		</h3>
	</ks-a-heading>


			</div>
			<div>
				
	<div>

			<style>
				:host h2, :host h3 {
					color: #cc5299 !important;
				}
			</style>
		
		<p>A1: I pronomi diretti<br>A1: I verbi riflessivi<br>A2: Il comparativo<br>A2: Il superlativo<br>B1: ll congiuntivo presente<br>B1: Il discorso indiretto<br>B2: ll congiuntivo<br>B2: Il periodo ipotetico (3° tipo)</p>
	</div>


			</div>
			<div>
				

<div  >


	<ks-a-button namespace="button-secondary-" href="https://www.klubschule.ch/sprachen/italienischkurse/?q=snack" target="_self" title="Italienischkurse">

			<span id="label">Agli snack in italiano</span>
	</ks-a-button>
</div>

<ks-a-spacing type="s-flex"></ks-a-spacing>


			</div>
					</div>
				</details>
			</m-details>
	</div>


			
		</ks-o-body-section>



	
<script type="text/javascript" src="./loader.js"></script>