:root {
    /* This is just a quick fix for some missing tokens in mdx klubschule theme */

    --mdx-sys-font-flex-xlarge-display1-font-family: var(--mdx-sys-font-flex-large-display1-font-family);
    --mdx-sys-font-flex-xlarge-display1-font-weight: var(--mdx-sys-font-flex-large-display1-font-weight);
    --mdx-sys-font-flex-xlarge-display1-line-height: var(--mdx-sys-font-flex-large-display1-line-height);
    --mdx-sys-font-flex-xlarge-display1-font-size: var(--mdx-sys-font-flex-large-display1-font-size);
    --mdx-sys-font-flex-xlarge-display1-letter-spacing: var(--mdx-sys-font-flex-large-display1-letter-spacing);
    --mdx-sys-font-flex-xlarge-display1-paragraph-spacing: var(--mdx-sys-font-flex-large-display1-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-display1-text-case: var(--mdx-sys-font-flex-large-display1-text-case);
    --mdx-sys-font-flex-xlarge-display1-text-decoration: var(--mdx-sys-font-flex-large-display1-text-decoration);
    --mdx-sys-font-flex-xlarge-display1: var(--mdx-sys-font-flex-large-display1);
    --mdx-sys-font-flex-2xlarge-display1-font-family: var(--mdx-sys-font-flex-large-display1-font-family);
    --mdx-sys-font-flex-2xlarge-display1-font-weight: var(--mdx-sys-font-flex-large-display1-font-weight);
    --mdx-sys-font-flex-2xlarge-display1-line-height: var(--mdx-sys-font-flex-large-display1-line-height);
    --mdx-sys-font-flex-2xlarge-display1-font-size: var(--mdx-sys-font-flex-large-display1-font-size);
    --mdx-sys-font-flex-2xlarge-display1-letter-spacing: var(--mdx-sys-font-flex-large-display1-letter-spacing);
    --mdx-sys-font-flex-2xlarge-display1-paragraph-spacing: var(--mdx-sys-font-flex-large-display1-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-display1-text-case: var(--mdx-sys-font-flex-large-display1-text-case);
    --mdx-sys-font-flex-2xlarge-display1-text-decoration: var(--mdx-sys-font-flex-large-display1-text-decoration);
    --mdx-sys-font-flex-2xlarge-display1: var(--mdx-sys-font-flex-large-display1);

    --mdx-sys-font-flex-xlarge-display2-font-family: var(--mdx-sys-font-flex-large-display2-font-family);
    --mdx-sys-font-flex-xlarge-display2-font-weight: var(--mdx-sys-font-flex-large-display2-font-weight);
    --mdx-sys-font-flex-xlarge-display2-line-height: var(--mdx-sys-font-flex-large-display2-line-height);
    --mdx-sys-font-flex-xlarge-display2-font-size: var(--mdx-sys-font-flex-large-display2-font-size);
    --mdx-sys-font-flex-xlarge-display2-letter-spacing: var(--mdx-sys-font-flex-large-display2-letter-spacing);
    --mdx-sys-font-flex-xlarge-display2-paragraph-spacing: var(--mdx-sys-font-flex-large-display2-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-display2-text-case: var(--mdx-sys-font-flex-large-display2-text-case);
    --mdx-sys-font-flex-xlarge-display2-text-decoration: var(--mdx-sys-font-flex-large-display2-text-decoration);
    --mdx-sys-font-flex-xlarge-display2: var(--mdx-sys-font-flex-large-display2);
    --mdx-sys-font-flex-2xlarge-display2-font-family: var(--mdx-sys-font-flex-large-display2-font-family);
    --mdx-sys-font-flex-2xlarge-display2-font-weight: var(--mdx-sys-font-flex-large-display2-font-weight);
    --mdx-sys-font-flex-2xlarge-display2-line-height: var(--mdx-sys-font-flex-large-display2-line-height);
    --mdx-sys-font-flex-2xlarge-display2-font-size: var(--mdx-sys-font-flex-large-display2-font-size);
    --mdx-sys-font-flex-2xlarge-display2-letter-spacing: var(--mdx-sys-font-flex-large-display2-letter-spacing);
    --mdx-sys-font-flex-2xlarge-display2-paragraph-spacing: var(--mdx-sys-font-flex-large-display2-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-display2-text-case: var(--mdx-sys-font-flex-large-display2-text-case);
    --mdx-sys-font-flex-2xlarge-display2-text-decoration: var(--mdx-sys-font-flex-large-display2-text-decoration);
    --mdx-sys-font-flex-2xlarge-display2: var(--mdx-sys-font-flex-large-display2);

    --mdx-sys-font-flex-xlarge-display3-font-family: var(--mdx-sys-font-flex-large-display3-font-family);
    --mdx-sys-font-flex-xlarge-display3-font-weight: var(--mdx-sys-font-flex-large-display3-font-weight);
    --mdx-sys-font-flex-xlarge-display3-line-height: var(--mdx-sys-font-flex-large-display3-line-height);
    --mdx-sys-font-flex-xlarge-display3-font-size: var(--mdx-sys-font-flex-large-display3-font-size);
    --mdx-sys-font-flex-xlarge-display3-letter-spacing: var(--mdx-sys-font-flex-large-display3-letter-spacing);
    --mdx-sys-font-flex-xlarge-display3-paragraph-spacing: var(--mdx-sys-font-flex-large-display3-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-display3-text-case: var(--mdx-sys-font-flex-large-display3-text-case);
    --mdx-sys-font-flex-xlarge-display3-text-decoration: var(--mdx-sys-font-flex-large-display3-text-decoration);
    --mdx-sys-font-flex-xlarge-display3: var(--mdx-sys-font-flex-large-display3);
    --mdx-sys-font-flex-2xlarge-display3-font-family: var(--mdx-sys-font-flex-large-display3-font-family);
    --mdx-sys-font-flex-2xlarge-display3-font-weight: var(--mdx-sys-font-flex-large-display3-font-weight);
    --mdx-sys-font-flex-2xlarge-display3-line-height: var(--mdx-sys-font-flex-large-display3-line-height);
    --mdx-sys-font-flex-2xlarge-display3-font-size: var(--mdx-sys-font-flex-large-display3-font-size);
    --mdx-sys-font-flex-2xlarge-display3-letter-spacing: var(--mdx-sys-font-flex-large-display3-letter-spacing);
    --mdx-sys-font-flex-2xlarge-display3-paragraph-spacing: var(--mdx-sys-font-flex-large-display3-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-display3-text-case: var(--mdx-sys-font-flex-large-display3-text-case);
    --mdx-sys-font-flex-2xlarge-display3-text-decoration: var(--mdx-sys-font-flex-large-display3-text-decoration);
    --mdx-sys-font-flex-2xlarge-display3: var(--mdx-sys-font-flex-large-display3);

    --mdx-sys-font-flex-xlarge-headline1-font-family: var(--mdx-sys-font-flex-large-headline1-font-family);
    --mdx-sys-font-flex-xlarge-headline1-font-weight: var(--mdx-sys-font-flex-large-headline1-font-weight);
    --mdx-sys-font-flex-xlarge-headline1-line-height: var(--mdx-sys-font-flex-large-headline1-line-height);
    --mdx-sys-font-flex-xlarge-headline1-font-size: var(--mdx-sys-font-flex-large-headline1-font-size);
    --mdx-sys-font-flex-xlarge-headline1-letter-spacing: var(--mdx-sys-font-flex-large-headline1-letter-spacing);
    --mdx-sys-font-flex-xlarge-headline1-paragraph-spacing: var(--mdx-sys-font-flex-large-headline1-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-headline1-text-case: var(--mdx-sys-font-flex-large-headline1-text-case);
    --mdx-sys-font-flex-xlarge-headline1-text-decoration: var(--mdx-sys-font-flex-large-headline1-text-decoration);
    --mdx-sys-font-flex-xlarge-headline1: var(--mdx-sys-font-flex-large-headline1);
    --mdx-sys-font-flex-2xlarge-headline1-font-family: var(--mdx-sys-font-flex-large-headline1-font-family);
    --mdx-sys-font-flex-2xlarge-headline1-font-weight: var(--mdx-sys-font-flex-large-headline1-font-weight);
    --mdx-sys-font-flex-2xlarge-headline1-line-height: var(--mdx-sys-font-flex-large-headline1-line-height);
    --mdx-sys-font-flex-2xlarge-headline1-font-size: var(--mdx-sys-font-flex-large-headline1-font-size);
    --mdx-sys-font-flex-2xlarge-headline1-letter-spacing: var(--mdx-sys-font-flex-large-headline1-letter-spacing);
    --mdx-sys-font-flex-2xlarge-headline1-paragraph-spacing: var(--mdx-sys-font-flex-large-headline1-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-headline1-text-case: var(--mdx-sys-font-flex-large-headline1-text-case);
    --mdx-sys-font-flex-2xlarge-headline1-text-decoration: var(--mdx-sys-font-flex-large-headline1-text-decoration);
    --mdx-sys-font-flex-2xlarge-headline1: var(--mdx-sys-font-flex-large-headline1);

    --mdx-sys-font-flex-xlarge-headline2-font-family: var(--mdx-sys-font-flex-large-headline2-font-family);
    --mdx-sys-font-flex-xlarge-headline2-font-weight: var(--mdx-sys-font-flex-large-headline2-font-weight);
    --mdx-sys-font-flex-xlarge-headline2-line-height: var(--mdx-sys-font-flex-large-headline2-line-height);
    --mdx-sys-font-flex-xlarge-headline2-font-size: var(--mdx-sys-font-flex-large-headline2-font-size);
    --mdx-sys-font-flex-xlarge-headline2-letter-spacing: var(--mdx-sys-font-flex-large-headline2-letter-spacing);
    --mdx-sys-font-flex-xlarge-headline2-paragraph-spacing: var(--mdx-sys-font-flex-large-headline2-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-headline2-text-case: var(--mdx-sys-font-flex-large-headline2-text-case);
    --mdx-sys-font-flex-xlarge-headline2-text-decoration: var(--mdx-sys-font-flex-large-headline2-text-decoration);
    --mdx-sys-font-flex-xlarge-headline2: var(--mdx-sys-font-flex-large-headline2);
    --mdx-sys-font-flex-2xlarge-headline2-font-family: var(--mdx-sys-font-flex-large-headline2-font-family);
    --mdx-sys-font-flex-2xlarge-headline2-font-weight: var(--mdx-sys-font-flex-large-headline2-font-weight);
    --mdx-sys-font-flex-2xlarge-headline2-line-height: var(--mdx-sys-font-flex-large-headline2-line-height);
    --mdx-sys-font-flex-2xlarge-headline2-font-size: var(--mdx-sys-font-flex-large-headline2-font-size);
    --mdx-sys-font-flex-2xlarge-headline2-letter-spacing: var(--mdx-sys-font-flex-large-headline2-letter-spacing);
    --mdx-sys-font-flex-2xlarge-headline2-paragraph-spacing: var(--mdx-sys-font-flex-large-headline2-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-headline2-text-case: var(--mdx-sys-font-flex-large-headline2-text-case);
    --mdx-sys-font-flex-2xlarge-headline2-text-decoration: var(--mdx-sys-font-flex-large-headline2-text-decoration);
    --mdx-sys-font-flex-2xlarge-headline2: var(--mdx-sys-font-flex-large-headline2);

    --mdx-sys-font-flex-xlarge-headline3-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --mdx-sys-font-flex-xlarge-headline3-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --mdx-sys-font-flex-xlarge-headline3-line-height: var(--mdx-sys-font-flex-large-headline3-line-height);
    --mdx-sys-font-flex-xlarge-headline3-font-size: var(--mdx-sys-font-flex-large-headline3-font-size);
    --mdx-sys-font-flex-xlarge-headline3-letter-spacing: var(--mdx-sys-font-flex-large-headline3-letter-spacing);
    --mdx-sys-font-flex-xlarge-headline3-paragraph-spacing: var(--mdx-sys-font-flex-large-headline3-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-headline3-text-case: var(--mdx-sys-font-flex-large-headline3-text-case);
    --mdx-sys-font-flex-xlarge-headline3-text-decoration: var(--mdx-sys-font-flex-large-headline3-text-decoration);
    --mdx-sys-font-flex-xlarge-headline3: var(--mdx-sys-font-flex-large-headline3);
    --mdx-sys-font-flex-2xlarge-headline3-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --mdx-sys-font-flex-2xlarge-headline3-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --mdx-sys-font-flex-2xlarge-headline3-line-height: var(--mdx-sys-font-flex-large-headline3-line-height);
    --mdx-sys-font-flex-2xlarge-headline3-font-size: var(--mdx-sys-font-flex-large-headline3-font-size);
    --mdx-sys-font-flex-2xlarge-headline3-letter-spacing: var(--mdx-sys-font-flex-large-headline3-letter-spacing);
    --mdx-sys-font-flex-2xlarge-headline3-paragraph-spacing: var(--mdx-sys-font-flex-large-headline3-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-headline3-text-case: var(--mdx-sys-font-flex-large-headline3-text-case);
    --mdx-sys-font-flex-2xlarge-headline3-text-decoration: var(--mdx-sys-font-flex-large-headline3-text-decoration);
    --mdx-sys-font-flex-2xlarge-headline3: var(--mdx-sys-font-flex-large-headline3);

    --mdx-sys-font-flex-xlarge-headline3-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --mdx-sys-font-flex-xlarge-headline3-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --mdx-sys-font-flex-xlarge-headline3-line-height: var(--mdx-sys-font-flex-large-headline3-line-height);
    --mdx-sys-font-flex-xlarge-headline3-font-size: var(--mdx-sys-font-flex-large-headline3-font-size);
    --mdx-sys-font-flex-xlarge-headline3-letter-spacing: var(--mdx-sys-font-flex-large-headline3-letter-spacing);
    --mdx-sys-font-flex-xlarge-headline3-paragraph-spacing: var(--mdx-sys-font-flex-large-headline3-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-headline3-text-case: var(--mdx-sys-font-flex-large-headline3-text-case);
    --mdx-sys-font-flex-xlarge-headline3-text-decoration: var(--mdx-sys-font-flex-large-headline3-text-decoration);
    --mdx-sys-font-flex-xlarge-headline3: var(--mdx-sys-font-flex-large-headline3);
    --mdx-sys-font-flex-2xlarge-headline3-font-family: var(--mdx-sys-font-flex-large-headline3-font-family);
    --mdx-sys-font-flex-2xlarge-headline3-font-weight: var(--mdx-sys-font-flex-large-headline3-font-weight);
    --mdx-sys-font-flex-2xlarge-headline3-line-height: var(--mdx-sys-font-flex-large-headline3-line-height);
    --mdx-sys-font-flex-2xlarge-headline3-font-size: var(--mdx-sys-font-flex-large-headline3-font-size);
    --mdx-sys-font-flex-2xlarge-headline3-letter-spacing: var(--mdx-sys-font-flex-large-headline3-letter-spacing);
    --mdx-sys-font-flex-2xlarge-headline3-paragraph-spacing: var(--mdx-sys-font-flex-large-headline3-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-headline3-text-case: var(--mdx-sys-font-flex-large-headline3-text-case);
    --mdx-sys-font-flex-2xlarge-headline3-text-decoration: var(--mdx-sys-font-flex-large-headline3-text-decoration);
    --mdx-sys-font-flex-2xlarge-headline3: var(--mdx-sys-font-flex-large-headline3);

    --mdx-sys-font-flex-xlarge-body1-font-family: var(--mdx-sys-font-flex-large-body1-font-family);
    --mdx-sys-font-flex-xlarge-body1-font-weight: var(--mdx-sys-font-flex-large-body1-font-weight);
    --mdx-sys-font-flex-xlarge-body1-line-height: var(--mdx-sys-font-flex-large-body1-line-height);
    --mdx-sys-font-flex-xlarge-body1-font-size: var(--mdx-sys-font-flex-large-body1-font-size);
    --mdx-sys-font-flex-xlarge-body1-letter-spacing: var(--mdx-sys-font-flex-large-body1-letter-spacing);
    --mdx-sys-font-flex-xlarge-body1-paragraph-spacing: var(--mdx-sys-font-flex-large-body1-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-body1-text-case: var(--mdx-sys-font-flex-large-body1-text-case);
    --mdx-sys-font-flex-xlarge-body1-text-decoration: var(--mdx-sys-font-flex-large-body1-text-decoration);
    --mdx-sys-font-flex-xlarge-body1: var(--mdx-sys-font-flex-large-body1);
    --mdx-sys-font-flex-2xlarge-body1-font-family: var(--mdx-sys-font-flex-large-body1-font-family);
    --mdx-sys-font-flex-2xlarge-body1-font-weight: var(--mdx-sys-font-flex-large-body1-font-weight);
    --mdx-sys-font-flex-2xlarge-body1-line-height: var(--mdx-sys-font-flex-large-body1-line-height);
    --mdx-sys-font-flex-2xlarge-body1-font-size: var(--mdx-sys-font-flex-large-body1-font-size);
    --mdx-sys-font-flex-2xlarge-body1-letter-spacing: var(--mdx-sys-font-flex-large-body1-letter-spacing);
    --mdx-sys-font-flex-2xlarge-body1-paragraph-spacing: var(--mdx-sys-font-flex-large-body1-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-body1-text-case: var(--mdx-sys-font-flex-large-body1-text-case);
    --mdx-sys-font-flex-2xlarge-body1-text-decoration: var(--mdx-sys-font-flex-large-body1-text-decoration);
    --mdx-sys-font-flex-2xlarge-body1: var(--mdx-sys-font-flex-large-body1);

    --mdx-sys-font-flex-xlarge-body2-font-family: var(--mdx-sys-font-flex-large-body2-font-family);
    --mdx-sys-font-flex-xlarge-body2-font-weight: var(--mdx-sys-font-flex-large-body2-font-weight);
    --mdx-sys-font-flex-xlarge-body2-line-height: var(--mdx-sys-font-flex-large-body2-line-height);
    --mdx-sys-font-flex-xlarge-body2-font-size: var(--mdx-sys-font-flex-large-body2-font-size);
    --mdx-sys-font-flex-xlarge-body2-letter-spacing: var(--mdx-sys-font-flex-large-body2-letter-spacing);
    --mdx-sys-font-flex-xlarge-body2-paragraph-spacing: var(--mdx-sys-font-flex-large-body2-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-body2-text-case: var(--mdx-sys-font-flex-large-body2-text-case);
    --mdx-sys-font-flex-xlarge-body2-text-decoration: var(--mdx-sys-font-flex-large-body2-text-decoration);
    --mdx-sys-font-flex-xlarge-body2: var(--mdx-sys-font-flex-large-body2);
    --mdx-sys-font-flex-2xlarge-body2-font-family: var(--mdx-sys-font-flex-large-body2-font-family);
    --mdx-sys-font-flex-2xlarge-body2-font-weight: var(--mdx-sys-font-flex-large-body2-font-weight);
    --mdx-sys-font-flex-2xlarge-body2-line-height: var(--mdx-sys-font-flex-large-body2-line-height);
    --mdx-sys-font-flex-2xlarge-body2-font-size: var(--mdx-sys-font-flex-large-body2-font-size);
    --mdx-sys-font-flex-2xlarge-body2-letter-spacing: var(--mdx-sys-font-flex-large-body2-letter-spacing);
    --mdx-sys-font-flex-2xlarge-body2-paragraph-spacing: var(--mdx-sys-font-flex-large-body2-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-body2-text-case: var(--mdx-sys-font-flex-large-body2-text-case);
    --mdx-sys-font-flex-2xlarge-body2-text-decoration: var(--mdx-sys-font-flex-large-body2-text-decoration);
    --mdx-sys-font-flex-2xlarge-body2: var(--mdx-sys-font-flex-large-body2);

    --mdx-sys-font-flex-xlarge-body3-font-family: var(--mdx-sys-font-flex-large-body3-font-family);
    --mdx-sys-font-flex-xlarge-body3-font-weight: var(--mdx-sys-font-flex-large-body3-font-weight);
    --mdx-sys-font-flex-xlarge-body3-line-height: var(--mdx-sys-font-flex-large-body3-line-height);
    --mdx-sys-font-flex-xlarge-body3-font-size: var(--mdx-sys-font-flex-large-body3-font-size);
    --mdx-sys-font-flex-xlarge-body3-letter-spacing: var(--mdx-sys-font-flex-large-body3-letter-spacing);
    --mdx-sys-font-flex-xlarge-body3-paragraph-spacing: var(--mdx-sys-font-flex-large-body3-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-body3-text-case: var(--mdx-sys-font-flex-large-body3-text-case);
    --mdx-sys-font-flex-xlarge-body3-text-decoration: var(--mdx-sys-font-flex-large-body3-text-decoration);
    --mdx-sys-font-flex-xlarge-body3: var(--mdx-sys-font-flex-large-body3);
    --mdx-sys-font-flex-2xlarge-body3-font-family: var(--mdx-sys-font-flex-large-body3-font-family);
    --mdx-sys-font-flex-2xlarge-body3-font-weight: var(--mdx-sys-font-flex-large-body3-font-weight);
    --mdx-sys-font-flex-2xlarge-body3-line-height: var(--mdx-sys-font-flex-large-body3-line-height);
    --mdx-sys-font-flex-2xlarge-body3-font-size: var(--mdx-sys-font-flex-large-body3-font-size);
    --mdx-sys-font-flex-2xlarge-body3-letter-spacing: var(--mdx-sys-font-flex-large-body3-letter-spacing);
    --mdx-sys-font-flex-2xlarge-body3-paragraph-spacing: var(--mdx-sys-font-flex-large-body3-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-body3-text-case: var(--mdx-sys-font-flex-large-body3-text-case);
    --mdx-sys-font-flex-2xlarge-body3-text-decoration: var(--mdx-sys-font-flex-large-body3-text-decoration);
    --mdx-sys-font-flex-2xlarge-body3: var(--mdx-sys-font-flex-large-body3);

    --mdx-sys-font-flex-xlarge-custom1-font-family: var(--mdx-sys-font-flex-large-custom1-font-family);
    --mdx-sys-font-flex-xlarge-custom1-font-weight: var(--mdx-sys-font-flex-large-custom1-font-weight);
    --mdx-sys-font-flex-xlarge-custom1-line-height: var(--mdx-sys-font-flex-large-custom1-line-height);
    --mdx-sys-font-flex-xlarge-custom1-font-size: var(--mdx-sys-font-flex-large-custom1-font-size);
    --mdx-sys-font-flex-xlarge-custom1-letter-spacing: var(--mdx-sys-font-flex-large-custom1-letter-spacing);
    --mdx-sys-font-flex-xlarge-custom1-paragraph-spacing: var(--mdx-sys-font-flex-large-custom1-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-custom1-text-case: var(--mdx-sys-font-flex-large-custom1-text-case);
    --mdx-sys-font-flex-xlarge-custom1-text-decoration: var(--mdx-sys-font-flex-large-custom1-text-decoration);
    --mdx-sys-font-flex-xlarge-custom1: var(--mdx-sys-font-flex-large-custom1);
    --mdx-sys-font-flex-2xlarge-custom1-font-family: var(--mdx-sys-font-flex-large-custom1-font-family);
    --mdx-sys-font-flex-2xlarge-custom1-font-weight: var(--mdx-sys-font-flex-large-custom1-font-weight);
    --mdx-sys-font-flex-2xlarge-custom1-line-height: var(--mdx-sys-font-flex-large-custom1-line-height);
    --mdx-sys-font-flex-2xlarge-custom1-font-size: var(--mdx-sys-font-flex-large-custom1-font-size);
    --mdx-sys-font-flex-2xlarge-custom1-letter-spacing: var(--mdx-sys-font-flex-large-custom1-letter-spacing);
    --mdx-sys-font-flex-2xlarge-custom1-paragraph-spacing: var(--mdx-sys-font-flex-large-custom1-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-custom1-text-case: var(--mdx-sys-font-flex-large-custom1-text-case);
    --mdx-sys-font-flex-2xlarge-custom1-text-decoration: var(--mdx-sys-font-flex-large-custom1-text-decoration);
    --mdx-sys-font-flex-2xlarge-custom1: var(--mdx-sys-font-flex-large-custom1);

    --mdx-sys-font-flex-xlarge-custom2-font-family: var(--mdx-sys-font-flex-large-custom2-font-family);
    --mdx-sys-font-flex-xlarge-custom2-font-weight: var(--mdx-sys-font-flex-large-custom2-font-weight);
    --mdx-sys-font-flex-xlarge-custom2-line-height: var(--mdx-sys-font-flex-large-custom2-line-height);
    --mdx-sys-font-flex-xlarge-custom2-font-size: var(--mdx-sys-font-flex-large-custom2-font-size);
    --mdx-sys-font-flex-xlarge-custom2-letter-spacing: var(--mdx-sys-font-flex-large-custom2-letter-spacing);
    --mdx-sys-font-flex-xlarge-custom2-paragraph-spacing: var(--mdx-sys-font-flex-large-custom2-paragraph-spacing);
    --mdx-sys-font-flex-xlarge-custom2-text-case: var(--mdx-sys-font-flex-large-custom2-text-case);
    --mdx-sys-font-flex-xlarge-custom2-text-decoration: var(--mdx-sys-font-flex-large-custom2-text-decoration);
    --mdx-sys-font-flex-xlarge-custom2: var(--mdx-sys-font-flex-large-custom2);
    --mdx-sys-font-flex-2xlarge-custom2-font-family: var(--mdx-sys-font-flex-large-custom2-font-family);
    --mdx-sys-font-flex-2xlarge-custom2-font-weight: var(--mdx-sys-font-flex-large-custom2-font-weight);
    --mdx-sys-font-flex-2xlarge-custom2-line-height: var(--mdx-sys-font-flex-large-custom2-line-height);
    --mdx-sys-font-flex-2xlarge-custom2-font-size: var(--mdx-sys-font-flex-large-custom2-font-size);
    --mdx-sys-font-flex-2xlarge-custom2-letter-spacing: var(--mdx-sys-font-flex-large-custom2-letter-spacing);
    --mdx-sys-font-flex-2xlarge-custom2-paragraph-spacing: var(--mdx-sys-font-flex-large-custom2-paragraph-spacing);
    --mdx-sys-font-flex-2xlarge-custom2-text-case: var(--mdx-sys-font-flex-large-custom2-text-case);
    --mdx-sys-font-flex-2xlarge-custom2-text-decoration: var(--mdx-sys-font-flex-large-custom2-text-decoration);
    --mdx-sys-font-flex-2xlarge-custom2: var(--mdx-sys-font-flex-large-custom2);

    /* component fixes */
    /* --mdx-comp-checkbox-border-width-default: 0; */

    /* fix spacings unintentionally appearing to be smaller on largerscreens */
    --mdx-sys-spacing-flex-xlarge-2xs: var(--mdx-sys-spacing-flex-large-2xs);
    --mdx-sys-spacing-flex-xlarge-xs: var(--mdx-sys-spacing-flex-large-xs);
    --mdx-sys-spacing-flex-xlarge-s: var(--mdx-sys-spacing-flex-large-s);
    --mdx-sys-spacing-flex-xlarge-m: var(--mdx-sys-spacing-flex-large-m) ;
    --mdx-sys-spacing-flex-xlarge-l: var(--mdx-sys-spacing-flex-large-l);
    --mdx-sys-spacing-flex-xlarge-xl: var(--mdx-sys-spacing-flex-large-xl);
    --mdx-sys-spacing-flex-xlarge-2xl: var(--mdx-sys-spacing-flex-large-2xl);
    --mdx-sys-spacing-flex-2xlarge-2xs: var(--mdx-sys-spacing-flex-xlarge-2xs);
    --mdx-sys-spacing-flex-2xlarge-xs: var(--mdx-sys-spacing-flex-xlarge-xs);
    --mdx-sys-spacing-flex-2xlarge-s: var(--mdx-sys-spacing-flex-xlarge-s);
    --mdx-sys-spacing-flex-2xlarge-m: var(--mdx-sys-spacing-flex-xlarge-m) ;
    --mdx-sys-spacing-flex-2xlarge-l: var(--mdx-sys-spacing-flex-xlarge-l);
    --mdx-sys-spacing-flex-2xlarge-xl: var(--mdx-sys-spacing-flex-xlarge-xl);
    --mdx-sys-spacing-flex-2xlarge-2xl: var(--mdx-sys-spacing-flex-xlarge-2xl);
}