/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* src/css/web-components-toolbox-migros-design-experience/src/css/variablesCustom.css */
/** 
 * mdx base files
 */
@import "./web-components-toolbox-migros-design-experience/src/css/base.css";

/** 
* only import one mdx theme at a time for mapping it at sys.css and comp.css
* replace .klubschule--light with :root
*/
@import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/css/03_component/brands/migros/light-rem.css";
@import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/css/03_component/brands/ibaw/light-rem.css";
@import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/css/02_system/brands/ibaw/light-rem.css";

@import "./web-components-toolbox-migros-design-experience/src/css/comp.css";
@import "./web-components-toolbox-migros-design-experience/src/css/sys.css";

/* For some edge cases design tokens from figma need to be fixed/overwritten */
/* In the long term, this should be fixed with Figma & Tokens Studio in the main MDX Repo */
@import "./temporaryMDXTokenFixes.css";

@import "./variablesCustom.css";

/* font tracking */
/*@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b2e5ea60-e0d9-11ec-b713-06e2001461d0");*/
@font-face{
  font-family:'DIN 2014';
  src:url("https://cdn.migros.ch/ch.migros/static/fonts/DIN2014/DIN2014Regular.woff2") format("woff2"), url("	https://cdn.migros.ch/ch.migros/static/fonts/DIN2014/DIN2014Regular.woff") format("woff");
  font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:'DIN 2014';
  src:url("https://cdn.migros.ch/ch.migros/static/fonts/DIN2014/DIN2014Bold.woff2") format("woff"), url("https://cdn.migros.ch/ch.migros/static/fonts/DIN2014/DIN2014Bold.woff") format("woff");
  font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
  --font-family-bold: "DIN 2014", Helvetica, Arial, sans-serif;
  --font-family-secondary: "DIN 2014", Helvetica, Arial, sans-serif;
  --font-family: "DIN 2014", Helvetica, Arial, sans-serif;

  /* brand exceptions for footer are handled via brand attribute and custom styling */
}