/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* src/css/web-components-toolbox-migros-design-experience/src/css/variablesCustom.css */
/** 
 * mdx base files
 */
@import "./web-components-toolbox-migros-design-experience/src/css/base.css";

/** 
* only import one mdx theme at a time for mapping it at sys.css and comp.css
* replace .klubschule--light with :root
*/
@import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/css/03_component/brands/migros/light-rem.css";
@import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/css/03_component/brands/klubschule/light-rem.css";
@import "./web-components-toolbox-migros-design-experience/node_modules/@migros/mdx-design-tokens/dist/css/02_system/brands/klubschule/light-rem.css";

@import "./web-components-toolbox-migros-design-experience/src/css/comp.css";
@import "./web-components-toolbox-migros-design-experience/src/css/sys.css";

/* font tracking */
/*@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=b2e5ea60-e0d9-11ec-b713-06e2001461d0");*/
@font-face{
  font-family:"Graphik";
  src:url("https://cdn.migros.ch/ch.migros/static/fonts/Graphik/Graphik-Regular.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/Graphik/Graphik-Regular.woff") format("woff");
  font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:"Graphik Bold";
  src:url("https://cdn.migros.ch/ch.migros/static/fonts/Graphik/Graphik-Bold.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/Graphik/Graphik-Bold.woff") format("woff");
  font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face{
	font-family:"Graphik Medium";
	src:url("https://cdn.migros.ch/ch.migros/static/fonts/Graphik/Graphik-Medium.woff2") format("woff2"),url("https://cdn.migros.ch/ch.migros/static/fonts/Graphik/Graphik-Medium.woff") format("woff");
  font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* main body structure */
:where(body){
  max-width: 1920px;
  margin: 0 auto !important;
}

:root {
  --background-color-quaternary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-quaternary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-quaternary: var(--mdx-sys-color-brand-neutral-0);
  --background-color-quinary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-quinary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-quinary: var(--mdx-sys-color-brand-neutral-0);
  --background-color-secondary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-secondary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-secondary: var(--mdx-sys-color-brand-neutral-0);
  --background-color-senary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-senary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-senary: var(--mdx-sys-color-brand-neutral-0);
  --background-color-septenary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-septenary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-septenary: var(--mdx-sys-color-brand-neutral-0);
  --background-color-tertiary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-tertiary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-tertiary: var(--mdx-sys-color-brand-neutral-0);
  --button-quaternary-background-color-quaternary-active: var(--mdx-sys-color-brand-accent-1-100);
  --button-quaternary-background-color-quaternary-disabled: var(--mdx-sys-color-brand-accent-1-100);
  --button-quaternary-background-color-quaternary-hover: var(--mdx-sys-color-brand-accent-1-100);
  --button-quaternary-background-color-quaternary: var(--mdx-sys-color-brand-neutral-0);
  --button-quaternary-background-color-quinary-active: var(--mdx-sys-color-brand-accent-2-100);
  --button-quaternary-background-color-quinary-disabled: var(--mdx-sys-color-brand-accent-2-100);
  --button-quaternary-background-color-quinary-hover: var(--mdx-sys-color-brand-accent-2-100);
  --button-quaternary-background-color-quinary: var(--mdx-sys-color-brand-neutral-0);
  --button-quaternary-background-color-secondary-active: var(--mdx-sys-color-brand-primary-100);
  --button-quaternary-background-color-secondary-disabled: var(--mdx-sys-color-brand-primary-100);
  --button-quaternary-background-color-secondary-hover: var(--mdx-sys-color-brand-primary-100);
  --button-quaternary-background-color-secondary: var(--mdx-sys-color-brand-neutral-0);
  --button-quaternary-background-color-senary-active: var(--mdx-sys-color-brand-accent-3-100);
  --button-quaternary-background-color-senary-disabled: var(--mdx-sys-color-brand-accent-3-100);
  --button-quaternary-background-color-senary-hover: var(--mdx-sys-color-brand-accent-3-100);
  --button-quaternary-background-color-senary: var(--mdx-sys-color-brand-neutral-0);
  --button-quaternary-background-color-septenary-active: var(--mdx-sys-color-brand-accent-4-100);
  --button-quaternary-background-color-septenary-disabled: var(--mdx-sys-color-brand-accent-4-100);
  --button-quaternary-background-color-septenary-hover: var(--mdx-sys-color-brand-accent-4-100);
  --button-quaternary-background-color-septenary: var(--mdx-sys-color-brand-neutral-0);
  --button-quaternary-background-color-tertiary-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-tertiary-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-tertiary-hover: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-tertiary: var(--mdx-sys-color-brand-neutral-0);
  --color-active: var(--color-hover);
  --color-disabled: var(--mdx-sys-color-brand-neutral-300);
  --color-quaternary-active: var(--color-quaternary-hover);
  --color-quaternary-disabled: var(--color-disabled);
  --color-quaternary-hover: var(--mdx-sys-color-brand-accent-1-700);
  --color-quaternary: var(--mdx-sys-color-brand-accent-1-600);
  --color-quinary-active: var(--color-quinary-hover);
  --color-quinary-disabled: var(--color-disabled);
  --color-quinary-hover: var(--mdx-sys-color-brand-accent-2-700);
  --color-quinary: var(--mdx-sys-color-brand-accent-2-600);
  --color-secondary-active: var(--color-secondary-hover);
  --color-secondary-disabled: var(--color-disabled);
  --color-secondary-hover: var(--color-hover);
  --color-senary-active: var(--color-senary-hover);
  --color-senary-disabled: var(--color-disabled);
  --color-senary-hover: var(--mdx-sys-color-brand-accent-3-700);
  --color-senary: var(--mdx-sys-color-brand-accent-3-600);
  --color-septenary-active: var(--color-septenary-hover);
  --color-septenary-disabled: var(--color-disabled);
  --color-septenary-hover: var(--mdx-sys-color-brand-accent-4-700);
  --color-septenary: var(--mdx-sys-color-brand-accent-4-600);
  --color-tertiary-active: var(--color-tertiary-hover);
  --color-tertiary-disabled: var(--color-disabled);
  --color-tertiary-hover: var(--mdx-sys-color-brand-neutral-600);
  --color-tertiary: var(--mdx-sys-color-brand-neutral-950);
  --content-width: 100%;
  --emotion-pictures-default-img-max-height: 50vh;
  --emotion-pictures-with-button-img-max-height: var(--emotion-pictures-default-img-max-height);
  --emotion-pictures-with-logo-img-max-height: var(--emotion-pictures-default-img-max-height);
  --emotion-pictures-with-title-img-max-height: var(--emotion-pictures-default-img-max-height);
  --font-family-bold: "Graphik Bold", HelveticaNowTextBold, HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-family-secondary: "Graphik Medium", Avenir35Light, sans-serif;
  --font-family: "Graphik", HelveticaNowText, Helvetica, Arial, sans-serif;
  --font-size-mobile: min(16px, 6vw);
  --font-size: max(18px, 0.6vw);
  --grid-2columns2rows-justify-content-custom: space-evenly;
  --grid-432-auto-colums-auto-rows-grid-gap-custom: 1rem 0.5rem;
  --header-default-a-logo-top-custom: calc(60.5px / 2 - 60px / 2);
  --header-default-a-logo-top-mobile-custom: -0.5em;
  --header-default-logo-width-custom: min(5em, 60px);
  --hr-border-width: 0 0 2px;
  --hr-secondary-opacity: 1;
  --label-letter-spacing: 0;
  --navigation-alnatura-a-link-line-height-mobile: 1.5;
  --navigation-alnatura-a-link-line-height: 1.5;
  --navigation-alnatura-line-height-mobile: 1.5;
  --search-input-background-color-focus: var(--m-white);
  --search-input-background-color-hover: var(--m-white);
  --search-input-background-color: var(--m-white);
  --search-input-border-color-focus: var(--mdx-base-color-grey-975);
  --search-input-border-color-hover: var(--mdx-base-color-grey-975);
  --search-input-border-color: var(--m-gray-700);
  --search-input-color: var(--mdx-base-color-grey-975);
  --search-input-padding: 0.5em 1em;
  --search-input-placeholder-color: var(--m-gray-700);
  --search-input-width-big: 100%;
  --search-label-font-size: var(--font-size);
  --search-label-line-height: 1.3333333333333;
  --tag-filter-horizontal-gap: 0.5em;
  --title-border-display: none;
}
