:root {
  --a-emotion-pictures-margin-top-first-child: auto;
  --color:#262626;
  --scrollbar-gutter-desktop: stable;
  --scrollbar-gutter-mobile: auto;
  --any-content-spacing-mobile: var(--any-content-spacing);
  --any-content-spacing: var(--mdx-sys-spacing-flex-2xs);
  --any-content-width: calc(min(100%, var(--body-max-width)) - var(--mdx-sys-spacing-flex-large-xs) * 2);
  --a-wrapper-margin: 0;
  --body-max-width: 1920px;
  --body-margin: 0 auto;
  
  --background-color-secondary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-secondary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-secondary: var(--mdx-sys-color-brand-neutral-0);
  
  --background-color-tertiary-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-tertiary-hover: var(--mdx-sys-color-brand-neutral-0);
  --background-color-tertiary: var(--mdx-sys-color-brand-neutral-0);

  /* --- Selectable CMS background colors Start --- */
  --background-color-ks-blue: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-blue-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-blue-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-blue-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ks-red: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-red-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-red-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-red-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ks-pink: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-pink-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-pink-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-pink-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ks-orange: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-orange-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-orange-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-orange-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ks-green: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-green-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-green-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-green-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ks-companies: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-companies-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-companies-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ks-companies-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ibaw-turquoise: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ibaw-turquoise-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ibaw-turquoise-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ibaw-turquoise-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-ibaw-lightblue: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ibaw-lightblue-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ibaw-lightblue-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-ibaw-lightblue-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-pro-greengray: var(--mdx-sys-color-brand-neutral-0);
  --background-color-pro-greengray-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-pro-greengray-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-pro-greengray-hover: var(--mdx-sys-color-brand-neutral-0);

  --background-color-pro-terracotta: var(--mdx-sys-color-brand-neutral-0);
  --background-color-pro-terracotta-active: var(--mdx-sys-color-brand-neutral-0);
  --background-color-pro-terracotta-disabled: var(--mdx-sys-color-brand-neutral-0);
  --background-color-pro-terracotta-hover: var(--mdx-sys-color-brand-neutral-0);
  /* --- Selectable CMS background colors End --- */
  
  --button-quaternary-background-color-secondary-active: var(--mdx-sys-color-brand-primary-100);
  --button-quaternary-background-color-secondary-disabled: var(--mdx-sys-color-brand-primary-100);
  --button-quaternary-background-color-secondary-hover: var(--mdx-sys-color-brand-primary-100);
  --button-quaternary-background-color-secondary: var(--mdx-sys-color-brand-neutral-0);

  --button-quaternary-background-color-tertiary-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-tertiary-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-tertiary-hover: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-tertiary: var(--mdx-sys-color-brand-neutral-0);

  /* --- Selectable CMS button-quaternary background colors Start --- */
  --button-quaternary-background-color-ks-blue: var(--mdx-base-color-klubschule-blue-100);
  --button-quaternary-background-color-ks-blue-active: var(--mdx-base-color-klubschule-blue-100);
  --button-quaternary-background-color-ks-blue-disabled: var(--mdx-base-color-klubschule-blue-100);
  --button-quaternary-background-color-ks-blue-hover: var(--mdx-base-color-klubschule-blue-100);

  --button-quaternary-background-color-ks-red: var(--mdx-base-color-klubschule-red-100);
  --button-quaternary-background-color-ks-red-active: var(--mdx-base-color-klubschule-red-100);
  --button-quaternary-background-color-ks-red-disabled: var(--mdx-base-color-klubschule-red-100);
  --button-quaternary-background-color-ks-red-hover: var(--mdx-base-color-klubschule-red-100);

  --button-quaternary-background-color-ks-pink: var(--mdx-base-color-klubschule-mulberry-100);
  --button-quaternary-background-color-ks-pink-active: var(--mdx-base-color-klubschule-mulberry-100);
  --button-quaternary-background-color-ks-pink-disabled: var(--mdx-base-color-klubschule-mulberry-100);
  --button-quaternary-background-color-ks-pink-hover: var(--mdx-base-color-klubschule-mulberry-100);

  --button-quaternary-background-color-ks-orange: var(--mdx-base-color-klubschule-orange-100);
  --button-quaternary-background-color-ks-orange-active: var(--mdx-base-color-klubschule-orange-100);
  --button-quaternary-background-color-ks-orange-disabled: var(--mdx-base-color-klubschule-orange-100);
  --button-quaternary-background-color-ks-orange-hover: var(--mdx-base-color-klubschule-orange-100);

  --button-quaternary-background-color-ks-green: var(--mdx-base-color-klubschule-green-100);
  --button-quaternary-background-color-ks-green-active: var(--mdx-base-color-klubschule-green-100);
  --button-quaternary-background-color-ks-green-disabled: var(--mdx-base-color-klubschule-green-100);
  --button-quaternary-background-color-ks-green-hover: var(--mdx-base-color-klubschule-green-100);

  --button-quaternary-background-color-ks-companies: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ks-companies-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ks-companies-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ks-companies-hover: var(--mdx-sys-color-brand-neutral-100);

  --button-quaternary-background-color-ibaw-turquoise: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ibaw-turquoise-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ibaw-turquoise-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ibaw-turquoise-hover: var(--mdx-sys-color-brand-neutral-100);

  --button-quaternary-background-color-ibaw-lightblue: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ibaw-lightblue-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ibaw-lightblue-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-ibaw-lightblue-hover: var(--mdx-sys-color-brand-neutral-100);

  --button-quaternary-background-color-pro-greengray: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-pro-greengray-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-pro-greengray-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-pro-greengray-hover: var(--mdx-sys-color-brand-neutral-100);

  --button-quaternary-background-color-pro-terracotta: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-pro-terracotta-active: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-pro-terracotta-disabled: var(--mdx-sys-color-brand-neutral-100);
  --button-quaternary-background-color-pro-terracotta-hover: var(--mdx-sys-color-brand-neutral-100);
  /* --- Selectable CMS button-quaternary background colors End --- */
  
  --color-active: var(--color-hover);
  --color-disabled: var(--mdx-sys-color-brand-neutral-300);
  
  --color-secondary-active: var(--color-secondary-hover);
  --color-secondary-disabled: var(--color-disabled);
  --color-secondary-hover: var(--color-hover);
  
  --color-tertiary-active: var(--color-tertiary-hover);
  --color-tertiary-disabled: var(--color-disabled);
  --color-tertiary-hover: var(--mdx-sys-color-brand-neutral-600);
  --color-tertiary: var(--mdx-sys-color-brand-neutral-950);
  
  /* --- Selectable CMS colors Start --- */
  --color-ks-blue: var(--mdx-base-color-klubschule-blue-600);
  --color-ks-blue-active: var(--mdx-base-color-klubschule-blue-700);
  --color-ks-blue-disabled: var(--color-disabled);
  --color-ks-blue-hover: var(--mdx-base-color-klubschule-blue-700);

  --color-ks-red: var(--mdx-base-color-klubschule-red-600);
  --color-ks-red-active: var(--mdx-base-color-klubschule-red-700);
  --color-ks-red-disabled: var(--color-disabled);
  --color-ks-red-hover: var(--mdx-base-color-klubschule-red-700);

  --color-ks-pink: var(--mdx-base-color-klubschule-mulberry-600);
  --color-ks-pink-active: var(--mdx-base-color-klubschule-mulberry-700);
  --color-ks-pink-disabled: var(--color-disabled);
  --color-ks-pink-hover: var(--mdx-base-color-klubschule-mulberry-700);

  --color-ks-orange: var(--mdx-base-color-klubschule-orange-600);
  --color-ks-orange-active: var(--mdx-base-color-klubschule-orange-700);
  --color-ks-orange-disabled: var(--color-disabled);
  --color-ks-orange-hover: var(--mdx-base-color-klubschule-orange-700);

  --color-ks-green: var(--mdx-base-color-klubschule-green-600);
  --color-ks-green-active: var(--mdx-base-color-klubschule-green-700);
  --color-ks-green-disabled: var(--color-disabled);
  --color-ks-green-hover: var(--mdx-base-color-klubschule-green-700);

  --color-ks-companies: #2F9DCC;
  --color-ks-companies-active: #2F9DCC;
  --color-ks-companies-disabled: var(--color-disabled);
  --color-ks-companies-hover: #2F9DCC;

  --color-ibaw-turquoise: var(--mdx-base-color-ibaw-turquoise-600);
  --color-ibaw-turquoise-active: var(--mdx-base-color-ibaw-turquoise-700);
  --color-ibaw-turquoise-disabled: var(--color-disabled);
  --color-ibaw-turquoise-hover: var(--mdx-base-color-ibaw-turquoise-700);

  --color-ibaw-lightblue: var(--mdx-base-color-ibaw-light-blue-600);
  --color-ibaw-lightblue-active: var(--mdx-base-color-ibaw-light-blue-700);
  --color-ibaw-lightblue-disabled: var(--color-disabled);
  --color-ibaw-lightblue-hover: var(--mdx-base-color-ibaw-light-blue-700);

  --color-pro-greengray: var(--mdx-base-color-pro-green-600);
  --color-pro-greengray-active: var(--mdx-base-color-pro-green-700);
  --color-pro-greengray-disabled: var(--color-disabled);
  --color-pro-greengray-hover: var(--mdx-base-color-pro-green-700);

  --color-pro-terracotta: var(--mdx-base-color-pro-terracotta-600);
  --color-pro-terracotta-active: var(--mdx-base-color-pro-terracotta-700);
  --color-pro-terracotta-disabled: var(--color-disabled);
  --color-pro-terracotta-hover: var(--mdx-base-color-pro-terracotta-700);

  /* --- Selectable CMS colors End --- */

  --emotion-pictures-default-img-max-height: 50vh;
  --emotion-pictures-with-button-img-max-height: var(--emotion-pictures-default-img-max-height);
  --emotion-pictures-with-logo-img-max-height: var(--emotion-pictures-default-img-max-height);
  --emotion-pictures-with-title-img-max-height: var(--emotion-pictures-default-img-max-height);
  --font-size-mobile: min(16px, 4.3vw); /* base rem size for mobile and desktop need to be 16px */
  --font-size: 16px;
  --grid-1column-align-center-padding-custom: 4rem 1.5rem;
  --grid-1column-align-center-padding-mobile-custom: 3rem 0;
  --grid-2columns-content-section-first-column-padding-custom: 
        var(--mdx-sys-spacing-flex-m) 
        calc((100% * 1.5 - var(--body-section-default-width) * 1.5) / 2) /* Calculating the padding so it matches the auto margin of body section default width */
        var(--mdx-sys-spacing-flex-l);
  --grid-2columns-content-section-padding-custom: var(--mdx-sys-spacing-flex-m) 1.5rem var(--mdx-sys-spacing-flex-l);
  --grid-2columns-content-section-padding-mobile-custom: var(--mdx-sys-spacing-flex-m) 1rem;
  --grid-2columns-content-section-second-column-padding-mobile-custom: var(--mdx-sys-spacing-flex-m) 1rem;
  --grid-2columns2rows-justify-content-custom: space-evenly;
  --grid-432-auto-colums-auto-rows-grid-gap-custom: 1rem 0.5rem;
  --header-nav-right-a-logo-top-custom: calc(60.5px / 2 - 60px / 2);
  --header-nav-right-a-logo-top-mobile-custom: -0.5em;
  --header-nav-right-a-menu-icon-background-color-custom: var(--color);
  --header-nav-right-background-color-custom: white;
  --header-nav-right-content-width: var(--any-content-width);
  --header-nav-right-logo-width-custom: calc(100rem/18);
  --header-nav-right-height-mobile-custom: 3.75rem;
  --logo-default-height-mobile-custom: var(--header-nav-right-height-mobile-custom);
  --logo-default-width-mobile-custom: var(--logo-default-height-mobile-custom);
  --header-nav-right-height-custom: calc(100rem/18);
  --header-nav-right-margin-custom: 0 0 1rem 0;
  --header-nav-right-padding: 0;
  --hr-border-width: 0 0 2px;
  --hr-secondary-opacity: 1;
  --label-letter-spacing: 0;
  --menu-color-custom: white;
  --login-width: var(--header-default-content-width);
  --search-input-background-color-focus: var(--m-white);
  --search-input-background-color-hover: var(--m-white);
  --search-input-background-color: var(--m-white);
  --search-input-border-color-focus: var(--mdx-base-color-grey-975);
  --search-input-border-color-hover: var(--mdx-base-color-grey-975);
  --search-input-border-color-custom: var(--m-gray-700);
  --search-input-color: var(--mdx-base-color-grey-975);
  --search-input-padding: 0.5em 1em;
  --search-input-placeholder-color: var(--m-gray-700);
  --search-input-width-big: 100%;
  --search-input-border-radius: 999px; /* search inputs are fully rounded for all brands */
  --search-justify-content-custom: flex-end;
  --search-label-font-size: var(--font-size);
  --search-label-line-height: calc(4/3);
  --tag-filter-horizontal-gap: 0.5em;
  --title-border-display: none;
  --icon-color-blue: var(--mdx-sys-color-primary-default);
  --content-width: 80%;
  --body-no-scroll-overflow: visible;

  --search-input-tiles-search-input-border-color: var(--m-gray-700);
  --search-input-tiles-search-input-padding: 0.875em 1.5em;
  --search-input-tiles-search-input-border-radius: 2em;
  --search-input-tiles-input-color: var(--m-gray-600);
  --search-input-tiles-input-font-size: 1.125em;
  --search-input-tiles-icon-color: var(--icon-color-blue);

  --button-secondary-filter-color: var(--mdx-sys-color-primary-default);
  --button-secondary-filter-background-color-hover: transparent;
  --button-secondary-filter-padding: 0;

  --button-primary-width: 100%;
  --button-primary-icon-right-margin: 0;
  --button-primary-label-margin: 0 0.25em 0 0;
  --footer-default-footer-width: 100%;
  --footer-default-footer-margin: 0 auto;
  --footer-default-footer-width-mobile: 100%;
  --footer-default-footer-margin-mobile: 0;

  --double-button-default-border-radius: 999px;
  
  --h-hyphens: auto;

  /* body section */
  --body-section-default-width: 86.666%;
  --body-section-narrow-width: 57.222%;

  /* spacers */
  --spacer-margin: 0;

  /* list styles */
  --ol-margin: 0 auto var(--mdx-sys-spacing-flex-xs);
  --ul-margin: 0 auto var(--mdx-sys-spacing-flex-xs);
  --ul-padding-left: 1.33333em;
  --ul-li-padding-left: calc(4rem/18);

  /* paragraph */
  --p-font-family: var(--mdx-sys-font-flex-body3-font-family);
  --p-font-size: var(--mdx-sys-font-flex-body3-font-size);
  --p-line-height: var(--mdx-sys-font-flex-body3-line-height);
  --p-font-weight: var(--mdx-sys-font-flex-body3-font-weight);
  --p-margin: 0 auto var(--mdx-sys-spacing-flex-s);

  /* links */
  --a-color: var(--mdx-comp-link-color-default);
  --a-font-weight: var(--mdx-comp-link-font-default-font-weight);
  --a-font-size: 1em;
  --a-text-decoration: none;
  --a-color-hover: var(--mdx-comp-link-color-hover);
  --a-text-decoration-hover: none;

  /* hr */
  --hr-border-bottom: 1px solid var(--mdx-sys-color-neutral-bold1);
  --hr-opacity: 1;
  --hr-border-width: 1px;
  --hr-margin: var(--mdx-sys-spacing-flex-s) auto;

  --hr-secondary-border-bottom: 1px solid var(--mdx-sys-color-neutral-subtle4);
  --hr-secondary-border-width: 1px;
  --hr-secondary-opacity: 1;
  --hr-secondary-margin: var(--mdx-sys-spacing-flex-xs) auto;

  /* Tables */
  --table-th-font-weight: 500;
  /* --table-thead-display: table; This should not be necessary */
  --table-border-collapse: collapse;
  --table-border-spacing: 0;
  --table-max-width: 100%;
  --table-word-break: normal;
  --table-margin: 0;
  --table-text-align: left;
  --table-width: 100%;
  --table-border: 0;
  --table-vertical-align: top;
  --table-padding: var(--mdx-sys-spacing-fix-s);
  --table-padding-right: 1em;
  --table-white-space: normal;
  --table-thead-tr-background-color: var(--mdx-base-color-klubschule-creme-600);
  --table-odd-background-color: var(--mdx-base-color-grey-0);
  --table-even-background-color: var(--mdx-base-color-klubschule-creme-400);
  --table-padding-right-last-child: var(--table-padding);

  --icon-link-list-color: var(--mdx-sys-color-primary-default);
  --icon-link-list-color-hover: var(--mdx-sys-color-primary-default);

  --box-shadow-color: rgba(51, 51, 51, 0.1);

  --icon-mdx-ks-tile-color: var(--mdx-sys-color-primary-default);
  --icon-mdx-ks-badge-color: var(--mdx-base-color-grey-0);
  --icon-link-list-color: var(--mdx-sys-color-primary-default);
  --icon-link-list-color-hover: var(--mdx-sys-color-primary-default);

  --details-default-icon-right-border-top-custom: none;
  --details-default-icon-right-border-bottom: 0.0625em solid var(--mdx-base-color-grey-700);
  --details-default-icon-right-border-bottom-last-custom: 0.0625em solid var(--mdx-base-color-grey-700);
  --details-default-icon-right-border-color-custom: var(--mdx-base-color-grey-700);
  --details-default-icon-right-summary-child-color-custom: var(--mdx-base-color-grey-975);
  --details-default-icon-right-h4-font-size: 1em;
  --details-default-icon-right-h4-line-height: 1.125em;
  --details-default-icon-right-text-align: start;

  /* content stage */
  --grid-2columns-content-stage-stage-content-margin-custom: 3rem 6rem 2rem 1.5rem; 
  --grid-2columns-content-stage-stage-content-margin-mobile-custom: 1rem 1rem 3rem 1rem; 
  --grid-2columns-content-stage-text-color-custom: var(--mdx-base-color-grey-975);
  --grid-2columns-content-stage-a-color: white;
  --grid-2columns-content-stage-address-font-custom: var(--mdx-sys-font-flex-large-body3);
  --grid-2columns-content-stage-address-gap-custom: 0.5em;
  --grid-2columns-content-stage-aside-image-padding-custom: var(--mdx-sys-spacing-flex-large-xs);
  --grid-2columns-content-stage-label-border-custom: 1px solid white;
  --grid-2columns-content-stage-label-border-radius-custom: 0.1875em;
  --grid-2columns-content-stage-label-font-custom: var(--mdx-sys-font-fix-body2);
  --grid-2columns-content-stage-label-margin-left-custom: 0.25em;
  --grid-2columns-content-stage-label-padding-custom: 0.25em 0.5em;
  --grid-2columns-content-stage-paragraph-font-custom: var(--mdx-sys-font-flex-large-body2);
  --grid-2columns-content-stage-topline-font-custom: var(--mdx-sys-font-fix-label1);

  /* carousel */
  --carousel-two-default-nav-margin-mobile-custom: var(--content-spacing-mobile) 0 0;
  --carousel-two-default-nav-margin-custom: var(--content-spacing) 0 0;
  --carousel-two-default-nav-opacity: 1;
  --carousel-two-default-nav-transform-hover: none;
  --carousel-two-default-p-margin: auto;
  --carousel-two-3-column-width-custom: var(--body-section-default-width);
  
  /* brand shapes */
  --ibaw-title-brand-shape: url("data:image/svg+xml,%3Csvg width='23' height='26' viewBox='0 0 23 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.71109 26L9.12688 0H13.5269L5.11108 26H0.71109Z' fill='%2300A2AD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.61163 26L18.0274 0H22.4274L14.0116 26H9.61163Z' fill='black'/%3E%3C/svg%3E%0A");

  --icon-mdx-ks-event-tick-color: var(--mdx-base-color-grey-0);
  --icon-mdx-ks-event-color: var(--mdx-base-color-grey-950);
  --icon-mdx-ks-event-link-color: var(--mdx-base-color-klubschule-blue-600);
}

@media screen and (min-width: 1441px) {
  :root {
    --body-section-default-width: 81.25%;
  }
}