:host {
    --transition: none;
}
:host > a {
    --login-default-font-weight-strong: 500;
    font-size: 0.9rem;
    display: flex;
    position: relative;
}

:host > a > .active-notification {
    position: relative;
}

:host .only-desktop{
     display: flex;
}

:host > a > .active-notification::after{
    content: '';
    display: block;
    height: .4rem;
    width: .4rem;
    background: red;
    border-radius: 50%;
    position: absolute;
    outline: solid 2px white;
    right: -2px;
    top: 1px;
}

@media only screen and (max-width: _max-width_) {
    :host {
        gap: 1rem;
    }
    :host .only-desktop {
        display: none;
   }
   :host > div > div > button {
    min-width: auto;
    padding-left: 0;
}
}
