:host {
    --system-notification-default-background-color: var(--mdx-sys-color-primary-subtle1);
    --system-notification-default-icon-background-color: ${this.hasAttribute('with-icon-background') ? 'var(--mdx-sys-color-primary-default)' : 'transparent'};
    --icon-mdx-ks-color: ${this.hasAttribute('with-icon-background') ? 'var(--m-white)' : 'var(--mdx-sys-color-neutral-bold4)'};
    --system-notification-default-icon-border-color: ${this.hasAttribute('with-icon-background') ? 'var(--mdx-sys-color-primary-default)' : 'var(--mdx-sys-color-neutral-bold4)'};

    --system-notification-default-icon-spacing: var(--mdx-sys-spacing-fix-s);
    --system-notification-default-icon-padding: var(--mdx-sys-spacing-fix-3xs);
    --system-notification-default-icon-border-width: var(--mdx-sys-border-width-default);
    --system-notification-default-item-padding: var(--mdx-sys-spacing-fix-s);
    --system-notification-default-item-border-radius: var(--mdx-sys-border-radius-sm);
    --system-notification-default-item-width: 100%;
    --system-notification-default-typography: var(--mdx-sys-font-fix-body2);
    --system-notification-error-icon-size: 1em;

    --underline-text-decoration: var(--mdx-base-font-text-decoration-underline);
    --underline-text-decoration-hover: var(--underline-text-decoration);
    --underline-after-height: 0;
    --icon-mdx-ks-svg-height: var(--system-notification-error-icon-size);
    --icon-mdx-ks-svg-width: var(--system-notification-error-icon-size);

    text-decoration-line: unset;
    --p-margin: 0;
}