:host {
    --button-tertiary-margin: 0;

    --teaser-fullwidth-headline-font-family: var(--mdx-sys-font-flex-large-headline2-font-family);
    --teaser-fullwidth-headline-font-size: var(--mdx-sys-font-flex-large-headline2-font-size);
    --teaser-fullwidth-headline-font-weight: var(--mdx-sys-font-flex-large-headline2-font-weight);
    --teaser-fullwidth-headline-line-height: var(--mdx-sys-font-flex-large-headline2-line-height);

    display: block;
    position: relative;
    margin-left: calc(var(--mdx-sys-spacing-fix-m) * -1);
    margin-right: calc(var(--mdx-sys-spacing-fix-m) * -1);
    overflow: hidden;

    container: teaser / inline-size;
}

a-picture {
    --picture-teaser-transition: transform .5s ease-out;
    --picture-teaser-img-object-fit: cover;
    --picture-teaser-aspect-ratio: 2 / 1;
    --picture-teaser-img-max-height: none;
}

:host(:hover) {
    --picture-teaser-transform: scale(1.1);
}

:host > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    width: 25%;
    min-width: 25rem;
    aspect-ratio: 1;
    max-height: calc(100% - var(--mdx-sys-spacing-fix-m) * 2);
    bottom: var(--mdx-sys-spacing-fix-m);
    padding: var(--mdx-sys-spacing-fix-2xl) var(--mdx-sys-spacing-fix-m);
    color: white;
    background: var(--color-${this.getAttribute('color')});
}

:host > div > * {
    margin: 0 !important;
}

:host([text-position=left]) > div {
    left: var(--mdx-sys-spacing-fix-m);
}

:host([text-position=right]) > div {
    right: var(--mdx-sys-spacing-fix-m);
}

:host h1, 
:host h2,
:host h3,
:host h4 {
    margin-bottom: var(--mdx-sys-spacing-fix-m) !important;
}

:host p {
    font-family: var(--mdx-sys-font-flex-body3-font-family);
    font-size: var(--mdx-sys-font-flex-body3-font-size);
    font-weight: var(--mdx-sys-font-flex-body3-font-weight);
    line-height: var(--mdx-sys-font-flex-body3-line-height);
    letter-spacing: var(--mdx-sys-font-flex-body3-letter-spacing);
    margin-bottom: var(--mdx-sys-spacing-fix-l) !important;
    min-height: unset;
    flex: 1;
}

@container teaser (max-width: 1100px) {
    a-picture {
        --picture-teaser-aspect-ratio: 16 / 9;
    }
}

@container teaser (max-width: 900px) {
    a-picture {
        --picture-teaser-aspect-ratio: 4 / 3;
    }
}

@container teaser (max-width: 700px) {
    a-picture {
        --picture-teaser-aspect-ratio: 2 / 1;
    }

    :host {
        display: flex;
        flex-direction: column;
        margin-left: calc(var(--mdx-sys-spacing-fix-s) * -1);
        margin-right: calc(var(--mdx-sys-spacing-fix-s) * -1);
    }

    :host > div {
        position: static;
        width: 100%;
        aspect-ratio: unset;
        padding: var(--mdx-sys-spacing-fix-m) var(--mdx-sys-spacing-fix-s) var(--mdx-sys-spacing-fix-l);
    }
}